{{- $version := .File.TranslationBaseName }}
{{- $majMin := delimit (first 2 (split $version ".")) "." }}
{{- $downloadLink := printf "https://download.kde.org/stable/frameworks/%s" $majMin }}
{{- $infoLink := printf "/info/kde-frameworks-%s" $version }}

{{ partialCached "announcements/frameworks_binary.html" . }}
<p>{{ partial "fn/i18n_args" (slice "sources-text" $version $downloadLink $infoLink) | markdownify }}</p>
<p>{{ partial "fn/i18n_args" (slice "sources-instructions" "https://kdesrc-build.kde.org/" $version .Params.qtversion) | markdownify }}</p>
{{ partialCached "announcements/frameworks_get_involved.html" . }}

{{ partialCached "announcements/support_kde.html" . }}
