<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/bluedevil-5.12.1.tar.xz">bluedevil-5.12.1</a></td>
   <td align="right">146kB</td>
   <td><tt>67890467af81d5330dc7f1c026de472d5b923250838e31ae3d8a2a78a75fb861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/breeze-5.12.1.tar.xz">breeze-5.12.1</a></td>
   <td align="right">21MB</td>
   <td><tt>fa170da08cd12b676a3520c28847181bac0dc136db88834ad540199d25f92342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/breeze-grub-5.12.1.tar.xz">breeze-grub-5.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c8748ff04defce515300626e532513eb27aea7101936439ee2beeb54454cfc44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/breeze-gtk-5.12.1.tar.xz">breeze-gtk-5.12.1</a></td>
   <td align="right">208kB</td>
   <td><tt>2d00e5cf020b82f593cbdfd963ac4e39422a2afd93b8a5568762bc2edc17542d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/breeze-plymouth-5.12.1.tar.xz">breeze-plymouth-5.12.1</a></td>
   <td align="right">103kB</td>
   <td><tt>e763540b5436badf72c3a5673dfc064983305ecdf3795dc4f78de89ae28b6514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/discover-5.12.1.tar.xz">discover-5.12.1</a></td>
   <td align="right">9.7MB</td>
   <td><tt>2b98e0fb3e674310c541fa1596895b4117b12404b347510c4f63a48f03e84d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/drkonqi-5.12.1.tar.xz">drkonqi-5.12.1</a></td>
   <td align="right">719kB</td>
   <td><tt>d3f39143cb3ceeddf77c91bae6b2df440f2ca9b06235f8b24c5b40892ec4d814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kactivitymanagerd-5.12.1.tar.xz">kactivitymanagerd-5.12.1</a></td>
   <td align="right">82kB</td>
   <td><tt>2d56b8b5f1bd540e4c31063025f44c58af2186e9846fee74982cde7a8467d341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kde-cli-tools-5.12.1.tar.xz">kde-cli-tools-5.12.1</a></td>
   <td align="right">558kB</td>
   <td><tt>db3caf8024deb3e01c1d56cc8dde38a66f96f5cdbcbb19897d170629929fcb50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kdecoration-5.12.1.tar.xz">kdecoration-5.12.1</a></td>
   <td align="right">34kB</td>
   <td><tt>3e3a137eb0a056196b8473a601740a892ab15e8dda8debed9461c1fbd83ca823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kde-gtk-config-5.12.1.tar.xz">kde-gtk-config-5.12.1</a></td>
   <td align="right">153kB</td>
   <td><tt>7c06f7495d32f15b4e84e97aeb7f70fb20749f3419a54f8649d53abb63b720a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kdeplasma-addons-5.12.1.tar.xz">kdeplasma-addons-5.12.1</a></td>
   <td align="right">574kB</td>
   <td><tt>287125ad19e76444fe0f47ff45211039398c446b15b084f537fc49848f546d88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kgamma5-5.12.1.tar.xz">kgamma5-5.12.1</a></td>
   <td align="right">58kB</td>
   <td><tt>6b625b5316d7ac31c11d12ebd2ce683e63689b67db7dd0098ca074b008cbf331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/khotkeys-5.12.1.tar.xz">khotkeys-5.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>723234a801b7aca4693e11fed46a08dae56e7f8ae62dd9966a2fdd19437992a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kinfocenter-5.12.1.tar.xz">kinfocenter-5.12.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d384e7a226e16558ed81377892338cfbeb2c8c1fb9d03c68cc4a6b219e7a67f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kmenuedit-5.12.1.tar.xz">kmenuedit-5.12.1</a></td>
   <td align="right">636kB</td>
   <td><tt>2d0d38cb4bc5ae09eb28fd05b8d6f98a4ba870878b1884e0098b402471da918e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kscreen-5.12.1.tar.xz">kscreen-5.12.1</a></td>
   <td align="right">114kB</td>
   <td><tt>02d68fc68724187d354a20c283c31097075e792c71c5029c97802749f67f60a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kscreenlocker-5.12.1.tar.xz">kscreenlocker-5.12.1</a></td>
   <td align="right">115kB</td>
   <td><tt>180222ebe87b25d345fc8467eb00999f94937d0ec388c1028676bc02662873e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/ksshaskpass-5.12.1.tar.xz">ksshaskpass-5.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>07ea1fd4b63f13170f55c4bf6f5201a9e4d7245387df454f5f5247c78d9a47fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/ksysguard-5.12.1.tar.xz">ksysguard-5.12.1</a></td>
   <td align="right">474kB</td>
   <td><tt>b54850c94c2d01f5998ff1d1e198a1bc809b4d804ae2bf7d2accc7603f2708b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kwallet-pam-5.12.1.tar.xz">kwallet-pam-5.12.1</a></td>
   <td align="right">18kB</td>
   <td><tt>95bee147fefdf8b74a408ba9ab6403f5e0ea518bbd90ecadffac55170b49fc74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kwayland-integration-5.12.1.tar.xz">kwayland-integration-5.12.1</a></td>
   <td align="right">18kB</td>
   <td><tt>40a3ce55b8fddbceefad9e0fe59769d4c9634db77918956c72e9c198ae66d601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kwin-5.12.1.tar.xz">kwin-5.12.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>de5513fe9d13c7e17dc32f767699f8c7ce656a3eb3fb1dda22665a0b3dc48d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/kwrited-5.12.1.tar.xz">kwrited-5.12.1</a></td>
   <td align="right">19kB</td>
   <td><tt>74f16ab88efaf9f2928b96d77b51ee20a579897080b5e9c2858b9c5a03d98bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/libkscreen-5.12.1.tar.xz">libkscreen-5.12.1</a></td>
   <td align="right">92kB</td>
   <td><tt>4e7e0e50f938dda9066470ebb46776598a6e70bd1cdb0f3196a7d8a7e1ce4906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/libksysguard-5.12.1.tar.xz">libksysguard-5.12.1</a></td>
   <td align="right">554kB</td>
   <td><tt>d4558ffd6b3b2317a9195401f8ddfbc630f7f5900e9c23c252a6d1661d80cb75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/milou-5.12.1.tar.xz">milou-5.12.1</a></td>
   <td align="right">56kB</td>
   <td><tt>82c9768993f58837f6c14f4b233f949269c2076c5de05b0da7aceea61605dbcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/oxygen-5.12.1.tar.xz">oxygen-5.12.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>dff7c08b5fcca91ed022ec31b9ab8a3a3cecbcb94cf1df99fec34c189511bcde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-desktop-5.12.1.tar.xz">plasma-desktop-5.12.1</a></td>
   <td align="right">8.0MB</td>
   <td><tt>bca9dbb7b60c9ab20d60c858a0377eab3738853685e3c9e0bb7bd706f6965cd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-integration-5.12.1.tar.xz">plasma-integration-5.12.1</a></td>
   <td align="right">51kB</td>
   <td><tt>6e5edd289a10607f3a373e8dfc3364bbe59ae0261d42d8b52dd3a225b8e34d52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-nm-5.12.1.tar.xz">plasma-nm-5.12.1</a></td>
   <td align="right">686kB</td>
   <td><tt>b836ef3aaf3d4c58da479880f186ebca9d9e52f5be0ba4ab6d0d7fc3d00e7b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-pa-5.12.1.tar.xz">plasma-pa-5.12.1</a></td>
   <td align="right">84kB</td>
   <td><tt>5a577b433001b5952956c695f712a49c80d923469909ef552a90b8ae71ae0ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-sdk-5.12.1.tar.xz">plasma-sdk-5.12.1</a></td>
   <td align="right">244kB</td>
   <td><tt>79c508e322efde8760e23b84143c8a20670c6af4923446b6eb6cdf3b669c3986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-tests-5.12.1.tar.xz">plasma-tests-5.12.1</a></td>
   <td align="right">1kB</td>
   <td><tt>0cabb306994e749df8f43d43a90d26b4b25c68716657db65e3efa581826164ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-vault-5.12.1.tar.xz">plasma-vault-5.12.1</a></td>
   <td align="right">99kB</td>
   <td><tt>ff791c5067463e7cd8cd9ce05895a7628cb121905fdf6065e81531f9ae05f08e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-workspace-5.12.1.tar.xz">plasma-workspace-5.12.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d84da641be1d8491378fa73425564b620e806face7b8462bb06967af975356c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plasma-workspace-wallpapers-5.12.1.tar.xz">plasma-workspace-wallpapers-5.12.1</a></td>
   <td align="right">43MB</td>
   <td><tt>16cd20aaa78394d312715b38bf95caefb716bf3359e05313fbcf278e8cfe4c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/plymouth-kcm-5.12.1.tar.xz">plymouth-kcm-5.12.1</a></td>
   <td align="right">37kB</td>
   <td><tt>d397dfc167c2bf2a2c17daf6862ac822512f0786c5fa7bb2cf2f11cb6aef18f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/polkit-kde-agent-1-5.12.1.tar.xz">polkit-kde-agent-1-5.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>26e559c40c6842bbecc91c8dfaa3e381688c2462e907fb3e80eebe7c3b095ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/powerdevil-5.12.1.tar.xz">powerdevil-5.12.1</a></td>
   <td align="right">370kB</td>
   <td><tt>150692dff877c1c6b7ff7b7faddf68d4c51f3cff68bb886e5fcc0ce194d58825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/sddm-kcm-5.12.1.tar.xz">sddm-kcm-5.12.1</a></td>
   <td align="right">58kB</td>
   <td><tt>be9d4e8ef2c39002357e95d7046e8a9b190d5d37a5126d360a032d2b250349c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/systemsettings-5.12.1.tar.xz">systemsettings-5.12.1</a></td>
   <td align="right">167kB</td>
   <td><tt>1b1a2a9fdabfe6a12a3987a052dbc077458845869b75da14525c888df462fadb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/user-manager-5.12.1.tar.xz">user-manager-5.12.1</a></td>
   <td align="right">532kB</td>
   <td><tt>c258f1be6211cec273ff0822442b9ad3fe8ccc03187b647662cb756de0a36835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.1/xdg-desktop-portal-kde-5.12.1.tar.xz">xdg-desktop-portal-kde-5.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>7489ad8b31461202cb5ae6e53412cd0e070dd4ebd3f1f9ab0cb5ee81e2f4d976</tt></td>
</tr>

</table>
