<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/bluedevil-5.19.90.tar.xz">bluedevil-5.19.90</a></td>
   <td align="right">152kB</td>
   <td><tt>7c6870fc5b23d9094d4fca7f1df2bf252410380fc3c6422c1ba9711866ecf5b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/breeze-5.19.90.tar.xz">breeze-5.19.90</a></td>
   <td align="right">36MB</td>
   <td><tt>4103aa1301459cfbca28b65dc24446b170642d048f8a5e2bfef3c322f7373a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/breeze-grub-5.19.90.tar.xz">breeze-grub-5.19.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>34c134baf89168ee2c3b893033ceca13bc8a17d14b0d753c125dc067ae3d2255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/breeze-gtk-5.19.90.tar.xz">breeze-gtk-5.19.90</a></td>
   <td align="right">42kB</td>
   <td><tt>834e48b4adfcff2c1d05e283d5b6ff31c848037504d4061d119c33875db0c8a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/breeze-plymouth-5.19.90.tar.xz">breeze-plymouth-5.19.90</a></td>
   <td align="right">106kB</td>
   <td><tt>a18517945968aea71383e0ecf81ab7a51007b4ece5cd5e78a64fc71a091caf08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/discover-5.19.90.tar.xz">discover-5.19.90</a></td>
   <td align="right">9.8MB</td>
   <td><tt>829759ec402d9002dee25c5833f8ce5af490887878efaca80dc239bc37d08ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/drkonqi-5.19.90.tar.xz">drkonqi-5.19.90</a></td>
   <td align="right">739kB</td>
   <td><tt>aaf35bf0a09921ecb4d58759ba6882bea24533cbf174b88cd5da114ea8685cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kactivitymanagerd-5.19.90.tar.xz">kactivitymanagerd-5.19.90</a></td>
   <td align="right">92kB</td>
   <td><tt>9e9b72bf45333536fe04c7f2bce51e03ddb6805dd38132737752a9d6879519f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kde-cli-tools-5.19.90.tar.xz">kde-cli-tools-5.19.90</a></td>
   <td align="right">595kB</td>
   <td><tt>75d879b805349c7206498d43192e37db4e47c15221fc07f3c5fedd95e76a9f3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kdecoration-5.19.90.tar.xz">kdecoration-5.19.90</a></td>
   <td align="right">44kB</td>
   <td><tt>7adc209eeb5f2094474ee88647b048464e2227c8cace41008ba4352420122e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kde-gtk-config-5.19.90.tar.xz">kde-gtk-config-5.19.90</a></td>
   <td align="right">66kB</td>
   <td><tt>a12141f2323e3d676af41cbe42a45500911eb3b57cfcedae65a00112b8c34346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kdeplasma-addons-5.19.90.tar.xz">kdeplasma-addons-5.19.90</a></td>
   <td align="right">618kB</td>
   <td><tt>2c11f4493e7179486372904f3a5aad0319596a79a483d381e15379936846f458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kgamma5-5.19.90.tar.xz">kgamma5-5.19.90</a></td>
   <td align="right">81kB</td>
   <td><tt>f76bafd2d4de723ba6c3a4b1a9f8753dc829d58cfbbc2415ccfe8cff5d375fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/khotkeys-5.19.90.tar.xz">khotkeys-5.19.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e0098c7dedd06620e833eca1498210d211de7fffba61a70af7ba0353b0c20bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kinfocenter-5.19.90.tar.xz">kinfocenter-5.19.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>748bc4b3a79310a010c8396813d1f1b51f49f26ff2fd08a25433ef1d38d5419c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kmenuedit-5.19.90.tar.xz">kmenuedit-5.19.90</a></td>
   <td align="right">878kB</td>
   <td><tt>3fc418835ac1d4fe671a8a45fce61a38084dfc6fbae71d77382ac0c2ada52da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kscreen-5.19.90.tar.xz">kscreen-5.19.90</a></td>
   <td align="right">111kB</td>
   <td><tt>72f01c6ffb3bf4e95aa167cfe62597c76ac9e8237e079e7f53785406bc9ccb2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kscreenlocker-5.19.90.tar.xz">kscreenlocker-5.19.90</a></td>
   <td align="right">112kB</td>
   <td><tt>dd1fb3fc23fc3fe9e4834374f1c8f60190a73ee29eb098c58d66ec0f284f6344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/ksshaskpass-5.19.90.tar.xz">ksshaskpass-5.19.90</a></td>
   <td align="right">23kB</td>
   <td><tt>e77a3711691b515ee0dc2f1260d50976e539186e15de3ff940792f04a56773a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/ksysguard-5.19.90.tar.xz">ksysguard-5.19.90</a></td>
   <td align="right">550kB</td>
   <td><tt>b1b8a3db6cdfc0263589b7087bb3d0dd3e27673a5095ccc0ba5fe4dfbe25847d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kwallet-pam-5.19.90.tar.xz">kwallet-pam-5.19.90</a></td>
   <td align="right">19kB</td>
   <td><tt>dc4a45284c807eefba6bc99ae7c756545519f1d2b6317d80b321f48994ab9d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kwayland-integration-5.19.90.tar.xz">kwayland-integration-5.19.90</a></td>
   <td align="right">20kB</td>
   <td><tt>b97aafa2492005cdc7d05893290863666864967a0fc753407bf0473e114e4145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kwayland-server-5.19.90.tar.xz">kwayland-server-5.19.90</a></td>
   <td align="right">215kB</td>
   <td><tt>5b43afa4a44e6fd2166ab070d26876bbd4979e60df08b72e0303d898a252a6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kwin-5.19.90.tar.xz">kwin-5.19.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>a63c60f0be5f32e05b18337b5957e708560613d8ddc59dfe0baaef70e7d726dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/kwrited-5.19.90.tar.xz">kwrited-5.19.90</a></td>
   <td align="right">19kB</td>
   <td><tt>64195aca6af6e27c45611d5c37f4e2ddb72fcc9cdb2efdabbd6b474737881405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/libkscreen-5.19.90.tar.xz">libkscreen-5.19.90</a></td>
   <td align="right">83kB</td>
   <td><tt>e7932d1a4b091c90152b8fdf0c8d225293e08f6da16d67a2576385646864c093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/libksysguard-5.19.90.tar.xz">libksysguard-5.19.90</a></td>
   <td align="right">675kB</td>
   <td><tt>ea63d8e0cdba02b0e59ee395b0c98b7f50d99e89999f6ca7fe658ebc884790bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/milou-5.19.90.tar.xz">milou-5.19.90</a></td>
   <td align="right">54kB</td>
   <td><tt>e2b5690dd077916a0853fe00a2114aa7ed009ff9bcf300e9b4377ba34b47adcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/oxygen-5.19.90.tar.xz">oxygen-5.19.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>02a835e8be263e7505452379ec776ec5a5d81f57d108cb1e88ec9b61c0376b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-browser-integration-5.19.90.tar.xz">plasma-browser-integration-5.19.90</a></td>
   <td align="right">184kB</td>
   <td><tt>8159392459bbe093f926639ca1dc210bf0ec16f482ace1b49c5e35cff33e36c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-desktop-5.19.90.tar.xz">plasma-desktop-5.19.90</a></td>
   <td align="right">15MB</td>
   <td><tt>b5b78212257b8d352b0c86a321dedba65fd05d85d5395ebec4e357331ade491e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-disks-5.19.90.tar.xz">plasma-disks-5.19.90</a></td>
   <td align="right">57kB</td>
   <td><tt>74dfc55eae1fc9c4b41f816a848d54cc547e1ec8f95f9360ac19b2613a4e979d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-integration-5.19.90.tar.xz">plasma-integration-5.19.90</a></td>
   <td align="right">58kB</td>
   <td><tt>822ee25ffaa1c7aa800bb9341ac5715482ba1d5ec5cd06864228297d34d25b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-nano-5.19.90.tar.xz">plasma-nano-5.19.90</a></td>
   <td align="right">33kB</td>
   <td><tt>84048e06dcca0efe830e545a609cba08c4ae5ea70858c73ba2fee4f83333c7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-nm-5.19.90.tar.xz">plasma-nm-5.19.90</a></td>
   <td align="right">841kB</td>
   <td><tt>04112594be85a7e911bb4ac7f085955ea9da26a9ec994ca139c386fa34eaf44f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-pa-5.19.90.tar.xz">plasma-pa-5.19.90</a></td>
   <td align="right">111kB</td>
   <td><tt>42599c0a4c5a4acc0711957a89abc71d2b29c0f1b240a8461a410c4175277eec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-phone-components-5.19.90.tar.xz">plasma-phone-components-5.19.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7eb16fd757439f811a2e799e2e9ea9f3afc60054ee07eb160f919dbfafc1594e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-sdk-5.19.90.tar.xz">plasma-sdk-5.19.90</a></td>
   <td align="right">261kB</td>
   <td><tt>f130ef26c56ac135907c8b781ed28b3ac9319b86cd07518d769fcd6bef9bfe6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-tests-5.19.90.tar.xz">plasma-tests-5.19.90</a></td>
   <td align="right">1kB</td>
   <td><tt>f310c03cb3361d39b2d7754c7edea803237e83847d3d2a9af3e42ba1620f57f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-thunderbolt-5.19.90.tar.xz">plasma-thunderbolt-5.19.90</a></td>
   <td align="right">55kB</td>
   <td><tt>058f4f4d5f6e2884cdfafaa68c647af97f5efac32a4cfd1c758d3535801fa838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-vault-5.19.90.tar.xz">plasma-vault-5.19.90</a></td>
   <td align="right">153kB</td>
   <td><tt>0cc6f8603c72fe9abf2c49ad574b2740111be69cd5aeda3294eef99988961b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-workspace-5.19.90.tar.xz">plasma-workspace-5.19.90</a></td>
   <td align="right">8.6MB</td>
   <td><tt>8443749557af2f6288a144d3df46d3c0c271e7a9068fc46334faf7c3b6e2ab76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plasma-workspace-wallpapers-5.19.90.tar.xz">plasma-workspace-wallpapers-5.19.90</a></td>
   <td align="right">43MB</td>
   <td><tt>b618168768b553dfc8cbddedc2968a0da79341b0658a5c4b1f38d60ab8050819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/plymouth-kcm-5.19.90.tar.xz">plymouth-kcm-5.19.90</a></td>
   <td align="right">41kB</td>
   <td><tt>c6c476faa46930449dc3d34ec67dfe3cd74b9e19ebe34db66443da709080330b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/polkit-kde-agent-1-5.19.90.tar.xz">polkit-kde-agent-1-5.19.90</a></td>
   <td align="right">43kB</td>
   <td><tt>f264e25c9df2b2a90e05288c79990c42de1f153ca0aa0d726ad7ef8140d72712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/powerdevil-5.19.90.tar.xz">powerdevil-5.19.90</a></td>
   <td align="right">595kB</td>
   <td><tt>a6bffc9145411f596aa28df4a470b078a11d8b4bb44c8dde800a98711ded274a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/sddm-kcm-5.19.90.tar.xz">sddm-kcm-5.19.90</a></td>
   <td align="right">62kB</td>
   <td><tt>ab9e68985f1d94c1b8ae5c9ffbf737da1bc2b1297a83634bd4321beed23ba4fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/systemsettings-5.19.90.tar.xz">systemsettings-5.19.90</a></td>
   <td align="right">187kB</td>
   <td><tt>2d36c805137f6308b5ae0771ba08a92b77709981152de621be43ab08b38a63ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.19.90/xdg-desktop-portal-kde-5.19.90.tar.xz">xdg-desktop-portal-kde-5.19.90</a></td>
   <td align="right">78kB</td>
   <td><tt>b064e6111178bc787a370fe8668d68a58e438e85f08cc9cf78f2894e0e03bba3</tt></td>
</tr>

</table>
