<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdeaccessibility-4.5.3.tar.bz2">kdeaccessibility-4.5.3</a></td><td align="right">5,0MB</td><td><tt>adf990169d513069228cb9a1e37e61c60cd5e841</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdeadmin-4.5.3.tar.bz2">kdeadmin-4.5.3</a></td><td align="right">1,2MB</td><td><tt>786aae7457f62bea4c6bf7c9f1989d8f4ddf4c6c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdeartwork-4.5.3.tar.bz2">kdeartwork-4.5.3</a></td><td align="right">106MB</td><td><tt>3ad04f3dc270fe18262734d0a79a2405a15ed6de</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdebase-4.5.3.tar.bz2">kdebase-4.5.3</a></td><td align="right">2,6MB</td><td><tt>cc52a321e98fae8bca5126e94c18e10cc8f44361</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdebase-runtime-4.5.3.tar.bz2">kdebase-runtime-4.5.3</a></td><td align="right">5,5MB</td><td><tt>bef1ec6514d5e192a63fde30932e7559d0f0181c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdebase-workspace-4.5.3.tar.bz2">kdebase-workspace-4.5.3</a></td><td align="right">63MB</td><td><tt>7dda7cdd9162ea7ff9fc2a3ae0a1ded6610e8a94</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdebindings-4.5.3.tar.bz2">kdebindings-4.5.3</a></td><td align="right">6,1MB</td><td><tt>84a86395cf0dfb328111a5492e78a1967f6a1146</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdeedu-4.5.3.tar.bz2">kdeedu-4.5.3</a></td><td align="right">63MB</td><td><tt>3bb03536603aafbe317fa9ed5f02579f76ba5157</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdegames-4.5.3.tar.bz2">kdegames-4.5.3</a></td><td align="right">56MB</td><td><tt>4fe320e4d934b9e5afd4165b45064a0b74308014</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdegraphics-4.5.3.tar.bz2">kdegraphics-4.5.3</a></td><td align="right">4,8MB</td><td><tt>94b0fd60dd5018d97861810acdc1b4614b218dfa</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdelibs-4.5.3.tar.bz2">kdelibs-4.5.3</a></td><td align="right">14MB</td><td><tt>f76e54dd033bff548557c277811501b56d1c6bf0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdemultimedia-4.5.3.tar.bz2">kdemultimedia-4.5.3</a></td><td align="right">1,5MB</td><td><tt>213d5113469a920184783a1c84ab487fbc4385dd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdenetwork-4.5.3.tar.bz2">kdenetwork-4.5.3</a></td><td align="right">7,8MB</td><td><tt>8d9c4f674bb0811977c04121305287f0acbece20</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdepimlibs-4.5.3.tar.bz2">kdepimlibs-4.5.3</a></td><td align="right">2,6MB</td><td><tt>6e2497a5972c3e92052d1e9c414e3a0360c14584</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdeplasma-addons-4.5.3.tar.bz2">kdeplasma-addons-4.5.3</a></td><td align="right">1,7MB</td><td><tt>525fbcf3ec7137f15d6fe183c5b009c6dfc9ccf7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdesdk-4.5.3.tar.bz2">kdesdk-4.5.3</a></td><td align="right">5,5MB</td><td><tt>6326560c55f5ba5e4fdee4b1d941aaaa6047689e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdetoys-4.5.3.tar.bz2">kdetoys-4.5.3</a></td><td align="right">396KB</td><td><tt>1a3bcd3bfee0cde9143f7d982dce9d8669beaf33</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdeutils-4.5.3.tar.bz2">kdeutils-4.5.3</a></td><td align="right">3,7MB</td><td><tt>9973c4cda083f31c73db67388289e144afcd675c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/kdewebdev-4.5.3.tar.bz2">kdewebdev-4.5.3</a></td><td align="right">2,2MB</td><td><tt>62a88d0cb6c8fbf9939504586389a0ac416f46b8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.3/src/oxygen-icons-4.5.3.tar.bz2">oxygen-icons-4.5.3</a></td><td align="right">157MB</td><td><tt>e95f7d9cf524f4001c65a9bd6c54357427954971</tt></td></tr>
</table>
