
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/attica-5.12.0.tar.xz">attica-5.12.0</a></td>
   <td align="right">59kB</td>
   <td><tt>cd97d236dd591052c3c58191d6473ad84ae5c71b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/bluez-qt-5.12.0.tar.xz">bluez-qt-5.12.0</a></td>
   <td align="right">71kB</td>
   <td><tt>b8829814902ea0a339effc9286ff18431e7993c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/extra-cmake-modules-5.12.0.tar.xz">extra-cmake-modules-5.12.0</a></td>
   <td align="right">129kB</td>
   <td><tt>c2c17a72f985d1b090cb609054d00c0c580db68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/frameworkintegration-5.12.0.tar.xz">frameworkintegration-5.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f930a530b2bda898c21d52ffce32fdf07972b4d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kactivities-5.12.0.tar.xz">kactivities-5.12.0</a></td>
   <td align="right">162kB</td>
   <td><tt>21cafb85ab414262e5b2d1e6f5e7f69f60f2037a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kapidox-5.12.0.tar.xz">kapidox-5.12.0</a></td>
   <td align="right">127kB</td>
   <td><tt>2758d1cca8c4ab11e44a4874d212217193debea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/karchive-5.12.0.tar.xz">karchive-5.12.0</a></td>
   <td align="right">106kB</td>
   <td><tt>a6c5efdea09cc5090e7ba140596009b62fddeb1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kauth-5.12.0.tar.xz">kauth-5.12.0</a></td>
   <td align="right">80kB</td>
   <td><tt>1117948157168bef63a27b93cfcf27edfdfd92f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kbookmarks-5.12.0.tar.xz">kbookmarks-5.12.0</a></td>
   <td align="right">112kB</td>
   <td><tt>6e999af768d0727402c85a9794c6e43da0a4d176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kcmutils-5.12.0.tar.xz">kcmutils-5.12.0</a></td>
   <td align="right">229kB</td>
   <td><tt>793cfa38b51b19a87c42e76c28a836e2e2d07723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kcodecs-5.12.0.tar.xz">kcodecs-5.12.0</a></td>
   <td align="right">210kB</td>
   <td><tt>55672e3cf0e956f34278a75b0fcee55d57367c63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kcompletion-5.12.0.tar.xz">kcompletion-5.12.0</a></td>
   <td align="right">113kB</td>
   <td><tt>755200e8fd5d76d60aace9cd529026b4723380c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kconfig-5.12.0.tar.xz">kconfig-5.12.0</a></td>
   <td align="right">215kB</td>
   <td><tt>f55e54f2d08ce3d29dc26ad65ea5e980024ab62a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kconfigwidgets-5.12.0.tar.xz">kconfigwidgets-5.12.0</a></td>
   <td align="right">350kB</td>
   <td><tt>964fbc083c31b86a3a6b0449e22dc8fd83437aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kcoreaddons-5.12.0.tar.xz">kcoreaddons-5.12.0</a></td>
   <td align="right">295kB</td>
   <td><tt>c07ab6f0e23b3fc3a4d5216975d5789396f87b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kcrash-5.12.0.tar.xz">kcrash-5.12.0</a></td>
   <td align="right">19kB</td>
   <td><tt>7999682149f55c71b3f2c38645a60cd7a66343dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kdbusaddons-5.12.0.tar.xz">kdbusaddons-5.12.0</a></td>
   <td align="right">32kB</td>
   <td><tt>45c3cbe7d23f1e37c3c03b539da996055a18e61c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kdeclarative-5.12.0.tar.xz">kdeclarative-5.12.0</a></td>
   <td align="right">160kB</td>
   <td><tt>e4ab422dd6f9f38bdba758fdc567b68936e69c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kded-5.12.0.tar.xz">kded-5.12.0</a></td>
   <td align="right">34kB</td>
   <td><tt>ab4651d89dc808ac997611282dfd87ffc4722978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kdesignerplugin-5.12.0.tar.xz">kdesignerplugin-5.12.0</a></td>
   <td align="right">84kB</td>
   <td><tt>783bd10e402868fcc411334a438c352bf7276b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kdesu-5.12.0.tar.xz">kdesu-5.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>495c31d7b06ddf84e13cdc306ba69c5d51e487a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kdewebkit-5.12.0.tar.xz">kdewebkit-5.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>2cc19e1ffc8117032f3785ef79ce4f9df636ce6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kdnssd-5.12.0.tar.xz">kdnssd-5.12.0</a></td>
   <td align="right">55kB</td>
   <td><tt>1b9bd90997bb282ae2b5a35131c1bd1dd198298b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kdoctools-5.12.0.tar.xz">kdoctools-5.12.0</a></td>
   <td align="right">396kB</td>
   <td><tt>3145209a45929949a3ce42e342ac5898871e903f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kemoticons-5.12.0.tar.xz">kemoticons-5.12.0</a></td>
   <td align="right">73kB</td>
   <td><tt>c3ea34949b2516751fbf040d3f2063c34239f29e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kglobalaccel-5.12.0.tar.xz">kglobalaccel-5.12.0</a></td>
   <td align="right">79kB</td>
   <td><tt>714a857f752cd5484ed08825f9a819cc7d52aed1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kguiaddons-5.12.0.tar.xz">kguiaddons-5.12.0</a></td>
   <td align="right">38kB</td>
   <td><tt>98cd272e7496336d054ab5817d13a62a8dec6a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/ki18n-5.12.0.tar.xz">ki18n-5.12.0</a></td>
   <td align="right">580kB</td>
   <td><tt>69708c4e6cf2dc52c2d730e62c2b9fd157680805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kiconthemes-5.12.0.tar.xz">kiconthemes-5.12.0</a></td>
   <td align="right">190kB</td>
   <td><tt>e410b82c0e7ec73c4cb8556c1b903b94299d14df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kidletime-5.12.0.tar.xz">kidletime-5.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>d30bbbccc4829b8b233e6955701f00cef914e0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kimageformats-5.12.0.tar.xz">kimageformats-5.12.0</a></td>
   <td align="right">91kB</td>
   <td><tt>cd39832ae991ee253e7c35dae6cd940f3b723ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kinit-5.12.0.tar.xz">kinit-5.12.0</a></td>
   <td align="right">114kB</td>
   <td><tt>ac1b91d255a2c6224d158755d8b3d7ad8cb7fcf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kio-5.12.0.tar.xz">kio-5.12.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>7c7affe63df337eec8427fb5914f4788565b9613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kitemmodels-5.12.0.tar.xz">kitemmodels-5.12.0</a></td>
   <td align="right">367kB</td>
   <td><tt>92acbcd0b5a26b6aa4535be55d2c5dce63dc2ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kitemviews-5.12.0.tar.xz">kitemviews-5.12.0</a></td>
   <td align="right">72kB</td>
   <td><tt>6d20194a59439d0802a00fc4b8b13463375d592e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kjobwidgets-5.12.0.tar.xz">kjobwidgets-5.12.0</a></td>
   <td align="right">86kB</td>
   <td><tt>a22dc15d44b2b8e99820e6e61623811821d8a143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/knewstuff-5.12.0.tar.xz">knewstuff-5.12.0</a></td>
   <td align="right">832kB</td>
   <td><tt>ecb89f551100d1cc176fe2c670082e491f1d2816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/knotifications-5.12.0.tar.xz">knotifications-5.12.0</a></td>
   <td align="right">90kB</td>
   <td><tt>6292a7026918662e0c9eb2027e7ce6b5c46edeb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/knotifyconfig-5.12.0.tar.xz">knotifyconfig-5.12.0</a></td>
   <td align="right">80kB</td>
   <td><tt>4572fc7e8cf0bf60534011489692fe9092bafab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kpackage-5.12.0.tar.xz">kpackage-5.12.0</a></td>
   <td align="right">95kB</td>
   <td><tt>4df510fc3df1da90195492e457d8a43dab9c4432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kparts-5.12.0.tar.xz">kparts-5.12.0</a></td>
   <td align="right">150kB</td>
   <td><tt>04f2b00e90772a3bbee9f07d4bfd60c6be18a3a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kpeople-5.12.0.tar.xz">kpeople-5.12.0</a></td>
   <td align="right">55kB</td>
   <td><tt>3572d7d08b37411133f3e7ce2b504181b6e303ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kplotting-5.12.0.tar.xz">kplotting-5.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>ff7e82d36ffaa09451223773ba054587869b2f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kpty-5.12.0.tar.xz">kpty-5.12.0</a></td>
   <td align="right">55kB</td>
   <td><tt>b51b231690eaa5872e19fcb8b32179586eb85c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kservice-5.12.0.tar.xz">kservice-5.12.0</a></td>
   <td align="right">257kB</td>
   <td><tt>cc500b0b70d8d434a9a1cbb122e35090cdf25136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/ktexteditor-5.12.0.tar.xz">ktexteditor-5.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>01b4946e0af65c89799330362178b51dc085e1c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/ktextwidgets-5.12.0.tar.xz">ktextwidgets-5.12.0</a></td>
   <td align="right">298kB</td>
   <td><tt>3e4619424e834c4d5cb531549eb8a6303c041328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kunitconversion-5.12.0.tar.xz">kunitconversion-5.12.0</a></td>
   <td align="right">605kB</td>
   <td><tt>79e54c446e8082474c7bfe728eb7a4f9b12c9ee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kwallet-5.12.0.tar.xz">kwallet-5.12.0</a></td>
   <td align="right">274kB</td>
   <td><tt>f2eed556f46d1ac4799fbf88e8a5697f81f05609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kwidgetsaddons-5.12.0.tar.xz">kwidgetsaddons-5.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>cdf94629e8272cab77d1a98eabc9254f62f89344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kwindowsystem-5.12.0.tar.xz">kwindowsystem-5.12.0</a></td>
   <td align="right">156kB</td>
   <td><tt>d398285683ba66f0ad060236f5da212f939f8d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kxmlgui-5.12.0.tar.xz">kxmlgui-5.12.0</a></td>
   <td align="right">842kB</td>
   <td><tt>16e96ccbccd4a5b2732afc81706487bd6f97226e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/kxmlrpcclient-5.12.0.tar.xz">kxmlrpcclient-5.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>00c1add1ae5f9287ce442c06a99c536a38acbd9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/modemmanager-qt-5.12.0.tar.xz">modemmanager-qt-5.12.0</a></td>
   <td align="right">96kB</td>
   <td><tt>4d9238f1e95000ae2243ce176b8ac4b3cea5136e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/networkmanager-qt-5.12.0.tar.xz">networkmanager-qt-5.12.0</a></td>
   <td align="right">149kB</td>
   <td><tt>1cb63243842566e2541486ed111575165a874f1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/plasma-framework-5.12.0.tar.xz">plasma-framework-5.12.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>f216ead43e5f885ef99f354b5bf121b9cb3fe453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/solid-5.12.0.tar.xz">solid-5.12.0</a></td>
   <td align="right">259kB</td>
   <td><tt>2aaef82848b52cd7a65705d366b39fcad9d0b2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/sonnet-5.12.0.tar.xz">sonnet-5.12.0</a></td>
   <td align="right">268kB</td>
   <td><tt>81aec1be8158dd8e05769efb5b35fa4a4aaba657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.12/threadweaver-5.12.0.tar.xz">threadweaver-5.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>754c202cab6f03d1d70c3a4a89ae73517c1580d5</tt></td>
</tr>

</table>
