<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadi-22.04.0.tar.xz">akonadi-22.04.0</a></td>
   <td align="right">1574kB</td>
   <td><tt>19b9f906cb9957bc729e88d046444513791161e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadi-calendar-22.04.0.tar.xz">akonadi-calendar-22.04.0</a></td>
   <td align="right">356kB</td>
   <td><tt>c361dc34f1ca1d10de1f9ae866fb01e95c28e867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadi-calendar-tools-22.04.0.tar.xz">akonadi-calendar-tools-22.04.0</a></td>
   <td align="right">231kB</td>
   <td><tt>ca97409ef0022c3810ec37449a48d15457bdf8f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadiconsole-22.04.0.tar.xz">akonadiconsole-22.04.0</a></td>
   <td align="right">196kB</td>
   <td><tt>9ffd12848084786b9ea2eb6627ad5bd141381938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadi-contacts-22.04.0.tar.xz">akonadi-contacts-22.04.0</a></td>
   <td align="right">415kB</td>
   <td><tt>0716fe07c785e49f2a2526850e456ab32defd16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadi-import-wizard-22.04.0.tar.xz">akonadi-import-wizard-22.04.0</a></td>
   <td align="right">499kB</td>
   <td><tt>2898f65776076c02046a80f8805b353c46a9c197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadi-mime-22.04.0.tar.xz">akonadi-mime-22.04.0</a></td>
   <td align="right">141kB</td>
   <td><tt>fee30a10b168d570e01a8630d2a5a408c586a82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadi-notes-22.04.0.tar.xz">akonadi-notes-22.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>b348d332927a4750a6a29f867ed13ee6ed3a6659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akonadi-search-22.04.0.tar.xz">akonadi-search-22.04.0</a></td>
   <td align="right">97kB</td>
   <td><tt>f22c055093575822577d5ed027659fd162c69c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/akregator-22.04.0.tar.xz">akregator-22.04.0</a></td>
   <td align="right">2200kB</td>
   <td><tt>cc051f6b434adbf022e04971513697a8a86c749d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/analitza-22.04.0.tar.xz">analitza-22.04.0</a></td>
   <td align="right">341kB</td>
   <td><tt>57fc13088bb7874c5392885d0d8a3a2c0014a262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ark-22.04.0.tar.xz">ark-22.04.0</a></td>
   <td align="right">2712kB</td>
   <td><tt>ff3ce884b25d6302c64213d496d1aef7d0abf458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/artikulate-22.04.0.tar.xz">artikulate-22.04.0</a></td>
   <td align="right">1068kB</td>
   <td><tt>2c37a2ac2aced932b0888becbc3bcd33620f031b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/audiocd-kio-22.04.0.tar.xz">audiocd-kio-22.04.0</a></td>
   <td align="right">511kB</td>
   <td><tt>56e8280d12a606373a0dc8b22b66ca2fb6fb7b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/baloo-widgets-22.04.0.tar.xz">baloo-widgets-22.04.0</a></td>
   <td align="right">264kB</td>
   <td><tt>602a8f40e52362ab7ed047f5565532c5d8f3448c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/blinken-22.04.0.tar.xz">blinken-22.04.0</a></td>
   <td align="right">2651kB</td>
   <td><tt>8b244808a5a494d1b0d1a95b6c073d472d94533d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/bomber-22.04.0.tar.xz">bomber-22.04.0</a></td>
   <td align="right">814kB</td>
   <td><tt>403dd0226bfe911e418148782ea27c219f3e5430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/bovo-22.04.0.tar.xz">bovo-22.04.0</a></td>
   <td align="right">205kB</td>
   <td><tt>bf061fa66876d037395724fb3b3370ee3a13eaf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/calendarsupport-22.04.0.tar.xz">calendarsupport-22.04.0</a></td>
   <td align="right">749kB</td>
   <td><tt>b7fe145cc360fafcaf34dec64eb3e8ec9dc22aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/cantor-22.04.0.tar.xz">cantor-22.04.0</a></td>
   <td align="right">8979kB</td>
   <td><tt>dacfb6b5977819cd59b7e8c86e607dd721179967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/cervisia-22.04.0.tar.xz">cervisia-22.04.0</a></td>
   <td align="right">1868kB</td>
   <td><tt>f619897197813b8010ac551262359d9fe19befe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/dolphin-22.04.0.tar.xz">dolphin-22.04.0</a></td>
   <td align="right">5204kB</td>
   <td><tt>ab55cbcbcaafd98745e1a6d433324e7d916f9e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/dolphin-plugins-22.04.0.tar.xz">dolphin-plugins-22.04.0</a></td>
   <td align="right">250kB</td>
   <td><tt>fa00a39d405033b2684da961af5183eaf1a517ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/dragon-22.04.0.tar.xz">dragon-22.04.0</a></td>
   <td align="right">1627kB</td>
   <td><tt>84bddcfd8adb12b5909c773667133b2c3aa7b3b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/elisa-22.04.0.tar.xz">elisa-22.04.0</a></td>
   <td align="right">1706kB</td>
   <td><tt>4662bd331d93943c5b0cc51e286ca4bc4d786751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/eventviews-22.04.0.tar.xz">eventviews-22.04.0</a></td>
   <td align="right">445kB</td>
   <td><tt>9175b92147976f533a8bcbe289239b035f2da0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/falkon-22.04.0.tar.xz">falkon-22.04.0</a></td>
   <td align="right">2433kB</td>
   <td><tt>7fcca78299a8a9c200bbe37831dcd7274f6c8fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ffmpegthumbs-22.04.0.tar.xz">ffmpegthumbs-22.04.0</a></td>
   <td align="right">29kB</td>
   <td><tt>91dfcc5b99f5f51ce95a13837344b775324ccbea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/filelight-22.04.0.tar.xz">filelight-22.04.0</a></td>
   <td align="right">671kB</td>
   <td><tt>3e22332837f51c2ab72ed7cc4482048e24e9eee2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/granatier-22.04.0.tar.xz">granatier-22.04.0</a></td>
   <td align="right">2053kB</td>
   <td><tt>2f6919ba6b17f9fec46be684a67139d011c45733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/grantlee-editor-22.04.0.tar.xz">grantlee-editor-22.04.0</a></td>
   <td align="right">109kB</td>
   <td><tt>bb48b16fa0285e0a44a46179583872f89bb1183c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/grantleetheme-22.04.0.tar.xz">grantleetheme-22.04.0</a></td>
   <td align="right">59kB</td>
   <td><tt>b46e78969245c53d548d4c238f66e5b5d1c6ce1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/gwenview-22.04.0.tar.xz">gwenview-22.04.0</a></td>
   <td align="right">6656kB</td>
   <td><tt>a0e9d27b38a47a7b422308fc9771be160f65da8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/incidenceeditor-22.04.0.tar.xz">incidenceeditor-22.04.0</a></td>
   <td align="right">534kB</td>
   <td><tt>38f6b8a61a53194f0fa5d4553e03db956bfa5bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/itinerary-22.04.0.tar.xz">itinerary-22.04.0</a></td>
   <td align="right">487kB</td>
   <td><tt>5edff96f86b219e95fd9c04e62b87c2bc54267e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/juk-22.04.0.tar.xz">juk-22.04.0</a></td>
   <td align="right">1967kB</td>
   <td><tt>f5fe64c44209d7ce8ece38af3cd4e97e8ad0d71d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/k3b-22.04.0.tar.xz">k3b-22.04.0</a></td>
   <td align="right">10493kB</td>
   <td><tt>93c5e246a699d37cdcbd969d1fbc4811f625c98d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kaccounts-integration-22.04.0.tar.xz">kaccounts-integration-22.04.0</a></td>
   <td align="right">85kB</td>
   <td><tt>63b9fb9cfb3532d2f587e9c87fefdacb4390f6f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kaccounts-providers-22.04.0.tar.xz">kaccounts-providers-22.04.0</a></td>
   <td align="right">62kB</td>
   <td><tt>2b9bab83326d1cfc6f11ec86364a2c513ea5dcaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kaddressbook-22.04.0.tar.xz">kaddressbook-22.04.0</a></td>
   <td align="right">3271kB</td>
   <td><tt>57e81578bc56f2a09c732060c569f9fa728055a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kajongg-22.04.0.tar.xz">kajongg-22.04.0</a></td>
   <td align="right">4460kB</td>
   <td><tt>40401a9133bb51622783b51f23d7cd642d9d160e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kalarm-22.04.0.tar.xz">kalarm-22.04.0</a></td>
   <td align="right">2263kB</td>
   <td><tt>43ba804b6df8ed118626fa4b8d15e80487473f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kalendar-22.04.0.tar.xz">kalendar-22.04.0</a></td>
   <td align="right">248kB</td>
   <td><tt>6bcb4374272bbcef47eb8bc34ee6e4eec141dc70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kalgebra-22.04.0.tar.xz">kalgebra-22.04.0</a></td>
   <td align="right">1008kB</td>
   <td><tt>69974254a8814dd4155665cc8936f5be44da5ab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kalzium-22.04.0.tar.xz">kalzium-22.04.0</a></td>
   <td align="right">23900kB</td>
   <td><tt>c95886397c3bfa0cb395c1141935581dcae4e9c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kamera-22.04.0.tar.xz">kamera-22.04.0</a></td>
   <td align="right">116kB</td>
   <td><tt>d4c0b318cf41a8cf75f0137092e4a55d24d204aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kamoso-22.04.0.tar.xz">kamoso-22.04.0</a></td>
   <td align="right">220kB</td>
   <td><tt>16bfe7f41a666d726d173127c193b5d3f8d97924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kanagram-22.04.0.tar.xz">kanagram-22.04.0</a></td>
   <td align="right">7857kB</td>
   <td><tt>d25b08b3ff9b75eabef58ba0d5fc267b6a63c87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kapman-22.04.0.tar.xz">kapman-22.04.0</a></td>
   <td align="right">2417kB</td>
   <td><tt>43a35edd8717e4b3dcc2421a588803ed70c8c51b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kapptemplate-22.04.0.tar.xz">kapptemplate-22.04.0</a></td>
   <td align="right">326kB</td>
   <td><tt>308fd919578acfe0c48f2050477b60b256a8a51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kate-22.04.0.tar.xz">kate-22.04.0</a></td>
   <td align="right">7395kB</td>
   <td><tt>40cb77e372200306f3dd32dddb910325f24fc6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/katomic-22.04.0.tar.xz">katomic-22.04.0</a></td>
   <td align="right">1404kB</td>
   <td><tt>3f639268c430a5531727b898e80785b8b07e5354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kbackup-22.04.0.tar.xz">kbackup-22.04.0</a></td>
   <td align="right">380kB</td>
   <td><tt>bb04d7f76946c59a489e254f0a75fe72cf141aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kblackbox-22.04.0.tar.xz">kblackbox-22.04.0</a></td>
   <td align="right">515kB</td>
   <td><tt>0c719bd40f9a856425a5c33fa218785bddf94350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kblocks-22.04.0.tar.xz">kblocks-22.04.0</a></td>
   <td align="right">2052kB</td>
   <td><tt>056dbe7d5e5bc6f1cf04490969f2d69e8f69701e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kbounce-22.04.0.tar.xz">kbounce-22.04.0</a></td>
   <td align="right">3448kB</td>
   <td><tt>314dca9ff2610a8c45a26868c22da8861c8e4094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kbreakout-22.04.0.tar.xz">kbreakout-22.04.0</a></td>
   <td align="right">2496kB</td>
   <td><tt>af330438a495d3657054d0cec92c68577e5f298c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kbruch-22.04.0.tar.xz">kbruch-22.04.0</a></td>
   <td align="right">5501kB</td>
   <td><tt>fffebb1eac2ed0fd5a52e893fed8ec0cd5fc15c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kcachegrind-22.04.0.tar.xz">kcachegrind-22.04.0</a></td>
   <td align="right">846kB</td>
   <td><tt>42dae7a7096200ecb51459496eee31dd27801cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kcalc-22.04.0.tar.xz">kcalc-22.04.0</a></td>
   <td align="right">379kB</td>
   <td><tt>c63d395c1f26da682d2acd4ad6fc6f2a0181312a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kcalutils-22.04.0.tar.xz">kcalutils-22.04.0</a></td>
   <td align="right">332kB</td>
   <td><tt>ad1980892f70f13a08a0c63baee9c32771af2439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kcharselect-22.04.0.tar.xz">kcharselect-22.04.0</a></td>
   <td align="right">365kB</td>
   <td><tt>260b3ecfb818943084b810760e4bb857d7f56e4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kcolorchooser-22.04.0.tar.xz">kcolorchooser-22.04.0</a></td>
   <td align="right">29kB</td>
   <td><tt>b277ade4e00804099f2865b6ca09d0066a10aaaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kcron-22.04.0.tar.xz">kcron-22.04.0</a></td>
   <td align="right">894kB</td>
   <td><tt>5501c763f6e40169ca58aa9ace201d9c797ff60b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdebugsettings-22.04.0.tar.xz">kdebugsettings-22.04.0</a></td>
   <td align="right">90kB</td>
   <td><tt>5ba9fe7aca46a56fbb679cfea07191428545e219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdeconnect-kde-22.04.0.tar.xz">kdeconnect-kde-22.04.0</a></td>
   <td align="right">594kB</td>
   <td><tt>10712ce2719edc732d2de6b039025d564e364a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kde-dev-scripts-22.04.0.tar.xz">kde-dev-scripts-22.04.0</a></td>
   <td align="right">357kB</td>
   <td><tt>8b5734143824173e23ffb1d380042c739facb682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kde-dev-utils-22.04.0.tar.xz">kde-dev-utils-22.04.0</a></td>
   <td align="right">66kB</td>
   <td><tt>29e0c98168f436fcb36b43979cd0666bc23c8795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdeedu-data-22.04.0.tar.xz">kdeedu-data-22.04.0</a></td>
   <td align="right">328kB</td>
   <td><tt>d1fc996708a5b1dcda6513c222e59ee03033e2a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdegraphics-mobipocket-22.04.0.tar.xz">kdegraphics-mobipocket-22.04.0</a></td>
   <td align="right">12kB</td>
   <td><tt>49036c96852f1e1a5dc1aa2e0bdd8005f69446f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdegraphics-thumbnailers-22.04.0.tar.xz">kdegraphics-thumbnailers-22.04.0</a></td>
   <td align="right">47kB</td>
   <td><tt>11fc3e2ae0964a12f707173f831a793ad3526fa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdenetwork-filesharing-22.04.0.tar.xz">kdenetwork-filesharing-22.04.0</a></td>
   <td align="right">373kB</td>
   <td><tt>8ac32ab138cf1e0132b6600f351b530641c3ace3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdenlive-22.04.0.tar.xz">kdenlive-22.04.0</a></td>
   <td align="right">12132kB</td>
   <td><tt>8aedc24dad4146564f206e01ab7dcaae2d567af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdepim-addons-22.04.0.tar.xz">kdepim-addons-22.04.0</a></td>
   <td align="right">2256kB</td>
   <td><tt>3fe3d16ba9904eb37f1fc25833448edf9cc22ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdepim-runtime-22.04.0.tar.xz">kdepim-runtime-22.04.0</a></td>
   <td align="right">1729kB</td>
   <td><tt>737d529e63beb84e5b07e65019bdf0e86f70ac73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdesdk-kioslaves-22.04.0.tar.xz">kdesdk-kioslaves-22.04.0</a></td>
   <td align="right">38kB</td>
   <td><tt>0fbaf0693d33c33dfaa3231bf6a804f7caf0573c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdesdk-thumbnailers-22.04.0.tar.xz">kdesdk-thumbnailers-22.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>32938a36400db191ef2c0c9b715b15ea6d9d48fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdevelop-22.04.0.tar.xz">kdevelop-22.04.0</a></td>
   <td align="right">8225kB</td>
   <td><tt>7c72a3059337ecbc456bb29e2bdb5106be6eddbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdev-php-22.04.0.tar.xz">kdev-php-22.04.0</a></td>
   <td align="right">1055kB</td>
   <td><tt>60c5d9513001fa5ed5113345370b19ef009d2f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdev-python-22.04.0.tar.xz">kdev-python-22.04.0</a></td>
   <td align="right">1065kB</td>
   <td><tt>63a0ed5c5acaed03f903882a06bdee84256c736c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdf-22.04.0.tar.xz">kdf-22.04.0</a></td>
   <td align="right">465kB</td>
   <td><tt>c360729795fc2bea56d85bdc9205067be593e77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdialog-22.04.0.tar.xz">kdialog-22.04.0</a></td>
   <td align="right">113kB</td>
   <td><tt>2181fcfb24fed152322a3c1520049902c5c6bff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kdiamond-22.04.0.tar.xz">kdiamond-22.04.0</a></td>
   <td align="right">4593kB</td>
   <td><tt>fe1f6a7d11b4709b9ce405c2f6136ac290d411ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/keditbookmarks-22.04.0.tar.xz">keditbookmarks-22.04.0</a></td>
   <td align="right">198kB</td>
   <td><tt>66ad4e08a8cff976653ba0bf64914440cf1a4889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kfind-22.04.0.tar.xz">kfind-22.04.0</a></td>
   <td align="right">280kB</td>
   <td><tt>324d6123b6081fb26ba61be158e7410f03af7c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kfloppy-22.04.0.tar.xz">kfloppy-22.04.0</a></td>
   <td align="right">209kB</td>
   <td><tt>55a93f30e45099bf5a54e3cfdadb84afdfe99b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kfourinline-22.04.0.tar.xz">kfourinline-22.04.0</a></td>
   <td align="right">705kB</td>
   <td><tt>1bf92b27778bc5a6da1ec82316ef7a8a44c38836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kgeography-22.04.0.tar.xz">kgeography-22.04.0</a></td>
   <td align="right">10827kB</td>
   <td><tt>5b3a24c7d856647b477e75ebe35828d65922caba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kget-22.04.0.tar.xz">kget-22.04.0</a></td>
   <td align="right">5305kB</td>
   <td><tt>99af50171dcfc7edb12b8170a2d1e143dd8a8c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kgoldrunner-22.04.0.tar.xz">kgoldrunner-22.04.0</a></td>
   <td align="right">4675kB</td>
   <td><tt>6ffb8127d6ea16d0efb22627fc04d0e78f830de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kgpg-22.04.0.tar.xz">kgpg-22.04.0</a></td>
   <td align="right">2886kB</td>
   <td><tt>aba8aa90792dd195a89b26a640614ff229f416ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/khangman-22.04.0.tar.xz">khangman-22.04.0</a></td>
   <td align="right">7253kB</td>
   <td><tt>259b842149a0b16488b0454fed9572f9a1ffe347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/khelpcenter-22.04.0.tar.xz">khelpcenter-22.04.0</a></td>
   <td align="right">4192kB</td>
   <td><tt>4e37a96b81a98877fc84059742fa77894d46c1cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kidentitymanagement-22.04.0.tar.xz">kidentitymanagement-22.04.0</a></td>
   <td align="right">155kB</td>
   <td><tt>3d5a0118fd4d98fc4d6db07c6de826f1f6722801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kig-22.04.0.tar.xz">kig-22.04.0</a></td>
   <td align="right">3110kB</td>
   <td><tt>8c77a3db39a0fb106c497fb9da05783e859ef2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kigo-22.04.0.tar.xz">kigo-22.04.0</a></td>
   <td align="right">5131kB</td>
   <td><tt>5af3c6084f06846186abd180d36f293d9ef31cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/killbots-22.04.0.tar.xz">killbots-22.04.0</a></td>
   <td align="right">1169kB</td>
   <td><tt>370eddf3df82597a0bbe95c12f0eb1a62faea7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kimagemapeditor-22.04.0.tar.xz">kimagemapeditor-22.04.0</a></td>
   <td align="right">1063kB</td>
   <td><tt>d9738fdb817c83cc8eb35bb8f5d8eb2a906e9ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kimap-22.04.0.tar.xz">kimap-22.04.0</a></td>
   <td align="right">127kB</td>
   <td><tt>e04377662a5242ce2d7ad355d35f09514b057d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kio-extras-22.04.0.tar.xz">kio-extras-22.04.0</a></td>
   <td align="right">626kB</td>
   <td><tt>c4de985a27a02755fb0844d855d87d8d94a185e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kio-gdrive-22.04.0.tar.xz">kio-gdrive-22.04.0</a></td>
   <td align="right">70kB</td>
   <td><tt>ebe071fae5953db73433bd8ac5646f9c604bdf50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kipi-plugins-22.04.0.tar.xz">kipi-plugins-22.04.0</a></td>
   <td align="right">1487kB</td>
   <td><tt>aa706f6de5b9a002129e1f27b6037555d883c6c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kirigami-gallery-22.04.0.tar.xz">kirigami-gallery-22.04.0</a></td>
   <td align="right">330kB</td>
   <td><tt>f71d40f88b76c0482cc6ca42320f63ee5f4635df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kiriki-22.04.0.tar.xz">kiriki-22.04.0</a></td>
   <td align="right">357kB</td>
   <td><tt>702a1fa7aeab0bed8f7f84ccbeeb04b296d8a889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kiten-22.04.0.tar.xz">kiten-22.04.0</a></td>
   <td align="right">11052kB</td>
   <td><tt>6a3a4bc4fc700d8788f0e48499b88299db7196ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kitinerary-22.04.0.tar.xz">kitinerary-22.04.0</a></td>
   <td align="right">1491kB</td>
   <td><tt>801372b791b334b31e5e6447cb4702ad6a89ea82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kjumpingcube-22.04.0.tar.xz">kjumpingcube-22.04.0</a></td>
   <td align="right">318kB</td>
   <td><tt>248cb24770ca1770301bed05865512aba235c6c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kldap-22.04.0.tar.xz">kldap-22.04.0</a></td>
   <td align="right">168kB</td>
   <td><tt>e5ef58b1af8144f826fb11f766154aec5f66a7f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kleopatra-22.04.0.tar.xz">kleopatra-22.04.0</a></td>
   <td align="right">2182kB</td>
   <td><tt>fbcd8212bc8ebdbd3deb98e01bd0281c0b90fd2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/klettres-22.04.0.tar.xz">klettres-22.04.0</a></td>
   <td align="right">46033kB</td>
   <td><tt>a4e0a306cf2a94d63d8f717100c35e65e60d6da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/klickety-22.04.0.tar.xz">klickety-22.04.0</a></td>
   <td align="right">1460kB</td>
   <td><tt>c74200630f836d7ee2bded8bc1ff62c2322e02e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/klines-22.04.0.tar.xz">klines-22.04.0</a></td>
   <td align="right">1686kB</td>
   <td><tt>e56689645722de8fbbda18c961d3b1046900db48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmag-22.04.0.tar.xz">kmag-22.04.0</a></td>
   <td align="right">691kB</td>
   <td><tt>fc10310eca161c549dbccc14c150adfc5c6544ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmahjongg-22.04.0.tar.xz">kmahjongg-22.04.0</a></td>
   <td align="right">3975kB</td>
   <td><tt>0db0297b1ebae702b106665c365325d09f0e8ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmail-22.04.0.tar.xz">kmail-22.04.0</a></td>
   <td align="right">6983kB</td>
   <td><tt>c4503f12c00d5028f83aeb6df974fc973670b2fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmail-account-wizard-22.04.0.tar.xz">kmail-account-wizard-22.04.0</a></td>
   <td align="right">167kB</td>
   <td><tt>da6ec5822e19b914511963802153bea23312589a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmailtransport-22.04.0.tar.xz">kmailtransport-22.04.0</a></td>
   <td align="right">170kB</td>
   <td><tt>7bae07ae8a3499c8f0607adfc22dd99527597148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmbox-22.04.0.tar.xz">kmbox-22.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>30c4e485e08a214d9d7a67847c719fc89f2d9ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmime-22.04.0.tar.xz">kmime-22.04.0</a></td>
   <td align="right">152kB</td>
   <td><tt>05cf30a619b0c145a70de0c0d1b1baf82b03f48e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmines-22.04.0.tar.xz">kmines-22.04.0</a></td>
   <td align="right">971kB</td>
   <td><tt>7c890f35b772a936863920128b8815e01df51684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmix-22.04.0.tar.xz">kmix-22.04.0</a></td>
   <td align="right">1136kB</td>
   <td><tt>5b0f68cd48b4e3de19160db5b4823040a38b60e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmousetool-22.04.0.tar.xz">kmousetool-22.04.0</a></td>
   <td align="right">118kB</td>
   <td><tt>9a4ad6cc773b8f77d94f9eac4973e2f72046d513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmouth-22.04.0.tar.xz">kmouth-22.04.0</a></td>
   <td align="right">2055kB</td>
   <td><tt>904b7c87a8db62d95b42a60a4c70e9e01965bdf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kmplot-22.04.0.tar.xz">kmplot-22.04.0</a></td>
   <td align="right">2972kB</td>
   <td><tt>a73b463011687c6e436e61772b6dd258c07e7a1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/knavalbattle-22.04.0.tar.xz">knavalbattle-22.04.0</a></td>
   <td align="right">1347kB</td>
   <td><tt>a6ebb5a5c553c9698eccd248a02d622b50645183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/knetwalk-22.04.0.tar.xz">knetwalk-22.04.0</a></td>
   <td align="right">1068kB</td>
   <td><tt>7444d11bdfbd6477a4c00ae5fb6d2d9342bae12e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/knights-22.04.0.tar.xz">knights-22.04.0</a></td>
   <td align="right">3245kB</td>
   <td><tt>d06c4841e65f9483a7c06173f83d064cc223bec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/knotes-22.04.0.tar.xz">knotes-22.04.0</a></td>
   <td align="right">332kB</td>
   <td><tt>bc16887195d6412fc0ea834cbe6acc55242742aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kolf-22.04.0.tar.xz">kolf-22.04.0</a></td>
   <td align="right">1027kB</td>
   <td><tt>63809d85efa11401c6891fb67fb1c2f6d387af80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kollision-22.04.0.tar.xz">kollision-22.04.0</a></td>
   <td align="right">295kB</td>
   <td><tt>3103eef76887fc70291f6ec532ce002bcb20a855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kolourpaint-22.04.0.tar.xz">kolourpaint-22.04.0</a></td>
   <td align="right">5582kB</td>
   <td><tt>04558c595217e1c59dafe4dc91fc5b2d5d2a3fbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kompare-22.04.0.tar.xz">kompare-22.04.0</a></td>
   <td align="right">921kB</td>
   <td><tt>17e76787624ec5c15426a1efcf21d0f8bb66d985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/konqueror-22.04.0.tar.xz">konqueror-22.04.0</a></td>
   <td align="right">7503kB</td>
   <td><tt>2b00d4f05cb2a017ddc6e888a4f043d27860ddb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/konquest-22.04.0.tar.xz">konquest-22.04.0</a></td>
   <td align="right">843kB</td>
   <td><tt>5ec66ea7334ef9750b6ccc5b0cc6a0c2f4d2c7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/konsole-22.04.0.tar.xz">konsole-22.04.0</a></td>
   <td align="right">1431kB</td>
   <td><tt>d5ff0dbad300ae0ed626ce839dbbc2650590f275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kontact-22.04.0.tar.xz">kontact-22.04.0</a></td>
   <td align="right">806kB</td>
   <td><tt>d3ce7be74f7a6187c7b8a003609ecdc7a1f48aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kontactinterface-22.04.0.tar.xz">kontactinterface-22.04.0</a></td>
   <td align="right">39kB</td>
   <td><tt>92bad4349a606e2a45c1447912aff626ce6cef81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kontrast-22.04.0.tar.xz">kontrast-22.04.0</a></td>
   <td align="right">122kB</td>
   <td><tt>709214cb2763f25085d268489a865ef17cf2292f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/konversation-22.04.0.tar.xz">konversation-22.04.0</a></td>
   <td align="right">4187kB</td>
   <td><tt>013e8755b63c60ebe1ec5f3a281355b0ff8ae3e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kopeninghours-22.04.0.tar.xz">kopeninghours-22.04.0</a></td>
   <td align="right">67kB</td>
   <td><tt>f4ed7058bd40b553895277170c0b13249eaf2e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kopete-22.04.0.tar.xz">kopete-22.04.0</a></td>
   <td align="right">9444kB</td>
   <td><tt>174b355469f3876f4cf9f1e15a264b18586fb12c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/korganizer-22.04.0.tar.xz">korganizer-22.04.0</a></td>
   <td align="right">2255kB</td>
   <td><tt>e5952e3f85124f12e56ec002e5f8cc6fa7a11997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kosmindoormap-22.04.0.tar.xz">kosmindoormap-22.04.0</a></td>
   <td align="right">342kB</td>
   <td><tt>93677ff33e1a6a82d299522154fe6a6151bd8782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kpat-22.04.0.tar.xz">kpat-22.04.0</a></td>
   <td align="right">3643kB</td>
   <td><tt>24e0d1bebdd1b942c484a561108c7034ad960b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kpimtextedit-22.04.0.tar.xz">kpimtextedit-22.04.0</a></td>
   <td align="right">210kB</td>
   <td><tt>5b3e0a68e371ed3d19c4640a37b0564b7ebd102b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kpkpass-22.04.0.tar.xz">kpkpass-22.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>9e440d2f305af6d30dafc444ff2fd77936cc02fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kpmcore-22.04.0.tar.xz">kpmcore-22.04.0</a></td>
   <td align="right">584kB</td>
   <td><tt>f52ca664613cca534ba8cafd7cf6c3f21ea88b13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kpublictransport-22.04.0.tar.xz">kpublictransport-22.04.0</a></td>
   <td align="right">473kB</td>
   <td><tt>cfae2a25ff5f9f4ca7d9bf3e6b0697945ca023b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kqtquickcharts-22.04.0.tar.xz">kqtquickcharts-22.04.0</a></td>
   <td align="right">29kB</td>
   <td><tt>9acdbf3ce54d0f505e7d9c560e2e9d5506c6ca73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/krdc-22.04.0.tar.xz">krdc-22.04.0</a></td>
   <td align="right">1547kB</td>
   <td><tt>cbd31f680b2df40e4c7d4c9c86a15c581d968c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kreversi-22.04.0.tar.xz">kreversi-22.04.0</a></td>
   <td align="right">1039kB</td>
   <td><tt>2291dd32d40733d958f79289a7f76dfa329c35c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/krfb-22.04.0.tar.xz">krfb-22.04.0</a></td>
   <td align="right">1272kB</td>
   <td><tt>e27dd102912e407ac96b02180553c5134f1bea3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kross-interpreters-22.04.0.tar.xz">kross-interpreters-22.04.0</a></td>
   <td align="right">148kB</td>
   <td><tt>9b643553cb86ed978d64cc37018b6308ec854e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kruler-22.04.0.tar.xz">kruler-22.04.0</a></td>
   <td align="right">270kB</td>
   <td><tt>8f5e6a0adec04995de5482c066600efd8ff49a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kshisen-22.04.0.tar.xz">kshisen-22.04.0</a></td>
   <td align="right">969kB</td>
   <td><tt>b29686dc5e15c1a7eac06782a5b4e13e4081b28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ksirk-22.04.0.tar.xz">ksirk-22.04.0</a></td>
   <td align="right">6842kB</td>
   <td><tt>f0b82c9a720d43c53d9cfd890f744bdce1d0c56e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ksmtp-22.04.0.tar.xz">ksmtp-22.04.0</a></td>
   <td align="right">47kB</td>
   <td><tt>98b3826f5454ddb952c712b6c454d6f25d09c76b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ksnakeduel-22.04.0.tar.xz">ksnakeduel-22.04.0</a></td>
   <td align="right">593kB</td>
   <td><tt>f91d78a6ff91bae0dca0f6f749e8f3b06237f3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kspaceduel-22.04.0.tar.xz">kspaceduel-22.04.0</a></td>
   <td align="right">636kB</td>
   <td><tt>a12e92a4d3e58853c7d5d67e272d44f7325cb349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ksquares-22.04.0.tar.xz">ksquares-22.04.0</a></td>
   <td align="right">300kB</td>
   <td><tt>09f20995b48738e8cefbd2195ad55cb3e4230354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ksudoku-22.04.0.tar.xz">ksudoku-22.04.0</a></td>
   <td align="right">1650kB</td>
   <td><tt>b36c4c1ebd644d895ccd3412c11cd2124e4bdc24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ksystemlog-22.04.0.tar.xz">ksystemlog-22.04.0</a></td>
   <td align="right">1922kB</td>
   <td><tt>8ace8af71b4a2709c7588d4e2e7f6a7fffd16054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kteatime-22.04.0.tar.xz">kteatime-22.04.0</a></td>
   <td align="right">294kB</td>
   <td><tt>fdee6479fcb2281fa1276c1912e179d5130c9943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktimer-22.04.0.tar.xz">ktimer-22.04.0</a></td>
   <td align="right">384kB</td>
   <td><tt>cebd9eeabb49307a08bfb97a3758e391dfd0a5d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktnef-22.04.0.tar.xz">ktnef-22.04.0</a></td>
   <td align="right">296kB</td>
   <td><tt>2e1b84c67d821813d927d4fd9fb16624b4399e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktorrent-22.04.0.tar.xz">ktorrent-22.04.0</a></td>
   <td align="right">2008kB</td>
   <td><tt>a2d2f7c90eff8340826da9bc10558a56974bf9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktouch-22.04.0.tar.xz">ktouch-22.04.0</a></td>
   <td align="right">4865kB</td>
   <td><tt>768e44a0dbce8c8f8ba8bc04d767a50211e909ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-accounts-kcm-22.04.0.tar.xz">ktp-accounts-kcm-22.04.0</a></td>
   <td align="right">260kB</td>
   <td><tt>360abdf72491a22847fec188fdc292a88f9adf76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-approver-22.04.0.tar.xz">ktp-approver-22.04.0</a></td>
   <td align="right">37kB</td>
   <td><tt>3b997f551170a59ccfd3efb336e9e18d0cabb3e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-auth-handler-22.04.0.tar.xz">ktp-auth-handler-22.04.0</a></td>
   <td align="right">46kB</td>
   <td><tt>6281294e1703e6d03ae42c06159ac735801e5272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-call-ui-22.04.0.tar.xz">ktp-call-ui-22.04.0</a></td>
   <td align="right">96kB</td>
   <td><tt>f3d02ecac56cca7c12d4863d04a9ea2f908dbadb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-common-internals-22.04.0.tar.xz">ktp-common-internals-22.04.0</a></td>
   <td align="right">440kB</td>
   <td><tt>16ffd585ca0302dadfe5d0b46be64d3084420f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-contact-list-22.04.0.tar.xz">ktp-contact-list-22.04.0</a></td>
   <td align="right">151kB</td>
   <td><tt>430fe1c4c4ddbabea0795d443cdcec3bc16eba56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-contact-runner-22.04.0.tar.xz">ktp-contact-runner-22.04.0</a></td>
   <td align="right">43kB</td>
   <td><tt>c79db5535e9c82612d75c884f839298adeb45b14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-desktop-applets-22.04.0.tar.xz">ktp-desktop-applets-22.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>01abe0081879857d8b2a332d9fa79ee1e7d640d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-filetransfer-handler-22.04.0.tar.xz">ktp-filetransfer-handler-22.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>f5be9de8128cea4091b7a99d51822a3d87184b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-kded-module-22.04.0.tar.xz">ktp-kded-module-22.04.0</a></td>
   <td align="right">97kB</td>
   <td><tt>d9d73554a9bd51abaaf55e70277b8d3e96279566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-send-file-22.04.0.tar.xz">ktp-send-file-22.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>35cee8031d028b6e8ea89c5c57ae5d68870171c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktp-text-ui-22.04.0.tar.xz">ktp-text-ui-22.04.0</a></td>
   <td align="right">463kB</td>
   <td><tt>41cdea1b233edb0e2510d4f097fdbc7676e81e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/ktuberling-22.04.0.tar.xz">ktuberling-22.04.0</a></td>
   <td align="right">69165kB</td>
   <td><tt>d1f1a0006db882ebd21c9a2b6ec91ba4f7dd62b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kturtle-22.04.0.tar.xz">kturtle-22.04.0</a></td>
   <td align="right">1926kB</td>
   <td><tt>59dfa3610a5c7ba618af34ab19645338606215fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kubrick-22.04.0.tar.xz">kubrick-22.04.0</a></td>
   <td align="right">335kB</td>
   <td><tt>1b73de1cdd08f66acd43447d77e67aab87eacf83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kwalletmanager-22.04.0.tar.xz">kwalletmanager-22.04.0</a></td>
   <td align="right">782kB</td>
   <td><tt>eb7d2c480845e5dba5b376f16a026e5b04110b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kwave-22.04.0.tar.xz">kwave-22.04.0</a></td>
   <td align="right">6763kB</td>
   <td><tt>3c54fe5d0e29a967f470072b847f61107aabfa26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/kwordquiz-22.04.0.tar.xz">kwordquiz-22.04.0</a></td>
   <td align="right">4109kB</td>
   <td><tt>92c54c836050c9cce387d22aa84bb662ba397a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libgravatar-22.04.0.tar.xz">libgravatar-22.04.0</a></td>
   <td align="right">34kB</td>
   <td><tt>285345229bbde0198d99d8b4716dd3159af6ceb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkcddb-22.04.0.tar.xz">libkcddb-22.04.0</a></td>
   <td align="right">426kB</td>
   <td><tt>eaa2982e2a58618a5f0bc7a789f8036987ba34af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkcompactdisc-22.04.0.tar.xz">libkcompactdisc-22.04.0</a></td>
   <td align="right">95kB</td>
   <td><tt>6162ec8457e244ca7f7dc89196408cc6962b3666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkdcraw-22.04.0.tar.xz">libkdcraw-22.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>405185c5b8234c0c6d3492f67d16b40bf1ddc957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkdegames-22.04.0.tar.xz">libkdegames-22.04.0</a></td>
   <td align="right">5832kB</td>
   <td><tt>dfe6634dda445516968148529e3ea56657dcc981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkdepim-22.04.0.tar.xz">libkdepim-22.04.0</a></td>
   <td align="right">248kB</td>
   <td><tt>4aa605185e6a6d5bbfee0a232db3283060a6ba96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkeduvocdocument-22.04.0.tar.xz">libkeduvocdocument-22.04.0</a></td>
   <td align="right">210kB</td>
   <td><tt>954bebad67fed0d9847bb6bd486d7d60a235836a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkexiv2-22.04.0.tar.xz">libkexiv2-22.04.0</a></td>
   <td align="right">58kB</td>
   <td><tt>2af4788f918a321329639d7c0fa5944aa9221d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkgapi-22.04.0.tar.xz">libkgapi-22.04.0</a></td>
   <td align="right">239kB</td>
   <td><tt>69826cb1e6dd7302a83ddf1f7a2c978e3bcf2b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkipi-22.04.0.tar.xz">libkipi-22.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>ca5f258847aadeca835f19bdc12e2030160ba945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkleo-22.04.0.tar.xz">libkleo-22.04.0</a></td>
   <td align="right">457kB</td>
   <td><tt>4af89db55d6ae243943a101f40e9169939f0d6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkmahjongg-22.04.0.tar.xz">libkmahjongg-22.04.0</a></td>
   <td align="right">1646kB</td>
   <td><tt>da05c1e0f0661ef9d0d75fe7c3820d6b947c11cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libkomparediff2-22.04.0.tar.xz">libkomparediff2-22.04.0</a></td>
   <td align="right">168kB</td>
   <td><tt>0892bf25f0e679b769740a677c623dcf4996a374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libksane-22.04.0.tar.xz">libksane-22.04.0</a></td>
   <td align="right">161kB</td>
   <td><tt>738ef94d3c4cb55b362f4eafd4029e0ad6e54020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libksieve-22.04.0.tar.xz">libksieve-22.04.0</a></td>
   <td align="right">562kB</td>
   <td><tt>8727b254ca8878520a051f3c1f395c59e25d7af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/libktorrent-22.04.0.tar.xz">libktorrent-22.04.0</a></td>
   <td align="right">592kB</td>
   <td><tt>ad359567d65ae8a164660a43c8643a7ecef2a1d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/lokalize-22.04.0.tar.xz">lokalize-22.04.0</a></td>
   <td align="right">2016kB</td>
   <td><tt>1a2dcde948a686ccf54c379fd3f82cfb9cc27311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/lskat-22.04.0.tar.xz">lskat-22.04.0</a></td>
   <td align="right">1205kB</td>
   <td><tt>34133979d91b7025c17c8aac6a2e8742604f3e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/mailcommon-22.04.0.tar.xz">mailcommon-22.04.0</a></td>
   <td align="right">721kB</td>
   <td><tt>80f97cb6dc9d559f6c9e0beed4fa851e74943af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/mailimporter-22.04.0.tar.xz">mailimporter-22.04.0</a></td>
   <td align="right">546kB</td>
   <td><tt>42035429bfcbf139469d5fd89124f8c0d9b697e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/marble-22.04.0.tar.xz">marble-22.04.0</a></td>
   <td align="right">52417kB</td>
   <td><tt>f30601135ad1ba44a00d3b708231cbfaf4547208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/markdownpart-22.04.0.tar.xz">markdownpart-22.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>209cf610fc9dc3dcd281bed85082cdb1dcdcfa8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/mbox-importer-22.04.0.tar.xz">mbox-importer-22.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>894e4cc97b9aafe8b08a4768b002bb6c5a97272e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/messagelib-22.04.0.tar.xz">messagelib-22.04.0</a></td>
   <td align="right">10589kB</td>
   <td><tt>a4f71c3c45385ab3ebc2410befe563138a0b3a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/minuet-22.04.0.tar.xz">minuet-22.04.0</a></td>
   <td align="right">27025kB</td>
   <td><tt>711d6bc78d80dae3d72cb3701bb50b9f40e92c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/okular-22.04.0.tar.xz">okular-22.04.0</a></td>
   <td align="right">7986kB</td>
   <td><tt>7674009a5e3e4b663e7649acb98479dc8e9bc9b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/palapeli-22.04.0.tar.xz">palapeli-22.04.0</a></td>
   <td align="right">2048kB</td>
   <td><tt>f173c1f40d2d3e09a5f2bfad18079994247cd264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/parley-22.04.0.tar.xz">parley-22.04.0</a></td>
   <td align="right">8302kB</td>
   <td><tt>6d38b81bb8d3da6404900f3be8ca7ee6b15add41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/partitionmanager-22.04.0.tar.xz">partitionmanager-22.04.0</a></td>
   <td align="right">2061kB</td>
   <td><tt>67861cd76db37fda92b353ac72ae843bc61c4521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/picmi-22.04.0.tar.xz">picmi-22.04.0</a></td>
   <td align="right">1502kB</td>
   <td><tt>83309a136bc8a313fb790dd4d46368aeb1dd32ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/pimcommon-22.04.0.tar.xz">pimcommon-22.04.0</a></td>
   <td align="right">366kB</td>
   <td><tt>d9be013371596e94477c03c7059625dde3f4d3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/pim-data-exporter-22.04.0.tar.xz">pim-data-exporter-22.04.0</a></td>
   <td align="right">395kB</td>
   <td><tt>377dd3c08bee30bc12f094bab9d44754af1da961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/pim-sieve-editor-22.04.0.tar.xz">pim-sieve-editor-22.04.0</a></td>
   <td align="right">442kB</td>
   <td><tt>cb7a5613d3dd5a5cc72d6ab9fd583f11022072fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/poxml-22.04.0.tar.xz">poxml-22.04.0</a></td>
   <td align="right">43kB</td>
   <td><tt>a6030dd132c9fc309cf4a60e3c09c3cc1551e9b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/print-manager-22.04.0.tar.xz">print-manager-22.04.0</a></td>
   <td align="right">265kB</td>
   <td><tt>ceb133f94091df20eee8437472580a22b2f85027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/rocs-22.04.0.tar.xz">rocs-22.04.0</a></td>
   <td align="right">1518kB</td>
   <td><tt>d0384d999e26722b6572f3926dc9a9d2367d6cb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/signon-kwallet-extension-22.04.0.tar.xz">signon-kwallet-extension-22.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>26b1fefb552e7ca4689968768cc389fd0f985bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/skanlite-22.04.0.tar.xz">skanlite-22.04.0</a></td>
   <td align="right">2383kB</td>
   <td><tt>d3c82132e133cea1853996687034e817da5fee60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/skanpage-22.04.0.tar.xz">skanpage-22.04.0</a></td>
   <td align="right">380kB</td>
   <td><tt>a944b6492931a0288e6bdfcbc2e03d32058c15fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/spectacle-22.04.0.tar.xz">spectacle-22.04.0</a></td>
   <td align="right">1230kB</td>
   <td><tt>243c0848e8b383f0c03c199b9c26490f8cee053d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/step-22.04.0.tar.xz">step-22.04.0</a></td>
   <td align="right">916kB</td>
   <td><tt>50848f9f808c63ebb8d0aea325ca79874b79e41c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/svgpart-22.04.0.tar.xz">svgpart-22.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>b50b16ff429cc8321f11cffb1b418a5e3b195b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/sweeper-22.04.0.tar.xz">sweeper-22.04.0</a></td>
   <td align="right">368kB</td>
   <td><tt>8c043bd47828f786981c2393df669b4f74955c19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/umbrello-22.04.0.tar.xz">umbrello-22.04.0</a></td>
   <td align="right">5543kB</td>
   <td><tt>9c86f4273bed12f49c822553edf33bef5760d7fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/yakuake-22.04.0.tar.xz">yakuake-22.04.0</a></td>
   <td align="right">394kB</td>
   <td><tt>f0eaf5cff6ca09382a3da82b632008a22770c198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/zanshin-22.04.0.tar.xz">zanshin-22.04.0</a></td>
   <td align="right">345kB</td>
   <td><tt>dd01de230a7a5b09f50dc4764a10bfa5a3a97b64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.0/src/zeroconf-ioslave-22.04.0.tar.xz">zeroconf-ioslave-22.04.0</a></td>
   <td align="right">38kB</td>
   <td><tt>6aca25e3f3b6caa1a2ca8d0f03eb4263b57bcd41</tt></td>
</tr>

</table>
