<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/bluedevil-5.19.3.tar.xz">bluedevil-5.19.3</a></td>
   <td align="right">164kB</td>
   <td><tt>e9ddb2734807ef239e562399a6d9cbebf841da3f39d930f892e79e568976ed74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/breeze-5.19.3.tar.xz">breeze-5.19.3</a></td>
   <td align="right">21MB</td>
   <td><tt>fd2f22b872af10d1c990e773e31d9db1cca92fd717336f6fc04a01b812a4e650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/breeze-grub-5.19.3.tar.xz">breeze-grub-5.19.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>dea67c081b46de7cef7ebb0af90cd73dcfe72d8431db1b6c0ed74c4ab631f6f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/breeze-gtk-5.19.3.tar.xz">breeze-gtk-5.19.3</a></td>
   <td align="right">41kB</td>
   <td><tt>1bdd68c224b01ae9d804cc4b341295f622db579c88ebaffb0c847b773893c2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/breeze-plymouth-5.19.3.tar.xz">breeze-plymouth-5.19.3</a></td>
   <td align="right">103kB</td>
   <td><tt>4158218560ce67b87573dd566c644fac53a2c7b1415bbfd7cba1c96b4752a1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/discover-5.19.3.tar.xz">discover-5.19.3</a></td>
   <td align="right">9.8MB</td>
   <td><tt>3a6a2fd5424df08020895eec19c9d6303def48c2ec0df3db2bbecfc42ec27784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/drkonqi-5.19.3.tar.xz">drkonqi-5.19.3</a></td>
   <td align="right">726kB</td>
   <td><tt>879fef551b22755aa134987dd028caaa2901468afa2d5b87e237d63575c55405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kactivitymanagerd-5.19.3.tar.xz">kactivitymanagerd-5.19.3</a></td>
   <td align="right">82kB</td>
   <td><tt>d1566fc2069eec4a4f891b86b24576c8baf61c49b17bcea740fa6760e6e1b989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kde-cli-tools-5.19.3.tar.xz">kde-cli-tools-5.19.3</a></td>
   <td align="right">586kB</td>
   <td><tt>b5e9cc334051fd8cd3c58aef15fb80b27a66c1bd7d00e3b1b741cab610f74b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kdecoration-5.19.3.tar.xz">kdecoration-5.19.3</a></td>
   <td align="right">42kB</td>
   <td><tt>b9e2f64e5ac35aa5a1552696e51cc71da84335df668456797294648d9c3f15a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kde-gtk-config-5.19.3.tar.xz">kde-gtk-config-5.19.3</a></td>
   <td align="right">25kB</td>
   <td><tt>55e6f47399ff0ce8f79591c89b25b417e943fd0b0de3f96ba6502ed52d923aeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kdeplasma-addons-5.19.3.tar.xz">kdeplasma-addons-5.19.3</a></td>
   <td align="right">613kB</td>
   <td><tt>da062805c959ea1a4ad75691936a221e5380640509d17900398cb57915f92965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kgamma5-5.19.3.tar.xz">kgamma5-5.19.3</a></td>
   <td align="right">78kB</td>
   <td><tt>918f4e0146f088d96bea87f7c8b3842633680c816b82a3070831d5b2d492bd94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/khotkeys-5.19.3.tar.xz">khotkeys-5.19.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d5664d7426facfae99b9f905c22f4ef8c7c1056f14d2a7f0d7f523585cc9c4d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kinfocenter-5.19.3.tar.xz">kinfocenter-5.19.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>88d1d496c4bdb69eb1cc093f81cce98658e863235ae668a854513b12b3d33eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kmenuedit-5.19.3.tar.xz">kmenuedit-5.19.3</a></td>
   <td align="right">875kB</td>
   <td><tt>668c2306b2020bcdb1eb8cb42d5de57e17e2c539f785fc6085dc2cdfaa98aabd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kscreen-5.19.3.tar.xz">kscreen-5.19.3</a></td>
   <td align="right">111kB</td>
   <td><tt>39bcbbaa1e0387a57adfc7b49ba807a2920a602c100b6aaefe3974883ca46b54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kscreenlocker-5.19.3.tar.xz">kscreenlocker-5.19.3</a></td>
   <td align="right">123kB</td>
   <td><tt>fe06383dd6421ed053f84f80fd7ac7ea2cc8a325427d0369ac37b76f3a5036a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/ksshaskpass-5.19.3.tar.xz">ksshaskpass-5.19.3</a></td>
   <td align="right">22kB</td>
   <td><tt>399ce76b95bc51566bf34612ca787ce0112681a6299a52c2cee388bf7749f77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/ksysguard-5.19.3.tar.xz">ksysguard-5.19.3</a></td>
   <td align="right">528kB</td>
   <td><tt>2f46c3b5aa22f2c676e6e1bf48a68326fc3febe8cdcc1a2083a7324e4ab00ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kwallet-pam-5.19.3.tar.xz">kwallet-pam-5.19.3</a></td>
   <td align="right">19kB</td>
   <td><tt>76c8c5f4de02bb33ea3c9766c0cbb04a17b85a668d21c44cebdf594ce03dcc11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kwayland-integration-5.19.3.tar.xz">kwayland-integration-5.19.3</a></td>
   <td align="right">20kB</td>
   <td><tt>661a412bc9a37018ec30843b36af25c49816449a681e707a8c3dad0cbf531679</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kwayland-server-5.19.3.tar.xz">kwayland-server-5.19.3</a></td>
   <td align="right">224kB</td>
   <td><tt>9ed98177d81170e08083149f8ddf0a84b4906a751963d142120c846d01ec52ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kwin-5.19.3.tar.xz">kwin-5.19.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>955e889f6f25a777d1063480c67782788a3665c432e338d37ea7c61cdc02a34a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/kwrited-5.19.3.tar.xz">kwrited-5.19.3</a></td>
   <td align="right">19kB</td>
   <td><tt>66fa2caacd85875a6c246a0b3bd05e596b483c867b9bb31cdebbf902d7bf0158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/libkscreen-5.19.3.tar.xz">libkscreen-5.19.3</a></td>
   <td align="right">83kB</td>
   <td><tt>67b635062bb4a056cbcd8b5075fa6b4c4b2bd6621eaeb9345228419f402b10c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/libksysguard-5.19.3.tar.xz">libksysguard-5.19.3</a></td>
   <td align="right">657kB</td>
   <td><tt>9546c4264d47c5d9ffdf12bb4075218e43995c194ec8b43bb423acd535cf1938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/milou-5.19.3.tar.xz">milou-5.19.3</a></td>
   <td align="right">62kB</td>
   <td><tt>8ec48ee51f0a1e1db8f40dc166d4c9475487f9e5a7acb9eea076169f0a3847a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/oxygen-5.19.3.tar.xz">oxygen-5.19.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>f9b69c129c07b7e08f5e830b3ac6de028251a8699b8e2172b59dd13a0115f98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-browser-integration-5.19.3.tar.xz">plasma-browser-integration-5.19.3</a></td>
   <td align="right">155kB</td>
   <td><tt>9f2989d25b3e49a2965872e46528dbbe931a7d67f6535a42256d3d5ea0b2f29e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-desktop-5.19.3.tar.xz">plasma-desktop-5.19.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>1c61bc3c971db3e0125f4f7961156121610f0602bd75e3ff16d4dee67232a8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-integration-5.19.3.tar.xz">plasma-integration-5.19.3</a></td>
   <td align="right">56kB</td>
   <td><tt>3fc268d944ad4b7bac281d471554849a4a94b3595443c2e29b58c28b05f49091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-nano-5.19.3.tar.xz">plasma-nano-5.19.3</a></td>
   <td align="right">31kB</td>
   <td><tt>3c10073a1720052c78f5c73c7f1935f9f6852fae00c5b7b962c8c134ebe9aa04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-nm-5.19.3.tar.xz">plasma-nm-5.19.3</a></td>
   <td align="right">833kB</td>
   <td><tt>cf15bfeb4e90156fe6c374caad6c4b4fd9d87c29a812d2163f715124f52e765c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-pa-5.19.3.tar.xz">plasma-pa-5.19.3</a></td>
   <td align="right">105kB</td>
   <td><tt>8cf420b64f2deb11c869367bc5362730ddc5bc3bffc52e47d511b0d86349ef2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-phone-components-5.19.3.tar.xz">plasma-phone-components-5.19.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c88d9f4d3a0e3a1ed312876a555c79ff129410a023e94af8922c95afe4c425a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-sdk-5.19.3.tar.xz">plasma-sdk-5.19.3</a></td>
   <td align="right">257kB</td>
   <td><tt>64e91c561256e4edb99ac49c980a758bcadf8a4b87f9cac1f8aa5ab3f7bc0492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-tests-5.19.3.tar.xz">plasma-tests-5.19.3</a></td>
   <td align="right">1kB</td>
   <td><tt>430770f6f7323261f7152c130cf48afb85392121f9d78cd28bf1662db4032c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-thunderbolt-5.19.3.tar.xz">plasma-thunderbolt-5.19.3</a></td>
   <td align="right">50kB</td>
   <td><tt>a06ede08535d238a353f9f75dffb73808c72342edf39466ce8ff6b53ea4f7ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-vault-5.19.3.tar.xz">plasma-vault-5.19.3</a></td>
   <td align="right">141kB</td>
   <td><tt>cce3d18d1ec7c7aea3f7b77346122aab45b18b91c21aa69f4a2d45913f80b04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-workspace-5.19.3.tar.xz">plasma-workspace-5.19.3</a></td>
   <td align="right">5.4MB</td>
   <td><tt>a967b4b3679f17b6e01b4811015ef6210f0f73bb035642867415c51c1ed20894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plasma-workspace-wallpapers-5.19.3.tar.xz">plasma-workspace-wallpapers-5.19.3</a></td>
   <td align="right">39MB</td>
   <td><tt>971f5638818e57cdf74835e5a72615b86b21069105d3dc09ff526a9a4b04f693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/plymouth-kcm-5.19.3.tar.xz">plymouth-kcm-5.19.3</a></td>
   <td align="right">40kB</td>
   <td><tt>550522b89b9dac65b110863185bfa134a43763475b4f0c35a20ea292823d8253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/polkit-kde-agent-1-5.19.3.tar.xz">polkit-kde-agent-1-5.19.3</a></td>
   <td align="right">43kB</td>
   <td><tt>fa24b804d740641fd8cd325a6184a99b1cdb2f2bdc6d2c6439d24edb60c8835f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/powerdevil-5.19.3.tar.xz">powerdevil-5.19.3</a></td>
   <td align="right">586kB</td>
   <td><tt>f70032b2e0763d7e05fdc0a83711ab5d2802f925da156568afc208c75034ac0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/sddm-kcm-5.19.3.tar.xz">sddm-kcm-5.19.3</a></td>
   <td align="right">60kB</td>
   <td><tt>36127218130b07145db2a7c8931132c6ec793bb027a849c5046e6ec670ab1485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/systemsettings-5.19.3.tar.xz">systemsettings-5.19.3</a></td>
   <td align="right">178kB</td>
   <td><tt>32d09d536f02a3e01b1250aff52612952470a051a49242a00874da0b20c0b33f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/user-manager-5.19.3.tar.xz">user-manager-5.19.3</a></td>
   <td align="right">9.4MB</td>
   <td><tt>7e0ac9b696941ce394bc88e68c1fc09ce30e044940c2ff421cc95fa2592091ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.3/xdg-desktop-portal-kde-5.19.3.tar.xz">xdg-desktop-portal-kde-5.19.3</a></td>
   <td align="right">74kB</td>
   <td><tt>da2ca69694230d560066b63fe3a4eec280fdc2981b521eb794acf4b629b3a013</tt></td>
</tr>

</table>
