<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/bluedevil-5.22.2.1.tar.xz">bluedevil-5.22.2.1</a></td>
   <td align="right">158kB</td>
   <td><tt>14a4dc72ef0c7fdecbeff5b840544017dc21ce85287e179fc14401c29c32fbc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/breeze-5.22.2.1.tar.xz">breeze-5.22.2.1</a></td>
   <td align="right">32MB</td>
   <td><tt>d4e25938cd788ebf104bf0395a2f314e67398e6a02515c195f351a33ba2c110a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/breeze-grub-5.22.2.1.tar.xz">breeze-grub-5.22.2.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>a34d9f6bfa877e5ce1b49d517faa6724d9226df79728a577d241a7db4da02a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/breeze-gtk-5.22.2.1.tar.xz">breeze-gtk-5.22.2.1</a></td>
   <td align="right">46kB</td>
   <td><tt>82366a4026681284fa758713700922da5dd2acf49693de4813a12b3557a788ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/breeze-plymouth-5.22.2.1.tar.xz">breeze-plymouth-5.22.2.1</a></td>
   <td align="right">106kB</td>
   <td><tt>64c5d151a27948ec5a8b9e476ebcd1572a4f6d3eda285a7b7f23bc77b2bc1dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/discover-5.22.2.1.tar.xz">discover-5.22.2.1</a></td>
   <td align="right">8.0MB</td>
   <td><tt>33a035fe4dcb87daefa6d7e74c397286f9441ff0dda142b784db1473c6837c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/drkonqi-5.22.2.1.tar.xz">drkonqi-5.22.2.1</a></td>
   <td align="right">762kB</td>
   <td><tt>6d3081ae97d536d014394648e97b782f57f06ecef25ef6fbeb6370504d15d30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kactivitymanagerd-5.22.2.1.tar.xz">kactivitymanagerd-5.22.2.1</a></td>
   <td align="right">100kB</td>
   <td><tt>9989958cb4974b278a655e231e75c5c45b52ffefc22638adabf9768d7c4fa0e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kde-cli-tools-5.22.2.1.tar.xz">kde-cli-tools-5.22.2.1</a></td>
   <td align="right">611kB</td>
   <td><tt>f37da67d3f46ca3bf353bbfeb36e5b7cd0ad3f0e923a530dfac9c1a280cc90c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kdecoration-5.22.2.1.tar.xz">kdecoration-5.22.2.1</a></td>
   <td align="right">45kB</td>
   <td><tt>46da609dba994e6923a3410db355f9deaefc047c750b346159cdb5bcb3f86dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kde-gtk-config-5.22.2.1.tar.xz">kde-gtk-config-5.22.2.1</a></td>
   <td align="right">69kB</td>
   <td><tt>a84319a0c9077afa305bb8f9100e26e5b75f5f3a4da35143f605843b38d47a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kdeplasma-addons-5.22.2.1.tar.xz">kdeplasma-addons-5.22.2.1</a></td>
   <td align="right">618kB</td>
   <td><tt>db876a5bcdfd57f96ba219399baa1d1eae49ed79e009010a1fdbbf256ea20023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kgamma5-5.22.2.1.tar.xz">kgamma5-5.22.2.1</a></td>
   <td align="right">80kB</td>
   <td><tt>71998d89a63074828998aee515f3cc50f1d014b220d58e0ff58ff113b6cbf5c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/khotkeys-5.22.2.1.tar.xz">khotkeys-5.22.2.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>bfb8c9f84dd9d695edf25c3bc03c2703c4e434d3191f1883215d1dee25edb0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kinfocenter-5.22.2.1.tar.xz">kinfocenter-5.22.2.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>34c630cb096700c5c77cbdf73b36de47dbaaf02719416896ac16fd2591ac1a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kmenuedit-5.22.2.1.tar.xz">kmenuedit-5.22.2.1</a></td>
   <td align="right">878kB</td>
   <td><tt>5616a5ee417e1b04af54871746d82aef01a09bb57ee4cab5a1ba29507cbdff60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kscreen-5.22.2.1.tar.xz">kscreen-5.22.2.1</a></td>
   <td align="right">113kB</td>
   <td><tt>3395e5120048f6e16727f6286166a9d095822789c6da56ee4cd3f340eb5b2adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kscreenlocker-5.22.2.1.tar.xz">kscreenlocker-5.22.2.1</a></td>
   <td align="right">113kB</td>
   <td><tt>4e3cc91631aac8a307619c82f87ed1e39c08deb826207f84df1d2133f4138346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/ksshaskpass-5.22.2.1.tar.xz">ksshaskpass-5.22.2.1</a></td>
   <td align="right">23kB</td>
   <td><tt>34d338a4f6f16a0207d21b45262fb0bb876909c5837646a53625bd4a90efd5e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/ksystemstats-5.22.2.1.tar.xz">ksystemstats-5.22.2.1</a></td>
   <td align="right">83kB</td>
   <td><tt>bcf396a23045188a0efa043d27e1d6d7a1b62a9a85624970daf7dcfe598cf297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kwallet-pam-5.22.2.1.tar.xz">kwallet-pam-5.22.2.1</a></td>
   <td align="right">19kB</td>
   <td><tt>160869c18926b59e6d8407c6c375b98b4bc51f2a0e425a6ff35b9ab65cac4f37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kwayland-integration-5.22.2.1.tar.xz">kwayland-integration-5.22.2.1</a></td>
   <td align="right">22kB</td>
   <td><tt>7346ae8a165b46b9067f838ca9d6b282f18de964a54bd7f87dbb3bdad54191e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kwayland-server-5.22.2.1.tar.xz">kwayland-server-5.22.2.1</a></td>
   <td align="right">214kB</td>
   <td><tt>8d71bf529572897f4b3d76f6735bf4799176e6ccd2f4eeb58e5c58fb117325e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kwin-5.22.2.1.tar.xz">kwin-5.22.2.1</a></td>
   <td align="right">6.1MB</td>
   <td><tt>c87470ecf314c83943ed38d733cea9994321992a9c949bef0b55495989f60166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/kwrited-5.22.2.1.tar.xz">kwrited-5.22.2.1</a></td>
   <td align="right">19kB</td>
   <td><tt>52748d812dd28ea617c8f42d2e2aa39d589e08f69406fb207e9c6ad1078a9e1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/layer-shell-qt-5.22.2.1.tar.xz">layer-shell-qt-5.22.2.1</a></td>
   <td align="right">17kB</td>
   <td><tt>9521a6e2ce02ecb836bcdcd0ba0183f3f4e1c6c193ce83604dee98abf5246e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/libkscreen-5.22.2.1.tar.xz">libkscreen-5.22.2.1</a></td>
   <td align="right">93kB</td>
   <td><tt>382bad1bfbde6df1e3ae108d847fa58cac862183424406b76f2161dba936baa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/libksysguard-5.22.2.1.tar.xz">libksysguard-5.22.2.1</a></td>
   <td align="right">719kB</td>
   <td><tt>f909cd6a94acf4f6f11deda9963744416b6803fdeaff393cd4e03599d22d4987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/milou-5.22.2.1.tar.xz">milou-5.22.2.1</a></td>
   <td align="right">51kB</td>
   <td><tt>4d582d966fd3eb338a2a57c04fe37ffcfed9d24e20c503dfe77236b031550f8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/oxygen-5.22.2.1.tar.xz">oxygen-5.22.2.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>9dab7cf2e672ee3874e9f6c369f8624982738f9925ca76bed812a2da35014c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-browser-integration-5.22.2.1.tar.xz">plasma-browser-integration-5.22.2.1</a></td>
   <td align="right">208kB</td>
   <td><tt>d28bc7358d790c2bf7b2136176c41775b610d9bdb2d8611e7cbbb0da59057c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-desktop-5.22.2.1.tar.xz">plasma-desktop-5.22.2.1</a></td>
   <td align="right">15MB</td>
   <td><tt>4b55ccd677ed690e2b679bea427bd2f4a20bdae70ec221e7f88432aa449f5248</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-disks-5.22.2.1.tar.xz">plasma-disks-5.22.2.1</a></td>
   <td align="right">82kB</td>
   <td><tt>a0b5be8bd2631e4a28091d57119d6261979e362fabdf97af5385126d6253bc44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-firewall-5.22.2.1.tar.xz">plasma-firewall-5.22.2.1</a></td>
   <td align="right">331kB</td>
   <td><tt>9e232bba794dfab23b12da4392c4f19b95caff5484401819035d326e063679eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-integration-5.22.2.1.tar.xz">plasma-integration-5.22.2.1</a></td>
   <td align="right">63kB</td>
   <td><tt>3f20019eb633d1ab569a44a654299b640a6e28a64f765501d9801b5b27061b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-nano-5.22.2.1.tar.xz">plasma-nano-5.22.2.1</a></td>
   <td align="right">63kB</td>
   <td><tt>eeae0843c5234e79b5564966f0004eb812bf31c173b324fe80237494e0fb9115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-nm-5.22.2.1.tar.xz">plasma-nm-5.22.2.1</a></td>
   <td align="right">878kB</td>
   <td><tt>af4721d98b2e8d37e503456a16921046a6312f90bbf773d038b0a8c2e57f4df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-pa-5.22.2.1.tar.xz">plasma-pa-5.22.2.1</a></td>
   <td align="right">124kB</td>
   <td><tt>1ffe082079cc71bd55839f385c30c5af54bed5e9cfd804209fd58f614622d164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-phone-components-5.22.2.1.tar.xz">plasma-phone-components-5.22.2.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b888e1aef542fd2d9040d9049eee723a9c1452263bf7c5b39bf4b85f0f80e361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-sdk-5.22.2.1.tar.xz">plasma-sdk-5.22.2.1</a></td>
   <td align="right">263kB</td>
   <td><tt>77c2ee24c11170cc4e5e97dbe5448588ccbfe9279cf450e304d4089ab45e6e57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-systemmonitor-5.22.2.1.tar.xz">plasma-systemmonitor-5.22.2.1</a></td>
   <td align="right">130kB</td>
   <td><tt>cded1169fc75ccb2f547105b1a135c7e0f63a755a714b4e27f55c8020c49b759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-tests-5.22.2.1.tar.xz">plasma-tests-5.22.2.1</a></td>
   <td align="right">1kB</td>
   <td><tt>46587aa8e53016fafd45720a11cae00cd30bd38a6edb6c5438bb4c5d83b3528f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-thunderbolt-5.22.2.1.tar.xz">plasma-thunderbolt-5.22.2.1</a></td>
   <td align="right">62kB</td>
   <td><tt>394683d96e75cda759b1d437c69e6a3cae9445033b48b8c16a5c619dabb82db2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-vault-5.22.2.1.tar.xz">plasma-vault-5.22.2.1</a></td>
   <td align="right">166kB</td>
   <td><tt>d8abbe967ad26a2357fa228ac8ab80223458a8c147d223b6e703e321271adfb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-workspace-5.22.2.1.tar.xz">plasma-workspace-5.22.2.1</a></td>
   <td align="right">7.9MB</td>
   <td><tt>3c802d06cbe33480b348b945ace5b3ee1cc3559976bb98eb2fd5d763a0ee4360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plasma-workspace-wallpapers-5.22.2.1.tar.xz">plasma-workspace-wallpapers-5.22.2.1</a></td>
   <td align="right">48MB</td>
   <td><tt>9565979e572c802f3ef78554f992c09667fd9e7dc9be270fc853e8b360070496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/plymouth-kcm-5.22.2.1.tar.xz">plymouth-kcm-5.22.2.1</a></td>
   <td align="right">37kB</td>
   <td><tt>2d4fa24cd8ed34d59a0ee19e87429004f85663d6f04c70cbd2233317ee0ac213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/polkit-kde-agent-1-5.22.2.1.tar.xz">polkit-kde-agent-1-5.22.2.1</a></td>
   <td align="right">44kB</td>
   <td><tt>cb59c21b3c56b59e3ca56f66a79260c2cea8281af9e6aec82dfb0fb86707f74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/powerdevil-5.22.2.1.tar.xz">powerdevil-5.22.2.1</a></td>
   <td align="right">603kB</td>
   <td><tt>956fb53ed6f5120a7ab2a07615acbb9144c996689ac792f457b22062f912b796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/qqc2-breeze-style-5.22.2.1.tar.xz">qqc2-breeze-style-5.22.2.1</a></td>
   <td align="right">64kB</td>
   <td><tt>01f91c444aeaccddb9cd0a92d1a1b1e0e7d7ff7704849b585184db97ea96f981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/sddm-kcm-5.22.2.1.tar.xz">sddm-kcm-5.22.2.1</a></td>
   <td align="right">62kB</td>
   <td><tt>df2d13e23554f73246ea13e419a9774cf011e5258a2bfb324bade0ff7d368981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/systemsettings-5.22.2.1.tar.xz">systemsettings-5.22.2.1</a></td>
   <td align="right">199kB</td>
   <td><tt>4476bfaa615dd5a1918c320ef488d7e7aa032e8fd54d39a4091db0ecd6cb32c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.2/xdg-desktop-portal-kde-5.22.2.1.tar.xz">xdg-desktop-portal-kde-5.22.2.1</a></td>
   <td align="right">84kB</td>
   <td><tt>8795a8aa148e45566e94445c4c83ab892097c866196ea6970048f6710179b218</tt></td>
</tr>

</table>
