<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/bluedevil-5.24.0.tar.xz">bluedevil-5.24.0</a></td>
   <td align="right">168kB</td>
   <td><tt>f7db65fc7d60f1b7257ba1d592c77cceb6e799caa10dc5b859b9f70907ca0b89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/breeze-5.24.0.tar.xz">breeze-5.24.0</a></td>
   <td align="right">41MB</td>
   <td><tt>38b9c4d0bd2f47477fc71807a45e08c5b680c959c183b57c9be7a3f461846321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/breeze-grub-5.24.0.tar.xz">breeze-grub-5.24.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>99da17607c2ae345200bec58f268f83b31776e45c5a6cabad79a69d374fd175c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/breeze-gtk-5.24.0.tar.xz">breeze-gtk-5.24.0</a></td>
   <td align="right">42kB</td>
   <td><tt>17c65af288e14eb78ee5066f262f629637775f10777cf8b86131b2c0fa670c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/breeze-plymouth-5.24.0.tar.xz">breeze-plymouth-5.24.0</a></td>
   <td align="right">108kB</td>
   <td><tt>2f41c6853a9d8d23ad5f61beb9a26ae893ce8d6ebc07f1810e77781feee317e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/discover-5.24.0.tar.xz">discover-5.24.0</a></td>
   <td align="right">7.8MB</td>
   <td><tt>18889fa78d00dec8b112e09a177aa286079e5946cb2f9d15c43c0c6515de6e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/drkonqi-5.24.0.tar.xz">drkonqi-5.24.0</a></td>
   <td align="right">774kB</td>
   <td><tt>7a306c1e710a67d6fadf6f35076cab4f70627909916962f39d327696cf7b55c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kactivitymanagerd-5.24.0.tar.xz">kactivitymanagerd-5.24.0</a></td>
   <td align="right">102kB</td>
   <td><tt>fa6af6b5bceaa310ebba43fff81d54603a2bc83b2b0181eaef147b1a477dbb89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kde-cli-tools-5.24.0.tar.xz">kde-cli-tools-5.24.0</a></td>
   <td align="right">618kB</td>
   <td><tt>b912e6bd866aa1bb7693657d8ff4dea8405e150e0503c1066c1cb3f0b5270a51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kdecoration-5.24.0.tar.xz">kdecoration-5.24.0</a></td>
   <td align="right">47kB</td>
   <td><tt>c38db5bb4ed0eed0a64032aada28473d50a2d0a507be5ed30ce127c245428876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kde-gtk-config-5.24.0.tar.xz">kde-gtk-config-5.24.0</a></td>
   <td align="right">69kB</td>
   <td><tt>3d7b8d8a7f297feb3155b39beb3d0f68a43f2f2e7d6d7b6dba6b8acf3c7d9708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kdeplasma-addons-5.24.0.tar.xz">kdeplasma-addons-5.24.0</a></td>
   <td align="right">619kB</td>
   <td><tt>b6cba584369bfb71b546f54a8811f1b709abaf43b190e2fc0c563ef21f701e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kgamma5-5.24.0.tar.xz">kgamma5-5.24.0</a></td>
   <td align="right">81kB</td>
   <td><tt>d42b2e3f4f81818e012f2d4113a95daa7a4d4bcc7fbcbe8a44295eab8ba0871f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/khotkeys-5.24.0.tar.xz">khotkeys-5.24.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>669e49fef569d9030e471de8f66bb719489c6fe65622552355cbeff27ee34d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kinfocenter-5.24.0.tar.xz">kinfocenter-5.24.0</a></td>
   <td align="right">699kB</td>
   <td><tt>ce1aeb35dff21642d622687c8dcb0d51ad1520d1e8dee443bc1780417032d825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kmenuedit-5.24.0.tar.xz">kmenuedit-5.24.0</a></td>
   <td align="right">880kB</td>
   <td><tt>32d2492b8aa9b58674f71631d5373d649a3ec49792a364e7dd25624e78c3512e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kscreen-5.24.0.tar.xz">kscreen-5.24.0</a></td>
   <td align="right">130kB</td>
   <td><tt>5d806c726a19ed6038fcceeaa77626859a41cb0cf6375a0688390121dfde78a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kscreenlocker-5.24.0.tar.xz">kscreenlocker-5.24.0</a></td>
   <td align="right">116kB</td>
   <td><tt>88a2d957c2c9253e3b9a009797c6917f5a5ec39234af22526bfa88bc0a3c0235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/ksshaskpass-5.24.0.tar.xz">ksshaskpass-5.24.0</a></td>
   <td align="right">23kB</td>
   <td><tt>cdf81aedaa0a721e5b8067c904e76db3ca36d2d0091b72ee8c6c565863113cf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/ksystemstats-5.24.0.tar.xz">ksystemstats-5.24.0</a></td>
   <td align="right">92kB</td>
   <td><tt>a17eca9454a211b9c7ea537d360da9ddf3e889a134ddf4921869abf0986b0285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kwallet-pam-5.24.0.tar.xz">kwallet-pam-5.24.0</a></td>
   <td align="right">20kB</td>
   <td><tt>188d2b32b3610f7b3e9abcdd54810aa572abbd49977b861e1d57f6ce5916f14b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kwayland-integration-5.24.0.tar.xz">kwayland-integration-5.24.0</a></td>
   <td align="right">24kB</td>
   <td><tt>865254f192198f5d1513ac34c8a0aac666f27a4715967bc8c978b38e966409fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kwayland-server-5.24.0.tar.xz">kwayland-server-5.24.0</a></td>
   <td align="right">216kB</td>
   <td><tt>62ccf3c3236ead9f6b8ee2d8dd589d76f944ceae003d8a7b9f5cee4f022371fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kwin-5.24.0.tar.xz">kwin-5.24.0</a></td>
   <td align="right">6.1MB</td>
   <td><tt>c6aec516954c1149aba394530a52c0514b60b21f4d834f58603d648be1bd05a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/kwrited-5.24.0.tar.xz">kwrited-5.24.0</a></td>
   <td align="right">20kB</td>
   <td><tt>4f67b3298487a250a4ce399d5711a6f089a3eb6802060e9af498bc8fe7dc1c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/layer-shell-qt-5.24.0.tar.xz">layer-shell-qt-5.24.0</a></td>
   <td align="right">17kB</td>
   <td><tt>1bdf9d7e54a661b522bf4cdea33e0f64a87a5550f707fd08aab6df9d72177f78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/libkscreen-5.24.0.tar.xz">libkscreen-5.24.0</a></td>
   <td align="right">97kB</td>
   <td><tt>53de36d47289c0f4fdfafc7733d4fbf79c57cf1e5d1997055f0f90b422f3da40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/libksysguard-5.24.0.tar.xz">libksysguard-5.24.0</a></td>
   <td align="right">748kB</td>
   <td><tt>0bd4d9a4123a67d8a4f3da4372bff238a4ac8b78a439a96b97f7d53fc5e410b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/milou-5.24.0.tar.xz">milou-5.24.0</a></td>
   <td align="right">46kB</td>
   <td><tt>3ac7f8bc20e93ad2950594f8ffd26af2e9829690b06b8a26efcc2af7b38eba6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/oxygen-5.24.0.tar.xz">oxygen-5.24.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>67b9d259ecea963b5d1aed3c939479ebff7385066d8eda0315c309960426a77a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-browser-integration-5.24.0.tar.xz">plasma-browser-integration-5.24.0</a></td>
   <td align="right">215kB</td>
   <td><tt>63c0b780cb9640c92e058051f5217c2bd4e6f1997b6da02b58d4759edba9e9be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-desktop-5.24.0.tar.xz">plasma-desktop-5.24.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>fff425a0ba31d6764a6143a4e8a39a3d8b4736659559847cbcc2cb1dbda936af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-disks-5.24.0.tar.xz">plasma-disks-5.24.0</a></td>
   <td align="right">85kB</td>
   <td><tt>adec5687be4c29ed2c5c1a83736167a59e410a9f04ca37667e47d606bde577b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-firewall-5.24.0.tar.xz">plasma-firewall-5.24.0</a></td>
   <td align="right">336kB</td>
   <td><tt>61ad9befa496d71b31442ccd6457a3111b1c8d31b674f1bad4131f5248205cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-integration-5.24.0.tar.xz">plasma-integration-5.24.0</a></td>
   <td align="right">81kB</td>
   <td><tt>3b9f3f3c96d83ffc378e05cf4c351279127d182fccc9333f4478a81fa471b89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-mobile-5.24.0.tar.xz">plasma-mobile-5.24.0</a></td>
   <td align="right">123kB</td>
   <td><tt>5fec1971c828dbfdb2e7a90cba070f28cfc13cb77310ac037b96e1dfd05a353d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-nano-5.24.0.tar.xz">plasma-nano-5.24.0</a></td>
   <td align="right">64kB</td>
   <td><tt>f2faccda365f99ecc691fdd38438c8d428be3857bd4ed91062238a37d0d51445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-nm-5.24.0.tar.xz">plasma-nm-5.24.0</a></td>
   <td align="right">901kB</td>
   <td><tt>de865f8dc287730a3d3d1f875d6b0f5c36076dc18962c28378d8905ce9f4f59e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-pa-5.24.0.tar.xz">plasma-pa-5.24.0</a></td>
   <td align="right">128kB</td>
   <td><tt>542bf67ddf498e026ba3745f47cc64e84c26643eeb320af0e3b8143217bdc2a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-sdk-5.24.0.tar.xz">plasma-sdk-5.24.0</a></td>
   <td align="right">254kB</td>
   <td><tt>8d3ac790a2b7e5d88a7df6a56cabcdbeafa599d1f2435ed6884c61b2334ad699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-systemmonitor-5.24.0.tar.xz">plasma-systemmonitor-5.24.0</a></td>
   <td align="right">147kB</td>
   <td><tt>ed9eab912422996e0eaff64a5963bea215e2b92f4789d3978efe6651f95b7b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-tests-5.24.0.tar.xz">plasma-tests-5.24.0</a></td>
   <td align="right">1kB</td>
   <td><tt>6ea6e80c759a2daf3265f2a0e66bd3aa79017d6213aef11a812a5db072ae25e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-thunderbolt-5.24.0.tar.xz">plasma-thunderbolt-5.24.0</a></td>
   <td align="right">65kB</td>
   <td><tt>acc9a3b60e8dfcfbc178c8a9fe3da1e9930d310a72a2c9455d6e3d2d1c1f4bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-vault-5.24.0.tar.xz">plasma-vault-5.24.0</a></td>
   <td align="right">173kB</td>
   <td><tt>ffe3832ff68482dcbaf08d58ffaaf4c8b6c1e3979e2d5873cb266b98554463ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-workspace-5.24.0.tar.xz">plasma-workspace-5.24.0</a></td>
   <td align="right">17MB</td>
   <td><tt>e337943732cafda000b972856ba0eab953f2c3190b8d8d952a3c6e1105d5d34a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plasma-workspace-wallpapers-5.24.0.tar.xz">plasma-workspace-wallpapers-5.24.0</a></td>
   <td align="right">69MB</td>
   <td><tt>f31c3be92517ac62e95d9c5e597af78f46c958afb4b5dec64ccb8a81879e490c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/plymouth-kcm-5.24.0.tar.xz">plymouth-kcm-5.24.0</a></td>
   <td align="right">38kB</td>
   <td><tt>05fe7b3dd3dda643c5f7e4a84f5ea26ac4671fda310141821e64d68d76769bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/polkit-kde-agent-1-5.24.0.tar.xz">polkit-kde-agent-1-5.24.0</a></td>
   <td align="right">47kB</td>
   <td><tt>b620706a83f7d935b331dd028718a732f4f119c0d9e9556eca1851589ceb5ee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/powerdevil-5.24.0.tar.xz">powerdevil-5.24.0</a></td>
   <td align="right">616kB</td>
   <td><tt>e3c9c1de0e06af7ff0fa12772db5c1982e69a03890fbcea07b7b459c2954b91a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/qqc2-breeze-style-5.24.0.tar.xz">qqc2-breeze-style-5.24.0</a></td>
   <td align="right">65kB</td>
   <td><tt>91f9c79c4f20da0d8d33666ddd241322fc75badab09c07f70c3ec48235ce7c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/sddm-kcm-5.24.0.tar.xz">sddm-kcm-5.24.0</a></td>
   <td align="right">78kB</td>
   <td><tt>1d0aff72a21c28089dff1af5ccaaf62be73ee82bd4d39e93acd622c536322b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/systemsettings-5.24.0.tar.xz">systemsettings-5.24.0</a></td>
   <td align="right">199kB</td>
   <td><tt>e3ce1d68e68d2b847d02617d4f9bce661c64eac920b510b00ba694e6289da1cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.0/xdg-desktop-portal-kde-5.24.0.tar.xz">xdg-desktop-portal-kde-5.24.0</a></td>
   <td align="right">86kB</td>
   <td><tt>2d99cb04dcb636c7be8c0cc7304d6820a72becc5120af78e657fab530ad9bc38</tt></td>
</tr>

</table>
