
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/attica-5.64.0.tar.xz">attica-5.64.0</a></td>
   <td align="right">62kB</td>
   <td><tt>74a0cf2e6faa05e0dd24ecc65d63640e124cc25d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/baloo-5.64.0.tar.xz">baloo-5.64.0</a></td>
   <td align="right">270kB</td>
   <td><tt>bd8eec211cefb27330e1170875e0964d920e674b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/bluez-qt-5.64.0.tar.xz">bluez-qt-5.64.0</a></td>
   <td align="right">97kB</td>
   <td><tt>1639e3860e638382918b8bd40dde52fc0781a374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/breeze-icons-5.64.0.tar.xz">breeze-icons-5.64.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1101ed94efa7d951d39ac2f76eeec99476918c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/extra-cmake-modules-5.64.0.tar.xz">extra-cmake-modules-5.64.0</a></td>
   <td align="right">331kB</td>
   <td><tt>f052be00a86f5497bf618e1272c20c577d301811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/frameworkintegration-5.64.0.tar.xz">frameworkintegration-5.64.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>acb9b4b65431c03730c92fd3cb6c9ac7399bdb62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kactivities-5.64.0.tar.xz">kactivities-5.64.0</a></td>
   <td align="right">60kB</td>
   <td><tt>75e0ed8ae76f69d115a772d7af633f67b8e6494d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kactivities-stats-5.64.0.tar.xz">kactivities-stats-5.64.0</a></td>
   <td align="right">61kB</td>
   <td><tt>4e2cb18041a45ca229baca9cfddf240060d96907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kapidox-5.64.0.tar.xz">kapidox-5.64.0</a></td>
   <td align="right">387kB</td>
   <td><tt>6eabff151985570e4f17cd57060f3f87b93ae212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/karchive-5.64.0.tar.xz">karchive-5.64.0</a></td>
   <td align="right">447kB</td>
   <td><tt>a4fa9263939561f6de8dd6e04381761fe29fa03b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kauth-5.64.0.tar.xz">kauth-5.64.0</a></td>
   <td align="right">84kB</td>
   <td><tt>295f2586e7aeb227b15300339870c21677cb2b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kbookmarks-5.64.0.tar.xz">kbookmarks-5.64.0</a></td>
   <td align="right">117kB</td>
   <td><tt>1296ab6e6938c5be9c2898afc578d619f1c49923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kcalendarcore-5.64.0.tar.xz">kcalendarcore-5.64.0</a></td>
   <td align="right">244kB</td>
   <td><tt>a72606d0d90460fb2d00d7bb17082dcefad0d5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kcmutils-5.64.0.tar.xz">kcmutils-5.64.0</a></td>
   <td align="right">234kB</td>
   <td><tt>c7915b228f4364df9fb35c34f2acd3ef4b5195bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kcodecs-5.64.0.tar.xz">kcodecs-5.64.0</a></td>
   <td align="right">215kB</td>
   <td><tt>1cd6b87491ee2479607a00bb5e6dd2055a9fcc1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kcompletion-5.64.0.tar.xz">kcompletion-5.64.0</a></td>
   <td align="right">117kB</td>
   <td><tt>4f16c43bc6950b9378077a44fd5b214a3b9bafc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kconfig-5.64.0.tar.xz">kconfig-5.64.0</a></td>
   <td align="right">236kB</td>
   <td><tt>23efe3a7531483557ec09820f05b4f969d664a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kconfigwidgets-5.64.0.tar.xz">kconfigwidgets-5.64.0</a></td>
   <td align="right">369kB</td>
   <td><tt>a8f7c0a9454cfe3e81e1b56c59492284b97568f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kcontacts-5.64.0.tar.xz">kcontacts-5.64.0</a></td>
   <td align="right">529kB</td>
   <td><tt>2e3b54246f159530f5086f1e83829ed6738a4693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kcoreaddons-5.64.0.tar.xz">kcoreaddons-5.64.0</a></td>
   <td align="right">366kB</td>
   <td><tt>1008a735f1de2ce7513b334a112c049417933805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kcrash-5.64.0.tar.xz">kcrash-5.64.0</a></td>
   <td align="right">22kB</td>
   <td><tt>943f5a32067cadf56db4d290a814669012e391c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kdbusaddons-5.64.0.tar.xz">kdbusaddons-5.64.0</a></td>
   <td align="right">39kB</td>
   <td><tt>8307745a011ff551ff848c5c1222c0d55f825842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kdeclarative-5.64.0.tar.xz">kdeclarative-5.64.0</a></td>
   <td align="right">170kB</td>
   <td><tt>1ea8c71dab7f7c749ea864a7a16253994e8b4ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kded-5.64.0.tar.xz">kded-5.64.0</a></td>
   <td align="right">37kB</td>
   <td><tt>42659ca4864f0b09182f039e55f346f682cf178b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kdesu-5.64.0.tar.xz">kdesu-5.64.0</a></td>
   <td align="right">46kB</td>
   <td><tt>79a308ed2e79a7e121b73a35845258ef0d6ad8e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kdnssd-5.64.0.tar.xz">kdnssd-5.64.0</a></td>
   <td align="right">57kB</td>
   <td><tt>62e9d1eb20af831b0e6b652e282ddeb2415cfc48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kdoctools-5.64.0.tar.xz">kdoctools-5.64.0</a></td>
   <td align="right">419kB</td>
   <td><tt>4242a3f730d927c9baff88ab196cea86951b3c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kemoticons-5.64.0.tar.xz">kemoticons-5.64.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>dfcc864a63a558f2913f447984b3a0ba421f5dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kfilemetadata-5.64.0.tar.xz">kfilemetadata-5.64.0</a></td>
   <td align="right">410kB</td>
   <td><tt>f60ad410414929efd08f388c4ed98d79e0fc20de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kglobalaccel-5.64.0.tar.xz">kglobalaccel-5.64.0</a></td>
   <td align="right">82kB</td>
   <td><tt>39f727b3e25f90a4e675ac183bd332679c01ca02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kguiaddons-5.64.0.tar.xz">kguiaddons-5.64.0</a></td>
   <td align="right">39kB</td>
   <td><tt>21d9762605c5c24e2846b18d1f2fa213174d35ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kholidays-5.64.0.tar.xz">kholidays-5.64.0</a></td>
   <td align="right">201kB</td>
   <td><tt>dad24d96cf1b6989f7b80ceaf2b0a08921606dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/ki18n-5.64.0.tar.xz">ki18n-5.64.0</a></td>
   <td align="right">573kB</td>
   <td><tt>f901f4ea9d15803efae05fc24cad1328fd89e892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kiconthemes-5.64.0.tar.xz">kiconthemes-5.64.0</a></td>
   <td align="right">204kB</td>
   <td><tt>850866c50e68f0fe6411426e35a59205a3b7f17c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kidletime-5.64.0.tar.xz">kidletime-5.64.0</a></td>
   <td align="right">26kB</td>
   <td><tt>8c362047f9f294393372842c52fb98cb59a40be2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kimageformats-5.64.0.tar.xz">kimageformats-5.64.0</a></td>
   <td align="right">238kB</td>
   <td><tt>1abe4f665749943f263c026d3423d313c216cf04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kinit-5.64.0.tar.xz">kinit-5.64.0</a></td>
   <td align="right">117kB</td>
   <td><tt>10c0286fd7fe01b5d31a0d4e3f1f6efc79be3213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kio-5.64.0.tar.xz">kio-5.64.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>54a34066ae66b74bb5ea627d58e8c61ca26d93cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kirigami2-5.64.0.tar.xz">kirigami2-5.64.0</a></td>
   <td align="right">151kB</td>
   <td><tt>d45c862451cae50f5405cb93013b96a30e6705c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kitemmodels-5.64.0.tar.xz">kitemmodels-5.64.0</a></td>
   <td align="right">381kB</td>
   <td><tt>13474bf21e1e5e9003350ba2959b2f9c89346461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kitemviews-5.64.0.tar.xz">kitemviews-5.64.0</a></td>
   <td align="right">74kB</td>
   <td><tt>b5bac23b84e5c4d7a124740e05bf6ac8e666ef8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kjobwidgets-5.64.0.tar.xz">kjobwidgets-5.64.0</a></td>
   <td align="right">86kB</td>
   <td><tt>c49c6ee64c1251ca76a02b7d6e682f32ac498dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/knewstuff-5.64.0.tar.xz">knewstuff-5.64.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3786eae53b69d87d6458d618d9de6544df0de0d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/knotifications-5.64.0.tar.xz">knotifications-5.64.0</a></td>
   <td align="right">114kB</td>
   <td><tt>4e8adbb1847d4e34e3b1f8eee11524c9f359ade1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/knotifyconfig-5.64.0.tar.xz">knotifyconfig-5.64.0</a></td>
   <td align="right">82kB</td>
   <td><tt>c2a7434751e983956f0958680f045dda18aaffa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kpackage-5.64.0.tar.xz">kpackage-5.64.0</a></td>
   <td align="right">134kB</td>
   <td><tt>bd479735c7bc2aa575c03e268c448965c567faa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kparts-5.64.0.tar.xz">kparts-5.64.0</a></td>
   <td align="right">172kB</td>
   <td><tt>e74320cae9e4d8c413f9f667eae85782079c9f78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kpeople-5.64.0.tar.xz">kpeople-5.64.0</a></td>
   <td align="right">60kB</td>
   <td><tt>7fdb952519afaa604cff1cb585ed05dbeeb7e6d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kplotting-5.64.0.tar.xz">kplotting-5.64.0</a></td>
   <td align="right">29kB</td>
   <td><tt>60e62e7996761faae6a621473cf30e496c58a8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kpty-5.64.0.tar.xz">kpty-5.64.0</a></td>
   <td align="right">56kB</td>
   <td><tt>ab8b850775dbf854d92100afca52d3732cfa4aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/krunner-5.64.0.tar.xz">krunner-5.64.0</a></td>
   <td align="right">60kB</td>
   <td><tt>3c4d78a5a1ca73d3ff4922178acbbf9f69393211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kservice-5.64.0.tar.xz">kservice-5.64.0</a></td>
   <td align="right">245kB</td>
   <td><tt>5c8c595ba7a3204e5f0b28be9fa781ce2d59b8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/ktexteditor-5.64.0.tar.xz">ktexteditor-5.64.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>807acd3d8386ddf4e05f42a15c6d3d3a2a404751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/ktextwidgets-5.64.0.tar.xz">ktextwidgets-5.64.0</a></td>
   <td align="right">304kB</td>
   <td><tt>382f8356d33ed0bf361df0bcf07348f3e9990447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kunitconversion-5.64.0.tar.xz">kunitconversion-5.64.0</a></td>
   <td align="right">816kB</td>
   <td><tt>bdf835b5ef22e0043aa6295e2ad047293d55cacb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kwallet-5.64.0.tar.xz">kwallet-5.64.0</a></td>
   <td align="right">286kB</td>
   <td><tt>81dc1d778917265668e5e4a69e08a6ede6e301d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kwayland-5.64.0.tar.xz">kwayland-5.64.0</a></td>
   <td align="right">331kB</td>
   <td><tt>3d283b46b440f4fb5e974919e87ee46d99274486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kwidgetsaddons-5.64.0.tar.xz">kwidgetsaddons-5.64.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>97337bce5054cf1fe8270dc46b612f497f1d9e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kwindowsystem-5.64.0.tar.xz">kwindowsystem-5.64.0</a></td>
   <td align="right">167kB</td>
   <td><tt>c30e9cecde8c88b518063bf051b4e272d0bbbb3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kxmlgui-5.64.0.tar.xz">kxmlgui-5.64.0</a></td>
   <td align="right">854kB</td>
   <td><tt>2429e775c7d4a23a9734e7f35e822d8d604faf58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kxmlrpcclient-5.64.0.tar.xz">kxmlrpcclient-5.64.0</a></td>
   <td align="right">29kB</td>
   <td><tt>b68b6e65e050435e8b19c0487adadb4e8e292cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/modemmanager-qt-5.64.0.tar.xz">modemmanager-qt-5.64.0</a></td>
   <td align="right">99kB</td>
   <td><tt>b255611b4349bfef288be6ab2b0aa82fef9ace2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/networkmanager-qt-5.64.0.tar.xz">networkmanager-qt-5.64.0</a></td>
   <td align="right">181kB</td>
   <td><tt>3c885e29ade94e53ae097aee95a76e9535695fc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/oxygen-icons5-5.64.0.tar.xz">oxygen-icons5-5.64.0</a></td>
   <td align="right">222MB</td>
   <td><tt>2a303f764bd9d4eaf0dbb9161823f072545b38cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/plasma-framework-5.64.0.tar.xz">plasma-framework-5.64.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>bdf4532af78377bf75cdc2e2281f062175cd2847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/prison-5.64.0.tar.xz">prison-5.64.0</a></td>
   <td align="right">41kB</td>
   <td><tt>ef3898183d004cc944ad03c5fe67b02e43356f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/purpose-5.64.0.tar.xz">purpose-5.64.0</a></td>
   <td align="right">150kB</td>
   <td><tt>c5a19297ee848c3e7285eb926a0984239186499a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/qqc2-desktop-style-5.64.0.tar.xz">qqc2-desktop-style-5.64.0</a></td>
   <td align="right">44kB</td>
   <td><tt>8f3c20dc77685378479fbe562a1dcdba74c172c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/solid-5.64.0.tar.xz">solid-5.64.0</a></td>
   <td align="right">258kB</td>
   <td><tt>fa9a50983e33f227d658a135e8e10e0d3253ef6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/sonnet-5.64.0.tar.xz">sonnet-5.64.0</a></td>
   <td align="right">280kB</td>
   <td><tt>bc6cccfa78c2a0ee709bf2ff5e2e758f4c7a6f53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/syndication-5.64.0.tar.xz">syndication-5.64.0</a></td>
   <td align="right">468kB</td>
   <td><tt>51d2ecf01117b7a94141be73823f6cfa2c3b5e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/syntax-highlighting-5.64.0.tar.xz">syntax-highlighting-5.64.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b26829d21fe841013dc815b4b72babde04d2658f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/threadweaver-5.64.0.tar.xz">threadweaver-5.64.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>255f504c8ba677d91da3d7c5ba4f082bed703d19</tt></td>
</tr>

</table>
