<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/amor-15.04.1.tar.xz">amor-15.04.1</a></td>
   <td align="right">170kB</td>
   <td><tt>352b20de818cd6f8a45461938af427d518ab67e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/analitza-15.04.1.tar.xz">analitza-15.04.1</a></td>
   <td align="right">222kB</td>
   <td><tt>3e792e9e6802adb51d2dcb113b9c9604a30cf785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ark-15.04.1.tar.xz">ark-15.04.1</a></td>
   <td align="right">232kB</td>
   <td><tt>dcfe0c465c9c51b402d2192058126caee206ad8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/artikulate-15.04.1.tar.xz">artikulate-15.04.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>e580e5d0ee64864629f9536b492f740c5cd1ffd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/audiocd-kio-15.04.1.tar.xz">audiocd-kio-15.04.1</a></td>
   <td align="right">50kB</td>
   <td><tt>9e0fb9065250af17f83b01027a602a9960b819fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/blinken-15.04.1.tar.xz">blinken-15.04.1</a></td>
   <td align="right">553kB</td>
   <td><tt>0fb7f7d6b4d1ced58a169c506a44c83dc58a8e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/bomber-15.04.1.tar.xz">bomber-15.04.1</a></td>
   <td align="right">383kB</td>
   <td><tt>847665ca995b662bcb4124200aae05a0c1b0d7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/bovo-15.04.1.tar.xz">bovo-15.04.1</a></td>
   <td align="right">103kB</td>
   <td><tt>d884e26dce30c2f22c589795af3ff1f4eaf368d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/cantor-15.04.1.tar.xz">cantor-15.04.1</a></td>
   <td align="right">347kB</td>
   <td><tt>cb3c98aa4dbdf1c6721a566f562c140408a40411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/cervisia-15.04.1.tar.xz">cervisia-15.04.1</a></td>
   <td align="right">364kB</td>
   <td><tt>b25d3eeb268c3bf49e7a789aee5fd2244f230ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/dolphin-plugins-15.04.1.tar.xz">dolphin-plugins-15.04.1</a></td>
   <td align="right">56kB</td>
   <td><tt>64afcb6af1ef2c6e4349ea27df68d34010e1df90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/dragon-15.04.1.tar.xz">dragon-15.04.1</a></td>
   <td align="right">391kB</td>
   <td><tt>130b24478fc0ade5482bbe7d154cf398ac4c7f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ffmpegthumbs-15.04.1.tar.xz">ffmpegthumbs-15.04.1</a></td>
   <td align="right">19kB</td>
   <td><tt>2a239d557fc9a498eb08ee5f0d8f46e6436492c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/filelight-15.04.1.tar.xz">filelight-15.04.1</a></td>
   <td align="right">281kB</td>
   <td><tt>85ad67ecc25cb052ba1e49b9993ca662e27c5e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/granatier-15.04.1.tar.xz">granatier-15.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3b1e5f859d3410cf26c1e6354bcfb547df3730af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/gwenview-15.04.1.tar.xz">gwenview-15.04.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>3ea4d9405d1da397ef70708f5daca61bfa55fc3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/jovie-15.04.1.tar.xz">jovie-15.04.1</a></td>
   <td align="right">382kB</td>
   <td><tt>2d4bf6ddd91fd55926a65fba99ac249de4cf9f5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/juk-15.04.1.tar.xz">juk-15.04.1</a></td>
   <td align="right">432kB</td>
   <td><tt>871321084fbf1f0399650692039b237577539599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kaccessible-15.04.1.tar.xz">kaccessible-15.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>da57c7283d924fde818287f0a66e5a404cb0dc2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kaccounts-integration-15.04.1.tar.xz">kaccounts-integration-15.04.1</a></td>
   <td align="right">52kB</td>
   <td><tt>8c59e3cc5842fdbe3c6cb9406fc15ce075b8fc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kaccounts-providers-15.04.1.tar.xz">kaccounts-providers-15.04.1</a></td>
   <td align="right">11kB</td>
   <td><tt>edce5ff6a670f84bc45ed9751f29113d38e95049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kajongg-15.04.1.tar.xz">kajongg-15.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>af9a099dc173207a8011718af7cc1d34daef3aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kalgebra-15.04.1.tar.xz">kalgebra-15.04.1</a></td>
   <td align="right">263kB</td>
   <td><tt>5d7de0c69230333cd61f02cde11e04b286bd4cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kalzium-15.04.1.tar.xz">kalzium-15.04.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9b37fe299b01eb3a45b1a368bd86c1d4d04c8725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kamera-15.04.1.tar.xz">kamera-15.04.1</a></td>
   <td align="right">34kB</td>
   <td><tt>e086e25ae577767c5a3eeba76cbc991d639f3282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kanagram-15.04.1.tar.xz">kanagram-15.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d0dc48fef9dcf854fa6888f00cea4bbab33113a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kapman-15.04.1.tar.xz">kapman-15.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9532d06ecdde88bcd8ccfda1cf8ce7d1df505ffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kapptemplate-15.04.1.tar.xz">kapptemplate-15.04.1</a></td>
   <td align="right">688kB</td>
   <td><tt>7815ffc16d48b7db6043f3e9df7ae82d1997a6d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kate-15.04.1.tar.xz">kate-15.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bb0a352c739d660df1d781c74b5a05edd31bbead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/katomic-15.04.1.tar.xz">katomic-15.04.1</a></td>
   <td align="right">645kB</td>
   <td><tt>e1a8087767fc467c3bb0ad41a56dcc0e82a46446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kblackbox-15.04.1.tar.xz">kblackbox-15.04.1</a></td>
   <td align="right">253kB</td>
   <td><tt>3ea226370131487386ad4db993147529da25adf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kblocks-15.04.1.tar.xz">kblocks-15.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>86d2537f073d04e3ae9967632e79034336e0f772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kbounce-15.04.1.tar.xz">kbounce-15.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2a603179c0b72f0866255171c72cde5a60be453e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kbreakout-15.04.1.tar.xz">kbreakout-15.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ac47ca85a7fec42dff3f5ec8b97e017625a7789c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kbruch-15.04.1.tar.xz">kbruch-15.04.1</a></td>
   <td align="right">884kB</td>
   <td><tt>6b004d0203e90043b5298c771d7730192885ad05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kcachegrind-15.04.1.tar.xz">kcachegrind-15.04.1</a></td>
   <td align="right">230kB</td>
   <td><tt>ccdddb113bbddd1d360f259e2f2c7a3c5eae7b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kcalc-15.04.1.tar.xz">kcalc-15.04.1</a></td>
   <td align="right">81kB</td>
   <td><tt>7c4fd090c0763518b190d8bb3885c61f0e1415df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kcharselect-15.04.1.tar.xz">kcharselect-15.04.1</a></td>
   <td align="right">82kB</td>
   <td><tt>a9705d136d1d415810a4d92dc6587478a25831fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kcolorchooser-15.04.1.tar.xz">kcolorchooser-15.04.1</a></td>
   <td align="right">4kB</td>
   <td><tt>c9567bbb5a2f2a19272d9c1b13692b7e76bf7b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kcron-15.04.1.tar.xz">kcron-15.04.1</a></td>
   <td align="right">170kB</td>
   <td><tt>6346da62aa036ba4eb11a1c5b73f30a0d62b4297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdeartwork-15.04.1.tar.xz">kdeartwork-15.04.1</a></td>
   <td align="right">134MB</td>
   <td><tt>6678b14d95f5cb1d2e000917fbe6d3cc5acf4090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-baseapps-15.04.1.tar.xz">kde-baseapps-15.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>099c2d63bd3482936966445950fa290a6dc43550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-base-artwork-15.04.1.tar.xz">kde-base-artwork-15.04.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>2434c74ae76977abca5cebe827020f9393e3e5fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-dev-scripts-15.04.1.tar.xz">kde-dev-scripts-15.04.1</a></td>
   <td align="right">299kB</td>
   <td><tt>eaa106c5b73429d07afd16c03c567ff248547bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-dev-utils-15.04.1.tar.xz">kde-dev-utils-15.04.1</a></td>
   <td align="right">50kB</td>
   <td><tt>c8cd9910374e13a157c6f33b6d1e014864b7237f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdeedu-data-15.04.1.tar.xz">kdeedu-data-15.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>f5d726c84d2c2f043825b110c119d977f721748d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdegraphics-mobipocket-15.04.1.tar.xz">kdegraphics-mobipocket-15.04.1</a></td>
   <td align="right">14kB</td>
   <td><tt>03ecb5381380b93b0cd8857af9b37ef6e60ccb40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdegraphics-strigi-analyzer-15.04.1.tar.xz">kdegraphics-strigi-analyzer-15.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>af0a64480163f7476698559125d3fdeaaa0bbb27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdegraphics-thumbnailers-15.04.1.tar.xz">kdegraphics-thumbnailers-15.04.1</a></td>
   <td align="right">40kB</td>
   <td><tt>ab80dc613863e3bcdb726924a1ea7bc8cd8d3e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdelibs-4.14.8.tar.xz">kdelibs-4.14.8</a></td>
   <td align="right">11MB</td>
   <td><tt>98b174dbbbef340bcfc11b819405d8e838cac34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdenetwork-filesharing-15.04.1.tar.xz">kdenetwork-filesharing-15.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>c575efed516dbda7dbc3e8d30c84b34d6d6e9174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdenetwork-strigi-analyzers-15.04.1.tar.xz">kdenetwork-strigi-analyzers-15.04.1</a></td>
   <td align="right">14kB</td>
   <td><tt>90b7b32771206ab81ac0c7664899dfdd4fcedbf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdenlive-15.04.1.tar.xz">kdenlive-15.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3c52fa6095daf60a98b29d3838ed9f8898d908ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdepim-4.14.8.tar.xz">kdepim-4.14.8</a></td>
   <td align="right">13MB</td>
   <td><tt>93fd0155927737ea2944dced22f34d338d29ee02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdepimlibs-4.14.8.tar.xz">kdepimlibs-4.14.8</a></td>
   <td align="right">2.7MB</td>
   <td><tt>da44d4b563bbfa887793c7af269ca9a8f93e652a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdepim-runtime-4.14.8.tar.xz">kdepim-runtime-4.14.8</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ba7cd8ca941e199497c817b70ba72522bd0a7d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-runtime-15.04.1.tar.xz">kde-runtime-15.04.1</a></td>
   <td align="right">7.5MB</td>
   <td><tt>73ac23a97bc81b3e988a214ee1342743e516c74c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdesdk-kioslaves-15.04.1.tar.xz">kdesdk-kioslaves-15.04.1</a></td>
   <td align="right">353kB</td>
   <td><tt>9e8e6e854acc0d99645f2014b0947db5bee278dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdesdk-strigi-analyzers-15.04.1.tar.xz">kdesdk-strigi-analyzers-15.04.1</a></td>
   <td align="right">17kB</td>
   <td><tt>93a08d83f3f124613c15227382ac983873a4bd01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdesdk-thumbnailers-15.04.1.tar.xz">kdesdk-thumbnailers-15.04.1</a></td>
   <td align="right">11kB</td>
   <td><tt>4f0802a06cb393063d911834ba71bfb9c6e1959a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-wallpapers-15.04.1.tar.xz">kde-wallpapers-15.04.1</a></td>
   <td align="right">86MB</td>
   <td><tt>009152d4e1249dd00af16f5c793e20601494fad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdewebdev-15.04.1.tar.xz">kdewebdev-15.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>171c6b61e2b0db81d8f9be31e49759b642e561a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-workspace-4.11.19.tar.xz">kde-workspace-4.11.19</a></td>
   <td align="right">12MB</td>
   <td><tt>2ab5b46aa7189efd6371461dd3f0bc2513fa560c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdf-15.04.1.tar.xz">kdf-15.04.1</a></td>
   <td align="right">145kB</td>
   <td><tt>0e96cbccc8adc419b2a2671a6411089c7d3a572e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kdiamond-15.04.1.tar.xz">kdiamond-15.04.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>be74cbc5aa23c1180a6374bea90a61ed854931e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kfloppy-15.04.1.tar.xz">kfloppy-15.04.1</a></td>
   <td align="right">51kB</td>
   <td><tt>c71e6db72a741c9a48950eb135edc29505ec5279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kfourinline-15.04.1.tar.xz">kfourinline-15.04.1</a></td>
   <td align="right">274kB</td>
   <td><tt>a74d3d6b11e67b8e4eb82db5c4c264cb61c16b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kgamma-15.04.1.tar.xz">kgamma-15.04.1</a></td>
   <td align="right">22kB</td>
   <td><tt>accf02e42967e9f627337ff4e7d9f7c6762e3a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kgeography-15.04.1.tar.xz">kgeography-15.04.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>97c26e1405894887f3c5bb4da8c95436c338ee07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kget-15.04.1.tar.xz">kget-15.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>138bbf03492066f0859f99bd2a485e38f298762d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kgoldrunner-15.04.1.tar.xz">kgoldrunner-15.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b7edf5e5c811c3778993e8fcb45c6c3e8c7c57ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kgpg-15.04.1.tar.xz">kgpg-15.04.1</a></td>
   <td align="right">790kB</td>
   <td><tt>91421bb92a5a85225f246b949c8f6be117de82e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/khangman-15.04.1.tar.xz">khangman-15.04.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>72a3406d7d574da11f53c5ae7a70369ff9059927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kig-15.04.1.tar.xz">kig-15.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3412ccc516e2f78ce0abd228f5f72b8e62fe587d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kigo-15.04.1.tar.xz">kigo-15.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>689276c42fc3d40e9a34b4bae5dde612d38dce23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/killbots-15.04.1.tar.xz">killbots-15.04.1</a></td>
   <td align="right">940kB</td>
   <td><tt>f46a7bde440ac321cf16aeeaf5dcf65a2e36b194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kiriki-15.04.1.tar.xz">kiriki-15.04.1</a></td>
   <td align="right">115kB</td>
   <td><tt>044894c619258309a93be96f7a4ff45d0a298f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kiten-15.04.1.tar.xz">kiten-15.04.1</a></td>
   <td align="right">11MB</td>
   <td><tt>5b62fc3970b3ff2a6802b8a55417359d88aee7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kjumpingcube-15.04.1.tar.xz">kjumpingcube-15.04.1</a></td>
   <td align="right">161kB</td>
   <td><tt>8aad4403566cacb7d183af0b3ee361631b309021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/klettres-15.04.1.tar.xz">klettres-15.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ddde84ae1f08428b7512c1dcb2d08daa7230e589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/klickety-15.04.1.tar.xz">klickety-15.04.1</a></td>
   <td align="right">766kB</td>
   <td><tt>10c8b3035e368eb6f656344121f56d18abedf9c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/klines-15.04.1.tar.xz">klines-15.04.1</a></td>
   <td align="right">927kB</td>
   <td><tt>2bc2c64dc72e997b3b2102dfed088af54b982bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kmag-15.04.1.tar.xz">kmag-15.04.1</a></td>
   <td align="right">84kB</td>
   <td><tt>ad498bca0d5c8be78b19f8569fb0bf4a9624ba16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kmahjongg-15.04.1.tar.xz">kmahjongg-15.04.1</a></td>
   <td align="right">986kB</td>
   <td><tt>850c5a7252fad74d7769f74606f210b022d4767a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kmines-15.04.1.tar.xz">kmines-15.04.1</a></td>
   <td align="right">610kB</td>
   <td><tt>e44b3d9cacf97aef8330f3e84871b070f632dca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kmix-15.04.1.tar.xz">kmix-15.04.1</a></td>
   <td align="right">379kB</td>
   <td><tt>41d31bb659f7bdbf366426d10d39256688f6e145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kmousetool-15.04.1.tar.xz">kmousetool-15.04.1</a></td>
   <td align="right">35kB</td>
   <td><tt>e2e5982b09613928f45c66730d6896b0be7930f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kmouth-15.04.1.tar.xz">kmouth-15.04.1</a></td>
   <td align="right">301kB</td>
   <td><tt>7ec1f5818d86fdef3d662b097d9a6f484d6aceeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kmplot-15.04.1.tar.xz">kmplot-15.04.1</a></td>
   <td align="right">646kB</td>
   <td><tt>ec16d50c5aad05522601c06deee55db7f899e67a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/knavalbattle-15.04.1.tar.xz">knavalbattle-15.04.1</a></td>
   <td align="right">833kB</td>
   <td><tt>3a30ad10bbf82b1485fbff8b753740bf7d2e4d3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/knetwalk-15.04.1.tar.xz">knetwalk-15.04.1</a></td>
   <td align="right">763kB</td>
   <td><tt>6659a27239313ab6008d3696c6e71323a536b377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kolf-15.04.1.tar.xz">kolf-15.04.1</a></td>
   <td align="right">753kB</td>
   <td><tt>7fd1e7db4457942ee55152499087c9ed3c8150db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kollision-15.04.1.tar.xz">kollision-15.04.1</a></td>
   <td align="right">202kB</td>
   <td><tt>d58fa66f6ae5c00b81219cab44c9b81f0c7da08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kolourpaint-15.04.1.tar.xz">kolourpaint-15.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8babeea0bf15ef9f862053709debd4a3d2849cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kompare-15.04.1.tar.xz">kompare-15.04.1</a></td>
   <td align="right">336kB</td>
   <td><tt>f366444ec81c82c68869e828e66d4660aeb70ffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/konquest-15.04.1.tar.xz">konquest-15.04.1</a></td>
   <td align="right">395kB</td>
   <td><tt>a9afc7b7a431d64ff40df05b8ad085ad325f64f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/konsole-15.04.1.tar.xz">konsole-15.04.1</a></td>
   <td align="right">450kB</td>
   <td><tt>680079ce40e41fcc8b29fa1c05cb94385840927e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kopete-15.04.1.tar.xz">kopete-15.04.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>18d3061ecfc7e287408d3842ed690e128520fd40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kpat-15.04.1.tar.xz">kpat-15.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>489686d6fa21d23f3592606c28eb5b0d95aa2e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kppp-15.04.1.tar.xz">kppp-15.04.1</a></td>
   <td align="right">684kB</td>
   <td><tt>358bf10f8ac14ae5c1fe91a80e9e3171faa1f2c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kqtquickcharts-15.04.1.tar.xz">kqtquickcharts-15.04.1</a></td>
   <td align="right">19kB</td>
   <td><tt>62ad7537678ce0fb5f0eb111f21902b393881a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/krdc-15.04.1.tar.xz">krdc-15.04.1</a></td>
   <td align="right">390kB</td>
   <td><tt>5ce228309d4902425811c2e260a8d338e4a00a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kremotecontrol-15.04.1.tar.xz">kremotecontrol-15.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bc85665b327e6ccd99bf18d754060ff43731dd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kreversi-15.04.1.tar.xz">kreversi-15.04.1</a></td>
   <td align="right">463kB</td>
   <td><tt>c6e1ed8c718b8f4801df94fc13e915ad7ef9ac17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/krfb-15.04.1.tar.xz">krfb-15.04.1</a></td>
   <td align="right">319kB</td>
   <td><tt>fafcef1104ad7291af951a79e47a82aebbff8540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kruler-15.04.1.tar.xz">kruler-15.04.1</a></td>
   <td align="right">126kB</td>
   <td><tt>71a916d074c8ca6dd90c507c57e78a1292a9d07e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ksaneplugin-15.04.1.tar.xz">ksaneplugin-15.04.1</a></td>
   <td align="right">12kB</td>
   <td><tt>a1c307c2dbbb74cf40d826f6f9d2a5252f0033ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kscd-15.04.1.tar.xz">kscd-15.04.1</a></td>
   <td align="right">90kB</td>
   <td><tt>8550d24b57218c5069caaa0137de1db095b93652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kshisen-15.04.1.tar.xz">kshisen-15.04.1</a></td>
   <td align="right">133kB</td>
   <td><tt>acec9f6865031ca09fbbdc69e4dbd8493f444831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ksirk-15.04.1.tar.xz">ksirk-15.04.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>b286c89b1d43bb28e8196159bd0b55241bcfe188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ksnakeduel-15.04.1.tar.xz">ksnakeduel-15.04.1</a></td>
   <td align="right">290kB</td>
   <td><tt>7b4819a7008726ebd5e540a33f566eb2f8b65aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ksnapshot-15.04.1.tar.xz">ksnapshot-15.04.1</a></td>
   <td align="right">252kB</td>
   <td><tt>d4a405d034f6e1f18465072d43c78e900258ca99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kspaceduel-15.04.1.tar.xz">kspaceduel-15.04.1</a></td>
   <td align="right">247kB</td>
   <td><tt>95601d9230ec3781140822b817147e9a110fca77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ksquares-15.04.1.tar.xz">ksquares-15.04.1</a></td>
   <td align="right">78kB</td>
   <td><tt>de9428d9144c9ab9d90b7f3351f1b77ce0697601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kstars-15.04.1.tar.xz">kstars-15.04.1</a></td>
   <td align="right">12MB</td>
   <td><tt>0bb3c04a1bf56df07538933af0c5159aa941861c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ksudoku-15.04.1.tar.xz">ksudoku-15.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>773cdd1180881a96f46ef0e73ac05cb1c85aad34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ksystemlog-15.04.1.tar.xz">ksystemlog-15.04.1</a></td>
   <td align="right">373kB</td>
   <td><tt>6e0b4251e59f31f5b3b3466803a3b701383abca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kteatime-15.04.1.tar.xz">kteatime-15.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>5e9f22a983aeee231280e05e704cb28a7733bda9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktimer-15.04.1.tar.xz">ktimer-15.04.1</a></td>
   <td align="right">143kB</td>
   <td><tt>d0e52261745841b8edcfe48aa130f8072f3d84b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktouch-15.04.1.tar.xz">ktouch-15.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6f69d9693a63bbbba7c1f9d8337f2f99038fd372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-accounts-kcm-15.04.1.tar.xz">ktp-accounts-kcm-15.04.1</a></td>
   <td align="right">86kB</td>
   <td><tt>687e69d40994c2291d07719eb1adca3a6c37c83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-approver-15.04.1.tar.xz">ktp-approver-15.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>271bb2fb780fff13076a5febeddc8a39841ffb13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-auth-handler-15.04.1.tar.xz">ktp-auth-handler-15.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>9184ff042ff865cd43705c44db1ce22a0e21830c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-common-internals-15.04.1.tar.xz">ktp-common-internals-15.04.1</a></td>
   <td align="right">305kB</td>
   <td><tt>0a2ca2be3eeaeeba12668c50d6083d84b980d2c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-contact-list-15.04.1.tar.xz">ktp-contact-list-15.04.1</a></td>
   <td align="right">47kB</td>
   <td><tt>f21daef9c1301c6955c29f9de19484bcddf3fa73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-contact-runner-15.04.1.tar.xz">ktp-contact-runner-15.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>5c45b902ba35f1b565af377c11846b83a403719a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-desktop-applets-15.04.1.tar.xz">ktp-desktop-applets-15.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>8c1c656d11926d56bea063feaa4ba83a5e1aa442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-filetransfer-handler-15.04.1.tar.xz">ktp-filetransfer-handler-15.04.1</a></td>
   <td align="right">22kB</td>
   <td><tt>ab2b264f8ce8300a9af35614096da767dbb90b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-kded-module-15.04.1.tar.xz">ktp-kded-module-15.04.1</a></td>
   <td align="right">37kB</td>
   <td><tt>d25eb148a8e4ecf7f9cfc6f511b01ea8ef97c37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-send-file-15.04.1.tar.xz">ktp-send-file-15.04.1</a></td>
   <td align="right">14kB</td>
   <td><tt>291b674725788b9544370e44da441d8ef0f85f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktp-text-ui-15.04.1.tar.xz">ktp-text-ui-15.04.1</a></td>
   <td align="right">283kB</td>
   <td><tt>b12cada14964eefb1800b21f98a83d363fc081c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktuberling-15.04.1.tar.xz">ktuberling-15.04.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b7c458fe31b958f0bd0037c8339e0ddaaa16b07e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kturtle-15.04.1.tar.xz">kturtle-15.04.1</a></td>
   <td align="right">189kB</td>
   <td><tt>67a04ac40e23dcf940291649318d865b88de005d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/ktux-15.04.1.tar.xz">ktux-15.04.1</a></td>
   <td align="right">105kB</td>
   <td><tt>51fc8dbda80a8053c19a77793ef00d8aa9338d20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kubrick-15.04.1.tar.xz">kubrick-15.04.1</a></td>
   <td align="right">104kB</td>
   <td><tt>021ededf1c720fecafd8b0ea78c38259ad5bf1ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kuser-15.04.1.tar.xz">kuser-15.04.1</a></td>
   <td align="right">132kB</td>
   <td><tt>9cb343705e9b30e799947dadd0b135e069457620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kwalletmanager-15.04.1.tar.xz">kwalletmanager-15.04.1</a></td>
   <td align="right">446kB</td>
   <td><tt>c20c03784f31e3ea182e9a679de57422abfe8a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kwordquiz-15.04.1.tar.xz">kwordquiz-15.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>47259252d7111cbf5180bbeaf6e46fb55830f267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkcddb-15.04.1.tar.xz">libkcddb-15.04.1</a></td>
   <td align="right">154kB</td>
   <td><tt>a552cade3c2444ee40729dfd50495e8f93abeb01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkcompactdisc-15.04.1.tar.xz">libkcompactdisc-15.04.1</a></td>
   <td align="right">74kB</td>
   <td><tt>e96fce24693046abb9b923ab1cf9b84c61fd29d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkdcraw-15.04.1.tar.xz">libkdcraw-15.04.1</a></td>
   <td align="right">99kB</td>
   <td><tt>c93001089787ba918ce1930ca1c196101866fbe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkdeedu-15.04.1.tar.xz">libkdeedu-15.04.1</a></td>
   <td align="right">127kB</td>
   <td><tt>506e45f42fe6ee5fec23470e8ca30304b976d4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkdegames-15.04.1.tar.xz">libkdegames-15.04.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>86b0fd0833ea6740f3a736825006ddeff5b12656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkeduvocdocument-15.04.1.tar.xz">libkeduvocdocument-15.04.1</a></td>
   <td align="right">96kB</td>
   <td><tt>341620e6c2321e19175f79e99d7f5a473c1b8350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkexiv2-15.04.1.tar.xz">libkexiv2-15.04.1</a></td>
   <td align="right">133kB</td>
   <td><tt>d2271be0afb86095560444bf32e7ec8f8744136e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkface-15.04.1.tar.xz">libkface-15.04.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>d55f0a7ff28c46b636274181d2034e4fa4885870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkgeomap-15.04.1.tar.xz">libkgeomap-15.04.1</a></td>
   <td align="right">121kB</td>
   <td><tt>1a1ae8c95867593446f5ba4f6e70addc9d6fa8ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkipi-15.04.1.tar.xz">libkipi-15.04.1</a></td>
   <td align="right">92kB</td>
   <td><tt>83e83a902612e17d271c7490ad9f41102c355242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkmahjongg-15.04.1.tar.xz">libkmahjongg-15.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>22f534867f4bc1df1a144508026536a6c16b521e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libkomparediff2-15.04.1.tar.xz">libkomparediff2-15.04.1</a></td>
   <td align="right">55kB</td>
   <td><tt>08647a8403ba37b70d88a9a4c84cca66a2e14101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/libksane-15.04.1.tar.xz">libksane-15.04.1</a></td>
   <td align="right">79kB</td>
   <td><tt>a532a7aaca3f1db53d97de5c40382aaf83f7fc93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/lokalize-15.04.1.tar.xz">lokalize-15.04.1</a></td>
   <td align="right">930kB</td>
   <td><tt>403e95965f203586d0fbaab91f67e343ea34b2b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/lskat-15.04.1.tar.xz">lskat-15.04.1</a></td>
   <td align="right">907kB</td>
   <td><tt>fd37d6826095a25d6a955dd3d1323da3f87dc314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/marble-15.04.1.tar.xz">marble-15.04.1</a></td>
   <td align="right">21MB</td>
   <td><tt>0da84b2bb6847297b09962619eb4cf5f41ef482d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/mplayerthumbs-15.04.1.tar.xz">mplayerthumbs-15.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>bd4de9cfa5c4ddc7d7c40acd81597ba6ed37125e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/okteta-15.04.1.tar.xz">okteta-15.04.1</a></td>
   <td align="right">490kB</td>
   <td><tt>17b23207e6344b50ddd960428c6fb55c482ab528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/okular-15.04.1.tar.xz">okular-15.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>600147862ad9c1915df9f63581c2f3d4801b01db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/oxygen-icons-15.04.1.tar.xz">oxygen-icons-15.04.1</a></td>
   <td align="right">219MB</td>
   <td><tt>2cbb3e35ff55878a20566198fffb1830697e0329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/pairs-15.04.1.tar.xz">pairs-15.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a196ebc5d4a0996538da04755355bdf86998b51d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/palapeli-15.04.1.tar.xz">palapeli-15.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4a84b31498e81c1b7d15d714d525d23d970cdc02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/parley-15.04.1.tar.xz">parley-15.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>2dd9d5b025ab9e864faf5161dbd837c54279855c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/picmi-15.04.1.tar.xz">picmi-15.04.1</a></td>
   <td align="right">715kB</td>
   <td><tt>864036a835171c1bab53cf9866ab3734832d1f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/poxml-15.04.1.tar.xz">poxml-15.04.1</a></td>
   <td align="right">30kB</td>
   <td><tt>89baa2dfc076385a279c42da646c5c6c15068942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/print-manager-15.04.1.tar.xz">print-manager-15.04.1</a></td>
   <td align="right">91kB</td>
   <td><tt>d159c183f5980c80b69574058b7f0c388921f085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/rocs-15.04.1.tar.xz">rocs-15.04.1</a></td>
   <td align="right">521kB</td>
   <td><tt>05b5f5f2c372674ba5636414071055e0c6e1e4dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/signon-kwallet-extension-15.04.1.tar.xz">signon-kwallet-extension-15.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>b39358a51038bc3296b9d59a283bd92cc780c6b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/step-15.04.1.tar.xz">step-15.04.1</a></td>
   <td align="right">377kB</td>
   <td><tt>89e86a2bcddaa4e925c83413901f2abb488c44a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/superkaramba-15.04.1.tar.xz">superkaramba-15.04.1</a></td>
   <td align="right">372kB</td>
   <td><tt>6e950591662ff09c7f715f84f91fd5de07529036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/svgpart-15.04.1.tar.xz">svgpart-15.04.1</a></td>
   <td align="right">8kB</td>
   <td><tt>4b2679b9104ef16a510056ddfc9698df8d18e312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/sweeper-15.04.1.tar.xz">sweeper-15.04.1</a></td>
   <td align="right">80kB</td>
   <td><tt>f35c3faba050a9697a20158750465ebcc92ed8e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/umbrello-15.04.1.tar.xz">umbrello-15.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>93c007b788a59b705700abca28a4393cac012b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/zeroconf-ioslave-15.04.1.tar.xz">zeroconf-ioslave-15.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>a30bfe36fc2bf8c505d1c4e40e2e76f58a06e8ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ar-15.04.1.tar.xz">kde-l10n-ar-15.04.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>958ac733f5dae7ad927a74472c8331779acbb4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-bg-15.04.1.tar.xz">kde-l10n-bg-15.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3fd39f4fe5c8086b207d455c4523c1770299cd32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-bs-15.04.1.tar.xz">kde-l10n-bs-15.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>7240f4a59d0b74392412b235b18e1cf89632ae99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ca-15.04.1.tar.xz">kde-l10n-ca-15.04.1</a></td>
   <td align="right">11MB</td>
   <td><tt>198eb1811ea02f291678c9d0d65c7a4f07a925fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ca@valencia-15.04.1.tar.xz">kde-l10n-ca@valencia-15.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3c55d45c4a663ca65f6e46f7acfa3e5c17268281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-cs-15.04.1.tar.xz">kde-l10n-cs-15.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ef0f3fd18686625a50306aec5d34f764af22cc04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-da-15.04.1.tar.xz">kde-l10n-da-15.04.1</a></td>
   <td align="right">12MB</td>
   <td><tt>cd50c6380b8ebd9ca634bc8cdada7632383083fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-de-15.04.1.tar.xz">kde-l10n-de-15.04.1</a></td>
   <td align="right">35MB</td>
   <td><tt>8591d086a7ac16254d21562acfcc4adbdbc1fc7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-el-15.04.1.tar.xz">kde-l10n-el-15.04.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>6c72dfeb3596983296edc8185b6b317cbf34c52b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-en_GB-15.04.1.tar.xz">kde-l10n-en_GB-15.04.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>635094972c1754c9183010e5c78ed8460dbbf06f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-eo-15.04.1.tar.xz">kde-l10n-eo-15.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c75f89707fb394aaf6ea8495625abc32dfd64cdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-es-15.04.1.tar.xz">kde-l10n-es-15.04.1</a></td>
   <td align="right">20MB</td>
   <td><tt>e65025d177239863b0c78147f6c9ce023e513efc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-et-15.04.1.tar.xz">kde-l10n-et-15.04.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>f444e66cc2eb3eb7c31a97510c0f3040a98fd5aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-eu-15.04.1.tar.xz">kde-l10n-eu-15.04.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a8615964d624a603d8dc38b0486e7bd11ef8739f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-fa-15.04.1.tar.xz">kde-l10n-fa-15.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0c43b02f98fce399d06733932d9d95f7abed3fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-fi-15.04.1.tar.xz">kde-l10n-fi-15.04.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>08074b0873d08184bd0d17011cc9b8388b5295db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-fr-15.04.1.tar.xz">kde-l10n-fr-15.04.1</a></td>
   <td align="right">45MB</td>
   <td><tt>faf5fcf7792fd6353eb964e2cebb7bb791561ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ga-15.04.1.tar.xz">kde-l10n-ga-15.04.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>d629b52eb32e7e088cf57a68dfc30d1388d0a065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-gl-15.04.1.tar.xz">kde-l10n-gl-15.04.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>1af6fef33b1c2d8292c62c89b4c20716c1ad938e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-he-15.04.1.tar.xz">kde-l10n-he-15.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2486173037692543a7dfabf230d698d881241f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-hi-15.04.1.tar.xz">kde-l10n-hi-15.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ac725e5c76c5b006b929581c0e36af8cf129f17e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-hr-15.04.1.tar.xz">kde-l10n-hr-15.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>25cfe7ebc2b320bab1e79ffdb566efbb0c1b7ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-hu-15.04.1.tar.xz">kde-l10n-hu-15.04.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a3c8d1433809f9060c75fd5ff7457c6600b537c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ia-15.04.1.tar.xz">kde-l10n-ia-15.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>354ccd5bc9d800ff36161b247d5aded39dea6641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-id-15.04.1.tar.xz">kde-l10n-id-15.04.1</a></td>
   <td align="right">551kB</td>
   <td><tt>778f76991dd0d8511c844a2f2a43d7b994b474a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-is-15.04.1.tar.xz">kde-l10n-is-15.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9d3ae64e4e68e66b414bd433d81c9b489e29aaa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-it-15.04.1.tar.xz">kde-l10n-it-15.04.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>8adbc852f58c38d1da7a76ea6c3ed2660f9d1b40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ja-15.04.1.tar.xz">kde-l10n-ja-15.04.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7d2d1516c46a3033deb2adf5749c9b15c7aa8507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-kk-15.04.1.tar.xz">kde-l10n-kk-15.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e92501316830d3ce4f8c5948a8d8e7bc36b34b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-km-15.04.1.tar.xz">kde-l10n-km-15.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>03470fa4b234e04b70361f01d6b50e6e65b77579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ko-15.04.1.tar.xz">kde-l10n-ko-15.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9d3ca73afe832afbdd40bd0f239f40c060487f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-lt-15.04.1.tar.xz">kde-l10n-lt-15.04.1</a></td>
   <td align="right">12MB</td>
   <td><tt>343183d29d52e81188c04026df81ff2df2bbda0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-lv-15.04.1.tar.xz">kde-l10n-lv-15.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ad3748133b97f85e19e13b63c66be8d758212a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-mr-15.04.1.tar.xz">kde-l10n-mr-15.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a2007368b2bf42c4e03d71ab82f5415aa074d461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-nb-15.04.1.tar.xz">kde-l10n-nb-15.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e2c1d76a60d87684c79d83da1e4945f3f7cec1dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-nds-15.04.1.tar.xz">kde-l10n-nds-15.04.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>2302717c02fbed324f6d68452434d0076be2b21c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-nl-15.04.1.tar.xz">kde-l10n-nl-15.04.1</a></td>
   <td align="right">13MB</td>
   <td><tt>9b1fb9b1b7e90e9585cbab9b05e920314edf2e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-nn-15.04.1.tar.xz">kde-l10n-nn-15.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>02928707baa801688cdd0c6c9330b46fc6c99445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-pa-15.04.1.tar.xz">kde-l10n-pa-15.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>92be35c4cf370d8c0149aca15c75a6c15bc061da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-pl-15.04.1.tar.xz">kde-l10n-pl-15.04.1</a></td>
   <td align="right">18MB</td>
   <td><tt>6dd336fdd632238530aaf0c1d6d68b49ebc14ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-pt-15.04.1.tar.xz">kde-l10n-pt-15.04.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>10d20dbcebf3cff8b2c67a9128fb9ad996735a59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-pt_BR-15.04.1.tar.xz">kde-l10n-pt_BR-15.04.1</a></td>
   <td align="right">24MB</td>
   <td><tt>6bc7dfdf2ebde9631f5f771909358e8ec42b8c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ro-15.04.1.tar.xz">kde-l10n-ro-15.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7ea56097a7cf6613dcd132b1280ccfd074b6b8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ru-15.04.1.tar.xz">kde-l10n-ru-15.04.1</a></td>
   <td align="right">22MB</td>
   <td><tt>79f5f50ab4b90ece47117b329468a73c551b0a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-sk-15.04.1.tar.xz">kde-l10n-sk-15.04.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>97e96b9894d5f8fe3f889e272dd37784bc64b482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-sl-15.04.1.tar.xz">kde-l10n-sl-15.04.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>2b38ae18cbabd9a0100b7778b33c1cef7c604d47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-sr-15.04.1.tar.xz">kde-l10n-sr-15.04.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>eee7dcb07b0e682b1f0049eb963d5726b53ae283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-sv-15.04.1.tar.xz">kde-l10n-sv-15.04.1</a></td>
   <td align="right">14MB</td>
   <td><tt>0aae820a796769ff1396e4e3b9784920ef5f84c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-tr-15.04.1.tar.xz">kde-l10n-tr-15.04.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>b8f285e55ac0bc35fd21ec237a62e7bdaa8a858f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-ug-15.04.1.tar.xz">kde-l10n-ug-15.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ebb5a139b611bab59b97029ae959b7f8b237cf36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-uk-15.04.1.tar.xz">kde-l10n-uk-15.04.1</a></td>
   <td align="right">26MB</td>
   <td><tt>2b9b29420672e7216bf2521f6b5b739778c348cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-wa-15.04.1.tar.xz">kde-l10n-wa-15.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b169cc7f27dbd7150d55aa0bd2f9c77d63dd38ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-zh_CN-15.04.1.tar.xz">kde-l10n-zh_CN-15.04.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>522014deffdc8bc155f07813cbc4c28ae714468e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.1/src/kde-l10n/kde-l10n-zh_TW-15.04.1.tar.xz">kde-l10n-zh_TW-15.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>83e0d337866c2b0ee46b9470eaa2d49404240766</tt></td>
</tr>

</table>
