<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadi-18.11.90.tar.xz">akonadi-18.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ca3a8afdfaff1056ac9242a6c9e3208bd9a79fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadi-calendar-18.11.90.tar.xz">akonadi-calendar-18.11.90</a></td>
   <td align="right">325kB</td>
   <td><tt>9787054af1882396303a20a54e2d53e660ebb6ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadi-calendar-tools-18.11.90.tar.xz">akonadi-calendar-tools-18.11.90</a></td>
   <td align="right">219kB</td>
   <td><tt>afad5f6269c38fc859409604ef5e409389222f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadiconsole-18.11.90.tar.xz">akonadiconsole-18.11.90</a></td>
   <td align="right">189kB</td>
   <td><tt>36e6ffdf68777cd0df33535bb98ea0285130a844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadi-contacts-18.11.90.tar.xz">akonadi-contacts-18.11.90</a></td>
   <td align="right">381kB</td>
   <td><tt>95f38997201da153f84eefad1cd8cb3d7aaa79e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadi-import-wizard-18.11.90.tar.xz">akonadi-import-wizard-18.11.90</a></td>
   <td align="right">428kB</td>
   <td><tt>3dd976b8b57d85056bb0c734c0a28d6ba402aafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadi-mime-18.11.90.tar.xz">akonadi-mime-18.11.90</a></td>
   <td align="right">133kB</td>
   <td><tt>f626a7a90e8e0c26daac3fd0d693d732bcdcfd32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadi-notes-18.11.90.tar.xz">akonadi-notes-18.11.90</a></td>
   <td align="right">23kB</td>
   <td><tt>77748299c77f1ea32586fc0c457fc7f31ac81099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akonadi-search-18.11.90.tar.xz">akonadi-search-18.11.90</a></td>
   <td align="right">80kB</td>
   <td><tt>117810c86d15109754f0a6ac6fa87efa5cbf264d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/akregator-18.11.90.tar.xz">akregator-18.11.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>bd0e83645b7b479abaf01eeaaeba4c376f71a61e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/analitza-18.11.90.tar.xz">analitza-18.11.90</a></td>
   <td align="right">324kB</td>
   <td><tt>055b5c951172ef999d92ed64796958f360584a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ark-18.11.90.tar.xz">ark-18.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c40430c3f668f984901703686c29cdf1b3e54a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/artikulate-18.11.90.tar.xz">artikulate-18.11.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>8008bc69d43de048f533bafc0b91443c7ec3d2d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/audiocd-kio-18.11.90.tar.xz">audiocd-kio-18.11.90</a></td>
   <td align="right">243kB</td>
   <td><tt>e85cb70742775503a209264e23b9dfbfcd6b92d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/baloo-widgets-18.11.90.tar.xz">baloo-widgets-18.11.90</a></td>
   <td align="right">239kB</td>
   <td><tt>e6cc9eb51a8fcf5ba19d92ce14250b5600813daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/blinken-18.11.90.tar.xz">blinken-18.11.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a02d3fe8f4820c3378fcddfe5465bbee7589adcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/bomber-18.11.90.tar.xz">bomber-18.11.90</a></td>
   <td align="right">800kB</td>
   <td><tt>173d042c18ef16717539619219b7ce929804b846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/bovo-18.11.90.tar.xz">bovo-18.11.90</a></td>
   <td align="right">194kB</td>
   <td><tt>5c6ce405ad4073f200eb4731edf94decfb0db3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/calendarsupport-18.11.90.tar.xz">calendarsupport-18.11.90</a></td>
   <td align="right">631kB</td>
   <td><tt>21f0aa45a7e3c10f41b6b7798f2f278e920d78cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/cantor-18.11.90.tar.xz">cantor-18.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b0ef1dc156f61fe4d4e94256f1506be0dd14791e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/cervisia-18.11.90.tar.xz">cervisia-18.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ef4d50513d6cd4ddfc0209b98c5c36378c620804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/dolphin-18.11.90.tar.xz">dolphin-18.11.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>407881fa0b71c9bc7bdd295ffb93857226f66b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/dolphin-plugins-18.11.90.tar.xz">dolphin-plugins-18.11.90</a></td>
   <td align="right">187kB</td>
   <td><tt>54b3c1006ac869bd3d24fc5a3944dacbf4b30e82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/dragon-18.11.90.tar.xz">dragon-18.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c36d30d6eda34c4ccb33cd95f9b10172d72fdc11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/eventviews-18.11.90.tar.xz">eventviews-18.11.90</a></td>
   <td align="right">432kB</td>
   <td><tt>00aa4f7c521e5e4636001a4991700cbb9580c042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ffmpegthumbs-18.11.90.tar.xz">ffmpegthumbs-18.11.90</a></td>
   <td align="right">21kB</td>
   <td><tt>f59df6c7bdbfb4872ce9c7e8a485ea758a783b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/filelight-18.11.90.tar.xz">filelight-18.11.90</a></td>
   <td align="right">644kB</td>
   <td><tt>90b6b0579c015baa2956777f7d4a28d1b61fb22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/granatier-18.11.90.tar.xz">granatier-18.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>98d400aa13eb2ac87ddc05939beb6507cc1a8e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/grantlee-editor-18.11.90.tar.xz">grantlee-editor-18.11.90</a></td>
   <td align="right">108kB</td>
   <td><tt>7359c81f05b4c5141fb3c82f26d27759d2bd1951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/grantleetheme-18.11.90.tar.xz">grantleetheme-18.11.90</a></td>
   <td align="right">50kB</td>
   <td><tt>ce27697434880a84c237910f5d469023fcd7cd76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/gwenview-18.11.90.tar.xz">gwenview-18.11.90</a></td>
   <td align="right">5.8MB</td>
   <td><tt>92ae1f69f8b365bb98d0ce63b9e2c561e0889849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/incidenceeditor-18.11.90.tar.xz">incidenceeditor-18.11.90</a></td>
   <td align="right">529kB</td>
   <td><tt>fb3ac1bacc72f7799873634592f98686f959b12e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/juk-18.11.90.tar.xz">juk-18.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f31e10aac413efec15a555a7e748f6bd4f3dfbd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/k3b-18.11.90.tar.xz">k3b-18.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>ef8c654ec0b39de60e53668778da9d9f67c8ed94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kaccounts-integration-18.11.90.tar.xz">kaccounts-integration-18.11.90</a></td>
   <td align="right">69kB</td>
   <td><tt>cf100563025d109b6b9b593ee8e5e1e9548e16e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kaccounts-providers-18.11.90.tar.xz">kaccounts-providers-18.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>294c49f680906bcc680f970cb1bd2a9915f10cfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kaddressbook-18.11.90.tar.xz">kaddressbook-18.11.90</a></td>
   <td align="right">460kB</td>
   <td><tt>f6253c052179e26560f9958385f1784f25bf7990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kajongg-18.11.90.tar.xz">kajongg-18.11.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8b971021144e6333d1234b534d91f8374a5bf8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kalarm-18.11.90.tar.xz">kalarm-18.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6be9e16514f0b105f8b413744cc5af345c0131ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kalarmcal-18.11.90.tar.xz">kalarmcal-18.11.90</a></td>
   <td align="right">559kB</td>
   <td><tt>b4cc7f6891d1acaef85d8ccc55db341917fe8074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kalgebra-18.11.90.tar.xz">kalgebra-18.11.90</a></td>
   <td align="right">699kB</td>
   <td><tt>eac5e587d8cddbf5548544cacd12d94fb2258610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kalzium-18.11.90.tar.xz">kalzium-18.11.90</a></td>
   <td align="right">23MB</td>
   <td><tt>36d7206c7e862ce5ba8ae9895dbeb6180e3e2339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kamera-18.11.90.tar.xz">kamera-18.11.90</a></td>
   <td align="right">96kB</td>
   <td><tt>176dd6da06bbc4ac5fe9026b99b073de22c71911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kamoso-18.11.90.tar.xz">kamoso-18.11.90</a></td>
   <td align="right">162kB</td>
   <td><tt>293c25d4d4c76b260bed854bce8b46421cef8117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kanagram-18.11.90.tar.xz">kanagram-18.11.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>3e4509174888288a8f47078650a743dcf0b2f9b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kapman-18.11.90.tar.xz">kapman-18.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>23a810a32d7e75e166089d136e721d6cd7f432f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kapptemplate-18.11.90.tar.xz">kapptemplate-18.11.90</a></td>
   <td align="right">309kB</td>
   <td><tt>d8b6601862cf59f517cd2b374a481dcced4d5638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kate-18.11.90.tar.xz">kate-18.11.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>f4fd05b8998064e6a83abdeed6fd779f124a830c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/katomic-18.11.90.tar.xz">katomic-18.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>32c2bbadf54123b133fcf60fd3fb1b1a38ef2406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kbackup-18.11.90.tar.xz">kbackup-18.11.90</a></td>
   <td align="right">342kB</td>
   <td><tt>92457c42e52901cca0f15b4242b93d3c8056b517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kblackbox-18.11.90.tar.xz">kblackbox-18.11.90</a></td>
   <td align="right">433kB</td>
   <td><tt>9d32d9eea2fb4651c023be89e47cc1a3bb2e1dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kblocks-18.11.90.tar.xz">kblocks-18.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c97376b365d5f5bab1bfce5c6d12b885b1b8bd34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kblog-18.11.90.tar.xz">kblog-18.11.90</a></td>
   <td align="right">71kB</td>
   <td><tt>66eddbb0a9523d0e03a0a6500b9a5b006affa6e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kbounce-18.11.90.tar.xz">kbounce-18.11.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>97c9f78bcc44789f09c6a3bcafea36080357d823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kbreakout-18.11.90.tar.xz">kbreakout-18.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3968f68a7a8b31b84ad499a3196219b68b239ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kbruch-18.11.90.tar.xz">kbruch-18.11.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>d93aa8a9a6061917774cd79703c966fbb86b6baf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kcachegrind-18.11.90.tar.xz">kcachegrind-18.11.90</a></td>
   <td align="right">788kB</td>
   <td><tt>c28ced4c49f7659fb790015b25d82f06486707f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kcalc-18.11.90.tar.xz">kcalc-18.11.90</a></td>
   <td align="right">354kB</td>
   <td><tt>513e882d35b8f64d1d4d1fb32cd672e05a4ee4e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kcalcore-18.11.90.tar.xz">kcalcore-18.11.90</a></td>
   <td align="right">245kB</td>
   <td><tt>454c852a792272e738ef55042cbcb1dc72cf7ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kcalutils-18.11.90.tar.xz">kcalutils-18.11.90</a></td>
   <td align="right">321kB</td>
   <td><tt>890456ae3398d7e61dcfb63571d86e3e21e1c0ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kcharselect-18.11.90.tar.xz">kcharselect-18.11.90</a></td>
   <td align="right">347kB</td>
   <td><tt>dcca85c9fc5fbe96713997efd1c693a96f3f07df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kcolorchooser-18.11.90.tar.xz">kcolorchooser-18.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>dd959a5c82e1ffac0105a6f6af51a3726af07a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kcontacts-18.11.90.tar.xz">kcontacts-18.11.90</a></td>
   <td align="right">589kB</td>
   <td><tt>517426ebf884bd076e1506189b1f0f92ca3895b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kcron-18.11.90.tar.xz">kcron-18.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8959a01fee3d8bc6dd7e8dfc689630664356b5ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdav-18.11.90.tar.xz">kdav-18.11.90</a></td>
   <td align="right">48kB</td>
   <td><tt>b977f5e11a384298c83e651646d8c9e49dccb098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdebugsettings-18.11.90.tar.xz">kdebugsettings-18.11.90</a></td>
   <td align="right">53kB</td>
   <td><tt>a631bd5db4314819ed7fc03525e98dc001d26687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kde-dev-scripts-18.11.90.tar.xz">kde-dev-scripts-18.11.90</a></td>
   <td align="right">369kB</td>
   <td><tt>5e3179720ca7e5887916b782d6723e947f9c589e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kde-dev-utils-18.11.90.tar.xz">kde-dev-utils-18.11.90</a></td>
   <td align="right">59kB</td>
   <td><tt>b39155c535660c1cd87ab98eb680aed346189b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdeedu-data-18.11.90.tar.xz">kdeedu-data-18.11.90</a></td>
   <td align="right">320kB</td>
   <td><tt>54f43a798ec1d3ffb64720939b54ead439b0a906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdegraphics-mobipocket-18.11.90.tar.xz">kdegraphics-mobipocket-18.11.90</a></td>
   <td align="right">13kB</td>
   <td><tt>1cc0867ec291df4344535fe4b239e821c85349e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdegraphics-thumbnailers-18.11.90.tar.xz">kdegraphics-thumbnailers-18.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>28d6c72b8eb692925948efe055acf83fefaa6c20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdenetwork-filesharing-18.11.90.tar.xz">kdenetwork-filesharing-18.11.90</a></td>
   <td align="right">305kB</td>
   <td><tt>54d6ddb1aaff56aa862ebe820df04a0de8038f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdenlive-18.11.90.tar.xz">kdenlive-18.11.90</a></td>
   <td align="right">9.7MB</td>
   <td><tt>b21ce6a55c45dbff26b8d03b0adcacd6492c424a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdepim-addons-18.11.90.tar.xz">kdepim-addons-18.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5487da2238b82aedfc66dd5395190900f30795e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdepim-apps-libs-18.11.90.tar.xz">kdepim-apps-libs-18.11.90</a></td>
   <td align="right">82kB</td>
   <td><tt>c18e33f894bc46c5511ea3f504bb37ec9a0cbd59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdepim-runtime-18.11.90.tar.xz">kdepim-runtime-18.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1e2c68ac3958bb6c5ade7757080cf980069077be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdesdk-kioslaves-18.11.90.tar.xz">kdesdk-kioslaves-18.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>a52ebd232a0f9913f0453361a482ef01d4b1a6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdesdk-thumbnailers-18.11.90.tar.xz">kdesdk-thumbnailers-18.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>4d9c271711e8396fa8e96807bc55da13f7bf5c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdf-18.11.90.tar.xz">kdf-18.11.90</a></td>
   <td align="right">543kB</td>
   <td><tt>4f35bdaffbc4fe40b566077c165733c36c585471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdialog-18.11.90.tar.xz">kdialog-18.11.90</a></td>
   <td align="right">95kB</td>
   <td><tt>e6817cce851a6415424eb7ee6f81acc0088f5f24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kdiamond-18.11.90.tar.xz">kdiamond-18.11.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>c36739d89daf60bcda74c0a975771d718db2d384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/keditbookmarks-18.11.90.tar.xz">keditbookmarks-18.11.90</a></td>
   <td align="right">180kB</td>
   <td><tt>d8cd87a1a1bc5804abd12dab0baf0f7c0fc2c5f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kfind-18.11.90.tar.xz">kfind-18.11.90</a></td>
   <td align="right">261kB</td>
   <td><tt>71a05a7aabcdbc51e244044256e6a2f882325c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kfloppy-18.11.90.tar.xz">kfloppy-18.11.90</a></td>
   <td align="right">194kB</td>
   <td><tt>2770914818566c859ab6823de2097d1a737249d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kfourinline-18.11.90.tar.xz">kfourinline-18.11.90</a></td>
   <td align="right">621kB</td>
   <td><tt>24056ba62e903596cab1c309b3fc468141e46826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kgeography-18.11.90.tar.xz">kgeography-18.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>bac991a4afa363c318be6bbdbc8a705513acfd24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kget-18.11.90.tar.xz">kget-18.11.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>b45f606004336d216ebc9deddb27c826075d10d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kgoldrunner-18.11.90.tar.xz">kgoldrunner-18.11.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>d8b479fb589e6e96b1b0278177cab87ed4e3a4f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kgpg-18.11.90.tar.xz">kgpg-18.11.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>de438a233f111a7045991ee5ddf52e00369c1b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/khangman-18.11.90.tar.xz">khangman-18.11.90</a></td>
   <td align="right">6.9MB</td>
   <td><tt>30c79b6fa40ff2170aa62b0999454efb133758f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/khelpcenter-18.11.90.tar.xz">khelpcenter-18.11.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>74e7b59862c608bc505fcd87aca4f9d17de3fe52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kidentitymanagement-18.11.90.tar.xz">kidentitymanagement-18.11.90</a></td>
   <td align="right">145kB</td>
   <td><tt>037c2629d8a2cfa74a9fcc220fd335c5cd019abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kig-18.11.90.tar.xz">kig-18.11.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>708932df2804e520be28e413f414b2366d923572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kigo-18.11.90.tar.xz">kigo-18.11.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>489ffa8eac1aacf110dbff2397866e2d9df5d99c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/killbots-18.11.90.tar.xz">killbots-18.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fc9c49124741ede6e251eb8a178c8b6d5aa7cbea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kimagemapeditor-18.11.90.tar.xz">kimagemapeditor-18.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>acf1d5f604115f8b25d01fab1f6c39faa2edbbe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kimap-18.11.90.tar.xz">kimap-18.11.90</a></td>
   <td align="right">116kB</td>
   <td><tt>88d499368cac5b2dc205ee7e99b7e0fb1eb53434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kio-extras-18.11.90.tar.xz">kio-extras-18.11.90</a></td>
   <td align="right">548kB</td>
   <td><tt>5b9ad3f9466819e71743fbc9e8bb99eb5e577c01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kirigami-gallery-18.11.90.tar.xz">kirigami-gallery-18.11.90</a></td>
   <td align="right">252kB</td>
   <td><tt>8a5c550883dd1831eb317b131f5816eb6aca3f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kiriki-18.11.90.tar.xz">kiriki-18.11.90</a></td>
   <td align="right">362kB</td>
   <td><tt>d05e141b93e8e4930067b69aabc80c01184d345e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kiten-18.11.90.tar.xz">kiten-18.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>67869201ad7987beb19afae1c63e17efaeefdc34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kitinerary-18.11.90.tar.xz">kitinerary-18.11.90</a></td>
   <td align="right">637kB</td>
   <td><tt>da8a5963ddfa39a84e0035dac6b529b99b3ab73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kjumpingcube-18.11.90.tar.xz">kjumpingcube-18.11.90</a></td>
   <td align="right">279kB</td>
   <td><tt>8f6034764d9b6e9cd974cd8efdd770688b8fd3ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kldap-18.11.90.tar.xz">kldap-18.11.90</a></td>
   <td align="right">151kB</td>
   <td><tt>3ed97e940b7d6ba2e7b3a2fc1b53cc875c1f37af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kleopatra-18.11.90.tar.xz">kleopatra-18.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1f14278c0ace1619dfe5bf899c8df3b8e2296a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/klettres-18.11.90.tar.xz">klettres-18.11.90</a></td>
   <td align="right">20MB</td>
   <td><tt>28b678a35a786656e7925c6deb3fad4b69c7389e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/klickety-18.11.90.tar.xz">klickety-18.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b07d2f78789f545b941e29d5d6e774a518509da8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/klines-18.11.90.tar.xz">klines-18.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d1aea062f488c4921d76822d5c152dc7ea1aac0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmag-18.11.90.tar.xz">kmag-18.11.90</a></td>
   <td align="right">614kB</td>
   <td><tt>891e4b6f0c29d9168047e3ae048804f44243704e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmahjongg-18.11.90.tar.xz">kmahjongg-18.11.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>b6357581474409159027b409edf06f2042b2f9ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmail-18.11.90.tar.xz">kmail-18.11.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>8438bebe2b86a207eedf39fd11c9f1f00b94508d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmail-account-wizard-18.11.90.tar.xz">kmail-account-wizard-18.11.90</a></td>
   <td align="right">152kB</td>
   <td><tt>78181532e661dfcdfb19d8fa1c8b1f26efcb7674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmailtransport-18.11.90.tar.xz">kmailtransport-18.11.90</a></td>
   <td align="right">161kB</td>
   <td><tt>4c9cd5262e004ff2ab2dcba4810385fb108aadc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmbox-18.11.90.tar.xz">kmbox-18.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>616c8f65f6e458db608f64cfe216363ef4d53f36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmime-18.11.90.tar.xz">kmime-18.11.90</a></td>
   <td align="right">143kB</td>
   <td><tt>180973705dfee7bfcf0d505265b12e224503caaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmines-18.11.90.tar.xz">kmines-18.11.90</a></td>
   <td align="right">879kB</td>
   <td><tt>568bae3348ed557497ee363f6abd049409687bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmix-18.11.90.tar.xz">kmix-18.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fb021faa86a76884db64980f6c4e774e327755a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmousetool-18.11.90.tar.xz">kmousetool-18.11.90</a></td>
   <td align="right">110kB</td>
   <td><tt>8dcef67ee8acb34190d294f931e2e64be4e83d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmouth-18.11.90.tar.xz">kmouth-18.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>eae2c0c3402150f1c1bb4f3c56690dc95847d94b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kmplot-18.11.90.tar.xz">kmplot-18.11.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3def6fbfa3f52f701d9c658dc0a98c9f0ed2a278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/knavalbattle-18.11.90.tar.xz">knavalbattle-18.11.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1fe9fb1d55ce7dd635590ace8e4076246b9ae3fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/knetwalk-18.11.90.tar.xz">knetwalk-18.11.90</a></td>
   <td align="right">1012kB</td>
   <td><tt>7f555235bcee9fbaf94c40d4e31e5a6b5e0ff266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/knights-18.11.90.tar.xz">knights-18.11.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>0c591aa69f04024705c2e05afa9430862b3c5557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/knotes-18.11.90.tar.xz">knotes-18.11.90</a></td>
   <td align="right">312kB</td>
   <td><tt>6c796fa1e5b7bda80e8e8e0c540c8848b25f8f97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kolf-18.11.90.tar.xz">kolf-18.11.90</a></td>
   <td align="right">902kB</td>
   <td><tt>8a3cdeee47ca744c6fa42f4f67de90d3caf59320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kollision-18.11.90.tar.xz">kollision-18.11.90</a></td>
   <td align="right">274kB</td>
   <td><tt>cee423921fbba906e33b67201ca5e2944d9d741d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kolourpaint-18.11.90.tar.xz">kolourpaint-18.11.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>a1e96e46ab9c106f9800a9ef6df041c2023ac6c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kompare-18.11.90.tar.xz">kompare-18.11.90</a></td>
   <td align="right">782kB</td>
   <td><tt>f1c2e9ccbeab22609b696af2847cce57d23286c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/konqueror-18.11.90.tar.xz">konqueror-18.11.90</a></td>
   <td align="right">7.3MB</td>
   <td><tt>066f525b5f5c1254be1adc839577f3136b063999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/konquest-18.11.90.tar.xz">konquest-18.11.90</a></td>
   <td align="right">642kB</td>
   <td><tt>448e7b781b3d3dfef1b63500dd11bad65349a115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/konsole-18.11.90.tar.xz">konsole-18.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>402eb0901f4200331b5d2c8d54d6d33873928ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kontact-18.11.90.tar.xz">kontact-18.11.90</a></td>
   <td align="right">773kB</td>
   <td><tt>452a303c6ac467a8e84d526258f936a2f6b5d5f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kontactinterface-18.11.90.tar.xz">kontactinterface-18.11.90</a></td>
   <td align="right">32kB</td>
   <td><tt>4598128b6a87a19a053eefbea9b069c83aa37cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kopete-18.11.90.tar.xz">kopete-18.11.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>83fc4c315e4692772e4d037592ad70527fc7e814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/korganizer-18.11.90.tar.xz">korganizer-18.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>33edda3d41ee3b61308dc7d8f17a2edd8c36e99c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kpat-18.11.90.tar.xz">kpat-18.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>09d4f1f480ea64d7d14feaa56174f5d0455e230e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kpimtextedit-18.11.90.tar.xz">kpimtextedit-18.11.90</a></td>
   <td align="right">139kB</td>
   <td><tt>814f10bdbdbdee18d92a21922b5398a5846b081e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kpkpass-18.11.90.tar.xz">kpkpass-18.11.90</a></td>
   <td align="right">22kB</td>
   <td><tt>ac03cf6cdc2f03fa6ebe5720a8561c6167b4c7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kqtquickcharts-18.11.90.tar.xz">kqtquickcharts-18.11.90</a></td>
   <td align="right">25kB</td>
   <td><tt>49c77b863adcacd9f58b57a23a355f6802943ab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/krdc-18.11.90.tar.xz">krdc-18.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8965c68cfbef1108dee4aa627e4bc221c9e01106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kreversi-18.11.90.tar.xz">kreversi-18.11.90</a></td>
   <td align="right">921kB</td>
   <td><tt>c1b78a6e5d2da075e44da5b97a3677d953218d22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/krfb-18.11.90.tar.xz">krfb-18.11.90</a></td>
   <td align="right">968kB</td>
   <td><tt>d25a1856cc095ac92d07d6cee4ae50d4dc180440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kross-interpreters-18.11.90.tar.xz">kross-interpreters-18.11.90</a></td>
   <td align="right">141kB</td>
   <td><tt>374b1f727561c63605b9c1434a6b6c12790ac2b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kruler-18.11.90.tar.xz">kruler-18.11.90</a></td>
   <td align="right">288kB</td>
   <td><tt>fd62b685eabc2c68b3f5e9e9ec838ad378ae6080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kshisen-18.11.90.tar.xz">kshisen-18.11.90</a></td>
   <td align="right">801kB</td>
   <td><tt>8d079d01887cbb67f8948b6dc997b92886da41f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ksirk-18.11.90.tar.xz">ksirk-18.11.90</a></td>
   <td align="right">6.6MB</td>
   <td><tt>f508f20ecffc79796e5e700e4c9b880d2dab862e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ksmtp-18.11.90.tar.xz">ksmtp-18.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>3c32b706bc2917b90cb18714b8d467d77109dbc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ksnakeduel-18.11.90.tar.xz">ksnakeduel-18.11.90</a></td>
   <td align="right">590kB</td>
   <td><tt>db88e06ed8cb7bceae0ca776dbb8bc142df98232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kspaceduel-18.11.90.tar.xz">kspaceduel-18.11.90</a></td>
   <td align="right">596kB</td>
   <td><tt>c3176f837a2d2d286f6df6b687f1c79325eeae6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ksquares-18.11.90.tar.xz">ksquares-18.11.90</a></td>
   <td align="right">253kB</td>
   <td><tt>39ad3780e66f42acb394109e19ba7ba990a8c62c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ksudoku-18.11.90.tar.xz">ksudoku-18.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3e21b0a7c2e11a93bb8912f20fbac5314b64d854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ksystemlog-18.11.90.tar.xz">ksystemlog-18.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>58d748429409e404abcf96846210893dbbb1c9e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kteatime-18.11.90.tar.xz">kteatime-18.11.90</a></td>
   <td align="right">291kB</td>
   <td><tt>476b0c5fd6cce20c13188c55127d43979c5ad4e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktimer-18.11.90.tar.xz">ktimer-18.11.90</a></td>
   <td align="right">427kB</td>
   <td><tt>19cb543c4971ccf7ed8b0af5ab1cc1f66f14dda4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktnef-18.11.90.tar.xz">ktnef-18.11.90</a></td>
   <td align="right">292kB</td>
   <td><tt>74683aa7735a96cd602728619c06ad2027a8c0d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktouch-18.11.90.tar.xz">ktouch-18.11.90</a></td>
   <td align="right">4.8MB</td>
   <td><tt>72cde39cd477efec172eeffff1ea73bcf0120d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-accounts-kcm-18.11.90.tar.xz">ktp-accounts-kcm-18.11.90</a></td>
   <td align="right">255kB</td>
   <td><tt>1b2dba69814f875a3b886ef1d51c384d5bd44487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-approver-18.11.90.tar.xz">ktp-approver-18.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>2a294253dc5d9cc1ff5d35af912424cfe7f61341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-auth-handler-18.11.90.tar.xz">ktp-auth-handler-18.11.90</a></td>
   <td align="right">44kB</td>
   <td><tt>e5193da3ca79cbeb945c894ce79a6fc418128bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-call-ui-18.11.90.tar.xz">ktp-call-ui-18.11.90</a></td>
   <td align="right">94kB</td>
   <td><tt>bb8330e884ecb55b84da49265de50bb7ccd61dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-common-internals-18.11.90.tar.xz">ktp-common-internals-18.11.90</a></td>
   <td align="right">430kB</td>
   <td><tt>fad973bfc37c08a4f095ee18b81ebbc322df493d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-contact-list-18.11.90.tar.xz">ktp-contact-list-18.11.90</a></td>
   <td align="right">142kB</td>
   <td><tt>3e90ff45bd1af52d4851d511a2548b69fa256472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-contact-runner-18.11.90.tar.xz">ktp-contact-runner-18.11.90</a></td>
   <td align="right">41kB</td>
   <td><tt>30f5cfea56ca155b685855bd4f9722e6f4ae3a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-desktop-applets-18.11.90.tar.xz">ktp-desktop-applets-18.11.90</a></td>
   <td align="right">41kB</td>
   <td><tt>c0d2261a196c02389b7b88385c5eef7f18af7a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-filetransfer-handler-18.11.90.tar.xz">ktp-filetransfer-handler-18.11.90</a></td>
   <td align="right">44kB</td>
   <td><tt>9637aa1847dc81fe410b97be12a52eecbc11ceb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-kded-module-18.11.90.tar.xz">ktp-kded-module-18.11.90</a></td>
   <td align="right">92kB</td>
   <td><tt>0dec23198d904a5feb23e57b0a7220e61d96cafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-send-file-18.11.90.tar.xz">ktp-send-file-18.11.90</a></td>
   <td align="right">27kB</td>
   <td><tt>f67eceaec34ac3df232c83ac2b3e20d62b6e4ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktp-text-ui-18.11.90.tar.xz">ktp-text-ui-18.11.90</a></td>
   <td align="right">454kB</td>
   <td><tt>663709ba3aa048750cd274c2aa2e01a63fa8b499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/ktuberling-18.11.90.tar.xz">ktuberling-18.11.90</a></td>
   <td align="right">31MB</td>
   <td><tt>e192fc4d7c8daebda3a04c6a0abe850209516a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kturtle-18.11.90.tar.xz">kturtle-18.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>1a00189f724db0b2607c38d3f03a5e41d61bd2c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kubrick-18.11.90.tar.xz">kubrick-18.11.90</a></td>
   <td align="right">303kB</td>
   <td><tt>a746798ea2f8773e252a5f48ab2aae65226bc14a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kwalletmanager-18.11.90.tar.xz">kwalletmanager-18.11.90</a></td>
   <td align="right">766kB</td>
   <td><tt>d37d1533e90636df4788e2567c46981fb971f058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kwave-18.11.90.tar.xz">kwave-18.11.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>15fef52dd08db7665b1755944c8902e0aafe37ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/kwordquiz-18.11.90.tar.xz">kwordquiz-18.11.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>71fb92189fb6ed7c3588c132a4499d2a178f6d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libgravatar-18.11.90.tar.xz">libgravatar-18.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>a27ca77150e47a9bd390003a507720e6bedc1335</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkcddb-18.11.90.tar.xz">libkcddb-18.11.90</a></td>
   <td align="right">416kB</td>
   <td><tt>e93b23abb8fa0641daafb378f5d841f90e096ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkcompactdisc-18.11.90.tar.xz">libkcompactdisc-18.11.90</a></td>
   <td align="right">86kB</td>
   <td><tt>f17f7c0d0ddc06d03588f9e340b81523a53330d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkdcraw-18.11.90.tar.xz">libkdcraw-18.11.90</a></td>
   <td align="right">41kB</td>
   <td><tt>55adef600094b1de92aa95cb55e02d3a83932ec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkdegames-18.11.90.tar.xz">libkdegames-18.11.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>67151094366231d6907da49f2eebc56be5b55c2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkdepim-18.11.90.tar.xz">libkdepim-18.11.90</a></td>
   <td align="right">328kB</td>
   <td><tt>3cc88e155e1ab6855a2928cdbc91c50c29dd6765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkeduvocdocument-18.11.90.tar.xz">libkeduvocdocument-18.11.90</a></td>
   <td align="right">202kB</td>
   <td><tt>24df28ba0da8527db5b3d6b5ad6ed4ea2773f628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkexiv2-18.11.90.tar.xz">libkexiv2-18.11.90</a></td>
   <td align="right">63kB</td>
   <td><tt>e2ec244e00864edd40a02582b1404068ab132b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkgapi-18.11.90.tar.xz">libkgapi-18.11.90</a></td>
   <td align="right">209kB</td>
   <td><tt>13652792a5139b6c3534c5f57029539dc3c16aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkgeomap-18.11.90.tar.xz">libkgeomap-18.11.90</a></td>
   <td align="right">147kB</td>
   <td><tt>293f47f0f686ccf51d8e577e09ad7e20a84ca497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkipi-18.11.90.tar.xz">libkipi-18.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>22ac7334958a66422657f8f89ea2f606e7c99068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkleo-18.11.90.tar.xz">libkleo-18.11.90</a></td>
   <td align="right">325kB</td>
   <td><tt>397e2ba4efcf03830fa9d0059f3c9b71267177c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkmahjongg-18.11.90.tar.xz">libkmahjongg-18.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f9ab14a026baef26d40c46269e7d34ba277bfac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libkomparediff2-18.11.90.tar.xz">libkomparediff2-18.11.90</a></td>
   <td align="right">169kB</td>
   <td><tt>bfddc09b829d91b3950d3f974cf9f6915bfce1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libksane-18.11.90.tar.xz">libksane-18.11.90</a></td>
   <td align="right">134kB</td>
   <td><tt>a83cb23261ac81111cc421a5d3bccd006e98e8c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/libksieve-18.11.90.tar.xz">libksieve-18.11.90</a></td>
   <td align="right">537kB</td>
   <td><tt>d6248c526bb13a02ade41bd704eadc45edb99090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/lokalize-18.11.90.tar.xz">lokalize-18.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>172fb4c1e3ec7a5162648e53d7c4766722301fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/lskat-18.11.90.tar.xz">lskat-18.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>375b1eec228be02843a64f7dfe069bf72c1175e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/mailcommon-18.11.90.tar.xz">mailcommon-18.11.90</a></td>
   <td align="right">676kB</td>
   <td><tt>75ef5e1aaf98da68d3183f596d1a4e9b69a0c49a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/mailimporter-18.11.90.tar.xz">mailimporter-18.11.90</a></td>
   <td align="right">527kB</td>
   <td><tt>0c6ad44cf404498443a55960aa47687e6eb7be89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/marble-18.11.90.tar.xz">marble-18.11.90</a></td>
   <td align="right">49MB</td>
   <td><tt>8e0c7d3281236fdb1270b768725c5834c4712ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/mbox-importer-18.11.90.tar.xz">mbox-importer-18.11.90</a></td>
   <td align="right">32kB</td>
   <td><tt>5d043220143806aacc993c1e48bc101fa1809aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/messagelib-18.11.90.tar.xz">messagelib-18.11.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>ee772378368956375730c72987534c971260bdfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/minuet-18.11.90.tar.xz">minuet-18.11.90</a></td>
   <td align="right">26MB</td>
   <td><tt>6db0c89832f9a85d9290727a767d053cd1e86edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/okular-18.11.90.tar.xz">okular-18.11.90</a></td>
   <td align="right">5.8MB</td>
   <td><tt>ac3ce55d325f7bba3a86a32b2c4704892cc74e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/palapeli-18.11.90.tar.xz">palapeli-18.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>95f3ba04e00ab459427cbf8f421751ac3f2613fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/parley-18.11.90.tar.xz">parley-18.11.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>e1ab96f536864ec23c92c34e9a31a28568827b54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/picmi-18.11.90.tar.xz">picmi-18.11.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0da0f5beba82365639a113cd27b11600b3e1fdaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/pimcommon-18.11.90.tar.xz">pimcommon-18.11.90</a></td>
   <td align="right">288kB</td>
   <td><tt>e08b3116552b5fbf161242f2b72bc893689a6a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/pim-data-exporter-18.11.90.tar.xz">pim-data-exporter-18.11.90</a></td>
   <td align="right">264kB</td>
   <td><tt>36366e4840ea94df32b1fae8d99d47f32d8f208d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/pim-sieve-editor-18.11.90.tar.xz">pim-sieve-editor-18.11.90</a></td>
   <td align="right">440kB</td>
   <td><tt>9ab5f820ef547712464fa7d41f6ef509739d1e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/poxml-18.11.90.tar.xz">poxml-18.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>27ca829a708b1666ffa4ada26170b894dbe4006b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/print-manager-18.11.90.tar.xz">print-manager-18.11.90</a></td>
   <td align="right">233kB</td>
   <td><tt>1c4651c9337d1db6ccdd68b5b56aa16a8f0387da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/rocs-18.11.90.tar.xz">rocs-18.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>90f86afc0fda330ece6254b3cc6612d321deafb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/signon-kwallet-extension-18.11.90.tar.xz">signon-kwallet-extension-18.11.90</a></td>
   <td align="right">10kB</td>
   <td><tt>73d101f132ee9e00d775df91d68a88b56c9b2342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/spectacle-18.11.90.tar.xz">spectacle-18.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d2475ad21f988ab9a7d973c82db21a69abdd72bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/step-18.11.90.tar.xz">step-18.11.90</a></td>
   <td align="right">839kB</td>
   <td><tt>e79a932126dd8ea319c36418e9219a106f45eea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/svgpart-18.11.90.tar.xz">svgpart-18.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>affbf2a7a3b294f7a1f857f4060390dd01e44c03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/sweeper-18.11.90.tar.xz">sweeper-18.11.90</a></td>
   <td align="right">359kB</td>
   <td><tt>ffbd17ea7cc73d4f8d50c7a219a625f871facdaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/umbrello-18.11.90.tar.xz">umbrello-18.11.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5a8671a30fd8713277f9fd9533e5643a556eac6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.90/src/zeroconf-ioslave-18.11.90.tar.xz">zeroconf-ioslave-18.11.90</a></td>
   <td align="right">37kB</td>
   <td><tt>5fcf1afa1566ff631e89dbec372665c561c2ba4a</tt></td>
</tr>

</table>
