<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/bluedevil-5.23.90.tar.xz">bluedevil-5.23.90</a></td>
   <td align="right">168kB</td>
   <td><tt>2f3592550e9ec6d3dfd2e29052c3ac3d20b774bd68c3c6e77ff362cd5fbb6ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/breeze-5.23.90.tar.xz">breeze-5.23.90</a></td>
   <td align="right">41MB</td>
   <td><tt>4f83438afc3395fec6c530932772d4a8dad9104791d98c15e443fee1947a33b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/breeze-grub-5.23.90.tar.xz">breeze-grub-5.23.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>7ee6fd530234358be8ff065cf3b462de017c22a4d0d5c545409352266e41c7d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/breeze-gtk-5.23.90.tar.xz">breeze-gtk-5.23.90</a></td>
   <td align="right">42kB</td>
   <td><tt>01c648d712d15e568d96cdbfdbdfbc497404b65b03a0e513b9a79de2f400e727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/breeze-plymouth-5.23.90.tar.xz">breeze-plymouth-5.23.90</a></td>
   <td align="right">108kB</td>
   <td><tt>f61974c43017a7ce822b88265db1c2628420f0ba8dfaf95dcf4145e85c7c86b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/discover-5.23.90.tar.xz">discover-5.23.90</a></td>
   <td align="right">7.8MB</td>
   <td><tt>77ea9c3072faf7b273fadfdd4aff6110f53ed145847bc8869341ae0e58b1dd7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/drkonqi-5.23.90.tar.xz">drkonqi-5.23.90</a></td>
   <td align="right">776kB</td>
   <td><tt>35805505212e20dd94f09beb15fa122475a4261b0711fb07f01d1472bc9db375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kactivitymanagerd-5.23.90.tar.xz">kactivitymanagerd-5.23.90</a></td>
   <td align="right">102kB</td>
   <td><tt>4502403143b5806e70aac0ad1679993b35f8ffb3335f39bd64067888d8e4ed40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kde-cli-tools-5.23.90.tar.xz">kde-cli-tools-5.23.90</a></td>
   <td align="right">619kB</td>
   <td><tt>f4667557d5fbd5450dbab9590e3f9e80d21e1bd76b1aa6df7520cde7a357e267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kdecoration-5.23.90.tar.xz">kdecoration-5.23.90</a></td>
   <td align="right">47kB</td>
   <td><tt>b68126746d1b27c6e2ea58551b9aa62d4ef1c6830c4202a042e2b9609becafdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kde-gtk-config-5.23.90.tar.xz">kde-gtk-config-5.23.90</a></td>
   <td align="right">69kB</td>
   <td><tt>f5c71bc15b0f9bdb96af9f823a1626a651e7ce8dba183d1edc22e062c4a222e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kdeplasma-addons-5.23.90.tar.xz">kdeplasma-addons-5.23.90</a></td>
   <td align="right">618kB</td>
   <td><tt>5bf49df906ee0ea25c0569354a2162fe89c6327581cf4ab01ed954a068e35a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kgamma5-5.23.90.tar.xz">kgamma5-5.23.90</a></td>
   <td align="right">81kB</td>
   <td><tt>672c2b130cf4ea214297f97702ee5182f6b5859173a7e2f1a19e3ae91961560b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/khotkeys-5.23.90.tar.xz">khotkeys-5.23.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fe07c2674776170e2b959aefce6616827bc5b7b349b132d19907adb4d81a8868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kinfocenter-5.23.90.tar.xz">kinfocenter-5.23.90</a></td>
   <td align="right">699kB</td>
   <td><tt>736fda6f2f0e85d48517f03f063249cd840357ed4d336b02d8ded9f57b24ad14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kmenuedit-5.23.90.tar.xz">kmenuedit-5.23.90</a></td>
   <td align="right">879kB</td>
   <td><tt>39509fa3f36b14960135f0e6a8590d1f7653ba603b432e20cf0a9f44a0e89b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kscreen-5.23.90.tar.xz">kscreen-5.23.90</a></td>
   <td align="right">129kB</td>
   <td><tt>eae22ff31c60c87d11e1052b26dc9490260ba35ae2a9594803288d557e0d87b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kscreenlocker-5.23.90.tar.xz">kscreenlocker-5.23.90</a></td>
   <td align="right">115kB</td>
   <td><tt>d11cba6c468255e32e33d8b8402c52ea35033445d0da33deb7825a4c6431bac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/ksshaskpass-5.23.90.tar.xz">ksshaskpass-5.23.90</a></td>
   <td align="right">23kB</td>
   <td><tt>14b080bed5ec48bf73663ff0e2e29b6c30236fcf3b05921714cea48463eece52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/ksystemstats-5.23.90.tar.xz">ksystemstats-5.23.90</a></td>
   <td align="right">90kB</td>
   <td><tt>9b591676b0a00cef794097b2b1ecb1bbad6bbe45cf3f741f100fc0a0cd4fb3f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kwallet-pam-5.23.90.tar.xz">kwallet-pam-5.23.90</a></td>
   <td align="right">19kB</td>
   <td><tt>5d5183e19cb35e60deb498bda8a891a2051da87c0b676cbf5e242342ed3646bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kwayland-integration-5.23.90.tar.xz">kwayland-integration-5.23.90</a></td>
   <td align="right">24kB</td>
   <td><tt>12441504d3a526913f54e8655a7ee557d3f8974989fd60720173c3ebf1b68ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kwayland-server-5.23.90.tar.xz">kwayland-server-5.23.90</a></td>
   <td align="right">216kB</td>
   <td><tt>ec6328be98516cd926a0590a9f9b98a9edf8ec8f711ab3bd492497fbe984472b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kwin-5.23.90.tar.xz">kwin-5.23.90</a></td>
   <td align="right">6.1MB</td>
   <td><tt>7b14a8243f48cf31b082f5c3a63a49dc95cc5601d963685a89769cc90a92f6f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/kwrited-5.23.90.tar.xz">kwrited-5.23.90</a></td>
   <td align="right">20kB</td>
   <td><tt>708d1d1c88f312e06a7c0ad56a0b527997b7bbedeb33d2fee3c54a54990c0711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/layer-shell-qt-5.23.90.tar.xz">layer-shell-qt-5.23.90</a></td>
   <td align="right">17kB</td>
   <td><tt>e9535b64e9d627157ce532a30eb3db283e4d783ad1f7de97d9426eb703ff4d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/libkscreen-5.23.90.tar.xz">libkscreen-5.23.90</a></td>
   <td align="right">97kB</td>
   <td><tt>c0dd6bb55f3e6e8641fbd95357dd49dd687c33f6a81e7a3f06f50405e19d1bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/libksysguard-5.23.90.tar.xz">libksysguard-5.23.90</a></td>
   <td align="right">749kB</td>
   <td><tt>eb115d2b17e5e66313364b80964af06ec781af42d1aa19f53935e2f663a43ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/milou-5.23.90.tar.xz">milou-5.23.90</a></td>
   <td align="right">47kB</td>
   <td><tt>0d61f391c5b91b1a743bc3bd6e0fd1f7459770dcfce09edc319833bd84c2e26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/oxygen-5.23.90.tar.xz">oxygen-5.23.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>1cde34a7b383cffff53a6bf50b515a2790b9f859ed08887519794629454d79ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-browser-integration-5.23.90.tar.xz">plasma-browser-integration-5.23.90</a></td>
   <td align="right">214kB</td>
   <td><tt>12957107660287899f1e69b6900c494fb03cc730f0452a8500487a5625ce282f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-desktop-5.23.90.tar.xz">plasma-desktop-5.23.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>c8d90fa9336ebe3ac8ca3744128f3143b442d7f32eb7e35926e7139a5f056994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-disks-5.23.90.tar.xz">plasma-disks-5.23.90</a></td>
   <td align="right">85kB</td>
   <td><tt>bb24eb2a7de39b6a59a99b1ebd670c44b98633aa04d0399fedd3e579f3778428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-firewall-5.23.90.tar.xz">plasma-firewall-5.23.90</a></td>
   <td align="right">337kB</td>
   <td><tt>b61726b009270f4a3181288afec5d11a9f9cc43f77011f9b46202eacc2039fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-integration-5.23.90.tar.xz">plasma-integration-5.23.90</a></td>
   <td align="right">81kB</td>
   <td><tt>bc6b5e37511c72bc297b935f63c741789c09cb85fd102dca74619c95e77de5a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-nano-5.23.90.tar.xz">plasma-nano-5.23.90</a></td>
   <td align="right">64kB</td>
   <td><tt>52459b83f0ab4d4c425abf2414be5a5016a0ecffab6e27c0926c8041554b1f2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-nm-5.23.90.tar.xz">plasma-nm-5.23.90</a></td>
   <td align="right">904kB</td>
   <td><tt>c382c3e788017923b80e454b0b1e434ea574301ff795436bbb974e63ebb8fc98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-pa-5.23.90.tar.xz">plasma-pa-5.23.90</a></td>
   <td align="right">128kB</td>
   <td><tt>143c93ffa2d397c46af23f2228990675553d121fcfed5021930ecd9a55589dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-phone-components-5.23.90.tar.xz">plasma-phone-components-5.23.90</a></td>
   <td align="right">123kB</td>
   <td><tt>270a3f166157243e589725ecf8bce65c307cb35c275d252f4e3b5208f9f70bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-sdk-5.23.90.tar.xz">plasma-sdk-5.23.90</a></td>
   <td align="right">253kB</td>
   <td><tt>db1452695c3b15b10614f32b18ac11d8160c22230f4644cdc69d321c7b345136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-systemmonitor-5.23.90.tar.xz">plasma-systemmonitor-5.23.90</a></td>
   <td align="right">146kB</td>
   <td><tt>f27741373ad6f0bbc078a0781c85bdddc2f6e3f75011ba8cebdcafebb46ad90f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-tests-5.23.90.tar.xz">plasma-tests-5.23.90</a></td>
   <td align="right">1kB</td>
   <td><tt>06309ff712355d1f6e7c612577d0fc4cbbe67cf44eb86d7579cc83464579d909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-thunderbolt-5.23.90.tar.xz">plasma-thunderbolt-5.23.90</a></td>
   <td align="right">65kB</td>
   <td><tt>eeed2dd9d540a380dcff4de368205e737615fe6fa792c842aa965de1843b47aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-vault-5.23.90.tar.xz">plasma-vault-5.23.90</a></td>
   <td align="right">173kB</td>
   <td><tt>13676efffa88e8e8546edeebdb534cade3775668acfc3a6cfabd8a56ae418d3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-workspace-5.23.90.tar.xz">plasma-workspace-5.23.90</a></td>
   <td align="right">17MB</td>
   <td><tt>5c46e2d1d9607fd904f2569205033cf41e3d9d680fde5a15d35e3d4c13ed324e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plasma-workspace-wallpapers-5.23.90.tar.xz">plasma-workspace-wallpapers-5.23.90</a></td>
   <td align="right">69MB</td>
   <td><tt>42f242b0dcac83b90f29c447141af881ab99e3ab1f9619c6f8844e6c913df3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/plymouth-kcm-5.23.90.tar.xz">plymouth-kcm-5.23.90</a></td>
   <td align="right">38kB</td>
   <td><tt>cd1f836fd71ff99438ee1124b38883e68cd7be1c17203d37a79c34e54a8be2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/polkit-kde-agent-1-5.23.90.tar.xz">polkit-kde-agent-1-5.23.90</a></td>
   <td align="right">47kB</td>
   <td><tt>3b8eb641c86b4339e22d00a3be4761ec8cfa0751fcc00c0152dc81ede2ba3a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/powerdevil-5.23.90.tar.xz">powerdevil-5.23.90</a></td>
   <td align="right">617kB</td>
   <td><tt>8ce7b704cc500278f1368ee8bf2832367a65112ea46a46bd4c64f891687ff08a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/qqc2-breeze-style-5.23.90.tar.xz">qqc2-breeze-style-5.23.90</a></td>
   <td align="right">65kB</td>
   <td><tt>4e3c2f2dfac4e57ab2d630e24753ed9cec8f5417e2e666d850809faa6e5a337c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/sddm-kcm-5.23.90.tar.xz">sddm-kcm-5.23.90</a></td>
   <td align="right">78kB</td>
   <td><tt>389af35b2218785d653e0f142d4aa5e3a810bf5bb0ce94594fc011cc17e5ae4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/systemsettings-5.23.90.tar.xz">systemsettings-5.23.90</a></td>
   <td align="right">199kB</td>
   <td><tt>e6e33fa756db37fb044bdc312617b38ddefabd3f9dcd4e7cf07abe81e802f97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.23.90/xdg-desktop-portal-kde-5.23.90.tar.xz">xdg-desktop-portal-kde-5.23.90</a></td>
   <td align="right">85kB</td>
   <td><tt>3e331791c98180a1ecd87828b3b63d54b7e22e08df6c00615b5c436872616079</tt></td>
</tr>

</table>
