<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadi-20.07.90.tar.xz">akonadi-20.07.90</a></td>
   <td align="right">1547kB</td>
   <td><tt>a3aa9ec2e39967fbe8d92a24d25ed92f57d943ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadi-calendar-20.07.90.tar.xz">akonadi-calendar-20.07.90</a></td>
   <td align="right">328kB</td>
   <td><tt>d148bda210d7dcce8230c939adab7e718e5f535a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadi-calendar-tools-20.07.90.tar.xz">akonadi-calendar-tools-20.07.90</a></td>
   <td align="right">220kB</td>
   <td><tt>f4aabb3b230351cff80ac3dd593e224580cc777e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadiconsole-20.07.90.tar.xz">akonadiconsole-20.07.90</a></td>
   <td align="right">190kB</td>
   <td><tt>6b4876c94b114be0e032e45a24b9232f42b15218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadi-contacts-20.07.90.tar.xz">akonadi-contacts-20.07.90</a></td>
   <td align="right">394kB</td>
   <td><tt>d1a7f1a05cb5e259e256525688392375331ba2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadi-import-wizard-20.07.90.tar.xz">akonadi-import-wizard-20.07.90</a></td>
   <td align="right">493kB</td>
   <td><tt>22e1818cb072b9c9826186056a764be3a5004892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadi-mime-20.07.90.tar.xz">akonadi-mime-20.07.90</a></td>
   <td align="right">132kB</td>
   <td><tt>56a246933baa9b70746591d4b1407d663dda8568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadi-notes-20.07.90.tar.xz">akonadi-notes-20.07.90</a></td>
   <td align="right">22kB</td>
   <td><tt>1d62c84e189d856d5f13c3cbb5d841abb4f81cf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akonadi-search-20.07.90.tar.xz">akonadi-search-20.07.90</a></td>
   <td align="right">91kB</td>
   <td><tt>9284669d7884c50a6dfda7ab3bd5e44f85d7fa2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/akregator-20.07.90.tar.xz">akregator-20.07.90</a></td>
   <td align="right">2151kB</td>
   <td><tt>da6cc5d5013b259759e6dabdb50d8f0e0408b51d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/analitza-20.07.90.tar.xz">analitza-20.07.90</a></td>
   <td align="right">330kB</td>
   <td><tt>74d4c394efa7fa8902ac4d449cf697e6d2ab5852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ark-20.07.90.tar.xz">ark-20.07.90</a></td>
   <td align="right">2644kB</td>
   <td><tt>250ebfb2c5205e9afc903151cf7b592fb39e3b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/artikulate-20.07.90.tar.xz">artikulate-20.07.90</a></td>
   <td align="right">1057kB</td>
   <td><tt>24ea6eb3f0f5213490a0c3d07fea370153158152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/audiocd-kio-20.07.90.tar.xz">audiocd-kio-20.07.90</a></td>
   <td align="right">486kB</td>
   <td><tt>d6e602eacf83a6b9f2a322058441adfc9572c25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/baloo-widgets-20.07.90.tar.xz">baloo-widgets-20.07.90</a></td>
   <td align="right">255kB</td>
   <td><tt>7fa2a5d206bf5ca86e135adf9787e8c901aa0f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/blinken-20.07.90.tar.xz">blinken-20.07.90</a></td>
   <td align="right">2762kB</td>
   <td><tt>81982981cbd690a3916275e77d8140ca599fc503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/bomber-20.07.90.tar.xz">bomber-20.07.90</a></td>
   <td align="right">805kB</td>
   <td><tt>db2c6ab53dda2c0e9a9bcc249be47e2c659fadd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/bovo-20.07.90.tar.xz">bovo-20.07.90</a></td>
   <td align="right">201kB</td>
   <td><tt>a4def715e7540cd276a766fafee2b59841610ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/calendarsupport-20.07.90.tar.xz">calendarsupport-20.07.90</a></td>
   <td align="right">644kB</td>
   <td><tt>534dce254b2b1071c69a56f15482cd927d5daedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/cantor-20.07.90.tar.xz">cantor-20.07.90</a></td>
   <td align="right">8866kB</td>
   <td><tt>aa8e4935dfa398133fb71ce3ab60f2e5bdaf8ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/cervisia-20.07.90.tar.xz">cervisia-20.07.90</a></td>
   <td align="right">1843kB</td>
   <td><tt>c19bca1018e6610649a4059ef0ea25dc7b5b8782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/dolphin-20.07.90.tar.xz">dolphin-20.07.90</a></td>
   <td align="right">4969kB</td>
   <td><tt>e376b9e8abc4ee659284962b5610009ea829a867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/dolphin-plugins-20.07.90.tar.xz">dolphin-plugins-20.07.90</a></td>
   <td align="right">221kB</td>
   <td><tt>0e054a37fecb42dc9086b2aae7d8d5f6b6426772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/dragon-20.07.90.tar.xz">dragon-20.07.90</a></td>
   <td align="right">1617kB</td>
   <td><tt>8d5894a39e9772cecf7aa464867e598b0b232201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/elisa-20.07.90.tar.xz">elisa-20.07.90</a></td>
   <td align="right">1595kB</td>
   <td><tt>beda9ec8619960680f18e5f10af10102f33611ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/eventviews-20.07.90.tar.xz">eventviews-20.07.90</a></td>
   <td align="right">434kB</td>
   <td><tt>fc9ac150d97a0458d6be0d6d2d1ef27bf0e99720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ffmpegthumbs-20.07.90.tar.xz">ffmpegthumbs-20.07.90</a></td>
   <td align="right">31kB</td>
   <td><tt>7245923f96a44acf05a34a3714b92c085b9b2bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/filelight-20.07.90.tar.xz">filelight-20.07.90</a></td>
   <td align="right">650kB</td>
   <td><tt>1a0d7f8e529ca4f502fe921c8466ae01cddc15ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/granatier-20.07.90.tar.xz">granatier-20.07.90</a></td>
   <td align="right">1905kB</td>
   <td><tt>447dbadef5102ae2411859d43bb4cf44488e8863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/grantlee-editor-20.07.90.tar.xz">grantlee-editor-20.07.90</a></td>
   <td align="right">109kB</td>
   <td><tt>15fae45e6dcf36daf29282cdd479acc5516dd968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/grantleetheme-20.07.90.tar.xz">grantleetheme-20.07.90</a></td>
   <td align="right">54kB</td>
   <td><tt>f006fd2acee5cf5e9895f36ff88d84a52957a858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/gwenview-20.07.90.tar.xz">gwenview-20.07.90</a></td>
   <td align="right">6582kB</td>
   <td><tt>f918246dbb1a272cbdd0606c0cd0aab76096c1f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/incidenceeditor-20.07.90.tar.xz">incidenceeditor-20.07.90</a></td>
   <td align="right">530kB</td>
   <td><tt>dfbca2990f0f04a7718860766ad79df0ac508195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/juk-20.07.90.tar.xz">juk-20.07.90</a></td>
   <td align="right">1951kB</td>
   <td><tt>36e8c1ce603d4648bf4f59ab98fbd3a0fd483b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/k3b-20.07.90.tar.xz">k3b-20.07.90</a></td>
   <td align="right">10430kB</td>
   <td><tt>c9fb4e9943c6c7d14630a248e0651416aab0a2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kaccounts-integration-20.07.90.tar.xz">kaccounts-integration-20.07.90</a></td>
   <td align="right">72kB</td>
   <td><tt>5f52b7587ebf919bbeb80c9d29cf5d08c693291e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kaccounts-providers-20.07.90.tar.xz">kaccounts-providers-20.07.90</a></td>
   <td align="right">35kB</td>
   <td><tt>ebce4160b545ef180c63d022af144fbcc5f422c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kaddressbook-20.07.90.tar.xz">kaddressbook-20.07.90</a></td>
   <td align="right">3091kB</td>
   <td><tt>e43c887cbea66265bec65bc79f3397b1b7e02717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kajongg-20.07.90.tar.xz">kajongg-20.07.90</a></td>
   <td align="right">4369kB</td>
   <td><tt>1a4a1aa129c87899944e18848035e982c865f319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kalarm-20.07.90.tar.xz">kalarm-20.07.90</a></td>
   <td align="right">1870kB</td>
   <td><tt>7059874951d968b2d224424714ba87ea7e250635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kalarmcal-20.07.90.tar.xz">kalarmcal-20.07.90</a></td>
   <td align="right">561kB</td>
   <td><tt>e8c254ec76490f8828498940f596191e3b219946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kalgebra-20.07.90.tar.xz">kalgebra-20.07.90</a></td>
   <td align="right">1136kB</td>
   <td><tt>5469ce0e583d17df075e3178007d236974a10a63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kalzium-20.07.90.tar.xz">kalzium-20.07.90</a></td>
   <td align="right">23949kB</td>
   <td><tt>71b0627cd6b5e2b88c8c5778c8927a096caa730c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kamera-20.07.90.tar.xz">kamera-20.07.90</a></td>
   <td align="right">106kB</td>
   <td><tt>4a1066800b60219ad646b1220d6e959dbd4dd142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kamoso-20.07.90.tar.xz">kamoso-20.07.90</a></td>
   <td align="right">206kB</td>
   <td><tt>22ae91418fd10d2cdc2b842e901da501166aa495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kanagram-20.07.90.tar.xz">kanagram-20.07.90</a></td>
   <td align="right">7841kB</td>
   <td><tt>846fd3025bc1fe67e0f920694a98320e8efee03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kapman-20.07.90.tar.xz">kapman-20.07.90</a></td>
   <td align="right">2472kB</td>
   <td><tt>786bfcb123563bd008b63248d8bd5ad78ce10a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kapptemplate-20.07.90.tar.xz">kapptemplate-20.07.90</a></td>
   <td align="right">326kB</td>
   <td><tt>1675c14173281c075b7a31a4f7ac370b40602d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kate-20.07.90.tar.xz">kate-20.07.90</a></td>
   <td align="right">5711kB</td>
   <td><tt>1b99612b13cdadfd7981e6f966ad588c6d7177f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/katomic-20.07.90.tar.xz">katomic-20.07.90</a></td>
   <td align="right">1396kB</td>
   <td><tt>5835801d61d098e461057955a37984e833bdeff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kbackup-20.07.90.tar.xz">kbackup-20.07.90</a></td>
   <td align="right">362kB</td>
   <td><tt>4d40fff4506727a89f592d7d057ed86ef8926e4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kblackbox-20.07.90.tar.xz">kblackbox-20.07.90</a></td>
   <td align="right">439kB</td>
   <td><tt>a14f192c37c140ae676ecb015e3a0f67b10a0474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kblocks-20.07.90.tar.xz">kblocks-20.07.90</a></td>
   <td align="right">1862kB</td>
   <td><tt>a0d35ab0e2a1fe294a154ee4bc7f9cc1f5e46c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kbounce-20.07.90.tar.xz">kbounce-20.07.90</a></td>
   <td align="right">3362kB</td>
   <td><tt>d2aa6391bb880cb060520bb34dcaee2c3e08bec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kbreakout-20.07.90.tar.xz">kbreakout-20.07.90</a></td>
   <td align="right">2229kB</td>
   <td><tt>002fdc7bfc1e968afb1853f9dcfe8c12f26d85dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kbruch-20.07.90.tar.xz">kbruch-20.07.90</a></td>
   <td align="right">5483kB</td>
   <td><tt>1f5154919f59f69b75eadd9f7ce8fbf206350012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kcachegrind-20.07.90.tar.xz">kcachegrind-20.07.90</a></td>
   <td align="right">772kB</td>
   <td><tt>4fa0d00a0d7baf9cc9d0f76d722843d36fa3c581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kcalc-20.07.90.tar.xz">kcalc-20.07.90</a></td>
   <td align="right">370kB</td>
   <td><tt>3edce7b2a7f16e7ae836a573b7f6b264862f63ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kcalutils-20.07.90.tar.xz">kcalutils-20.07.90</a></td>
   <td align="right">316kB</td>
   <td><tt>96607749474853c7ba8589e5d8c683b455d2e87e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kcharselect-20.07.90.tar.xz">kcharselect-20.07.90</a></td>
   <td align="right">357kB</td>
   <td><tt>b503f3ce3aef01be9a787e98f50b35e887c1d915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kcolorchooser-20.07.90.tar.xz">kcolorchooser-20.07.90</a></td>
   <td align="right">26kB</td>
   <td><tt>91b2f6bc962f29073460a4e8f180c97e4adcf70b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kcron-20.07.90.tar.xz">kcron-20.07.90</a></td>
   <td align="right">877kB</td>
   <td><tt>a7dd53e989fecc2f2ca4f008991c41c995e392e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdebugsettings-20.07.90.tar.xz">kdebugsettings-20.07.90</a></td>
   <td align="right">65kB</td>
   <td><tt>81c452c2e1477de12eef93e51f48286d5207ca7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdeconnect-kde-20.07.90.tar.xz">kdeconnect-kde-20.07.90</a></td>
   <td align="right">398kB</td>
   <td><tt>25215c845d54bf84dcb2a7508c768e3c31476cf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kde-dev-scripts-20.07.90.tar.xz">kde-dev-scripts-20.07.90</a></td>
   <td align="right">369kB</td>
   <td><tt>ec5edf21b3c839e16663cab9edbbd2c1288332ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kde-dev-utils-20.07.90.tar.xz">kde-dev-utils-20.07.90</a></td>
   <td align="right">63kB</td>
   <td><tt>7d21ed6d7390075d13cced6c7e1b570bfa7afa2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdeedu-data-20.07.90.tar.xz">kdeedu-data-20.07.90</a></td>
   <td align="right">327kB</td>
   <td><tt>311e0a5572176ceb3ec1de9b93c08ed61ea29d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdegraphics-mobipocket-20.07.90.tar.xz">kdegraphics-mobipocket-20.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>c0d480dd6a6a820efa19c0321f74dbc779dbae57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdegraphics-thumbnailers-20.07.90.tar.xz">kdegraphics-thumbnailers-20.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>21008720805e15ca90847dc5e2e2e74526d01b52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdenetwork-filesharing-20.07.90.tar.xz">kdenetwork-filesharing-20.07.90</a></td>
   <td align="right">313kB</td>
   <td><tt>a9f7b7c5bf5ddbf05a7bd02c7c90462e091fff05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdenlive-20.07.90.tar.xz">kdenlive-20.07.90</a></td>
   <td align="right">11102kB</td>
   <td><tt>d3b484907c086a67a23adf3dc782a58597db54aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdepim-addons-20.07.90.tar.xz">kdepim-addons-20.07.90</a></td>
   <td align="right">2022kB</td>
   <td><tt>d484f3e6c30cfa5d6fd8dd9ee2db595c6348bce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdepim-apps-libs-20.07.90.tar.xz">kdepim-apps-libs-20.07.90</a></td>
   <td align="right">58kB</td>
   <td><tt>bb666505a7d977a1b82ce5f8952ea532ffc6023f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdepim-runtime-20.07.90.tar.xz">kdepim-runtime-20.07.90</a></td>
   <td align="right">1712kB</td>
   <td><tt>06031ce61776196140b8b2a5f0c4380747dffee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdesdk-kioslaves-20.07.90.tar.xz">kdesdk-kioslaves-20.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>366a2a249d08f01b8c93300539e2d6773883ab0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdesdk-thumbnailers-20.07.90.tar.xz">kdesdk-thumbnailers-20.07.90</a></td>
   <td align="right">17kB</td>
   <td><tt>c1c6c4c0db1d432b3bc6051170b1b898314c0044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdf-20.07.90.tar.xz">kdf-20.07.90</a></td>
   <td align="right">456kB</td>
   <td><tt>7b094451d5d2336b32f4ad33ce8ab1844d3069a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdialog-20.07.90.tar.xz">kdialog-20.07.90</a></td>
   <td align="right">104kB</td>
   <td><tt>1652a5e005fb184f27f9ccf6bbadc0873e214175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kdiamond-20.07.90.tar.xz">kdiamond-20.07.90</a></td>
   <td align="right">4587kB</td>
   <td><tt>ece6905c97c51896bb6b93acd195d6e5bc71195d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/keditbookmarks-20.07.90.tar.xz">keditbookmarks-20.07.90</a></td>
   <td align="right">186kB</td>
   <td><tt>647612de3324a242c42238ae11ac9873ad2e32c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kfind-20.07.90.tar.xz">kfind-20.07.90</a></td>
   <td align="right">271kB</td>
   <td><tt>baf7d7d75e0adc2611324328143388d7fee19b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kfloppy-20.07.90.tar.xz">kfloppy-20.07.90</a></td>
   <td align="right">199kB</td>
   <td><tt>7879cead2ea550ceac8647dd29397c397c394ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kfourinline-20.07.90.tar.xz">kfourinline-20.07.90</a></td>
   <td align="right">628kB</td>
   <td><tt>0bc3edb983cafad28ec63fe1a112493ac0ebd278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kgeography-20.07.90.tar.xz">kgeography-20.07.90</a></td>
   <td align="right">10512kB</td>
   <td><tt>4fee4f5fa95cbb6025f3ab9c91e6eeb4e6247eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kget-20.07.90.tar.xz">kget-20.07.90</a></td>
   <td align="right">5452kB</td>
   <td><tt>7b1ecf90e7aa84b21f5510208e1f05717428920b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kgoldrunner-20.07.90.tar.xz">kgoldrunner-20.07.90</a></td>
   <td align="right">4340kB</td>
   <td><tt>d74107e6a6ede79fcb8d810cd0cafbef288b7bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kgpg-20.07.90.tar.xz">kgpg-20.07.90</a></td>
   <td align="right">2816kB</td>
   <td><tt>54d1326c7278dab046d4425ad0e87eae304514d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/khangman-20.07.90.tar.xz">khangman-20.07.90</a></td>
   <td align="right">7231kB</td>
   <td><tt>c777c7b180ecb4fdaeefe55b2cc13253b7779750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/khelpcenter-20.07.90.tar.xz">khelpcenter-20.07.90</a></td>
   <td align="right">4151kB</td>
   <td><tt>07a6fdaba9a8e34810baa5243fc1c79c8ffc2137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kidentitymanagement-20.07.90.tar.xz">kidentitymanagement-20.07.90</a></td>
   <td align="right">146kB</td>
   <td><tt>b80ab64b922a5d0516e9c684d05c8a7c548d7650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kig-20.07.90.tar.xz">kig-20.07.90</a></td>
   <td align="right">3408kB</td>
   <td><tt>c8dcb6c821be03b6b9e0ff33b480e6de5916322c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kigo-20.07.90.tar.xz">kigo-20.07.90</a></td>
   <td align="right">5109kB</td>
   <td><tt>87bdc56d4efe0998f8835382da5e4faa651b0adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/killbots-20.07.90.tar.xz">killbots-20.07.90</a></td>
   <td align="right">1157kB</td>
   <td><tt>4459027dba1200550ac3c76d5a99b67676013549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kimagemapeditor-20.07.90.tar.xz">kimagemapeditor-20.07.90</a></td>
   <td align="right">1052kB</td>
   <td><tt>97c08d0a7ba10dab3bdfbd46372fc62d86b36eea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kimap-20.07.90.tar.xz">kimap-20.07.90</a></td>
   <td align="right">117kB</td>
   <td><tt>54d50aebd81d3dafde120ae645495e632eed19d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kio-extras-20.07.90.tar.xz">kio-extras-20.07.90</a></td>
   <td align="right">615kB</td>
   <td><tt>50aa1dbd1ddbab93d8d8ab198b4afbaa56ef0ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kio-gdrive-20.07.90.tar.xz">kio-gdrive-20.07.90</a></td>
   <td align="right">55kB</td>
   <td><tt>9deac9f396e5267b08d88fba67570ea613f1d5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kipi-plugins-20.07.90.tar.xz">kipi-plugins-20.07.90</a></td>
   <td align="right">1605kB</td>
   <td><tt>2dc02699421da4b5228561d4446b219e79884773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kirigami-gallery-20.07.90.tar.xz">kirigami-gallery-20.07.90</a></td>
   <td align="right">281kB</td>
   <td><tt>dd2c6878e755dd0fdafec2726750b5f12ffc40c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kiriki-20.07.90.tar.xz">kiriki-20.07.90</a></td>
   <td align="right">369kB</td>
   <td><tt>ebebbfbe7cc2ea59703da99cfa08798485791b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kiten-20.07.90.tar.xz">kiten-20.07.90</a></td>
   <td align="right">11031kB</td>
   <td><tt>3bc4cb605b781128cb6dedbd9c30a13ef8210617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kitinerary-20.07.90.tar.xz">kitinerary-20.07.90</a></td>
   <td align="right">1713kB</td>
   <td><tt>fe3c75ad2d520ef89dba19308b3c3c31bc35b406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kjumpingcube-20.07.90.tar.xz">kjumpingcube-20.07.90</a></td>
   <td align="right">283kB</td>
   <td><tt>30f294370cfb7aae3b058456b92d33973a18ff2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kldap-20.07.90.tar.xz">kldap-20.07.90</a></td>
   <td align="right">160kB</td>
   <td><tt>008c695670b699ab2483dc16fc1f58b48c945abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kleopatra-20.07.90.tar.xz">kleopatra-20.07.90</a></td>
   <td align="right">1891kB</td>
   <td><tt>100904450afdb1b7e28f152f0159b3ece03209d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/klettres-20.07.90.tar.xz">klettres-20.07.90</a></td>
   <td align="right">45738kB</td>
   <td><tt>379c199e7ad36137cfe274f00b7a0170fd7748cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/klickety-20.07.90.tar.xz">klickety-20.07.90</a></td>
   <td align="right">1361kB</td>
   <td><tt>3e57d5e50b20cdd847675d71136d1a38ca37e171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/klines-20.07.90.tar.xz">klines-20.07.90</a></td>
   <td align="right">1748kB</td>
   <td><tt>ece608678f05100f1de998c0b05f2f3a849addb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmag-20.07.90.tar.xz">kmag-20.07.90</a></td>
   <td align="right">681kB</td>
   <td><tt>1a101511ce2d10e54fb74d37e0908e3093d2ff65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmahjongg-20.07.90.tar.xz">kmahjongg-20.07.90</a></td>
   <td align="right">3354kB</td>
   <td><tt>8838f42036d7ea460dbba205ba3f9fdc6880db32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmail-20.07.90.tar.xz">kmail-20.07.90</a></td>
   <td align="right">5031kB</td>
   <td><tt>9f768fd43a2fc172d080d2ad50ffa99c455a4140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmail-account-wizard-20.07.90.tar.xz">kmail-account-wizard-20.07.90</a></td>
   <td align="right">156kB</td>
   <td><tt>1ed53c905bc2a1fcf3b86291cac5f137fa1dc2ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmailtransport-20.07.90.tar.xz">kmailtransport-20.07.90</a></td>
   <td align="right">163kB</td>
   <td><tt>638efbb324d9320791d8702fccee87851bbbd0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmbox-20.07.90.tar.xz">kmbox-20.07.90</a></td>
   <td align="right">24kB</td>
   <td><tt>dbd1145c36f68a2e1bdc1b1d97aeaf2995a387b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmime-20.07.90.tar.xz">kmime-20.07.90</a></td>
   <td align="right">148kB</td>
   <td><tt>905fe5ed8db68ae3198190074cccd9874654a48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmines-20.07.90.tar.xz">kmines-20.07.90</a></td>
   <td align="right">934kB</td>
   <td><tt>f57fb727221832e472dd54337185db408ed41e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmix-20.07.90.tar.xz">kmix-20.07.90</a></td>
   <td align="right">1081kB</td>
   <td><tt>ac7bb4efae5cc42ec28fddc823de46ebd3e89d52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmousetool-20.07.90.tar.xz">kmousetool-20.07.90</a></td>
   <td align="right">113kB</td>
   <td><tt>2f6da7f86481fc87df8d722f4f57f0f4b53a1aff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmouth-20.07.90.tar.xz">kmouth-20.07.90</a></td>
   <td align="right">2035kB</td>
   <td><tt>4670d525d1f69dfabf5e01b5e912de6309f18f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kmplot-20.07.90.tar.xz">kmplot-20.07.90</a></td>
   <td align="right">2983kB</td>
   <td><tt>b200d1e64967fc2b5120e6ab70415f86785f06bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/knavalbattle-20.07.90.tar.xz">knavalbattle-20.07.90</a></td>
   <td align="right">1257kB</td>
   <td><tt>98ab7b43f49f1041963ebc095291a60d6ec946c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/knetwalk-20.07.90.tar.xz">knetwalk-20.07.90</a></td>
   <td align="right">1238kB</td>
   <td><tt>25f52f1bed1f7230a1f0804caad3f1df9a8ac703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/knights-20.07.90.tar.xz">knights-20.07.90</a></td>
   <td align="right">3451kB</td>
   <td><tt>28d6259c1486e630aa725c1c63392a3ce0c6a37d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/knotes-20.07.90.tar.xz">knotes-20.07.90</a></td>
   <td align="right">314kB</td>
   <td><tt>d3297b3db6d3d9252d8546bf27267bbe0a93f2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kolf-20.07.90.tar.xz">kolf-20.07.90</a></td>
   <td align="right">1004kB</td>
   <td><tt>30d18aa25785733706400a2fe033c924290672de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kollision-20.07.90.tar.xz">kollision-20.07.90</a></td>
   <td align="right">281kB</td>
   <td><tt>bd9d438ca63dc570eba0764e002d46ce92b7b4a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kolourpaint-20.07.90.tar.xz">kolourpaint-20.07.90</a></td>
   <td align="right">5553kB</td>
   <td><tt>e9d14185a0b8e3e9a7278e781350d005604695c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kompare-20.07.90.tar.xz">kompare-20.07.90</a></td>
   <td align="right">902kB</td>
   <td><tt>31b8ab3a2caf7ba05ec09dd36a4231013feb5d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/konqueror-20.07.90.tar.xz">konqueror-20.07.90</a></td>
   <td align="right">7003kB</td>
   <td><tt>250ebc005c1a85af21e2b0e61e044d94abcc6626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/konquest-20.07.90.tar.xz">konquest-20.07.90</a></td>
   <td align="right">649kB</td>
   <td><tt>5ddd1409a5af448df1ece292040fa982beda4452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/konsole-20.07.90.tar.xz">konsole-20.07.90</a></td>
   <td align="right">1182kB</td>
   <td><tt>f11e4722d28e37570aa04af29c79a68e5f20bde3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kontact-20.07.90.tar.xz">kontact-20.07.90</a></td>
   <td align="right">772kB</td>
   <td><tt>e9fcbd0240c2c8fe9604f9a316373814e403fd6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kontactinterface-20.07.90.tar.xz">kontactinterface-20.07.90</a></td>
   <td align="right">35kB</td>
   <td><tt>bb4e4c47f4094155e2e18fc408f21acb8bfc5c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kopete-20.07.90.tar.xz">kopete-20.07.90</a></td>
   <td align="right">9165kB</td>
   <td><tt>2c8d2e301d13e9874d247b29f097bbfc54eec9a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/korganizer-20.07.90.tar.xz">korganizer-20.07.90</a></td>
   <td align="right">2194kB</td>
   <td><tt>ccae903500983cfc1fd9c4bba939f827524a338a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kpat-20.07.90.tar.xz">kpat-20.07.90</a></td>
   <td align="right">3502kB</td>
   <td><tt>1e37ae2698bb74511af7868433f5ea096e10250f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kpimtextedit-20.07.90.tar.xz">kpimtextedit-20.07.90</a></td>
   <td align="right">184kB</td>
   <td><tt>28638bb249429b92d269f44f38fd2492313d0647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kpkpass-20.07.90.tar.xz">kpkpass-20.07.90</a></td>
   <td align="right">22kB</td>
   <td><tt>c9ff6d74fc84ff090fec5e3ceec367bfd375379c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kqtquickcharts-20.07.90.tar.xz">kqtquickcharts-20.07.90</a></td>
   <td align="right">29kB</td>
   <td><tt>f00737c65c0fbecf3d93324b5e307b1f092c1e72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/krdc-20.07.90.tar.xz">krdc-20.07.90</a></td>
   <td align="right">1527kB</td>
   <td><tt>452beef48fe695f55f1223bacafcf9e620185586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kreversi-20.07.90.tar.xz">kreversi-20.07.90</a></td>
   <td align="right">929kB</td>
   <td><tt>68ce6338bbc8e45346209ca2f405a01a42b3c976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/krfb-20.07.90.tar.xz">krfb-20.07.90</a></td>
   <td align="right">1250kB</td>
   <td><tt>a19497b1eab352a73556e77d6c6f4fb306327075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kross-interpreters-20.07.90.tar.xz">kross-interpreters-20.07.90</a></td>
   <td align="right">147kB</td>
   <td><tt>629140340da337dc6f39d0360242a10a9221076e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kruler-20.07.90.tar.xz">kruler-20.07.90</a></td>
   <td align="right">265kB</td>
   <td><tt>2e4f269d43914e336f93c7bef7f0baeafba2c2e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kshisen-20.07.90.tar.xz">kshisen-20.07.90</a></td>
   <td align="right">807kB</td>
   <td><tt>e6aa1397dd21c7ee006a4f9f965a26aaf30166b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ksirk-20.07.90.tar.xz">ksirk-20.07.90</a></td>
   <td align="right">6829kB</td>
   <td><tt>302383fb79212f8331b71c483a460afa27dd1167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ksmtp-20.07.90.tar.xz">ksmtp-20.07.90</a></td>
   <td align="right">41kB</td>
   <td><tt>ea4ca6dd97def93ccd0a5e57f4903a674d7edea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ksnakeduel-20.07.90.tar.xz">ksnakeduel-20.07.90</a></td>
   <td align="right">531kB</td>
   <td><tt>deac4d59fef634c8da2ccf770c198b8cda089836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kspaceduel-20.07.90.tar.xz">kspaceduel-20.07.90</a></td>
   <td align="right">602kB</td>
   <td><tt>d8213840da634eb84f7f6a37a7a2a0cb9b06fee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ksquares-20.07.90.tar.xz">ksquares-20.07.90</a></td>
   <td align="right">260kB</td>
   <td><tt>95abf8df572ff5288bf14d21af84512378c221a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ksudoku-20.07.90.tar.xz">ksudoku-20.07.90</a></td>
   <td align="right">1628kB</td>
   <td><tt>0c5c9dae7bdad993fc5f93bad175f5de97572ffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ksystemlog-20.07.90.tar.xz">ksystemlog-20.07.90</a></td>
   <td align="right">1890kB</td>
   <td><tt>01e46c42bff2d180ef22091c16f061aa07bd623c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kteatime-20.07.90.tar.xz">kteatime-20.07.90</a></td>
   <td align="right">287kB</td>
   <td><tt>7be970931012395bc0ae56f9ed270a3af7a54af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktimer-20.07.90.tar.xz">ktimer-20.07.90</a></td>
   <td align="right">376kB</td>
   <td><tt>5ec61a4cd0301b12e73d8c2b16fc44b3737210ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktnef-20.07.90.tar.xz">ktnef-20.07.90</a></td>
   <td align="right">293kB</td>
   <td><tt>1ecef1e2bc0bdf3a4d425100ac62608bae63ac18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktouch-20.07.90.tar.xz">ktouch-20.07.90</a></td>
   <td align="right">4826kB</td>
   <td><tt>6bdb5b3c42d551a74567e6793c5f8f83d38affc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-accounts-kcm-20.07.90.tar.xz">ktp-accounts-kcm-20.07.90</a></td>
   <td align="right">256kB</td>
   <td><tt>9fa79fdef2d201c6261fd8a9313e5a43ab68044b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-approver-20.07.90.tar.xz">ktp-approver-20.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>3ee228b797e3ab817fd7d61f2e8d47adbf18a6b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-auth-handler-20.07.90.tar.xz">ktp-auth-handler-20.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>4d7236a7dfa670699517b7831e4a420053c9a6b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-call-ui-20.07.90.tar.xz">ktp-call-ui-20.07.90</a></td>
   <td align="right">94kB</td>
   <td><tt>ea4710089c3bbe511bd29ed90c6537fe112813e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-common-internals-20.07.90.tar.xz">ktp-common-internals-20.07.90</a></td>
   <td align="right">439kB</td>
   <td><tt>ae6b40656711093ec27000c8584232b7d2228d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-contact-list-20.07.90.tar.xz">ktp-contact-list-20.07.90</a></td>
   <td align="right">146kB</td>
   <td><tt>4e7bb9dae0bd295685ae283a8a3d04f5a7498158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-contact-runner-20.07.90.tar.xz">ktp-contact-runner-20.07.90</a></td>
   <td align="right">41kB</td>
   <td><tt>4a78f4c7873f69bcb676c45e0b80975ec89ea486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-desktop-applets-20.07.90.tar.xz">ktp-desktop-applets-20.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>abca329d51a43303b2c9f6a86186992966d92bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-filetransfer-handler-20.07.90.tar.xz">ktp-filetransfer-handler-20.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>b3ae3cbaf8294ca194ec19b7a7136d2b69ae33dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-kded-module-20.07.90.tar.xz">ktp-kded-module-20.07.90</a></td>
   <td align="right">96kB</td>
   <td><tt>84a57b67418e77f7901e46043d49d449e667911a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-send-file-20.07.90.tar.xz">ktp-send-file-20.07.90</a></td>
   <td align="right">27kB</td>
   <td><tt>a3ccd60705a30cef1b2ecf23eb86b741b9b571ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktp-text-ui-20.07.90.tar.xz">ktp-text-ui-20.07.90</a></td>
   <td align="right">458kB</td>
   <td><tt>e46ced7c529de6ae6e074f85ab251c190ecaee54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/ktuberling-20.07.90.tar.xz">ktuberling-20.07.90</a></td>
   <td align="right">69051kB</td>
   <td><tt>f07fe8ac53519466f5b4c89a6d5cc620cf83a157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kturtle-20.07.90.tar.xz">kturtle-20.07.90</a></td>
   <td align="right">1794kB</td>
   <td><tt>b273ea82c3fb3a9c73114436b900afeb5810f1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kubrick-20.07.90.tar.xz">kubrick-20.07.90</a></td>
   <td align="right">314kB</td>
   <td><tt>47e139e6b7f40fc7e42aaaf302e758eac5262062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kwalletmanager-20.07.90.tar.xz">kwalletmanager-20.07.90</a></td>
   <td align="right">755kB</td>
   <td><tt>a85e66ba930cb42a86c7b26948524df1dfa148fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kwave-20.07.90.tar.xz">kwave-20.07.90</a></td>
   <td align="right">6706kB</td>
   <td><tt>c92f9d6abb06ba4d81a268a7e40463944b2bdc30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/kwordquiz-20.07.90.tar.xz">kwordquiz-20.07.90</a></td>
   <td align="right">4084kB</td>
   <td><tt>0703a5a074f0e66591b7ad239bae4a3f5b38e4c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libgravatar-20.07.90.tar.xz">libgravatar-20.07.90</a></td>
   <td align="right">32kB</td>
   <td><tt>a048763725bfecea4853b20eb402a9d882e43956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkcddb-20.07.90.tar.xz">libkcddb-20.07.90</a></td>
   <td align="right">415kB</td>
   <td><tt>7c5b73b054042fd800bd23225ae4477bd59ce74d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkcompactdisc-20.07.90.tar.xz">libkcompactdisc-20.07.90</a></td>
   <td align="right">94kB</td>
   <td><tt>81b4d554fc71e7599df9b55332e8d9a8bf935173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkdcraw-20.07.90.tar.xz">libkdcraw-20.07.90</a></td>
   <td align="right">40kB</td>
   <td><tt>b681f59f2c6f671b2f745f07ceb96083e30d98c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkdegames-20.07.90.tar.xz">libkdegames-20.07.90</a></td>
   <td align="right">6245kB</td>
   <td><tt>d1ba9bde1bae2d0ed7740f3fb23f2b2e86b5ea79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkdepim-20.07.90.tar.xz">libkdepim-20.07.90</a></td>
   <td align="right">243kB</td>
   <td><tt>154960d6add09924fb1f8b84f2f91f8408be453d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkeduvocdocument-20.07.90.tar.xz">libkeduvocdocument-20.07.90</a></td>
   <td align="right">209kB</td>
   <td><tt>dda0b77de101e72dda698ddfa9bdfdd1b962a11e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkexiv2-20.07.90.tar.xz">libkexiv2-20.07.90</a></td>
   <td align="right">63kB</td>
   <td><tt>0e032f7b9d82561ca1bc4f5402de51688486b540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkgapi-20.07.90.tar.xz">libkgapi-20.07.90</a></td>
   <td align="right">236kB</td>
   <td><tt>329bb90515321eb5fa638ec6557aa8227624c171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkgeomap-20.07.90.tar.xz">libkgeomap-20.07.90</a></td>
   <td align="right">147kB</td>
   <td><tt>0950ce25f301f72d5c5b0622c9dec7558fe35579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkipi-20.07.90.tar.xz">libkipi-20.07.90</a></td>
   <td align="right">101kB</td>
   <td><tt>205409a1a453be6706011b54808b4a036f7602c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkleo-20.07.90.tar.xz">libkleo-20.07.90</a></td>
   <td align="right">346kB</td>
   <td><tt>6d2fd251c73021b9de6db977fb939b5e5d9fcb0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkmahjongg-20.07.90.tar.xz">libkmahjongg-20.07.90</a></td>
   <td align="right">1652kB</td>
   <td><tt>6b5964ad258e0de34869fe621234fcc2eb667999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libkomparediff2-20.07.90.tar.xz">libkomparediff2-20.07.90</a></td>
   <td align="right">158kB</td>
   <td><tt>a7cb6ea2d7d984b70943a016648147006c81be93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libksane-20.07.90.tar.xz">libksane-20.07.90</a></td>
   <td align="right">141kB</td>
   <td><tt>19f94f5f8d650422354e5564c4b5d7a8d3a2c92a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/libksieve-20.07.90.tar.xz">libksieve-20.07.90</a></td>
   <td align="right">546kB</td>
   <td><tt>c1dc2ff33f99a7993f36b6d941130bd798b475e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/lokalize-20.07.90.tar.xz">lokalize-20.07.90</a></td>
   <td align="right">1937kB</td>
   <td><tt>3e5c9824d6e7c448730e78f34f64495c33978be9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/lskat-20.07.90.tar.xz">lskat-20.07.90</a></td>
   <td align="right">1195kB</td>
   <td><tt>79d9a6a0513312fe0afdb6fad183e5a9e0de9ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/mailcommon-20.07.90.tar.xz">mailcommon-20.07.90</a></td>
   <td align="right">691kB</td>
   <td><tt>e1e302ef6369d3ea823589dd9e82ac54d0d579b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/mailimporter-20.07.90.tar.xz">mailimporter-20.07.90</a></td>
   <td align="right">528kB</td>
   <td><tt>74549b072d55ec18fccd3bd7a454d59679cf5d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/marble-20.07.90.tar.xz">marble-20.07.90</a></td>
   <td align="right">50974kB</td>
   <td><tt>dda4b05ae9f09fc132a78692e089b7ac4fa2d5be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/mbox-importer-20.07.90.tar.xz">mbox-importer-20.07.90</a></td>
   <td align="right">33kB</td>
   <td><tt>dd550830bbd84af8dbf8cc2ad415cbcfc64e55bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/messagelib-20.07.90.tar.xz">messagelib-20.07.90</a></td>
   <td align="right">10291kB</td>
   <td><tt>b8d523886c8094f286a7551d28150a81424b1dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/minuet-20.07.90.tar.xz">minuet-20.07.90</a></td>
   <td align="right">27075kB</td>
   <td><tt>c7a97815b49e763d31569248da734412af3c65b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/okular-20.07.90.tar.xz">okular-20.07.90</a></td>
   <td align="right">7339kB</td>
   <td><tt>f9043600d5aded1055d0030b2005f160bdfea001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/palapeli-20.07.90.tar.xz">palapeli-20.07.90</a></td>
   <td align="right">2029kB</td>
   <td><tt>2ee58a40031f5286f5d3b29533cb97b1ed85ef9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/parley-20.07.90.tar.xz">parley-20.07.90</a></td>
   <td align="right">8635kB</td>
   <td><tt>261f5daeb3671cb213be60847580494710a219b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/picmi-20.07.90.tar.xz">picmi-20.07.90</a></td>
   <td align="right">1335kB</td>
   <td><tt>d2c78ef1900bb5faa128b4c119cb74e03025bd6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/pimcommon-20.07.90.tar.xz">pimcommon-20.07.90</a></td>
   <td align="right">347kB</td>
   <td><tt>1c620e632e7c09522eba43624866dba64046e38b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/pim-data-exporter-20.07.90.tar.xz">pim-data-exporter-20.07.90</a></td>
   <td align="right">390kB</td>
   <td><tt>00e6caff99e9d767c1733e58599015dbb9c04e7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/pim-sieve-editor-20.07.90.tar.xz">pim-sieve-editor-20.07.90</a></td>
   <td align="right">443kB</td>
   <td><tt>912ddb05f1ae2ff529332df0b791761072fdfd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/poxml-20.07.90.tar.xz">poxml-20.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>453a8b7e506a526c4b1c3ccc37f8a418af84e641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/print-manager-20.07.90.tar.xz">print-manager-20.07.90</a></td>
   <td align="right">252kB</td>
   <td><tt>39fcfb79aed56a1a11fe96f8dcfdf7233cd18dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/rocs-20.07.90.tar.xz">rocs-20.07.90</a></td>
   <td align="right">1462kB</td>
   <td><tt>5bbffd335ff3f6a155817415fc856e62052bb30c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/signon-kwallet-extension-20.07.90.tar.xz">signon-kwallet-extension-20.07.90</a></td>
   <td align="right">10kB</td>
   <td><tt>dd4b1c88d29b3bc163b9f55ec1aabc43f9848c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/spectacle-20.07.90.tar.xz">spectacle-20.07.90</a></td>
   <td align="right">1124kB</td>
   <td><tt>902ad79192ee02e8fd481a16ef9fa83ec4fd6227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/step-20.07.90.tar.xz">step-20.07.90</a></td>
   <td align="right">919kB</td>
   <td><tt>05ae075549f8baa547a3ab7289216c4e5182e00a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/svgpart-20.07.90.tar.xz">svgpart-20.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>6c64c8b59c1997fadc8a04df190f30ec98c28119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/sweeper-20.07.90.tar.xz">sweeper-20.07.90</a></td>
   <td align="right">363kB</td>
   <td><tt>4684f6b0bb1f6ef273aa8c2bbe89f54c7cab621a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/umbrello-20.07.90.tar.xz">umbrello-20.07.90</a></td>
   <td align="right">5419kB</td>
   <td><tt>944e8a4d72e80d7ef7b64fdede041498ecdd7207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/yakuake-20.07.90.tar.xz">yakuake-20.07.90</a></td>
   <td align="right">371kB</td>
   <td><tt>150bb72a0387d2554632b70cb85de58208b2add0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.90/src/zeroconf-ioslave-20.07.90.tar.xz">zeroconf-ioslave-20.07.90</a></td>
   <td align="right">41kB</td>
   <td><tt>3e620550bff3bb81224ac8e36e97899398f0eb0d</tt></td>
</tr>

</table>
