<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadi-20.04.2.tar.xz">akonadi-20.04.2</a></td>
   <td align="right">1547kB</td>
   <td><tt>63cd571a3d9f68aa7b49fa5ad944a4fdd1847ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadi-calendar-20.04.2.tar.xz">akonadi-calendar-20.04.2</a></td>
   <td align="right">323kB</td>
   <td><tt>4c1f1bbbee7f68b77189db26f0b7ddf1521fcc1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadi-calendar-tools-20.04.2.tar.xz">akonadi-calendar-tools-20.04.2</a></td>
   <td align="right">219kB</td>
   <td><tt>8bbcd17940db79150ef259e104fa5481a2908af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadiconsole-20.04.2.tar.xz">akonadiconsole-20.04.2</a></td>
   <td align="right">189kB</td>
   <td><tt>1000738a50d245aa53b7f46c006ec5e35e76bbd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadi-contacts-20.04.2.tar.xz">akonadi-contacts-20.04.2</a></td>
   <td align="right">384kB</td>
   <td><tt>ebe7eddfa0cbcac7ef215712779cc9777bb4a942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadi-import-wizard-20.04.2.tar.xz">akonadi-import-wizard-20.04.2</a></td>
   <td align="right">428kB</td>
   <td><tt>97a205403c83a58ca96c3d2f17a01cd396776762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadi-mime-20.04.2.tar.xz">akonadi-mime-20.04.2</a></td>
   <td align="right">129kB</td>
   <td><tt>1a47049bec3b5c6ffbeb5052ceae1808682059c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadi-notes-20.04.2.tar.xz">akonadi-notes-20.04.2</a></td>
   <td align="right">23kB</td>
   <td><tt>9c5bb609dc608d4530894c2adb7bd622c61373ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akonadi-search-20.04.2.tar.xz">akonadi-search-20.04.2</a></td>
   <td align="right">81kB</td>
   <td><tt>1be7eef254851d1d3b096d82903493cf20607e02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/akregator-20.04.2.tar.xz">akregator-20.04.2</a></td>
   <td align="right">2145kB</td>
   <td><tt>8198a01c0608ddee2814dcd72700204f6de81387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/analitza-20.04.2.tar.xz">analitza-20.04.2</a></td>
   <td align="right">324kB</td>
   <td><tt>2af0b802ffb6ed4f3d9bce42e8f7d1b1340f95d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ark-20.04.2.tar.xz">ark-20.04.2</a></td>
   <td align="right">2526kB</td>
   <td><tt>7f603f7a86010405e36ce3fb96c1379daad54234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/artikulate-20.04.2.tar.xz">artikulate-20.04.2</a></td>
   <td align="right">1054kB</td>
   <td><tt>0b0e8092ac259e4a74d04b17e3996ddb9b5ea9f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/audiocd-kio-20.04.2.tar.xz">audiocd-kio-20.04.2</a></td>
   <td align="right">477kB</td>
   <td><tt>517f37a8cf090c947a6606adb10e9a828b33f7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/baloo-widgets-20.04.2.tar.xz">baloo-widgets-20.04.2</a></td>
   <td align="right">255kB</td>
   <td><tt>f562377551c0c45e0ea6a67391bcc8ea40bff2c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/blinken-20.04.2.tar.xz">blinken-20.04.2</a></td>
   <td align="right">2755kB</td>
   <td><tt>73e51fec402a126c7af196c9d3389c4d2a30db9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/bomber-20.04.2.tar.xz">bomber-20.04.2</a></td>
   <td align="right">801kB</td>
   <td><tt>5d7c22024ffa0f829ff619d38a92af2e977e7e00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/bovo-20.04.2.tar.xz">bovo-20.04.2</a></td>
   <td align="right">195kB</td>
   <td><tt>cb7c1766c0782c52e493d6b132d1c7703ac3d981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/calendarsupport-20.04.2.tar.xz">calendarsupport-20.04.2</a></td>
   <td align="right">636kB</td>
   <td><tt>90761549e9813bb157697096a5c69680f14e783d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/cantor-20.04.2.tar.xz">cantor-20.04.2</a></td>
   <td align="right">8816kB</td>
   <td><tt>f151da0c86e79ab96031cb75f19724d6feb4e7f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/cervisia-20.04.2.tar.xz">cervisia-20.04.2</a></td>
   <td align="right">1852kB</td>
   <td><tt>46c021a6e2ebcce8b82945361102c341c4389b37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/dolphin-20.04.2.tar.xz">dolphin-20.04.2</a></td>
   <td align="right">4687kB</td>
   <td><tt>69e6da5217606ec28d07fa515e5033103fa5c759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/dolphin-plugins-20.04.2.tar.xz">dolphin-plugins-20.04.2</a></td>
   <td align="right">206kB</td>
   <td><tt>0130bcada136a9a46df8e580135e4e5692894d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/dragon-20.04.2.tar.xz">dragon-20.04.2</a></td>
   <td align="right">1320kB</td>
   <td><tt>df6745a7b83999040d5ac8eb4bd619b705f31787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/elisa-20.04.2.tar.xz">elisa-20.04.2</a></td>
   <td align="right">1374kB</td>
   <td><tt>d0e72b422467fbafcef66a8f886a362d69850a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/eventviews-20.04.2.tar.xz">eventviews-20.04.2</a></td>
   <td align="right">433kB</td>
   <td><tt>bb9e0ef530726e145b97b6ce1f020adfce354952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ffmpegthumbs-20.04.2.tar.xz">ffmpegthumbs-20.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>dd6f34e1663ffeb57e81e34e3dc5227aa1de1c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/filelight-20.04.2.tar.xz">filelight-20.04.2</a></td>
   <td align="right">646kB</td>
   <td><tt>f1bdceeb2cbaf1f8740a7254d4efe6adcb1f7bc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/granatier-20.04.2.tar.xz">granatier-20.04.2</a></td>
   <td align="right">1898kB</td>
   <td><tt>bb2f9799d6031cce6e88f6efa517bff2c7560b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/grantlee-editor-20.04.2.tar.xz">grantlee-editor-20.04.2</a></td>
   <td align="right">108kB</td>
   <td><tt>4be6e73aeb331cfa30314a3067ead20a36d4a2d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/grantleetheme-20.04.2.tar.xz">grantleetheme-20.04.2</a></td>
   <td align="right">53kB</td>
   <td><tt>a1f8677bfc1ba69a3f25b049d9f3f3f06225975e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/gwenview-20.04.2.tar.xz">gwenview-20.04.2</a></td>
   <td align="right">5606kB</td>
   <td><tt>afc067f21ef53abe4104cfea3ea082399419bf07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/incidenceeditor-20.04.2.tar.xz">incidenceeditor-20.04.2</a></td>
   <td align="right">537kB</td>
   <td><tt>ff46034c8c4aded55a8f6e644a92da2b6e7c21d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/juk-20.04.2.tar.xz">juk-20.04.2</a></td>
   <td align="right">1825kB</td>
   <td><tt>61ba6757c4277d46cd6f52b803d25ae3dcbc9fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/k3b-20.04.2.tar.xz">k3b-20.04.2</a></td>
   <td align="right">10265kB</td>
   <td><tt>994901650b713431b0a70b010f0ef46f35e812a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kaccounts-integration-20.04.2.tar.xz">kaccounts-integration-20.04.2</a></td>
   <td align="right">64kB</td>
   <td><tt>d4f9524100504dca7ce161b4a0bd7bad8d8f1140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kaccounts-providers-20.04.2.tar.xz">kaccounts-providers-20.04.2</a></td>
   <td align="right">35kB</td>
   <td><tt>9ffffc03549c48649b634f5fa05e8d85dff6ac25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kaddressbook-20.04.2.tar.xz">kaddressbook-20.04.2</a></td>
   <td align="right">2370kB</td>
   <td><tt>325622eb6aee745e459c7d643a0e9e73f233db8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kajongg-20.04.2.tar.xz">kajongg-20.04.2</a></td>
   <td align="right">4363kB</td>
   <td><tt>3cb0fb939deb3356fe06da2ef09172cbb3f21c5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kalarm-20.04.2.tar.xz">kalarm-20.04.2</a></td>
   <td align="right">1797kB</td>
   <td><tt>f1fe47aea5efdf5da96366074f38ea620a68efb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kalarmcal-20.04.2.tar.xz">kalarmcal-20.04.2</a></td>
   <td align="right">560kB</td>
   <td><tt>ea3b54096f6577b4c122e7a635b2053e82ea116c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kalgebra-20.04.2.tar.xz">kalgebra-20.04.2</a></td>
   <td align="right">1131kB</td>
   <td><tt>568ddcab10fb8085e0f6f4b55be09fbd5a9a36c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kalzium-20.04.2.tar.xz">kalzium-20.04.2</a></td>
   <td align="right">24020kB</td>
   <td><tt>945f2dd1ab865c25bb7f6f4235bd70983c90644b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kamera-20.04.2.tar.xz">kamera-20.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>55b50c26f3218e525c3816c85ecbb7828c2b1ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kamoso-20.04.2.tar.xz">kamoso-20.04.2</a></td>
   <td align="right">197kB</td>
   <td><tt>7f1a1e0c4ee77aa267fe19caccf2081a58b046ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kanagram-20.04.2.tar.xz">kanagram-20.04.2</a></td>
   <td align="right">7837kB</td>
   <td><tt>b1967df1ff89eb5040fae958f9923c617a315477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kapman-20.04.2.tar.xz">kapman-20.04.2</a></td>
   <td align="right">2466kB</td>
   <td><tt>17a5caf95c86e93f5da08a14a64bde837329e63f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kapptemplate-20.04.2.tar.xz">kapptemplate-20.04.2</a></td>
   <td align="right">317kB</td>
   <td><tt>43cd38ba850c0ea8517254d002a28b5907e459ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kate-20.04.2.tar.xz">kate-20.04.2</a></td>
   <td align="right">5693kB</td>
   <td><tt>e7e97d8c81588cf77ee27e686f13ce930694cfc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/katomic-20.04.2.tar.xz">katomic-20.04.2</a></td>
   <td align="right">1390kB</td>
   <td><tt>da3168e3f9bf84640b6be418ff7d382c16548f5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kbackup-20.04.2.tar.xz">kbackup-20.04.2</a></td>
   <td align="right">353kB</td>
   <td><tt>ec2ed6670ae9879791852b473ef1353591924dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kblackbox-20.04.2.tar.xz">kblackbox-20.04.2</a></td>
   <td align="right">436kB</td>
   <td><tt>09cd5d5a249c04defd65ad26d090812c992097c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kblocks-20.04.2.tar.xz">kblocks-20.04.2</a></td>
   <td align="right">1862kB</td>
   <td><tt>c8b5fed47f792b274377470114067b53d75ebf2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kblog-20.04.2.tar.xz">kblog-20.04.2</a></td>
   <td align="right">71kB</td>
   <td><tt>9966f83a4b2280276df411e090bd05590c5ddbd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kbounce-20.04.2.tar.xz">kbounce-20.04.2</a></td>
   <td align="right">3385kB</td>
   <td><tt>6f588ccc556d3fc19dcff7cdc538a6114bf93497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kbreakout-20.04.2.tar.xz">kbreakout-20.04.2</a></td>
   <td align="right">2227kB</td>
   <td><tt>022116001d1369d74b1afa7b6960fbfca4481cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kbruch-20.04.2.tar.xz">kbruch-20.04.2</a></td>
   <td align="right">5474kB</td>
   <td><tt>d386d1e66330a8553a349f2d21c9aa32f488dff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kcachegrind-20.04.2.tar.xz">kcachegrind-20.04.2</a></td>
   <td align="right">791kB</td>
   <td><tt>3e63e070392bde659ca4ffaf54762c3d57434779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kcalc-20.04.2.tar.xz">kcalc-20.04.2</a></td>
   <td align="right">365kB</td>
   <td><tt>ee3c88e34a1a55142e548c4e882fa56e9f19eaf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kcalutils-20.04.2.tar.xz">kcalutils-20.04.2</a></td>
   <td align="right">313kB</td>
   <td><tt>8c950c231561ee11810c6628d10c79ed08c1b60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kcharselect-20.04.2.tar.xz">kcharselect-20.04.2</a></td>
   <td align="right">327kB</td>
   <td><tt>09a751779fad48eb3b310f8d0c23ad7eb21f2659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kcolorchooser-20.04.2.tar.xz">kcolorchooser-20.04.2</a></td>
   <td align="right">21kB</td>
   <td><tt>83c0abd506427ce50ed8a1f7ca0451f9919a87ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kcron-20.04.2.tar.xz">kcron-20.04.2</a></td>
   <td align="right">871kB</td>
   <td><tt>11eddb8f65d7ed5f50410ecb02ea02a36a0dbb02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdav-20.04.2.tar.xz">kdav-20.04.2</a></td>
   <td align="right">56kB</td>
   <td><tt>5aa68b3a9eed91d62d810bb244c0d4f2883358ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdebugsettings-20.04.2.tar.xz">kdebugsettings-20.04.2</a></td>
   <td align="right">63kB</td>
   <td><tt>6e23d4ab18610b23f948a415516742e0a7b4d1c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdeconnect-kde-20.04.2.tar.xz">kdeconnect-kde-20.04.2</a></td>
   <td align="right">419kB</td>
   <td><tt>5fdd786d80daffdb074d3727f9a12ca1149211bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kde-dev-scripts-20.04.2.tar.xz">kde-dev-scripts-20.04.2</a></td>
   <td align="right">369kB</td>
   <td><tt>01c66707908aa94f946bed985e643829995ff4dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kde-dev-utils-20.04.2.tar.xz">kde-dev-utils-20.04.2</a></td>
   <td align="right">63kB</td>
   <td><tt>2f4542c00b0017744337e9f4137bae80c2cc5310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdeedu-data-20.04.2.tar.xz">kdeedu-data-20.04.2</a></td>
   <td align="right">321kB</td>
   <td><tt>54aa9e8088a45eb349375fc4980e6f176b16ee72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdegraphics-mobipocket-20.04.2.tar.xz">kdegraphics-mobipocket-20.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>48c5acc97a99b293c0fcb77239fdbcaa402554d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdegraphics-thumbnailers-20.04.2.tar.xz">kdegraphics-thumbnailers-20.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>08f2d56da3d16159c6bb64d9418e16eed55beacc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdenetwork-filesharing-20.04.2.tar.xz">kdenetwork-filesharing-20.04.2</a></td>
   <td align="right">313kB</td>
   <td><tt>80217d5235b869a79c17ebbc2300822663f087e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdenlive-20.04.2.tar.xz">kdenlive-20.04.2</a></td>
   <td align="right">11025kB</td>
   <td><tt>727fde0b97e5a8a3beac8a17dedfd6a86639dc38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdepim-addons-20.04.2.tar.xz">kdepim-addons-20.04.2</a></td>
   <td align="right">2016kB</td>
   <td><tt>74e68f37981c086721f5b422aa013a7580882a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdepim-apps-libs-20.04.2.tar.xz">kdepim-apps-libs-20.04.2</a></td>
   <td align="right">82kB</td>
   <td><tt>3e7ea1955e6e7d8df10facdad23892e76feae9b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdepim-runtime-20.04.2.tar.xz">kdepim-runtime-20.04.2</a></td>
   <td align="right">1699kB</td>
   <td><tt>452d0b4123bfcf8e7f817c46001ff6bdb10dcd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdesdk-kioslaves-20.04.2.tar.xz">kdesdk-kioslaves-20.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>74cf1bb8295e3f70c62fe055f58abb9938ef2001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdesdk-thumbnailers-20.04.2.tar.xz">kdesdk-thumbnailers-20.04.2</a></td>
   <td align="right">17kB</td>
   <td><tt>108896388a5d4e09016eb2071e722e3e44e0ec6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdf-20.04.2.tar.xz">kdf-20.04.2</a></td>
   <td align="right">451kB</td>
   <td><tt>506edd336ebf48d35a894431bf48556dcb3f98b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdialog-20.04.2.tar.xz">kdialog-20.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>03957d16422caf4fe69e2a26844922dd1dfd0556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kdiamond-20.04.2.tar.xz">kdiamond-20.04.2</a></td>
   <td align="right">4584kB</td>
   <td><tt>2b2106fdcaf46629c86d0fcf47262cb3a155a29f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/keditbookmarks-20.04.2.tar.xz">keditbookmarks-20.04.2</a></td>
   <td align="right">182kB</td>
   <td><tt>6039ca054346b0331a8b2ae026715dd58cfd8bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kfind-20.04.2.tar.xz">kfind-20.04.2</a></td>
   <td align="right">265kB</td>
   <td><tt>0b634d7d6753c53f2a49ab184bcb13dbec34e620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kfloppy-20.04.2.tar.xz">kfloppy-20.04.2</a></td>
   <td align="right">194kB</td>
   <td><tt>109c25e7556b74fe8b7d871134be4966d6e3fcd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kfourinline-20.04.2.tar.xz">kfourinline-20.04.2</a></td>
   <td align="right">624kB</td>
   <td><tt>4c21c54d86150e6bf30762ab2bd5d214bd1c4dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kgeography-20.04.2.tar.xz">kgeography-20.04.2</a></td>
   <td align="right">10615kB</td>
   <td><tt>bb9299fbfdded6a96a9cda40dad1e2ef9ba12bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kget-20.04.2.tar.xz">kget-20.04.2</a></td>
   <td align="right">5116kB</td>
   <td><tt>094b9faf2e97242cca5df01a504657fdaa070233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kgoldrunner-20.04.2.tar.xz">kgoldrunner-20.04.2</a></td>
   <td align="right">4325kB</td>
   <td><tt>3b8403f1c73e75ebe6e1da55eb26c44e5244571c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kgpg-20.04.2.tar.xz">kgpg-20.04.2</a></td>
   <td align="right">2725kB</td>
   <td><tt>a469f2640844dbb729cd99749294a63d4d0f6722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/khangman-20.04.2.tar.xz">khangman-20.04.2</a></td>
   <td align="right">6946kB</td>
   <td><tt>081d0d1ea4bf4e8f7f1aa6e23437f3b8c67adaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/khelpcenter-20.04.2.tar.xz">khelpcenter-20.04.2</a></td>
   <td align="right">3757kB</td>
   <td><tt>52ed56788c107364a2192733acb16c71fa84b6c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kidentitymanagement-20.04.2.tar.xz">kidentitymanagement-20.04.2</a></td>
   <td align="right">146kB</td>
   <td><tt>66d22306b228838d9b4cb20d01963a6f8696c927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kig-20.04.2.tar.xz">kig-20.04.2</a></td>
   <td align="right">3401kB</td>
   <td><tt>f1ebce1a0f372b3807b8f7e716cc2bfadf0764bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kigo-20.04.2.tar.xz">kigo-20.04.2</a></td>
   <td align="right">5104kB</td>
   <td><tt>d72c7f672081eec5fa898317031b4bd0fdf33566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/killbots-20.04.2.tar.xz">killbots-20.04.2</a></td>
   <td align="right">1146kB</td>
   <td><tt>8a12f19ca860e8f0589197c9e86f7c331a12218b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kimagemapeditor-20.04.2.tar.xz">kimagemapeditor-20.04.2</a></td>
   <td align="right">1046kB</td>
   <td><tt>e00442d9ac9bbb0b9bc45bad53eaccd9dafaa090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kimap-20.04.2.tar.xz">kimap-20.04.2</a></td>
   <td align="right">116kB</td>
   <td><tt>cf76d758f79fef3dda0202840e0e1f1611b9ee9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kio-extras-20.04.2.tar.xz">kio-extras-20.04.2</a></td>
   <td align="right">603kB</td>
   <td><tt>c8f5b355f41f9f33ac775ca919d9f5c5ac12fc92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kipi-plugins-20.04.2.tar.xz">kipi-plugins-20.04.2</a></td>
   <td align="right">1604kB</td>
   <td><tt>ba3fd88800409a355b20784729d2756cca80dd43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kirigami-gallery-20.04.2.tar.xz">kirigami-gallery-20.04.2</a></td>
   <td align="right">273kB</td>
   <td><tt>047e535409ad56ca1cc86934b4e1a4c8311bf6a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kiriki-20.04.2.tar.xz">kiriki-20.04.2</a></td>
   <td align="right">364kB</td>
   <td><tt>8c6dfc7bcf499cadcb19d57975be249729a17f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kiten-20.04.2.tar.xz">kiten-20.04.2</a></td>
   <td align="right">11022kB</td>
   <td><tt>0d1d8e41138a9ee9207497a90e03f6749855dc16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kitinerary-20.04.2.tar.xz">kitinerary-20.04.2</a></td>
   <td align="right">1251kB</td>
   <td><tt>03580eaff222b292d2fd1b5f1aa5e0f4abd28221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kjumpingcube-20.04.2.tar.xz">kjumpingcube-20.04.2</a></td>
   <td align="right">282kB</td>
   <td><tt>a877fe8f4013f9e75bcb13ddeb3c82b11832b646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kldap-20.04.2.tar.xz">kldap-20.04.2</a></td>
   <td align="right">145kB</td>
   <td><tt>396dbcf8dd2ceb2e8f3537dfe07dcaf0ad4c4703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kleopatra-20.04.2.tar.xz">kleopatra-20.04.2</a></td>
   <td align="right">1890kB</td>
   <td><tt>53e01bcc54751243e10e469cad9e35066f3f1d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/klettres-20.04.2.tar.xz">klettres-20.04.2</a></td>
   <td align="right">45745kB</td>
   <td><tt>e1dae1ade32abc9ec86c1878db61303b7ee9b3f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/klickety-20.04.2.tar.xz">klickety-20.04.2</a></td>
   <td align="right">1358kB</td>
   <td><tt>11c2863b0ae83a76c0626a8c34946a81be1ae2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/klines-20.04.2.tar.xz">klines-20.04.2</a></td>
   <td align="right">1740kB</td>
   <td><tt>688911a0801532c4485e7957c05407dcd49f844a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmag-20.04.2.tar.xz">kmag-20.04.2</a></td>
   <td align="right">658kB</td>
   <td><tt>d8c0377d4b87c9e17110f397f840a498a5bece7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmahjongg-20.04.2.tar.xz">kmahjongg-20.04.2</a></td>
   <td align="right">3347kB</td>
   <td><tt>2351103aa1507f6e592009eb039894e34f8a6c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmail-20.04.2.tar.xz">kmail-20.04.2</a></td>
   <td align="right">4611kB</td>
   <td><tt>8c3bb3336b8b22b5a17cb653b88cf0fcb2595521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmail-account-wizard-20.04.2.tar.xz">kmail-account-wizard-20.04.2</a></td>
   <td align="right">154kB</td>
   <td><tt>4fc200d15d29d139ac2d4902cef09474f3e0561d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmailtransport-20.04.2.tar.xz">kmailtransport-20.04.2</a></td>
   <td align="right">162kB</td>
   <td><tt>cc7fa0549227ffda81ebca4863ff4c094dd88474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmbox-20.04.2.tar.xz">kmbox-20.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>cab0ffe57e89fc9bb218a50038907d3ac0111d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmime-20.04.2.tar.xz">kmime-20.04.2</a></td>
   <td align="right">145kB</td>
   <td><tt>68460946fdaba29ced12ba95cc4551ddbed7590b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmines-20.04.2.tar.xz">kmines-20.04.2</a></td>
   <td align="right">878kB</td>
   <td><tt>1c6e05c90c1ac94756349786242b0547e9481860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmix-20.04.2.tar.xz">kmix-20.04.2</a></td>
   <td align="right">983kB</td>
   <td><tt>85bc9b5740435a01913676aa1015ebfbe29a8dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmousetool-20.04.2.tar.xz">kmousetool-20.04.2</a></td>
   <td align="right">110kB</td>
   <td><tt>44f315b52acb3b6c7633a5af2887e0c7385a974b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmouth-20.04.2.tar.xz">kmouth-20.04.2</a></td>
   <td align="right">1918kB</td>
   <td><tt>ab6789875f45b2c4cf64dc1a631194c0da7226b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kmplot-20.04.2.tar.xz">kmplot-20.04.2</a></td>
   <td align="right">2984kB</td>
   <td><tt>66dc07e55b47c5276c85b03f97d816f5f40f6b86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/knavalbattle-20.04.2.tar.xz">knavalbattle-20.04.2</a></td>
   <td align="right">1252kB</td>
   <td><tt>ce3073ceaf0d7524b5e3af219229b171096e640d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/knetwalk-20.04.2.tar.xz">knetwalk-20.04.2</a></td>
   <td align="right">1229kB</td>
   <td><tt>abb2973974a8f00b94501e2ca8f9ea0145a58cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/knights-20.04.2.tar.xz">knights-20.04.2</a></td>
   <td align="right">3440kB</td>
   <td><tt>d4d70e30b7e19a636a8a89943879330dc50bb9d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/knotes-20.04.2.tar.xz">knotes-20.04.2</a></td>
   <td align="right">313kB</td>
   <td><tt>af20fbba6a1d9ccd4b9307d70d5810ec5a0611f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kolf-20.04.2.tar.xz">kolf-20.04.2</a></td>
   <td align="right">996kB</td>
   <td><tt>a09ed1b463768f6b4b8a631d9c026c2b5be4ea81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kollision-20.04.2.tar.xz">kollision-20.04.2</a></td>
   <td align="right">274kB</td>
   <td><tt>64a4a25ddfdf98e2a26a07af007643ba366c14a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kolourpaint-20.04.2.tar.xz">kolourpaint-20.04.2</a></td>
   <td align="right">5519kB</td>
   <td><tt>9ee79ec5ea3fce8eda504fdee35b878462c03d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kompare-20.04.2.tar.xz">kompare-20.04.2</a></td>
   <td align="right">783kB</td>
   <td><tt>d2f12e0baebebc9ea6a28ba8e1dee7bc0c59ddba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/konqueror-20.04.2.tar.xz">konqueror-20.04.2</a></td>
   <td align="right">7203kB</td>
   <td><tt>5a9a5a725d12b668b499672507ccaf34b309a6ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/konquest-20.04.2.tar.xz">konquest-20.04.2</a></td>
   <td align="right">644kB</td>
   <td><tt>9d784ae3c3e62f0ab7704acdd1d7e80ff8320c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/konsole-20.04.2.tar.xz">konsole-20.04.2</a></td>
   <td align="right">1138kB</td>
   <td><tt>451b47555271bd8ec8c0e29fa67551cd540a8f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kontact-20.04.2.tar.xz">kontact-20.04.2</a></td>
   <td align="right">774kB</td>
   <td><tt>01bc9b08b6cfecd7228469195d4a6daea9f6e41c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kontactinterface-20.04.2.tar.xz">kontactinterface-20.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>7cf41b884faf9bd6096a6294aa20c73d3856762b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kopete-20.04.2.tar.xz">kopete-20.04.2</a></td>
   <td align="right">9152kB</td>
   <td><tt>d39f80f9957be6db2e51c34e81a39d9494f37c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/korganizer-20.04.2.tar.xz">korganizer-20.04.2</a></td>
   <td align="right">2188kB</td>
   <td><tt>99cea06f902ec8f3df1f0d70dec9fd9d363c46d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kpat-20.04.2.tar.xz">kpat-20.04.2</a></td>
   <td align="right">3494kB</td>
   <td><tt>c5b92d0a7d75f95857df587691368a228d576339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kpimtextedit-20.04.2.tar.xz">kpimtextedit-20.04.2</a></td>
   <td align="right">177kB</td>
   <td><tt>3e81e3608e16f9f6e2564b73d263fc25abab05bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kpkpass-20.04.2.tar.xz">kpkpass-20.04.2</a></td>
   <td align="right">22kB</td>
   <td><tt>cb22ef3f3cb0ac9ab90b6992f878dc2dc1427bb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kqtquickcharts-20.04.2.tar.xz">kqtquickcharts-20.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>a1f16ce169255635fc535d318b16273c1b9987a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/krdc-20.04.2.tar.xz">krdc-20.04.2</a></td>
   <td align="right">1391kB</td>
   <td><tt>ecd468e26edf5daf38e32a0b2db180be760db5eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kreversi-20.04.2.tar.xz">kreversi-20.04.2</a></td>
   <td align="right">924kB</td>
   <td><tt>037d60e193ac7481a822cb1656f449ebc5ee7690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/krfb-20.04.2.tar.xz">krfb-20.04.2</a></td>
   <td align="right">1246kB</td>
   <td><tt>bb804eba4246cbd0115b99cd8d33891fc1acf21c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kross-interpreters-20.04.2.tar.xz">kross-interpreters-20.04.2</a></td>
   <td align="right">147kB</td>
   <td><tt>8b0203b6a3ce0756dd0d99224e38164ad9af3ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kruler-20.04.2.tar.xz">kruler-20.04.2</a></td>
   <td align="right">244kB</td>
   <td><tt>b3e28383ee4d044dd9ca19b89516542d32d0b49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kshisen-20.04.2.tar.xz">kshisen-20.04.2</a></td>
   <td align="right">802kB</td>
   <td><tt>9dd13baffebf48c01c31e0dfe2107829eb1f775e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ksirk-20.04.2.tar.xz">ksirk-20.04.2</a></td>
   <td align="right">6825kB</td>
   <td><tt>7d1f6f15e9b951481be313bd0db29c5521a8072a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ksmtp-20.04.2.tar.xz">ksmtp-20.04.2</a></td>
   <td align="right">40kB</td>
   <td><tt>91638094d41819fda755333cf73d75f80d14b1a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ksnakeduel-20.04.2.tar.xz">ksnakeduel-20.04.2</a></td>
   <td align="right">591kB</td>
   <td><tt>8760d8989125e7fead52d1195d1fba9895570f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kspaceduel-20.04.2.tar.xz">kspaceduel-20.04.2</a></td>
   <td align="right">598kB</td>
   <td><tt>7c5164dce2b9dc51fce734308a56f59d252df33a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ksquares-20.04.2.tar.xz">ksquares-20.04.2</a></td>
   <td align="right">255kB</td>
   <td><tt>7612ceff88262f7e99d6297c4e714c036cb7206a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ksudoku-20.04.2.tar.xz">ksudoku-20.04.2</a></td>
   <td align="right">1616kB</td>
   <td><tt>95fbd95239b8230b4ea720c94d2cc157ebe73836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ksystemlog-20.04.2.tar.xz">ksystemlog-20.04.2</a></td>
   <td align="right">1884kB</td>
   <td><tt>0d2dedc3ab531ea9da63eaaca1c38b9f101b8391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kteatime-20.04.2.tar.xz">kteatime-20.04.2</a></td>
   <td align="right">280kB</td>
   <td><tt>60d823ee253cc98535d80d1d18732912dc38074f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktimer-20.04.2.tar.xz">ktimer-20.04.2</a></td>
   <td align="right">368kB</td>
   <td><tt>fcc2aa5c8f7293e4d657e44b29dfaf7ff1294daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktnef-20.04.2.tar.xz">ktnef-20.04.2</a></td>
   <td align="right">292kB</td>
   <td><tt>d05fd6b12fe17843b1aea50ea0be6c814d968f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktouch-20.04.2.tar.xz">ktouch-20.04.2</a></td>
   <td align="right">4821kB</td>
   <td><tt>ec78c54c201cd8ddfc94490bc4c33e50108440e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-accounts-kcm-20.04.2.tar.xz">ktp-accounts-kcm-20.04.2</a></td>
   <td align="right">255kB</td>
   <td><tt>3f0d39c1e8070c9a0d21b289fcd073c7bb3529b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-approver-20.04.2.tar.xz">ktp-approver-20.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>5892b4c893e25630b6af929ff2728581a0b4e3c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-auth-handler-20.04.2.tar.xz">ktp-auth-handler-20.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>84d4c0f5047ea3aec8cbf8f6ab2acee92238fe89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-call-ui-20.04.2.tar.xz">ktp-call-ui-20.04.2</a></td>
   <td align="right">94kB</td>
   <td><tt>804064add951f88580b75677b1ea895bb46ba777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-common-internals-20.04.2.tar.xz">ktp-common-internals-20.04.2</a></td>
   <td align="right">438kB</td>
   <td><tt>3d8dc50f3bb222391278f42ee9cb58f7bde701e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-contact-list-20.04.2.tar.xz">ktp-contact-list-20.04.2</a></td>
   <td align="right">145kB</td>
   <td><tt>558adb3f426c9344f6a6bd6bdc27e1364f71836f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-contact-runner-20.04.2.tar.xz">ktp-contact-runner-20.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>1de79caee5b8c64ecdafc2ad3984d13bfa943f9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-desktop-applets-20.04.2.tar.xz">ktp-desktop-applets-20.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>744d0206dbce950172534f437cc64c525b0d7bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-filetransfer-handler-20.04.2.tar.xz">ktp-filetransfer-handler-20.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>d5a1177a27f7aab4107ba3e72e1d0ae5de3805dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-kded-module-20.04.2.tar.xz">ktp-kded-module-20.04.2</a></td>
   <td align="right">95kB</td>
   <td><tt>1193aa1d6b8880981e543a3b6b2caa4c1ebe662e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-send-file-20.04.2.tar.xz">ktp-send-file-20.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>2c5f243cd18269a452558719cb08bafcc2864966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktp-text-ui-20.04.2.tar.xz">ktp-text-ui-20.04.2</a></td>
   <td align="right">458kB</td>
   <td><tt>585d50e9ad912388f17dd4318caef6e9c25a5f94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/ktuberling-20.04.2.tar.xz">ktuberling-20.04.2</a></td>
   <td align="right">69066kB</td>
   <td><tt>f54ddd438d8cc5ba4edd66725aa9cd83d48de8da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kturtle-20.04.2.tar.xz">kturtle-20.04.2</a></td>
   <td align="right">1790kB</td>
   <td><tt>7241d4c72935cf94b406c94b82101ea8b53952b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kubrick-20.04.2.tar.xz">kubrick-20.04.2</a></td>
   <td align="right">310kB</td>
   <td><tt>b7abd4dbffd85a1077753e6be8219e78b0573fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kwalletmanager-20.04.2.tar.xz">kwalletmanager-20.04.2</a></td>
   <td align="right">770kB</td>
   <td><tt>0fca5c610ea9d70abb6b76119c2d06ff79e5e2ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kwave-20.04.2.tar.xz">kwave-20.04.2</a></td>
   <td align="right">6050kB</td>
   <td><tt>c13b8a74f9c7dad6069a7480a2e21c39378e2564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/kwordquiz-20.04.2.tar.xz">kwordquiz-20.04.2</a></td>
   <td align="right">4079kB</td>
   <td><tt>d6fb5693bb63940bf5d5bb0449fe639f755ebe56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libgravatar-20.04.2.tar.xz">libgravatar-20.04.2</a></td>
   <td align="right">30kB</td>
   <td><tt>431bae33a57fc863550e89b333ddfdfe58caad4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkcddb-20.04.2.tar.xz">libkcddb-20.04.2</a></td>
   <td align="right">417kB</td>
   <td><tt>1717826b669b01a684dbb41ce7680efe30e20a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkcompactdisc-20.04.2.tar.xz">libkcompactdisc-20.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>3189b5d5928b8e852e401bafd777b958003a30e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkdcraw-20.04.2.tar.xz">libkdcraw-20.04.2</a></td>
   <td align="right">40kB</td>
   <td><tt>58c1f7b05b9acf9deb7e3e7fbeb949ce98d423b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkdegames-20.04.2.tar.xz">libkdegames-20.04.2</a></td>
   <td align="right">6236kB</td>
   <td><tt>0689b22d330b7181974802d7fed7968c63857514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkdepim-20.04.2.tar.xz">libkdepim-20.04.2</a></td>
   <td align="right">326kB</td>
   <td><tt>f154416b0165d89cceddbb3ba96d12e22bfb078d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkeduvocdocument-20.04.2.tar.xz">libkeduvocdocument-20.04.2</a></td>
   <td align="right">202kB</td>
   <td><tt>993adca350450e9c88205a68aa7f5aaed49d431e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkexiv2-20.04.2.tar.xz">libkexiv2-20.04.2</a></td>
   <td align="right">63kB</td>
   <td><tt>6a666d0a16fc61d058d3078f6ac7c360854536e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkgapi-20.04.2.tar.xz">libkgapi-20.04.2</a></td>
   <td align="right">234kB</td>
   <td><tt>37357ab29e921356b393bd028fa7868667e67e25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkgeomap-20.04.2.tar.xz">libkgeomap-20.04.2</a></td>
   <td align="right">147kB</td>
   <td><tt>a8744196cb65e9ee2ed2ea2af0a7bbf6a4666ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkipi-20.04.2.tar.xz">libkipi-20.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>cc4664b429c2d5493100b4121a7c672bc4c05ed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkleo-20.04.2.tar.xz">libkleo-20.04.2</a></td>
   <td align="right">343kB</td>
   <td><tt>4a9826dbcf0873f56cbb4a7c5bea66e2924602b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkmahjongg-20.04.2.tar.xz">libkmahjongg-20.04.2</a></td>
   <td align="right">1645kB</td>
   <td><tt>0f80ada83ecfd321d5969797bdbbbc063ca72998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libkomparediff2-20.04.2.tar.xz">libkomparediff2-20.04.2</a></td>
   <td align="right">166kB</td>
   <td><tt>6fd82404fdf75a214d90b69f7850d31f762e59f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libksane-20.04.2.tar.xz">libksane-20.04.2</a></td>
   <td align="right">140kB</td>
   <td><tt>c78f4bf24e097433dbf7dfa45ba07cb1c03ce925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/libksieve-20.04.2.tar.xz">libksieve-20.04.2</a></td>
   <td align="right">542kB</td>
   <td><tt>7b582bf4f98efb8a4a98f73700fea93da4716bcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/lokalize-20.04.2.tar.xz">lokalize-20.04.2</a></td>
   <td align="right">1678kB</td>
   <td><tt>a5d19a525a3450d01dd8ea4ac55821db49980b6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/lskat-20.04.2.tar.xz">lskat-20.04.2</a></td>
   <td align="right">1191kB</td>
   <td><tt>f20280b5a994a3fa4145e120fad3ad1422b2a649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/mailcommon-20.04.2.tar.xz">mailcommon-20.04.2</a></td>
   <td align="right">690kB</td>
   <td><tt>a94115904db69cb7f230177c4b29ac64fd0ed91d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/mailimporter-20.04.2.tar.xz">mailimporter-20.04.2</a></td>
   <td align="right">527kB</td>
   <td><tt>cf090ff4c07c698016df46171951c0505e11ae56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/marble-20.04.2.tar.xz">marble-20.04.2</a></td>
   <td align="right">50982kB</td>
   <td><tt>cdd47bf9157c645d69060b5256ec3d170a68967c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/mbox-importer-20.04.2.tar.xz">mbox-importer-20.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>a1544aa1b13a5439724c5ce03e8be3d70f3a2521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/messagelib-20.04.2.tar.xz">messagelib-20.04.2</a></td>
   <td align="right">10270kB</td>
   <td><tt>43982608bae1ebef64facddef2d95443940ebab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/minuet-20.04.2.tar.xz">minuet-20.04.2</a></td>
   <td align="right">26955kB</td>
   <td><tt>f9e5c7aa13d03f8a3729169ac600a5904dde5461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/okular-20.04.2.tar.xz">okular-20.04.2</a></td>
   <td align="right">7068kB</td>
   <td><tt>f2f2186ab37a371f08e74aa3ab14d923c87bc119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/palapeli-20.04.2.tar.xz">palapeli-20.04.2</a></td>
   <td align="right">2023kB</td>
   <td><tt>960e56d113ba043da06bdcae9978e5300a212707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/parley-20.04.2.tar.xz">parley-20.04.2</a></td>
   <td align="right">8631kB</td>
   <td><tt>f0023e97669ce27e320e953d5e29b46d3a1be0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/picmi-20.04.2.tar.xz">picmi-20.04.2</a></td>
   <td align="right">1328kB</td>
   <td><tt>33b6ad0dd40abfcf1588bb76026414964b69700a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/pimcommon-20.04.2.tar.xz">pimcommon-20.04.2</a></td>
   <td align="right">287kB</td>
   <td><tt>0ff8aca00a4e497fc364d9a0cb678bd152e39b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/pim-data-exporter-20.04.2.tar.xz">pim-data-exporter-20.04.2</a></td>
   <td align="right">271kB</td>
   <td><tt>59838ef2397db1cf03d0c542e3ecfa4838367180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/pim-sieve-editor-20.04.2.tar.xz">pim-sieve-editor-20.04.2</a></td>
   <td align="right">442kB</td>
   <td><tt>5781812773a5f4b3f9f2d99910998ac317acfce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/poxml-20.04.2.tar.xz">poxml-20.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>824b27876d9b452b1bfa399abfee561dbeb1ab88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/print-manager-20.04.2.tar.xz">print-manager-20.04.2</a></td>
   <td align="right">249kB</td>
   <td><tt>eaa5ac34adbcf4b3a345586f8af2066e4cdd9856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/rocs-20.04.2.tar.xz">rocs-20.04.2</a></td>
   <td align="right">1472kB</td>
   <td><tt>8a10b35e540a91bf1bfb0ee0edf0724e3d2c3e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/signon-kwallet-extension-20.04.2.tar.xz">signon-kwallet-extension-20.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>06554ab11a64726bc351202d076e8a98d3e90281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/spectacle-20.04.2.tar.xz">spectacle-20.04.2</a></td>
   <td align="right">646kB</td>
   <td><tt>54c434a23e8816964114e3ba1ebf98a3ab233092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/step-20.04.2.tar.xz">step-20.04.2</a></td>
   <td align="right">905kB</td>
   <td><tt>be7622f5a46aa6a38edaf0c0e8bc0c9f02584893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/svgpart-20.04.2.tar.xz">svgpart-20.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>4608dfec42c02ac4953195efdc714e2b322746e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/sweeper-20.04.2.tar.xz">sweeper-20.04.2</a></td>
   <td align="right">359kB</td>
   <td><tt>d3bc4db808a6a82f82ed4d6e9fdef9dc2eb12a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/umbrello-20.04.2.tar.xz">umbrello-20.04.2</a></td>
   <td align="right">5416kB</td>
   <td><tt>02b65a74c5970ca2995e11c4e33b3e1508854f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/yakuake-20.04.2.tar.xz">yakuake-20.04.2</a></td>
   <td align="right">365kB</td>
   <td><tt>cc2e5dd04af508340fce630d8b2f75b146f11bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.2/src/zeroconf-ioslave-20.04.2.tar.xz">zeroconf-ioslave-20.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>709da80519eb52d07faf014cbbfb143a9e1c36b9</tt></td>
</tr>

</table>
