
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/attica-5.27.0.tar.xz">attica-5.27.0</a></td>
   <td align="right">58kB</td>
   <td><tt>5fff627f860ef653bd578bcd7a6161378a143d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/baloo-5.27.0.tar.xz">baloo-5.27.0</a></td>
   <td align="right">195kB</td>
   <td><tt>69ae6c78921aff8b97fb8ed73bfb59e98a801874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/bluez-qt-5.27.0.tar.xz">bluez-qt-5.27.0</a></td>
   <td align="right">72kB</td>
   <td><tt>d04dc0bd2bc0c3dde55ecb65c806b863e0e6b70a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/breeze-icons-5.27.0.tar.xz">breeze-icons-5.27.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c9965b21614ad242fa05f389faf3ec165c250d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/extra-cmake-modules-5.27.0.tar.xz">extra-cmake-modules-5.27.0</a></td>
   <td align="right">280kB</td>
   <td><tt>e476ffdbc03f5307481f022b7c65fdf96986500c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/frameworkintegration-5.27.0.tar.xz">frameworkintegration-5.27.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>775050227802c34bcd39ea9ae867aff7e3436e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kactivities-5.27.0.tar.xz">kactivities-5.27.0</a></td>
   <td align="right">59kB</td>
   <td><tt>10741cb62e22b89db93ef5476252a928d2b28f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kactivities-stats-5.27.0.tar.xz">kactivities-stats-5.27.0</a></td>
   <td align="right">57kB</td>
   <td><tt>0cb0245a74c8af9fc38e79b0db10c5c218532d6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kapidox-5.27.0.tar.xz">kapidox-5.27.0</a></td>
   <td align="right">385kB</td>
   <td><tt>0ddacb937b6e1742477af320a3ebefba6f948350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/karchive-5.27.0.tar.xz">karchive-5.27.0</a></td>
   <td align="right">108kB</td>
   <td><tt>bf65e2fa8b6d13d4d0d5e59d47d8b30598ba6e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kauth-5.27.0.tar.xz">kauth-5.27.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a07e57074eb0dd65ae7c042555ffdab50283e745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kbookmarks-5.27.0.tar.xz">kbookmarks-5.27.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3d1ac791f673a486fe95e9df34d9fd380d89dc0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kcmutils-5.27.0.tar.xz">kcmutils-5.27.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c7b21c95705eb65be7285b21969d526cd789c8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kcodecs-5.27.0.tar.xz">kcodecs-5.27.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c933f2a032a44332bef7d31d458ef519475f8e84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kcompletion-5.27.0.tar.xz">kcompletion-5.27.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f4dd4450944bdce83b105ab1fcc780a86505ff09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kconfig-5.27.0.tar.xz">kconfig-5.27.0</a></td>
   <td align="right">227kB</td>
   <td><tt>5b9cc64671c77177c32c3982bab89a235c11db6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kconfigwidgets-5.27.0.tar.xz">kconfigwidgets-5.27.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8c7cbd2ea93e783574600fbc824dd232789ce895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kcoreaddons-5.27.0.tar.xz">kcoreaddons-5.27.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bc769c78efe64c32346e9a2808ab1a4a49f57842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kcrash-5.27.0.tar.xz">kcrash-5.27.0</a></td>
   <td align="right">20kB</td>
   <td><tt>e6de058ab6a6705d627b497334e8c0698349dba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kdbusaddons-5.27.0.tar.xz">kdbusaddons-5.27.0</a></td>
   <td align="right">33kB</td>
   <td><tt>7f4023ffd77e3e54f3561c496147261ad0ffb5a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kdeclarative-5.27.0.tar.xz">kdeclarative-5.27.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8fb537dfa3c9d4762206136958c4f2494fe0da23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kded-5.27.0.tar.xz">kded-5.27.0</a></td>
   <td align="right">35kB</td>
   <td><tt>e95b8e0afc87b80d2424916cbce67f7fece125e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kdesignerplugin-5.27.0.tar.xz">kdesignerplugin-5.27.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9c785b766244f9a996e40b3df5efeaa7b4c2592c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kdesu-5.27.0.tar.xz">kdesu-5.27.0</a></td>
   <td align="right">43kB</td>
   <td><tt>c61826127fe14cacbbb342786811f586a72bb571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kdewebkit-5.27.0.tar.xz">kdewebkit-5.27.0</a></td>
   <td align="right">28kB</td>
   <td><tt>15d660e1e6f5fa6906200a8901d705787b21a1a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kdnssd-5.27.0.tar.xz">kdnssd-5.27.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>dfe6b75e35876e4b255f4ee8b7053b1d6b783cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kdoctools-5.27.0.tar.xz">kdoctools-5.27.0</a></td>
   <td align="right">426kB</td>
   <td><tt>e7bac195dd8e188a6a18a54ff76bcc68c0d5eaf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kemoticons-5.27.0.tar.xz">kemoticons-5.27.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>70e4210ddc488589a88ff83fe1561f2b9bb40780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kfilemetadata-5.27.0.tar.xz">kfilemetadata-5.27.0</a></td>
   <td align="right">131kB</td>
   <td><tt>ef50b8a8ca817897ccc10b8b622785f4989c2468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kglobalaccel-5.27.0.tar.xz">kglobalaccel-5.27.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>411847abb77fc5d5461464f6978569d2364869cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kguiaddons-5.27.0.tar.xz">kguiaddons-5.27.0</a></td>
   <td align="right">38kB</td>
   <td><tt>f07350b436db2630180dafef1dcfe7ce13344117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/ki18n-5.27.0.tar.xz">ki18n-5.27.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5b9580aa53ab56cacb01391b916439f69d0f906c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kiconthemes-5.27.0.tar.xz">kiconthemes-5.27.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d3caf29c89990d1ca8d2f9bf7769395c93c8e1bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kidletime-5.27.0.tar.xz">kidletime-5.27.0</a></td>
   <td align="right">25kB</td>
   <td><tt>ff7939f67300a78506f2f62eaebb075b4e53e690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kimageformats-5.27.0.tar.xz">kimageformats-5.27.0</a></td>
   <td align="right">199kB</td>
   <td><tt>671e6f36913119b61d82d665ab28c7867e426ba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kinit-5.27.0.tar.xz">kinit-5.27.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d8eeb18a2e2f4b33d87e5f78a78cf2f1da7f3c4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kio-5.27.0.tar.xz">kio-5.27.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a78657213fb8872e0b7bc95f59d111d8d2ccf083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kitemmodels-5.27.0.tar.xz">kitemmodels-5.27.0</a></td>
   <td align="right">379kB</td>
   <td><tt>16d5d5bb525386c5709f481110f9725625248c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kitemviews-5.27.0.tar.xz">kitemviews-5.27.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>20df8ee71159d3ab9c8d342cdc96075c64524f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kjobwidgets-5.27.0.tar.xz">kjobwidgets-5.27.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e99c87d2b251beb92185ee2f1087b958bcb3ec4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/knewstuff-5.27.0.tar.xz">knewstuff-5.27.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>a138deaad93e477d1e168791b2477385eac13913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/knotifications-5.27.0.tar.xz">knotifications-5.27.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>eff7bc444efb3a93b54facb98e15452883cc7f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/knotifyconfig-5.27.0.tar.xz">knotifyconfig-5.27.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d01fa585bd2978732a0c48c587393f9b246e0eab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kpackage-5.27.0.tar.xz">kpackage-5.27.0</a></td>
   <td align="right">157kB</td>
   <td><tt>74d92572bef2fb5f5dab978ff9b97033959de3f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kparts-5.27.0.tar.xz">kparts-5.27.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>f4577be202cfa581e7d9bdf2f21503910f2836a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kpeople-5.27.0.tar.xz">kpeople-5.27.0</a></td>
   <td align="right">58kB</td>
   <td><tt>936ed5b4ab50bc6827599b2fa7a958dfd6f69e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kplotting-5.27.0.tar.xz">kplotting-5.27.0</a></td>
   <td align="right">28kB</td>
   <td><tt>19a38933744488e982f69b131c4e9982336da698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kpty-5.27.0.tar.xz">kpty-5.27.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>c10d5fbbf5f8e3d454a06153a1ad09680a2aa32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/krunner-5.27.0.tar.xz">krunner-5.27.0</a></td>
   <td align="right">65kB</td>
   <td><tt>24c4eb76a68bf0dbca57c3d0dbf4b0e0a2ac27d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kservice-5.27.0.tar.xz">kservice-5.27.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7cf9ab743491775557109dbd5fbc6d8ab09ccd97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/ktexteditor-5.27.0.tar.xz">ktexteditor-5.27.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b5204556b25d6c2ec4073b4d1d77d923c6f33169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/ktextwidgets-5.27.0.tar.xz">ktextwidgets-5.27.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c1f3e0e9a928f68c92bf7c6c59ac2b6cd73709be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kunitconversion-5.27.0.tar.xz">kunitconversion-5.27.0</a></td>
   <td align="right">634kB</td>
   <td><tt>27d2d614bb2d30630af845121c8324c32ceaf443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kwallet-5.27.0.tar.xz">kwallet-5.27.0</a></td>
   <td align="right">300kB</td>
   <td><tt>0aafdf51d4358834382d44bd1c1140d12951d1e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kwayland-5.27.0.tar.xz">kwayland-5.27.0</a></td>
   <td align="right">229kB</td>
   <td><tt>f3ecb17865d87c3511f2c8f3cfc19446d16a42de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kwidgetsaddons-5.27.0.tar.xz">kwidgetsaddons-5.27.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>3b322eb7c87a28e99b7dfacafad3b0c3764110ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kwindowsystem-5.27.0.tar.xz">kwindowsystem-5.27.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>af5db2a115a27297f1c0b5b105ae4a53d92b7fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kxmlgui-5.27.0.tar.xz">kxmlgui-5.27.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>090376d7a14b9ede9371e88960fd67a1f699e6b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/kxmlrpcclient-5.27.0.tar.xz">kxmlrpcclient-5.27.0</a></td>
   <td align="right">27kB</td>
   <td><tt>62af0607bc8b355634234871d5000cd47bed1ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/modemmanager-qt-5.27.0.tar.xz">modemmanager-qt-5.27.0</a></td>
   <td align="right">95kB</td>
   <td><tt>b18fe519f3a971d1d1d15736303984c6927a6429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/networkmanager-qt-5.27.0.tar.xz">networkmanager-qt-5.27.0</a></td>
   <td align="right">153kB</td>
   <td><tt>d6a5f65d46074a3ddbf6f7ddcce173295ebeea0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/oxygen-icons5-5.27.0.tar.xz">oxygen-icons5-5.27.0</a></td>
   <td align="right">223MB</td>
   <td><tt>40ca1845ac4d3d2e3e69bfd640957ed7daea94f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/plasma-framework-5.27.0.tar.xz">plasma-framework-5.27.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>236340e3b5c12d69e7d5d0f34ffffa558c19992d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/solid-5.27.0.tar.xz">solid-5.27.0</a></td>
   <td align="right">268kB</td>
   <td><tt>0a399e79a5a0a962d78af4d7816d6c6db8f890f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/sonnet-5.27.0.tar.xz">sonnet-5.27.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>b730b909773143b350cb90a8c32ea602e623a599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.27/threadweaver-5.27.0.tar.xz">threadweaver-5.27.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>21af1b70a740be989f9cdfd16807ce228bcd5faf</tt></td>
</tr>

</table>
