<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdeaccessibility-4.5.95.tar.bz2">kdeaccessibility-4.5.95</a></td><td align="right">5,0MB</td><td><tt>edd7b780be88d15f89d6686ed4e7d583fb259117</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdeadmin-4.5.95.tar.bz2">kdeadmin-4.5.95</a></td><td align="right">776KB</td><td><tt>d5c9bb6fd00f0b3799a5eed5c249a14edf4d2d31</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdeartwork-4.5.95.tar.bz2">kdeartwork-4.5.95</a></td><td align="right">112MB</td><td><tt>e1dc0c1fb1f1910c09f4878191d250b9105379ed</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdebase-4.5.95.tar.bz2">kdebase-4.5.95</a></td><td align="right">2,6MB</td><td><tt>dde74bbd52d115598439ccdb62024d42977943e0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdebase-runtime-4.5.95.tar.bz2">kdebase-runtime-4.5.95</a></td><td align="right">5,6MB</td><td><tt>416fc73fffcfed9c1ac03c96af664cab872eaf6b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdebase-workspace-4.5.95.tar.bz2">kdebase-workspace-4.5.95</a></td><td align="right">67MB</td><td><tt>8e7f7b9c74a72d7bf92d9d1d443a775d90fa780c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdebindings-4.5.95.tar.bz2">kdebindings-4.5.95</a></td><td align="right">6,8MB</td><td><tt>55ce512006f53b31c41675fabe4565b6e4eb4483</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdeedu-4.5.95.tar.bz2">kdeedu-4.5.95</a></td><td align="right">69MB</td><td><tt>0297672b936d2ad7b1e171ac4fbdcd75bca2f938</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdegames-4.5.95.tar.bz2">kdegames-4.5.95</a></td><td align="right">57MB</td><td><tt>4d75cc3c5746e53763e6f59bb8319cff1fd099ac</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdegraphics-4.5.95.tar.bz2">kdegraphics-4.5.95</a></td><td align="right">4,9MB</td><td><tt>48975504cc2e46aa316b2e16256f96acc293343b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdelibs-4.5.95.tar.bz2">kdelibs-4.5.95</a></td><td align="right">14MB</td><td><tt>22cdf1057b3c935168ae11ae29bf75cf5c4362e6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdemultimedia-4.5.95.tar.bz2">kdemultimedia-4.5.95</a></td><td align="right">1,6MB</td><td><tt>e9f8d71a17f626964295e6e5185f3efac197dc40</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdenetwork-4.5.95.tar.bz2">kdenetwork-4.5.95</a></td><td align="right">8,5MB</td><td><tt>67d7553a270f407012e5a21e5047f545cbde369d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdepimlibs-4.5.95.tar.bz2">kdepimlibs-4.5.95</a></td><td align="right">3,1MB</td><td><tt>df77edc7ed579c26597478aa5fbf9c11c075e954</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdeplasma-addons-4.5.95.tar.bz2">kdeplasma-addons-4.5.95</a></td><td align="right">1,9MB</td><td><tt>abffc4539e12f3e75ff98395c723bfd074f118e7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdesdk-4.5.95.tar.bz2">kdesdk-4.5.95</a></td><td align="right">5,9MB</td><td><tt>84075b3ac9d78345f28df0018d0d0b08b942411e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdetoys-4.5.95.tar.bz2">kdetoys-4.5.95</a></td><td align="right">396KB</td><td><tt>6a8cc33f288ef0c3e17622feae589529d0116484</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdeutils-4.5.95.tar.bz2">kdeutils-4.5.95</a></td><td align="right">3,6MB</td><td><tt>3f6ca4d68edb62c1b38c774aff103bba111caa02</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/kdewebdev-4.5.95.tar.bz2">kdewebdev-4.5.95</a></td><td align="right">2,2MB</td><td><tt>d13041deb22f93ba9b3444d80ee0cfeccbba0f50</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.95/src/oxygen-icons-4.5.95.tar.bz2">oxygen-icons-4.5.95</a></td><td align="right">277MB</td><td><tt>f0ab38a07e7533cfc110e4622610416833ff28f0</tt></td></tr>
</table>
