<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/bluedevil-5.23.4.tar.xz">bluedevil-5.23.4</a></td>
   <td align="right">167kB</td>
   <td><tt>5b91379a2968345fa257ff33e8cbded0b77f2d12044d2847d0dcbea3a7e65d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/breeze-5.23.4.tar.xz">breeze-5.23.4</a></td>
   <td align="right">70MB</td>
   <td><tt>e2903bfd30a4ead6cec5f846c95194ee653031c4a0ac08f866dc3df1528e70f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/breeze-grub-5.23.4.tar.xz">breeze-grub-5.23.4</a></td>
   <td align="right">3.0MB</td>
   <td><tt>5876eec26d1e9fd088e1a0db844b1be607d7e7361238451ff993d9b65a4374fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/breeze-gtk-5.23.4.tar.xz">breeze-gtk-5.23.4</a></td>
   <td align="right">42kB</td>
   <td><tt>f8a66f39a619854f00f8d631835f8a9f41d92dffa17bc1c1a46f537e3c31604b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/breeze-plymouth-5.23.4.tar.xz">breeze-plymouth-5.23.4</a></td>
   <td align="right">107kB</td>
   <td><tt>be77995c87c94adc792621ffd31f9a88438545b2ac04013dc72b210aa1bd88e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/discover-5.23.4.tar.xz">discover-5.23.4</a></td>
   <td align="right">7.8MB</td>
   <td><tt>3f46427d5cedaa9b2c1fc68f42140b4fced3b952d9a4533a89e01037eeb9ab7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/drkonqi-5.23.4.tar.xz">drkonqi-5.23.4</a></td>
   <td align="right">774kB</td>
   <td><tt>abe171a1fc0f543cc98b2c231a2d28d08e390261792cbcf76d03f5e5296b7b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kactivitymanagerd-5.23.4.tar.xz">kactivitymanagerd-5.23.4</a></td>
   <td align="right">102kB</td>
   <td><tt>7feda23f82e8da0178036d1ec0aa3fa074c484dd6108b7b6fb93eb79d15e19d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kde-cli-tools-5.23.4.tar.xz">kde-cli-tools-5.23.4</a></td>
   <td align="right">617kB</td>
   <td><tt>f20583c7999014067613a63cd4f299b75eddd77c56e6d0506391f6381610c32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kdecoration-5.23.4.tar.xz">kdecoration-5.23.4</a></td>
   <td align="right">46kB</td>
   <td><tt>3ab5b5cc8030552215845690fb7107764e59ead9ce9b5a50f6a810b5166c0069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kde-gtk-config-5.23.4.tar.xz">kde-gtk-config-5.23.4</a></td>
   <td align="right">69kB</td>
   <td><tt>c9e7a57dbbca915d2ab7d47cd0cc6caea8bcd0707a4e0ca83cffedc6c9dc6714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kdeplasma-addons-5.23.4.tar.xz">kdeplasma-addons-5.23.4</a></td>
   <td align="right">613kB</td>
   <td><tt>90dc3540fad81f57cc933b28ba4aa7e73c2c956f1486047532b12385ae68fdc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kgamma5-5.23.4.tar.xz">kgamma5-5.23.4</a></td>
   <td align="right">81kB</td>
   <td><tt>d3cf26446b29dbb995926c4a24f0ac21615e6f66a81663dc03cab3de454075ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/khotkeys-5.23.4.tar.xz">khotkeys-5.23.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e8b95f5a5e5a3dd25ebff200402ac5007f4888f898c7622e1fe67c73d9a054bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kinfocenter-5.23.4.tar.xz">kinfocenter-5.23.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4d2ddff4b11a900fb0098e347955a83d7a5613e927beaa81ed2c4f890be6707c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kmenuedit-5.23.4.tar.xz">kmenuedit-5.23.4</a></td>
   <td align="right">879kB</td>
   <td><tt>935904107c22af3d54951c6d088fde485d774e3df49b0bbd88e2ed092d6f34c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kscreen-5.23.4.tar.xz">kscreen-5.23.4</a></td>
   <td align="right">130kB</td>
   <td><tt>c58eed6348df77cd0ebd972b5fa615f6200c831c75096bb14a8609f2fdee4969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kscreenlocker-5.23.4.tar.xz">kscreenlocker-5.23.4</a></td>
   <td align="right">114kB</td>
   <td><tt>aefa7dd1007688124af48b303e895c32a15c302029adb9b6036642721c9b8fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/ksshaskpass-5.23.4.tar.xz">ksshaskpass-5.23.4</a></td>
   <td align="right">23kB</td>
   <td><tt>93068fe830c56ae4f181fd0cb304ff469853981bc685d26ac9cf1d83a85b3ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/ksystemstats-5.23.4.tar.xz">ksystemstats-5.23.4</a></td>
   <td align="right">88kB</td>
   <td><tt>ff0d79381c2a0425316141b4bbc08a62fafc83f4d204a897126553dc65387a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kwallet-pam-5.23.4.tar.xz">kwallet-pam-5.23.4</a></td>
   <td align="right">19kB</td>
   <td><tt>a76fa2db804b99c0e71135ccb0a48262b4c8ab8ac1d411ff6b1f0e657db4cc23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kwayland-integration-5.23.4.tar.xz">kwayland-integration-5.23.4</a></td>
   <td align="right">23kB</td>
   <td><tt>2fcda390016879f99f277d0434685e6d83e86c135799748683bed539158f4692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kwayland-server-5.23.4.tar.xz">kwayland-server-5.23.4</a></td>
   <td align="right">212kB</td>
   <td><tt>35db954b6d919cb20cf02d0956170765b09f04c7849d6e1bb3846b1f22e19b8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kwin-5.23.4.tar.xz">kwin-5.23.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>4cefaf0c02c19d73417f4bcafd1354966914fefdc4e3cdab41689e0caea91167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/kwrited-5.23.4.tar.xz">kwrited-5.23.4</a></td>
   <td align="right">20kB</td>
   <td><tt>337adb66bb3c847442127b4ab2aa330b40476207024978c096219658e6ea5197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/layer-shell-qt-5.23.4.tar.xz">layer-shell-qt-5.23.4</a></td>
   <td align="right">17kB</td>
   <td><tt>53c4106dbba50ace8c4c0e1e2739a1b190797e2b0a48725b88bdcbd1f9d1e428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/libkscreen-5.23.4.tar.xz">libkscreen-5.23.4</a></td>
   <td align="right">95kB</td>
   <td><tt>57ccef513ec0e57271e2de43239253ab16d057f6fa8399d2d2c7c2a52a7c3d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/libksysguard-5.23.4.tar.xz">libksysguard-5.23.4</a></td>
   <td align="right">751kB</td>
   <td><tt>9c1e08cb9a30a23be0485bb015515b271ebbba9a8a00f4a635a226ce152e33f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/milou-5.23.4.tar.xz">milou-5.23.4</a></td>
   <td align="right">46kB</td>
   <td><tt>c8a1e20384e0581390e422ebf2514570227c082ab4e7693cdd30df9fa48a9697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/oxygen-5.23.4.tar.xz">oxygen-5.23.4</a></td>
   <td align="right">4.3MB</td>
   <td><tt>bfaf8b86f243d4f390f631ea28ec1125bbf95cc4f011dec7e95002509283992c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-browser-integration-5.23.4.tar.xz">plasma-browser-integration-5.23.4</a></td>
   <td align="right">214kB</td>
   <td><tt>09a418c5937357ae437b8d2baec9f183126ff5d13c94a05ed80f4480b4018400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-desktop-5.23.4.tar.xz">plasma-desktop-5.23.4</a></td>
   <td align="right">15MB</td>
   <td><tt>5a8970cb0610296c493e35b509fdfbcb253539423dff14b38f4165ff0dd588dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-disks-5.23.4.tar.xz">plasma-disks-5.23.4</a></td>
   <td align="right">85kB</td>
   <td><tt>b1b61b6add0811ef0447f727db86d507fde35e1c3dda21b469368d623de6ee69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-firewall-5.23.4.tar.xz">plasma-firewall-5.23.4</a></td>
   <td align="right">335kB</td>
   <td><tt>5c2504836b28c95edcbe048b937db400ac39b4398590434ba200e6426b411c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-integration-5.23.4.tar.xz">plasma-integration-5.23.4</a></td>
   <td align="right">81kB</td>
   <td><tt>63780f6a20bbe23c33a7332a6ac7319ccbdb9ec4e906b4d4dbaf03d2acdb992c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-nano-5.23.4.tar.xz">plasma-nano-5.23.4</a></td>
   <td align="right">64kB</td>
   <td><tt>179cea29dce5a69139a0d68e06692d41a85815d56a4bc0c5ad2d1801003f87cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-nm-5.23.4.tar.xz">plasma-nm-5.23.4</a></td>
   <td align="right">902kB</td>
   <td><tt>24893ef9b16b14247d934a451a80d296291e4cebb59cbf65f7c730f57d738f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-pa-5.23.4.tar.xz">plasma-pa-5.23.4</a></td>
   <td align="right">127kB</td>
   <td><tt>4701dc362e615d321c1cc7b94240ab5b23898d7db8ec1a4ed49d84ac8907983c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-phone-components-5.23.4.tar.xz">plasma-phone-components-5.23.4</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c96f341921dfc2bfd49fba5549e4f515b96144eac369504ae9955a90a2bf8556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-sdk-5.23.4.tar.xz">plasma-sdk-5.23.4</a></td>
   <td align="right">269kB</td>
   <td><tt>f3fa4063d3fe8073952b013409369f3f0f94df0f35b5bfd0a472f4e4a59e7ab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-systemmonitor-5.23.4.tar.xz">plasma-systemmonitor-5.23.4</a></td>
   <td align="right">141kB</td>
   <td><tt>61c891537ff2bdc3e011d158b188b73aa5ca88560bf7d265a2bec385eabf6e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-tests-5.23.4.tar.xz">plasma-tests-5.23.4</a></td>
   <td align="right">1kB</td>
   <td><tt>c94087ca1397e7b7b250596f31a6a774494890c43adede891033afd7b385d1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-thunderbolt-5.23.4.tar.xz">plasma-thunderbolt-5.23.4</a></td>
   <td align="right">63kB</td>
   <td><tt>ff8382767c997952f2f77799eac007364f60a190a691f0323acd9bca3111b63c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-vault-5.23.4.tar.xz">plasma-vault-5.23.4</a></td>
   <td align="right">172kB</td>
   <td><tt>c627e8872b2f3847c77451c07f64ebfa3774574f37871af879b8acb7e6e9c9ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-workspace-5.23.4.tar.xz">plasma-workspace-5.23.4</a></td>
   <td align="right">8.5MB</td>
   <td><tt>13ec4eedfaae97fe441aaad57cdd6bf949d06d42370e15e3426e41f49c3ea34d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plasma-workspace-wallpapers-5.23.4.tar.xz">plasma-workspace-wallpapers-5.23.4</a></td>
   <td align="right">54MB</td>
   <td><tt>cca6fe5e76ed2fa7734ab89bd3446937571ce6f5fd6d7670cf2aed05485cf394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/plymouth-kcm-5.23.4.tar.xz">plymouth-kcm-5.23.4</a></td>
   <td align="right">38kB</td>
   <td><tt>97108d05df1f5d81eac11b7713b46a43c2d2232a4c7ef387ed28de832dc9c285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/polkit-kde-agent-1-5.23.4.tar.xz">polkit-kde-agent-1-5.23.4</a></td>
   <td align="right">46kB</td>
   <td><tt>10112e862879d5e9ea36931cc12ecf0daa4c5220c25d09e67d1b40c10efa121b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/powerdevil-5.23.4.tar.xz">powerdevil-5.23.4</a></td>
   <td align="right">614kB</td>
   <td><tt>4ef36bf3c3010737f7005621f88229b84d426ed2874f41455f2bd222ea1686ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/qqc2-breeze-style-5.23.4.tar.xz">qqc2-breeze-style-5.23.4</a></td>
   <td align="right">65kB</td>
   <td><tt>193ee1f7ad0af977794b7e08c1e004e3ff3b58bf56725b01d946b17570ff88f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/sddm-kcm-5.23.4.tar.xz">sddm-kcm-5.23.4</a></td>
   <td align="right">75kB</td>
   <td><tt>e29919da2f58a277013f1d8fee51410a6d846fa79c9f6d3850153ae254721b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/systemsettings-5.23.4.tar.xz">systemsettings-5.23.4</a></td>
   <td align="right">198kB</td>
   <td><tt>bcad3f487498d30b442d16c2abae63e279aa74199186c779e9f610fdfa2f5c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.4/xdg-desktop-portal-kde-5.23.4.tar.xz">xdg-desktop-portal-kde-5.23.4</a></td>
   <td align="right">87kB</td>
   <td><tt>567199138cb106d4299b29be7aa965786c7a9a7858607de5b111892a3369c59e</tt></td>
</tr>

</table>
