<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/bluedevil-5.9.1.tar.xz">bluedevil-5.9.1</a></td>
   <td align="right">140kB</td>
   <td><tt>8a72a1ec222a0625c07fa93e51aa03be40a976945616d1597f993ca8e44a1011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/breeze-5.9.1.tar.xz">breeze-5.9.1</a></td>
   <td align="right">29MB</td>
   <td><tt>ef34000c046080d23cb37cf09646fd637ccba887dc889c0b14e004f9b6edfbf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/breeze-grub-5.9.1.tar.xz">breeze-grub-5.9.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9a21bf74c6d468d72138d0edaf5323c499a6398efa5f6cef17e8f3c3c74a8962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/breeze-gtk-5.9.1.tar.xz">breeze-gtk-5.9.1</a></td>
   <td align="right">206kB</td>
   <td><tt>8e6584d5ce6ac57eb0f9a944d892392b85a16ad16ace11c5d750b7593355007c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/breeze-plymouth-5.9.1.tar.xz">breeze-plymouth-5.9.1</a></td>
   <td align="right">94kB</td>
   <td><tt>008ae5a147fb043cc395567df1447f922ce684c721d29010064fa4fb3b28ae52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/discover-5.9.1.tar.xz">discover-5.9.1</a></td>
   <td align="right">9.2MB</td>
   <td><tt>03cde0ae16bc3368a3e9d31788b0daff8b8762ee676d600771dffe5a5ac0cb31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kactivitymanagerd-5.9.1.tar.xz">kactivitymanagerd-5.9.1</a></td>
   <td align="right">81kB</td>
   <td><tt>916618eda6b20bc98317bc06c095cbe8a7bb123dcfb571c491dab4d6c1090042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kde-cli-tools-5.9.1.tar.xz">kde-cli-tools-5.9.1</a></td>
   <td align="right">488kB</td>
   <td><tt>b0c33932ecdd8d41c7897f8ff1301699e107afc266f5f1c12e609037795a02ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kdecoration-5.9.1.tar.xz">kdecoration-5.9.1</a></td>
   <td align="right">34kB</td>
   <td><tt>5a61a6d4f2e7b549e3cb03852df5bc02a9792b30bf15e374de19a9961fa5c19c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kde-gtk-config-5.9.1.tar.xz">kde-gtk-config-5.9.1</a></td>
   <td align="right">147kB</td>
   <td><tt>bd89d8217853aa7caf6316dc3e111e4f0506ecad8537bf76c8a4d816c4a71d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kdeplasma-addons-5.9.1.tar.xz">kdeplasma-addons-5.9.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1cd44d18d01edea537affc1bb7310deb06f69bfb444bb6924e363a21a6ae8815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kgamma5-5.9.1.tar.xz">kgamma5-5.9.1</a></td>
   <td align="right">58kB</td>
   <td><tt>fd49283263ed02ef4d71076f909089d74d9dd1f1521f69f39531ba0e51b9975b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/khotkeys-5.9.1.tar.xz">khotkeys-5.9.1</a></td>
   <td align="right">591kB</td>
   <td><tt>46ca51eae08bcf0b57b2c3009d77e4d5540b4e958cf39e39aeaac5765b60e3f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kinfocenter-5.9.1.tar.xz">kinfocenter-5.9.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a10598a09a7f81acf4f613a6b16be2e1cbd1946885ea9444ac1011180488649c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kmenuedit-5.9.1.tar.xz">kmenuedit-5.9.1</a></td>
   <td align="right">637kB</td>
   <td><tt>e636319f1aa343e5371b2ead5f999a2691fd0ad1924ab5e4a1adde13ea81bf33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kscreen-5.9.1.tar.xz">kscreen-5.9.1</a></td>
   <td align="right">110kB</td>
   <td><tt>ac3e3d56181d4c1518a81d5af4e0497db04215784ddb3724222382efadc83f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kscreenlocker-5.9.1.tar.xz">kscreenlocker-5.9.1</a></td>
   <td align="right">105kB</td>
   <td><tt>fffe0506763bcd138ba4f7750d23a16e947619cfb4ae370825f94e28a0e24166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/ksshaskpass-5.9.1.tar.xz">ksshaskpass-5.9.1</a></td>
   <td align="right">19kB</td>
   <td><tt>58bad2180fc186b228a6dd65791af0b166b67b5843367d6967ba6d7a132e1d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/ksysguard-5.9.1.tar.xz">ksysguard-5.9.1</a></td>
   <td align="right">476kB</td>
   <td><tt>73987226abc2c008d57dffa9b18934127fc2a3420123c33626c84ff260195bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kwallet-pam-5.9.1.tar.xz">kwallet-pam-5.9.1</a></td>
   <td align="right">17kB</td>
   <td><tt>6294ad618519ec1168cd8516f3e3622a9cd414821edcfd47a76ed4877e7d43d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kwayland-integration-5.9.1.tar.xz">kwayland-integration-5.9.1</a></td>
   <td align="right">17kB</td>
   <td><tt>7b8724afe4f19d2ffb78866ad8ad261361a05a2e051b0511fc17e4dfb056ce9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kwin-5.9.1.tar.xz">kwin-5.9.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>2ab9c9693f87b5ac40f5f4b57e9c157b7cfeaf62e4d399571817eabc607e1a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/kwrited-5.9.1.tar.xz">kwrited-5.9.1</a></td>
   <td align="right">19kB</td>
   <td><tt>b833f57e15946bf63495305c66db276256106ef1580df2573c1c69bf2976fc44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/libkscreen-5.9.1.tar.xz">libkscreen-5.9.1</a></td>
   <td align="right">91kB</td>
   <td><tt>c3a0178d7c584e5c331c6d1615f16ebd56034c5ffc665995638b2314edae1c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/libksysguard-5.9.1.tar.xz">libksysguard-5.9.1</a></td>
   <td align="right">561kB</td>
   <td><tt>757e208bc71aea4900cc082952fe1408ec3515b63cfad3344155334ce66a2a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/milou-5.9.1.tar.xz">milou-5.9.1</a></td>
   <td align="right">53kB</td>
   <td><tt>4736ef1583e5ceafb913acd0747bc6647fb21159a776b8fbe3fd75eb38551691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/oxygen-5.9.1.tar.xz">oxygen-5.9.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b1e19a955f3908ed8fe7ad9be31811ccd05382bdc943bc22f40d1528bd3994ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/plasma-desktop-5.9.1.tar.xz">plasma-desktop-5.9.1</a></td>
   <td align="right">5.7MB</td>
   <td><tt>64364563f93d329c1896b1c59f211f802d2c0b74d324c0b967b9d207630c9786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/plasma-integration-5.9.1.tar.xz">plasma-integration-5.9.1</a></td>
   <td align="right">48kB</td>
   <td><tt>af132265c547ffa187c910b4c381cf93d7cd17d9a60e1307617edca8bbc40c8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/plasma-nm-5.9.1.tar.xz">plasma-nm-5.9.1</a></td>
   <td align="right">652kB</td>
   <td><tt>85c68ae936c27fff2a55bb815110482819fdaa3efca57497df4d480f1bf84778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/plasma-pa-5.9.1.tar.xz">plasma-pa-5.9.1</a></td>
   <td align="right">68kB</td>
   <td><tt>06402752c1993cfaa19d5ee244e8190fa1069c05c47132890912db7d63e64e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/plasma-sdk-5.9.1.tar.xz">plasma-sdk-5.9.1</a></td>
   <td align="right">704kB</td>
   <td><tt>82d21aafe234c3cbfb25a4fd63ee2c0b34bdf666c152e8fe8c2f385d578da1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/plasma-tests-5.9.1.tar.xz">plasma-tests-5.9.1</a></td>
   <td align="right">1kB</td>
   <td><tt>685369db00c7d7e82941020ec06b6306871da4ccf23b48a89990e2e5b74cddde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/plasma-workspace-5.9.1.tar.xz">plasma-workspace-5.9.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>5357a42b1b48546580bc32c7f4c9f80ed61ade8f6b6ce3ba41ba1d3bf46c7d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/plasma-workspace-wallpapers-5.9.1.tar.xz">plasma-workspace-wallpapers-5.9.1</a></td>
   <td align="right">43MB</td>
   <td><tt>54f8bc7e93febdc4f60106cde5813c43998748ad1f44c5bf30df5aa09f58b053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/polkit-kde-agent-1-5.9.1.tar.xz">polkit-kde-agent-1-5.9.1</a></td>
   <td align="right">40kB</td>
   <td><tt>5af936bc355c2e3eeb580a84fc2f182d961d60ceeaa3ac6879d42dd28611d866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/powerdevil-5.9.1.tar.xz">powerdevil-5.9.1</a></td>
   <td align="right">349kB</td>
   <td><tt>46247fa4f55249bf996768b611fc9c8b384ec2cf52f37743938319baa703fbad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/sddm-kcm-5.9.1.tar.xz">sddm-kcm-5.9.1</a></td>
   <td align="right">54kB</td>
   <td><tt>a39de045425c1aba4d0964d541c1012da3f947ed179c0fec734e0b446d8989ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/systemsettings-5.9.1.tar.xz">systemsettings-5.9.1</a></td>
   <td align="right">154kB</td>
   <td><tt>a1fa18acb84622fe193c1b979440c696a6fd132afb76871ad3a3794c1bafee33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.1/user-manager-5.9.1.tar.xz">user-manager-5.9.1</a></td>
   <td align="right">530kB</td>
   <td><tt>f81580da62f397f10bef043875f2c16eee1cff6db403ef5aa800ec8143fc789c</tt></td>
</tr>

</table>
