<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadi-20.08.2.tar.xz">akonadi-20.08.2</a></td>
   <td align="right">1550kB</td>
   <td><tt>db3c067b30d847f9888333dc4647d8505f6f4a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadi-calendar-20.08.2.tar.xz">akonadi-calendar-20.08.2</a></td>
   <td align="right">327kB</td>
   <td><tt>6ebd7e110d1ec78855679d54b40c579b937eab45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadi-calendar-tools-20.08.2.tar.xz">akonadi-calendar-tools-20.08.2</a></td>
   <td align="right">221kB</td>
   <td><tt>d3434da03646e65f092047cf52e607e5993dd594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadiconsole-20.08.2.tar.xz">akonadiconsole-20.08.2</a></td>
   <td align="right">190kB</td>
   <td><tt>8df55669cef855afb215b5f9eba4ff07ef7c2cd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadi-contacts-20.08.2.tar.xz">akonadi-contacts-20.08.2</a></td>
   <td align="right">395kB</td>
   <td><tt>615f44737079698f74939b3aa0fadbe3f80b411c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadi-import-wizard-20.08.2.tar.xz">akonadi-import-wizard-20.08.2</a></td>
   <td align="right">494kB</td>
   <td><tt>e4e941e045759e485fe86985f4c1cc30fb71ad50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadi-mime-20.08.2.tar.xz">akonadi-mime-20.08.2</a></td>
   <td align="right">134kB</td>
   <td><tt>9dff51b0c244ce237115c1229096cde3f3ed0539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadi-notes-20.08.2.tar.xz">akonadi-notes-20.08.2</a></td>
   <td align="right">22kB</td>
   <td><tt>a92cc5b2d96067ae69363ef222a841e5a4f2d2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akonadi-search-20.08.2.tar.xz">akonadi-search-20.08.2</a></td>
   <td align="right">92kB</td>
   <td><tt>7a74220b32f6d5237e7694f86da8fafcf6c2f728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/akregator-20.08.2.tar.xz">akregator-20.08.2</a></td>
   <td align="right">2152kB</td>
   <td><tt>089629293d365067f97873bb95f34d9ccddfc0cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/analitza-20.08.2.tar.xz">analitza-20.08.2</a></td>
   <td align="right">330kB</td>
   <td><tt>6ee96ced0fc1149a2a861a2c4a8b2999672c6517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ark-20.08.2.tar.xz">ark-20.08.2</a></td>
   <td align="right">2647kB</td>
   <td><tt>2a127b41077ec19a4791c8c8a3dd3048621339d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/artikulate-20.08.2.tar.xz">artikulate-20.08.2</a></td>
   <td align="right">1058kB</td>
   <td><tt>81d419435484fb1414a4ec586f6e8138d6de83df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/audiocd-kio-20.08.2.tar.xz">audiocd-kio-20.08.2</a></td>
   <td align="right">486kB</td>
   <td><tt>5059d4e6f4668ac96c2c873b1ed063849b598d3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/baloo-widgets-20.08.2.tar.xz">baloo-widgets-20.08.2</a></td>
   <td align="right">255kB</td>
   <td><tt>0125f390d7643095280d2b4e41a990f66bf92605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/blinken-20.08.2.tar.xz">blinken-20.08.2</a></td>
   <td align="right">2762kB</td>
   <td><tt>4ce3e5013deb3734a560a07ce4dea302b9150205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/bomber-20.08.2.tar.xz">bomber-20.08.2</a></td>
   <td align="right">805kB</td>
   <td><tt>f9f37dfe472b92e949628978097f9a9f8bf82972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/bovo-20.08.2.tar.xz">bovo-20.08.2</a></td>
   <td align="right">201kB</td>
   <td><tt>29e4899214fdb8d74788e720c9e71ced11bcc236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/calendarsupport-20.08.2.tar.xz">calendarsupport-20.08.2</a></td>
   <td align="right">645kB</td>
   <td><tt>2de90e2175e382533d0176814eb770023d368472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/cantor-20.08.2.tar.xz">cantor-20.08.2</a></td>
   <td align="right">8869kB</td>
   <td><tt>55a1f30b946a469d7d380d81ccb722391de3679a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/cervisia-20.08.2.tar.xz">cervisia-20.08.2</a></td>
   <td align="right">1843kB</td>
   <td><tt>4646b3c9e40a332f2a9b0860c4f67f6c790528f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/dolphin-20.08.2.tar.xz">dolphin-20.08.2</a></td>
   <td align="right">4974kB</td>
   <td><tt>77faf2557e2a8dc66257e7772d4b0d42432eae46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/dolphin-plugins-20.08.2.tar.xz">dolphin-plugins-20.08.2</a></td>
   <td align="right">224kB</td>
   <td><tt>b871638c24199c32a226e641bab67126c61dbd73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/dragon-20.08.2.tar.xz">dragon-20.08.2</a></td>
   <td align="right">1618kB</td>
   <td><tt>b99e8a5f6a65ba1e38eb9bb094823a6843d6654c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/elisa-20.08.2.tar.xz">elisa-20.08.2</a></td>
   <td align="right">1596kB</td>
   <td><tt>9d9953894bfa27d7d16c5e949a7a9e50d16e5449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/eventviews-20.08.2.tar.xz">eventviews-20.08.2</a></td>
   <td align="right">434kB</td>
   <td><tt>9b793f997ea91aab7182637e73ce578fad808947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ffmpegthumbs-20.08.2.tar.xz">ffmpegthumbs-20.08.2</a></td>
   <td align="right">31kB</td>
   <td><tt>2eec9c8e69b102f874d51f3e509a46b45283c8c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/filelight-20.08.2.tar.xz">filelight-20.08.2</a></td>
   <td align="right">651kB</td>
   <td><tt>9ee38aee113ea121e6fe3aaf82dc443c36bf8b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/granatier-20.08.2.tar.xz">granatier-20.08.2</a></td>
   <td align="right">1905kB</td>
   <td><tt>3f1116b6e3fe9b20446cd7ff936ce9e944911041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/grantlee-editor-20.08.2.tar.xz">grantlee-editor-20.08.2</a></td>
   <td align="right">109kB</td>
   <td><tt>8931a270a9bbb91fcbbcc8bc19759f1be5684cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/grantleetheme-20.08.2.tar.xz">grantleetheme-20.08.2</a></td>
   <td align="right">54kB</td>
   <td><tt>dd950933edcc712a032aafd48b261c0638c19dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/gwenview-20.08.2.tar.xz">gwenview-20.08.2</a></td>
   <td align="right">6584kB</td>
   <td><tt>cefd8e9964990ec47be1f357a55e291e6a892b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/incidenceeditor-20.08.2.tar.xz">incidenceeditor-20.08.2</a></td>
   <td align="right">530kB</td>
   <td><tt>09f9f9967eb9fc07748d1ea040f8c85afc09ebb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/juk-20.08.2.tar.xz">juk-20.08.2</a></td>
   <td align="right">1951kB</td>
   <td><tt>5a976636b42f456dee51110aacc80a90da1c09a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/k3b-20.08.2.tar.xz">k3b-20.08.2</a></td>
   <td align="right">10431kB</td>
   <td><tt>85edf8bd2c0a6cf6bd6c7a9e6f567ca8c89aa08d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kaccounts-integration-20.08.2.tar.xz">kaccounts-integration-20.08.2</a></td>
   <td align="right">73kB</td>
   <td><tt>a1712aa5b258635b7e151f2bce788cfdd994170d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kaccounts-providers-20.08.2.tar.xz">kaccounts-providers-20.08.2</a></td>
   <td align="right">35kB</td>
   <td><tt>33826bc60a60696ddaac10b451e3af55d754efe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kaddressbook-20.08.2.tar.xz">kaddressbook-20.08.2</a></td>
   <td align="right">3093kB</td>
   <td><tt>386a10a5149fa55bede3102ef30d9bc815754501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kajongg-20.08.2.tar.xz">kajongg-20.08.2</a></td>
   <td align="right">4370kB</td>
   <td><tt>36b80300da512d527becac040dae2fa691314323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kalarm-20.08.2.tar.xz">kalarm-20.08.2</a></td>
   <td align="right">1936kB</td>
   <td><tt>fbfc78f94023d75061feff6c021c5cb265bfe22a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kalarmcal-20.08.2.tar.xz">kalarmcal-20.08.2</a></td>
   <td align="right">561kB</td>
   <td><tt>33194344dbc3fc03ceb2e5610d0b74d0323019b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kalgebra-20.08.2.tar.xz">kalgebra-20.08.2</a></td>
   <td align="right">1136kB</td>
   <td><tt>00590f11bc275a05ff31e702f6ce375f84303adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kalzium-20.08.2.tar.xz">kalzium-20.08.2</a></td>
   <td align="right">23950kB</td>
   <td><tt>b785b2acf06d961e5dad2b8cbafcc16edf01a809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kamera-20.08.2.tar.xz">kamera-20.08.2</a></td>
   <td align="right">106kB</td>
   <td><tt>010c7ca8a340735e7969f5e70cbc06fbcfed3977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kamoso-20.08.2.tar.xz">kamoso-20.08.2</a></td>
   <td align="right">206kB</td>
   <td><tt>e07b9aecf9badea22aa144235cf8682719b04d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kanagram-20.08.2.tar.xz">kanagram-20.08.2</a></td>
   <td align="right">7841kB</td>
   <td><tt>2fec3eb9e1cc8a12188de993466995df76c94e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kapman-20.08.2.tar.xz">kapman-20.08.2</a></td>
   <td align="right">2472kB</td>
   <td><tt>bd995825e117287831d135000b630ea0f8fb9adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kapptemplate-20.08.2.tar.xz">kapptemplate-20.08.2</a></td>
   <td align="right">327kB</td>
   <td><tt>05b7d4f17e7348505a787071a806b4d3530fc7ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kate-20.08.2.tar.xz">kate-20.08.2</a></td>
   <td align="right">5713kB</td>
   <td><tt>c263b9ed0084b9eb8655da5a49989bee3ad9a009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/katomic-20.08.2.tar.xz">katomic-20.08.2</a></td>
   <td align="right">1395kB</td>
   <td><tt>e23c78fc35b0a12535928d5d0c09cba6833627ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kbackup-20.08.2.tar.xz">kbackup-20.08.2</a></td>
   <td align="right">362kB</td>
   <td><tt>703df1f851a6aa95a7553237e82eb027dfad099b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kblackbox-20.08.2.tar.xz">kblackbox-20.08.2</a></td>
   <td align="right">439kB</td>
   <td><tt>fe4ac31c34bc40d3c3ccc436c53810bc98353a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kblocks-20.08.2.tar.xz">kblocks-20.08.2</a></td>
   <td align="right">1862kB</td>
   <td><tt>fa450ab38ebe79d5064406b077d83e701ccd02c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kbounce-20.08.2.tar.xz">kbounce-20.08.2</a></td>
   <td align="right">3362kB</td>
   <td><tt>1f8af8d7ee7723581dd5befb433ddc365fbbf7ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kbreakout-20.08.2.tar.xz">kbreakout-20.08.2</a></td>
   <td align="right">2230kB</td>
   <td><tt>7593fe4840ecda9743b1d7bd4e67e5c7250678b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kbruch-20.08.2.tar.xz">kbruch-20.08.2</a></td>
   <td align="right">5483kB</td>
   <td><tt>6c6cbf58d0081642019b038983e8d80a5a0b3a54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kcachegrind-20.08.2.tar.xz">kcachegrind-20.08.2</a></td>
   <td align="right">772kB</td>
   <td><tt>07770735c736d03f970df202f36dc8c360e10432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kcalc-20.08.2.tar.xz">kcalc-20.08.2</a></td>
   <td align="right">370kB</td>
   <td><tt>223ff5f87794874b0e0d30ba4bff439c5b0d6613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kcalutils-20.08.2.tar.xz">kcalutils-20.08.2</a></td>
   <td align="right">317kB</td>
   <td><tt>5ab2c58bd6c6342aec4d5aa30f08b39f0d8be933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kcharselect-20.08.2.tar.xz">kcharselect-20.08.2</a></td>
   <td align="right">357kB</td>
   <td><tt>97bd6210414407666332e53d3546b6250b2c502e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kcolorchooser-20.08.2.tar.xz">kcolorchooser-20.08.2</a></td>
   <td align="right">26kB</td>
   <td><tt>9f6398576cdcdda6729131f6a27d45107b9b104a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kcron-20.08.2.tar.xz">kcron-20.08.2</a></td>
   <td align="right">877kB</td>
   <td><tt>f808445bcb0db095675367aa27bc8216e249a8f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdebugsettings-20.08.2.tar.xz">kdebugsettings-20.08.2</a></td>
   <td align="right">66kB</td>
   <td><tt>0723814a131ca71c659f8ab7d5b4608121064f71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdeconnect-kde-20.08.2.tar.xz">kdeconnect-kde-20.08.2</a></td>
   <td align="right">406kB</td>
   <td><tt>218541973a327dd87ce55c73adf215d3e877bae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kde-dev-scripts-20.08.2.tar.xz">kde-dev-scripts-20.08.2</a></td>
   <td align="right">357kB</td>
   <td><tt>138d9b75bc0f4c7e1f2b439d48ae2c952ea100e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kde-dev-utils-20.08.2.tar.xz">kde-dev-utils-20.08.2</a></td>
   <td align="right">63kB</td>
   <td><tt>5ace47f01e913b23740c07a5681212c6999b7e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdeedu-data-20.08.2.tar.xz">kdeedu-data-20.08.2</a></td>
   <td align="right">327kB</td>
   <td><tt>ea63bf91c1c7a29fd95e291a3756f1fee09a2fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdegraphics-mobipocket-20.08.2.tar.xz">kdegraphics-mobipocket-20.08.2</a></td>
   <td align="right">16kB</td>
   <td><tt>d99908e1c0227c059b79c5adbd4cd57e204c1324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdegraphics-thumbnailers-20.08.2.tar.xz">kdegraphics-thumbnailers-20.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>d186af03826585509b72690dc991858f1d0453f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdenetwork-filesharing-20.08.2.tar.xz">kdenetwork-filesharing-20.08.2</a></td>
   <td align="right">313kB</td>
   <td><tt>1a0554f190fe792a3cd3961e37d5470005be53aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdenlive-20.08.2.tar.xz">kdenlive-20.08.2</a></td>
   <td align="right">11105kB</td>
   <td><tt>7439407a5a5acbb0b63daf0f2e3c0bb3190d129b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdepim-addons-20.08.2.tar.xz">kdepim-addons-20.08.2</a></td>
   <td align="right">2022kB</td>
   <td><tt>87a57001f3f0d70d16d7f1140ee282b2f8015e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdepim-apps-libs-20.08.2.tar.xz">kdepim-apps-libs-20.08.2</a></td>
   <td align="right">58kB</td>
   <td><tt>11aa06f69dede3af990e98dd2f55b51a27514db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdepim-runtime-20.08.2.tar.xz">kdepim-runtime-20.08.2</a></td>
   <td align="right">1712kB</td>
   <td><tt>f9459950d2c6fa4181f24f0c8af3b00b9d4f7c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdesdk-kioslaves-20.08.2.tar.xz">kdesdk-kioslaves-20.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>ba319c21427d9ad5db846f0cacaf39da5d1de409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdesdk-thumbnailers-20.08.2.tar.xz">kdesdk-thumbnailers-20.08.2</a></td>
   <td align="right">17kB</td>
   <td><tt>0e286759ea9fc3dcb5f8a897de76d2bd4485bd15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdf-20.08.2.tar.xz">kdf-20.08.2</a></td>
   <td align="right">456kB</td>
   <td><tt>8977f2dcdbac31773bf13b393bf90d05ba42f346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdialog-20.08.2.tar.xz">kdialog-20.08.2</a></td>
   <td align="right">105kB</td>
   <td><tt>67050a2a4720f12eacb68cd07d9033d57f5ab459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kdiamond-20.08.2.tar.xz">kdiamond-20.08.2</a></td>
   <td align="right">4588kB</td>
   <td><tt>bb032f9c09371a9538a6360d47e38651da2a24e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/keditbookmarks-20.08.2.tar.xz">keditbookmarks-20.08.2</a></td>
   <td align="right">186kB</td>
   <td><tt>5e738b546b815ef9831d3f93129bad1dde8b701a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kfind-20.08.2.tar.xz">kfind-20.08.2</a></td>
   <td align="right">272kB</td>
   <td><tt>5508b00cb2c9061538525ab7cc936e2e31410257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kfloppy-20.08.2.tar.xz">kfloppy-20.08.2</a></td>
   <td align="right">199kB</td>
   <td><tt>ac8e10b809e72080521e8bc60a51a08d5cdb5b0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kfourinline-20.08.2.tar.xz">kfourinline-20.08.2</a></td>
   <td align="right">628kB</td>
   <td><tt>d4edbd017c3158f7e49c12aba80a2d068a5cd39f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kgeography-20.08.2.tar.xz">kgeography-20.08.2</a></td>
   <td align="right">10512kB</td>
   <td><tt>0961112c612fd6423ab7f013a0ea21c8a036d03b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kget-20.08.2.tar.xz">kget-20.08.2</a></td>
   <td align="right">5452kB</td>
   <td><tt>5b100c04e839307f684ef5f09bb397ee2f04c96f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kgoldrunner-20.08.2.tar.xz">kgoldrunner-20.08.2</a></td>
   <td align="right">4339kB</td>
   <td><tt>e0c9a9695a64b1e948b75da0d95df1e882043b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kgpg-20.08.2.tar.xz">kgpg-20.08.2</a></td>
   <td align="right">2816kB</td>
   <td><tt>772e98420db5fddbd684febd49496717038ac174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/khangman-20.08.2.tar.xz">khangman-20.08.2</a></td>
   <td align="right">7235kB</td>
   <td><tt>4e697b82476f6481b01f6b1d8a87a0fb60fe4ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/khelpcenter-20.08.2.tar.xz">khelpcenter-20.08.2</a></td>
   <td align="right">4151kB</td>
   <td><tt>691d2bb097678aab9d25eb079461412af8568ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kidentitymanagement-20.08.2.tar.xz">kidentitymanagement-20.08.2</a></td>
   <td align="right">147kB</td>
   <td><tt>a1373c13607dd667d851b16401d55cd111353fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kig-20.08.2.tar.xz">kig-20.08.2</a></td>
   <td align="right">3408kB</td>
   <td><tt>b69af95c75f2ae532fd0619a892f74963e6fa15a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kigo-20.08.2.tar.xz">kigo-20.08.2</a></td>
   <td align="right">5109kB</td>
   <td><tt>fd1bb4ba8d82cfd7e73886e0aad362c0ca5261ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/killbots-20.08.2.tar.xz">killbots-20.08.2</a></td>
   <td align="right">1157kB</td>
   <td><tt>cb13429bac1d63b67d422e1129f4dfa8b505a9a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kimagemapeditor-20.08.2.tar.xz">kimagemapeditor-20.08.2</a></td>
   <td align="right">1052kB</td>
   <td><tt>0c8c4e65fd5398ecce02e23025967b650b536ea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kimap-20.08.2.tar.xz">kimap-20.08.2</a></td>
   <td align="right">117kB</td>
   <td><tt>c56db6be605694d5ec29c9008e628717eb907061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kio-extras-20.08.2.tar.xz">kio-extras-20.08.2</a></td>
   <td align="right">615kB</td>
   <td><tt>8f05e2b924ccd76add40e83a8a8c34502c002db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kio-gdrive-20.08.2.tar.xz">kio-gdrive-20.08.2</a></td>
   <td align="right">56kB</td>
   <td><tt>748da3c6a0e8709c7f060c57d36ab43afda08205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kipi-plugins-20.08.2.tar.xz">kipi-plugins-20.08.2</a></td>
   <td align="right">1605kB</td>
   <td><tt>e429d7a69341d05d6a79adce70e02ff156230238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kirigami-gallery-20.08.2.tar.xz">kirigami-gallery-20.08.2</a></td>
   <td align="right">281kB</td>
   <td><tt>f41da5d2f8e69f03f2d1c9e7d9567777770c7667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kiriki-20.08.2.tar.xz">kiriki-20.08.2</a></td>
   <td align="right">369kB</td>
   <td><tt>b9e2420d96559461761c40989018a6c15470dbbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kiten-20.08.2.tar.xz">kiten-20.08.2</a></td>
   <td align="right">11032kB</td>
   <td><tt>d60793697f0e410e83ffad91dd1dbb1942538160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kitinerary-20.08.2.tar.xz">kitinerary-20.08.2</a></td>
   <td align="right">1715kB</td>
   <td><tt>f27fb6222946854c8e08a5b24e25a99426c8ed9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kjumpingcube-20.08.2.tar.xz">kjumpingcube-20.08.2</a></td>
   <td align="right">283kB</td>
   <td><tt>af22621b197d6de4dab112bcb1aa577fc78e4c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kldap-20.08.2.tar.xz">kldap-20.08.2</a></td>
   <td align="right">160kB</td>
   <td><tt>ff1bb6fd6ee9eab12758370a703923503bb9a224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kleopatra-20.08.2.tar.xz">kleopatra-20.08.2</a></td>
   <td align="right">1897kB</td>
   <td><tt>ff8b15e1b9076f70f9c03a1d4a9d9b8fb5c8a905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/klettres-20.08.2.tar.xz">klettres-20.08.2</a></td>
   <td align="right">45737kB</td>
   <td><tt>904054e11e9e4fb1318b6917f25acd415196b406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/klickety-20.08.2.tar.xz">klickety-20.08.2</a></td>
   <td align="right">1362kB</td>
   <td><tt>9473490965a59ab1d966d9d62640b7860ff92b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/klines-20.08.2.tar.xz">klines-20.08.2</a></td>
   <td align="right">1747kB</td>
   <td><tt>33e5d84f40d0185b03b0654e64fb2e464bfe74bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmag-20.08.2.tar.xz">kmag-20.08.2</a></td>
   <td align="right">681kB</td>
   <td><tt>1b189b56292f5d7c29cd41b7ee56e27868798d5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmahjongg-20.08.2.tar.xz">kmahjongg-20.08.2</a></td>
   <td align="right">3354kB</td>
   <td><tt>fe92bec69cf39309ee88b7818539b45ac643bdb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmail-20.08.2.tar.xz">kmail-20.08.2</a></td>
   <td align="right">5034kB</td>
   <td><tt>a1a114f5d636a09645084d3d1d3ad1af8ad19dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmail-account-wizard-20.08.2.tar.xz">kmail-account-wizard-20.08.2</a></td>
   <td align="right">158kB</td>
   <td><tt>c5f9dbf7893dc8b9311cff93715f094388ada3cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmailtransport-20.08.2.tar.xz">kmailtransport-20.08.2</a></td>
   <td align="right">163kB</td>
   <td><tt>6ddfce4495bc83c958d4bd110242dd7c8aed96b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmbox-20.08.2.tar.xz">kmbox-20.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>e87607582807bf09338dc00c1fcdbb1914ddd701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmime-20.08.2.tar.xz">kmime-20.08.2</a></td>
   <td align="right">148kB</td>
   <td><tt>afffb4f14e276f13000a42d6b294f63cb86fb47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmines-20.08.2.tar.xz">kmines-20.08.2</a></td>
   <td align="right">934kB</td>
   <td><tt>f403be6eb4b50c570f59e20bef5c01b31592dab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmix-20.08.2.tar.xz">kmix-20.08.2</a></td>
   <td align="right">1081kB</td>
   <td><tt>983dc885defe6a3600a2284b93567b0751f88e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmousetool-20.08.2.tar.xz">kmousetool-20.08.2</a></td>
   <td align="right">113kB</td>
   <td><tt>025f5f6f87e8ed7df01b8c044f48f287884c1a44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmouth-20.08.2.tar.xz">kmouth-20.08.2</a></td>
   <td align="right">2035kB</td>
   <td><tt>fba005a929d3cfbc24a9956e907d922027b45dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kmplot-20.08.2.tar.xz">kmplot-20.08.2</a></td>
   <td align="right">2983kB</td>
   <td><tt>9751d6f5ff7a0e6d59edb159a4a08391bfa25ec7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/knavalbattle-20.08.2.tar.xz">knavalbattle-20.08.2</a></td>
   <td align="right">1257kB</td>
   <td><tt>bee1cfb537c107e5544b6e66809840f0b3a586e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/knetwalk-20.08.2.tar.xz">knetwalk-20.08.2</a></td>
   <td align="right">1237kB</td>
   <td><tt>d0b91280e5e8d420d6496592527e18a684a48e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/knights-20.08.2.tar.xz">knights-20.08.2</a></td>
   <td align="right">3451kB</td>
   <td><tt>ef9485f539e9b93de79c42750c5bcc7fa3a5a983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/knotes-20.08.2.tar.xz">knotes-20.08.2</a></td>
   <td align="right">314kB</td>
   <td><tt>a370dc521f5da9dffbf32ecc444b506a6ec186dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kolf-20.08.2.tar.xz">kolf-20.08.2</a></td>
   <td align="right">1004kB</td>
   <td><tt>648de7ec70b24ef36d0fba422a823a05ac78e0a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kollision-20.08.2.tar.xz">kollision-20.08.2</a></td>
   <td align="right">281kB</td>
   <td><tt>6f7193597c533203c2f735c499f824b7b89e110c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kolourpaint-20.08.2.tar.xz">kolourpaint-20.08.2</a></td>
   <td align="right">5553kB</td>
   <td><tt>b7855b11555ca1acd0f2ea4554be8cd0141839c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kompare-20.08.2.tar.xz">kompare-20.08.2</a></td>
   <td align="right">902kB</td>
   <td><tt>5a1733dea9a34a7d73bf4e8ea42f94bea328b15a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/konqueror-20.08.2.tar.xz">konqueror-20.08.2</a></td>
   <td align="right">7003kB</td>
   <td><tt>4a0df0fa97b9b96e46719e951794606fbcc0d688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/konquest-20.08.2.tar.xz">konquest-20.08.2</a></td>
   <td align="right">650kB</td>
   <td><tt>442596151e4dcf6fc35588a65b4ecaef3274d86f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/konsole-20.08.2.tar.xz">konsole-20.08.2</a></td>
   <td align="right">1183kB</td>
   <td><tt>cca80222c7023d2b8099ed3fb3f2feecc94964e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kontact-20.08.2.tar.xz">kontact-20.08.2</a></td>
   <td align="right">775kB</td>
   <td><tt>bf25c5299b04c5db7877b10b4e73f66b686f7639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kontactinterface-20.08.2.tar.xz">kontactinterface-20.08.2</a></td>
   <td align="right">35kB</td>
   <td><tt>d0b396a0eb07852bb55231f1d22c6e617929a669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kopete-20.08.2.tar.xz">kopete-20.08.2</a></td>
   <td align="right">9165kB</td>
   <td><tt>c004921c4695cb8ffce2af8078053246aade6131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/korganizer-20.08.2.tar.xz">korganizer-20.08.2</a></td>
   <td align="right">2198kB</td>
   <td><tt>b274bc4c0a0e86e10ca6a211d3069c8c65c7585c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kpat-20.08.2.tar.xz">kpat-20.08.2</a></td>
   <td align="right">3501kB</td>
   <td><tt>2b0129642ca71388f5ecbc9d544010116e716dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kpimtextedit-20.08.2.tar.xz">kpimtextedit-20.08.2</a></td>
   <td align="right">184kB</td>
   <td><tt>448a0313b8ce8bedea7e4b8f47078b4887dd890e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kpkpass-20.08.2.tar.xz">kpkpass-20.08.2</a></td>
   <td align="right">22kB</td>
   <td><tt>9a568ce741901c80eee0cc5d4f128751b61aeea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kqtquickcharts-20.08.2.tar.xz">kqtquickcharts-20.08.2</a></td>
   <td align="right">29kB</td>
   <td><tt>69e6cd72ad41f5af58f19f89e16af84d753fc35a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/krdc-20.08.2.tar.xz">krdc-20.08.2</a></td>
   <td align="right">1527kB</td>
   <td><tt>d76fd2e62f8a2533a4c37a08166f355e81b5c8b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kreversi-20.08.2.tar.xz">kreversi-20.08.2</a></td>
   <td align="right">930kB</td>
   <td><tt>9b47bd42ffab872ce720e9dae6cb935dbaa391a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/krfb-20.08.2.tar.xz">krfb-20.08.2</a></td>
   <td align="right">1251kB</td>
   <td><tt>79775acf2512dbd8ec703f11f7af015531b45333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kross-interpreters-20.08.2.tar.xz">kross-interpreters-20.08.2</a></td>
   <td align="right">147kB</td>
   <td><tt>e1ed08225f339f02319c5d40bf83539a732ad4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kruler-20.08.2.tar.xz">kruler-20.08.2</a></td>
   <td align="right">266kB</td>
   <td><tt>39f623433055ba99707d818208634af9c78aebac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kshisen-20.08.2.tar.xz">kshisen-20.08.2</a></td>
   <td align="right">807kB</td>
   <td><tt>6a1d7831b38c347d82a73375a006981d46fac0c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ksirk-20.08.2.tar.xz">ksirk-20.08.2</a></td>
   <td align="right">6829kB</td>
   <td><tt>04fef69f07ad8fd223ff83cddf3ab7ccbd993957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ksmtp-20.08.2.tar.xz">ksmtp-20.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>0ce8ccfc5d5e2ea8bba4df77e22052221023c27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ksnakeduel-20.08.2.tar.xz">ksnakeduel-20.08.2</a></td>
   <td align="right">531kB</td>
   <td><tt>6b50cc5cbe084c9ae98233dfb12c0b8262c4a599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kspaceduel-20.08.2.tar.xz">kspaceduel-20.08.2</a></td>
   <td align="right">603kB</td>
   <td><tt>57a4e191241efe27b924290b3fc5555f8a134eca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ksquares-20.08.2.tar.xz">ksquares-20.08.2</a></td>
   <td align="right">260kB</td>
   <td><tt>064511cce60c307c16af2876db389e4c77744386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ksudoku-20.08.2.tar.xz">ksudoku-20.08.2</a></td>
   <td align="right">1629kB</td>
   <td><tt>0b626211e554acc055d282eeea435ceac74abff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ksystemlog-20.08.2.tar.xz">ksystemlog-20.08.2</a></td>
   <td align="right">1890kB</td>
   <td><tt>483de70ef74adc91c089507bdbd9ba913643f055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kteatime-20.08.2.tar.xz">kteatime-20.08.2</a></td>
   <td align="right">287kB</td>
   <td><tt>09d686da05d9c52d9221cb31c137e3af4a97c5dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktimer-20.08.2.tar.xz">ktimer-20.08.2</a></td>
   <td align="right">376kB</td>
   <td><tt>b999c177cc222901bd59da2e869feaaca7a791d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktnef-20.08.2.tar.xz">ktnef-20.08.2</a></td>
   <td align="right">292kB</td>
   <td><tt>56ea4bfe439f871ffa30704c9c68004b498c1b24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktouch-20.08.2.tar.xz">ktouch-20.08.2</a></td>
   <td align="right">4825kB</td>
   <td><tt>82643cd886bdb2c3fd6cc14638505755f6c3ec4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-accounts-kcm-20.08.2.tar.xz">ktp-accounts-kcm-20.08.2</a></td>
   <td align="right">256kB</td>
   <td><tt>1c86f7a3a27a9952251cd964fe7e35cf6e301ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-approver-20.08.2.tar.xz">ktp-approver-20.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>05e1d2c85c83720e8ddd4d8b74e524a17646eaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-auth-handler-20.08.2.tar.xz">ktp-auth-handler-20.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>232425edec0cfe4ca7ad3f4dc2f854b6ddb2eb05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-call-ui-20.08.2.tar.xz">ktp-call-ui-20.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>de013753fd047e034e04c407eed87e497ab15ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-common-internals-20.08.2.tar.xz">ktp-common-internals-20.08.2</a></td>
   <td align="right">439kB</td>
   <td><tt>15b665966f7fcc0768af2c50def59d0e82e7a89a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-contact-list-20.08.2.tar.xz">ktp-contact-list-20.08.2</a></td>
   <td align="right">146kB</td>
   <td><tt>d3d0cbe7387c7513a6b3d48c8525d380b5b34b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-contact-runner-20.08.2.tar.xz">ktp-contact-runner-20.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>40c56070056e1b94abd1ca4579d225391b405630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-desktop-applets-20.08.2.tar.xz">ktp-desktop-applets-20.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>c5f9ab64b27b50f5fb23ba3fe72addb6289cfd4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-filetransfer-handler-20.08.2.tar.xz">ktp-filetransfer-handler-20.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>7d894544c16d11c7531753f5a46e378bdf412903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-kded-module-20.08.2.tar.xz">ktp-kded-module-20.08.2</a></td>
   <td align="right">96kB</td>
   <td><tt>b806830bfcd4761a1ace92dcc9eacb27d82899d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-send-file-20.08.2.tar.xz">ktp-send-file-20.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>a11d2354af08318da56fe770a6dac970c0c9f83d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktp-text-ui-20.08.2.tar.xz">ktp-text-ui-20.08.2</a></td>
   <td align="right">459kB</td>
   <td><tt>343837742a126073e585f72266661a133f45bdb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/ktuberling-20.08.2.tar.xz">ktuberling-20.08.2</a></td>
   <td align="right">69049kB</td>
   <td><tt>4b961ed46bb7470e9ce43bfe0ab0ec0896f46786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kturtle-20.08.2.tar.xz">kturtle-20.08.2</a></td>
   <td align="right">1793kB</td>
   <td><tt>e8951dd43f99b2aae19ddb68a2829e8940467492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kubrick-20.08.2.tar.xz">kubrick-20.08.2</a></td>
   <td align="right">324kB</td>
   <td><tt>8fa2e42ae0463f07cfe58709956bbe73456874d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kwalletmanager-20.08.2.tar.xz">kwalletmanager-20.08.2</a></td>
   <td align="right">755kB</td>
   <td><tt>4518facc172681745293b6646aa946d4cc4784fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kwave-20.08.2.tar.xz">kwave-20.08.2</a></td>
   <td align="right">6716kB</td>
   <td><tt>b990be2dcf6c11601d1fc445e4c125e9ec4f7ef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/kwordquiz-20.08.2.tar.xz">kwordquiz-20.08.2</a></td>
   <td align="right">4084kB</td>
   <td><tt>8d3d1c9f4611cd05f5ddcf30742a280a82912e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libgravatar-20.08.2.tar.xz">libgravatar-20.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>8e857b5dcb87ecfb6825a2e56b30b73931233756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkcddb-20.08.2.tar.xz">libkcddb-20.08.2</a></td>
   <td align="right">415kB</td>
   <td><tt>79113f58e95170af750715b5e17694bb3a631fa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkcompactdisc-20.08.2.tar.xz">libkcompactdisc-20.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>02a7b7a6df7127a363509992cb6ab0678114a7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkdcraw-20.08.2.tar.xz">libkdcraw-20.08.2</a></td>
   <td align="right">40kB</td>
   <td><tt>1275e5894cbafa7d00912f54259cdac14091abc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkdegames-20.08.2.tar.xz">libkdegames-20.08.2</a></td>
   <td align="right">6249kB</td>
   <td><tt>56cf224ae0b3d22f54b73dc4c1d36b02d7dfd0c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkdepim-20.08.2.tar.xz">libkdepim-20.08.2</a></td>
   <td align="right">243kB</td>
   <td><tt>fca939e4745716dcf70aedd3fb76157615677dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkeduvocdocument-20.08.2.tar.xz">libkeduvocdocument-20.08.2</a></td>
   <td align="right">209kB</td>
   <td><tt>27dfa932960cf2ab9a18faee057f0044c3b00e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkexiv2-20.08.2.tar.xz">libkexiv2-20.08.2</a></td>
   <td align="right">63kB</td>
   <td><tt>0768174ded358714131518728e8bdf69ba62be4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkgapi-20.08.2.tar.xz">libkgapi-20.08.2</a></td>
   <td align="right">236kB</td>
   <td><tt>bf3c0c961f6cf55f7544e067d749941c65c2f552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkgeomap-20.08.2.tar.xz">libkgeomap-20.08.2</a></td>
   <td align="right">147kB</td>
   <td><tt>f42b0143e727d52b8efb07acd8dcf4848d987612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkipi-20.08.2.tar.xz">libkipi-20.08.2</a></td>
   <td align="right">101kB</td>
   <td><tt>5e71bc3dd4a8bf5bdc226ecef61cec22fc93ff9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkleo-20.08.2.tar.xz">libkleo-20.08.2</a></td>
   <td align="right">346kB</td>
   <td><tt>5aa35d16690717d897dc97237739987091369d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkmahjongg-20.08.2.tar.xz">libkmahjongg-20.08.2</a></td>
   <td align="right">1650kB</td>
   <td><tt>55ea06b8d12128eae0d0b03685a78bef2776f088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libkomparediff2-20.08.2.tar.xz">libkomparediff2-20.08.2</a></td>
   <td align="right">158kB</td>
   <td><tt>64f302fb756bbf4add071c5bd9203fa1a1fa7b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libksane-20.08.2.tar.xz">libksane-20.08.2</a></td>
   <td align="right">141kB</td>
   <td><tt>6c7a39efa5695ff118d4309dc9acfd3b7e17fe1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/libksieve-20.08.2.tar.xz">libksieve-20.08.2</a></td>
   <td align="right">547kB</td>
   <td><tt>8c9a3c020591680995ceec27ad969559d6e99df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/lokalize-20.08.2.tar.xz">lokalize-20.08.2</a></td>
   <td align="right">1940kB</td>
   <td><tt>bba17c3b936050450beb0cdae371a4494037bf2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/lskat-20.08.2.tar.xz">lskat-20.08.2</a></td>
   <td align="right">1196kB</td>
   <td><tt>f966ac6e9c9f36a7160a2b537a3b673a6a9235b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/mailcommon-20.08.2.tar.xz">mailcommon-20.08.2</a></td>
   <td align="right">692kB</td>
   <td><tt>2c0c4d1a943f721c564a41de71b7f53bf1243094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/mailimporter-20.08.2.tar.xz">mailimporter-20.08.2</a></td>
   <td align="right">528kB</td>
   <td><tt>31b0c745b87142a8c69bef68222b13cd0a132416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/marble-20.08.2.tar.xz">marble-20.08.2</a></td>
   <td align="right">50976kB</td>
   <td><tt>602cfced824570346839fbb5d1b43258ea038499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/mbox-importer-20.08.2.tar.xz">mbox-importer-20.08.2</a></td>
   <td align="right">33kB</td>
   <td><tt>7db1b03e9cebe259f2b91e6e7c29a89fb8f74b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/messagelib-20.08.2.tar.xz">messagelib-20.08.2</a></td>
   <td align="right">10282kB</td>
   <td><tt>892b75b2a1c47ef7cb042401e0de8afea0666e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/minuet-20.08.2.tar.xz">minuet-20.08.2</a></td>
   <td align="right">27081kB</td>
   <td><tt>cd44701f848b6648e6ac273a4cef2f7d2491c280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/okular-20.08.2.tar.xz">okular-20.08.2</a></td>
   <td align="right">7342kB</td>
   <td><tt>6a1776053ee88cd1e6a289417a43e5f3e56d5918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/palapeli-20.08.2.tar.xz">palapeli-20.08.2</a></td>
   <td align="right">2030kB</td>
   <td><tt>62aab803d780bd8379a3840087d02688a7423293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/parley-20.08.2.tar.xz">parley-20.08.2</a></td>
   <td align="right">8634kB</td>
   <td><tt>bbc5c3a555f07b7aa91e89ebe3c33d2d7a257fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/picmi-20.08.2.tar.xz">picmi-20.08.2</a></td>
   <td align="right">1335kB</td>
   <td><tt>723ba7c77796cea54729ce1693f157b35d65cc69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/pimcommon-20.08.2.tar.xz">pimcommon-20.08.2</a></td>
   <td align="right">348kB</td>
   <td><tt>5fe8d3ba3552dc22ad64a02591ffe682cfd93230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/pim-data-exporter-20.08.2.tar.xz">pim-data-exporter-20.08.2</a></td>
   <td align="right">390kB</td>
   <td><tt>a9e47a50aaa14047bd416535e8a988bc73757043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/pim-sieve-editor-20.08.2.tar.xz">pim-sieve-editor-20.08.2</a></td>
   <td align="right">443kB</td>
   <td><tt>60a5acf5ac524c4b9feaf34724619510680bc4ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/poxml-20.08.2.tar.xz">poxml-20.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>03c771b94a0903ff45a087ebf433a095a144564a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/print-manager-20.08.2.tar.xz">print-manager-20.08.2</a></td>
   <td align="right">252kB</td>
   <td><tt>14b1ea591936b05b0dcc3ba345498db7531dd823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/rocs-20.08.2.tar.xz">rocs-20.08.2</a></td>
   <td align="right">1462kB</td>
   <td><tt>296b71ba294368ea3f092c9aa335cbd1b3dcaf03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/signon-kwallet-extension-20.08.2.tar.xz">signon-kwallet-extension-20.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>e9e3c7c6e090a0b064dbc9062164aa0df6252aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/spectacle-20.08.2.tar.xz">spectacle-20.08.2</a></td>
   <td align="right">1128kB</td>
   <td><tt>e907edec4ffac889e602e49556678a304deacadf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/step-20.08.2.tar.xz">step-20.08.2</a></td>
   <td align="right">929kB</td>
   <td><tt>8155c62c99b7c58f8a73ad4d1ec3517215815f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/svgpart-20.08.2.tar.xz">svgpart-20.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>f2a43027766bc9fd04abfda6b1191cadc14bdc7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/sweeper-20.08.2.tar.xz">sweeper-20.08.2</a></td>
   <td align="right">363kB</td>
   <td><tt>a19b998404f726e25cc98affba9d6212cd62ce33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/umbrello-20.08.2.tar.xz">umbrello-20.08.2</a></td>
   <td align="right">5424kB</td>
   <td><tt>3bd25eec32a2463042b5dac0d07758b82a369d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/yakuake-20.08.2.tar.xz">yakuake-20.08.2</a></td>
   <td align="right">371kB</td>
   <td><tt>63468d75108320e2e1c43e5dc9e3c614add364d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.2/src/zeroconf-ioslave-20.08.2.tar.xz">zeroconf-ioslave-20.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>135c477d5f8ea6883b65ccc697c048b7a972cef1</tt></td>
</tr>

</table>
