<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadi-18.04.1.tar.xz">akonadi-18.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0ab9c127eec152c036df6dab5d2d205bb523b514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadi-calendar-18.04.1.tar.xz">akonadi-calendar-18.04.1</a></td>
   <td align="right">328kB</td>
   <td><tt>19463a936e21bdcc17569a0cf548499285b6b73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadi-calendar-tools-18.04.1.tar.xz">akonadi-calendar-tools-18.04.1</a></td>
   <td align="right">215kB</td>
   <td><tt>ecd326207b0c1f88ed25239dae558456424d96ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadiconsole-18.04.1.tar.xz">akonadiconsole-18.04.1</a></td>
   <td align="right">181kB</td>
   <td><tt>cf7409c13118f0572bfc0d0bfe870424d504bcee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadi-contacts-18.04.1.tar.xz">akonadi-contacts-18.04.1</a></td>
   <td align="right">382kB</td>
   <td><tt>f4045eb5509424680fa2d2a1f8b87ac44cbd4ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadi-import-wizard-18.04.1.tar.xz">akonadi-import-wizard-18.04.1</a></td>
   <td align="right">426kB</td>
   <td><tt>d0ce181f8e89c6922c214cb854fa72e0a8b62e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadi-mime-18.04.1.tar.xz">akonadi-mime-18.04.1</a></td>
   <td align="right">134kB</td>
   <td><tt>ff7cbb029ebbb0e24d13dfc3fee6ba2f83cbfb11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadi-notes-18.04.1.tar.xz">akonadi-notes-18.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>305267f7f02c4216a28e22ed1555524cd9caa2fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akonadi-search-18.04.1.tar.xz">akonadi-search-18.04.1</a></td>
   <td align="right">80kB</td>
   <td><tt>81a1e22db368b6ff8dcd3765043e6cac95e25a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/akregator-18.04.1.tar.xz">akregator-18.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c96766364c5d8fef46ddf378af41daa2f36c9a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/analitza-18.04.1.tar.xz">analitza-18.04.1</a></td>
   <td align="right">323kB</td>
   <td><tt>3246a896303da27ae72527b6de683f6c61ad76ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ark-18.04.1.tar.xz">ark-18.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d9c2b0b5cc00af672bf67a0b1fd1cb6b357987d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/artikulate-18.04.1.tar.xz">artikulate-18.04.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>27edb43a28e5a61923ecdf260bfff7c36e25e030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/audiocd-kio-18.04.1.tar.xz">audiocd-kio-18.04.1</a></td>
   <td align="right">242kB</td>
   <td><tt>29a9abf1edbe9fea8d3b8873fbd27aeef9fcefd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/baloo-widgets-18.04.1.tar.xz">baloo-widgets-18.04.1</a></td>
   <td align="right">239kB</td>
   <td><tt>e8cbed7e444833de1c998a91518dae8b9235632c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/blinken-18.04.1.tar.xz">blinken-18.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1267c7adeb0aa1a8baffebca1976cd6690eb8e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/bomber-18.04.1.tar.xz">bomber-18.04.1</a></td>
   <td align="right">736kB</td>
   <td><tt>b092b24530ef30699bff03dce53f8de8b8902b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/bovo-18.04.1.tar.xz">bovo-18.04.1</a></td>
   <td align="right">182kB</td>
   <td><tt>730b9ed06e5d5e38d929a840aab1619ecbd65530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/calendarsupport-18.04.1.tar.xz">calendarsupport-18.04.1</a></td>
   <td align="right">631kB</td>
   <td><tt>239febd413a0961f129ee7270f369271174574cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/cantor-18.04.1.tar.xz">cantor-18.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>680301f55609a03a71af6f056300f7464d2a469f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/cervisia-18.04.1.tar.xz">cervisia-18.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bd35139d0d9b5c3c7d5f067b29a1fb0188a7998a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/dolphin-18.04.1.tar.xz">dolphin-18.04.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>1b9925ef45a2baadca4fd39e493ddbdfb708b2ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/dolphin-plugins-18.04.1.tar.xz">dolphin-plugins-18.04.1</a></td>
   <td align="right">185kB</td>
   <td><tt>449e9d77c351c9e15cb3899b58b95009ae0c0f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/dragon-18.04.1.tar.xz">dragon-18.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3a6f2c5f82609884741e76d36c1bdc8827a7d7d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/eventviews-18.04.1.tar.xz">eventviews-18.04.1</a></td>
   <td align="right">431kB</td>
   <td><tt>1aef5c586b5e5317bc44e4f0ee2e41b93ffecdf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ffmpegthumbs-18.04.1.tar.xz">ffmpegthumbs-18.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>4dbfcaf76a3c4b69554150266890199bdcbe9327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/filelight-18.04.1.tar.xz">filelight-18.04.1</a></td>
   <td align="right">643kB</td>
   <td><tt>afd6a47ba44006b38dddc41bf0e20fcca857ef4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/granatier-18.04.1.tar.xz">granatier-18.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9921809a8a8780766636f73522cb94a1913556ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/grantlee-editor-18.04.1.tar.xz">grantlee-editor-18.04.1</a></td>
   <td align="right">108kB</td>
   <td><tt>5b2eace6f7fb6d178dfe6e47d2805a8175a1e862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/grantleetheme-18.04.1.tar.xz">grantleetheme-18.04.1</a></td>
   <td align="right">50kB</td>
   <td><tt>ac9241a7230fe012639b4dd1b9de463a33824cb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/gwenview-18.04.1.tar.xz">gwenview-18.04.1</a></td>
   <td align="right">5.7MB</td>
   <td><tt>06476036b056e4e527f1325db42fbf4320bf5e05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/incidenceeditor-18.04.1.tar.xz">incidenceeditor-18.04.1</a></td>
   <td align="right">514kB</td>
   <td><tt>8c3532bc96c9706e929a22328d5debe5860ae992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/juk-18.04.1.tar.xz">juk-18.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d88ab536d4f0fc272452668af88732d688eb68f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/k3b-18.04.1.tar.xz">k3b-18.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>35ba59028b4284d6f928562bc2d2c36e5bd26250</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kaccounts-integration-18.04.1.tar.xz">kaccounts-integration-18.04.1</a></td>
   <td align="right">69kB</td>
   <td><tt>cf033a6545c4074836bedfeacd0bff0963b21f8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kaccounts-providers-18.04.1.tar.xz">kaccounts-providers-18.04.1</a></td>
   <td align="right">31kB</td>
   <td><tt>8cca965909047e0f047bd102e2f07aeaf81f45b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kaddressbook-18.04.1.tar.xz">kaddressbook-18.04.1</a></td>
   <td align="right">535kB</td>
   <td><tt>5ab04ea1667e5f3e8ca1c62a6a03acc68d1d60f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kajongg-18.04.1.tar.xz">kajongg-18.04.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6946f5c4815854dfc9b49f63c3292b4dacf537af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kalarm-18.04.1.tar.xz">kalarm-18.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d5d834f91a4d096ca94ca79afa58fd9d0cd9105b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kalarmcal-18.04.1.tar.xz">kalarmcal-18.04.1</a></td>
   <td align="right">535kB</td>
   <td><tt>dedef7f231b94d9e01305c514928e1ed8eb26576</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kalgebra-18.04.1.tar.xz">kalgebra-18.04.1</a></td>
   <td align="right">691kB</td>
   <td><tt>a4551751eb0bca1d15f078d87715ad5cd5d495ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kalzium-18.04.1.tar.xz">kalzium-18.04.1</a></td>
   <td align="right">23MB</td>
   <td><tt>818c434f82530e5429022f54843b35d54ab1ffbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kamera-18.04.1.tar.xz">kamera-18.04.1</a></td>
   <td align="right">95kB</td>
   <td><tt>d200a08563ac216a697033357d1161ea9996fb49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kamoso-18.04.1.tar.xz">kamoso-18.04.1</a></td>
   <td align="right">180kB</td>
   <td><tt>3d2a28783b410f023047121db15d6bc026658dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kanagram-18.04.1.tar.xz">kanagram-18.04.1</a></td>
   <td align="right">7.1MB</td>
   <td><tt>a5f68181efc42260b0057e4f8ff141690c031a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kapman-18.04.1.tar.xz">kapman-18.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d85b9dcbc40f75f2cb3c7c410bf091319da8d324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kapptemplate-18.04.1.tar.xz">kapptemplate-18.04.1</a></td>
   <td align="right">344kB</td>
   <td><tt>7b73e99a520e42d49df7304fba78cae80892dcee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kate-18.04.1.tar.xz">kate-18.04.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>f99fa89353e960db26651c772b17e6369cb26a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/katomic-18.04.1.tar.xz">katomic-18.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3db971de3d00f4c5b6a6fd904d271983da65735c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kbackup-18.04.1.tar.xz">kbackup-18.04.1</a></td>
   <td align="right">333kB</td>
   <td><tt>b224223f095d2f3bc6bfc010295d950cb5a133d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kblackbox-18.04.1.tar.xz">kblackbox-18.04.1</a></td>
   <td align="right">395kB</td>
   <td><tt>79cf8f2514a52dcf0e6c49ddcc400d461ff30d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kblocks-18.04.1.tar.xz">kblocks-18.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c8c0f4c352869281b8cace2410933edbc367d89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kblog-18.04.1.tar.xz">kblog-18.04.1</a></td>
   <td align="right">70kB</td>
   <td><tt>372e4658180d5527466767efd0dd7e0ab48ddc6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kbounce-18.04.1.tar.xz">kbounce-18.04.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>14904951942b9582ad4e22b81fb8d0a968856af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kbreakout-18.04.1.tar.xz">kbreakout-18.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>647d5eaa40636a2a42c2a21734d2265c49c743da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kbruch-18.04.1.tar.xz">kbruch-18.04.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>100e52b3dbfd0512f291a1c757a3cf8acf979154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kcachegrind-18.04.1.tar.xz">kcachegrind-18.04.1</a></td>
   <td align="right">792kB</td>
   <td><tt>8c2ed441ce25b600b1380907614340b93589db8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kcalc-18.04.1.tar.xz">kcalc-18.04.1</a></td>
   <td align="right">353kB</td>
   <td><tt>25e1ed6196cb89f15e9aea689e6e51393475de11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kcalcore-18.04.1.tar.xz">kcalcore-18.04.1</a></td>
   <td align="right">245kB</td>
   <td><tt>63b46a3e17da2af302ccafb45a39b4851e128726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kcalutils-18.04.1.tar.xz">kcalutils-18.04.1</a></td>
   <td align="right">318kB</td>
   <td><tt>ea8438599cbbcf6e07c1141d98979c4aea83a0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kcharselect-18.04.1.tar.xz">kcharselect-18.04.1</a></td>
   <td align="right">343kB</td>
   <td><tt>7dd007bd973ea13bf669f3f778740ef74277782d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kcolorchooser-18.04.1.tar.xz">kcolorchooser-18.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>86441dea18e90caa17f19b893188752f644f8c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kcontacts-18.04.1.tar.xz">kcontacts-18.04.1</a></td>
   <td align="right">202kB</td>
   <td><tt>563081a28b9db3fdaa00abdea835a0bfb7e515c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kcron-18.04.1.tar.xz">kcron-18.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>296fb100c830277d5623fc8e0d18edda7de80d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdav-18.04.1.tar.xz">kdav-18.04.1</a></td>
   <td align="right">47kB</td>
   <td><tt>66a1b613016af46c47d2389bde3b6dab24f3b8cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdebugsettings-18.04.1.tar.xz">kdebugsettings-18.04.1</a></td>
   <td align="right">50kB</td>
   <td><tt>22d332e7223f34a60144181ecff26b41fd7e6ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kde-dev-scripts-18.04.1.tar.xz">kde-dev-scripts-18.04.1</a></td>
   <td align="right">368kB</td>
   <td><tt>2a26392766667953a3f61a79037e3c22ceab7bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kde-dev-utils-18.04.1.tar.xz">kde-dev-utils-18.04.1</a></td>
   <td align="right">59kB</td>
   <td><tt>c5f2b4462b4a1bab7076e56453d3187408a8f4f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdeedu-data-18.04.1.tar.xz">kdeedu-data-18.04.1</a></td>
   <td align="right">320kB</td>
   <td><tt>647ef73ce65d43c656400344dab2b04a6acabdcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdegraphics-mobipocket-18.04.1.tar.xz">kdegraphics-mobipocket-18.04.1</a></td>
   <td align="right">13kB</td>
   <td><tt>b490c33fa44c50da81ae391f1bea7a8414535583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdegraphics-thumbnailers-18.04.1.tar.xz">kdegraphics-thumbnailers-18.04.1</a></td>
   <td align="right">40kB</td>
   <td><tt>462388b5f0f7f288aedb2c9701dd04a5caa773e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdenetwork-filesharing-18.04.1.tar.xz">kdenetwork-filesharing-18.04.1</a></td>
   <td align="right">316kB</td>
   <td><tt>a4c0a52f6923f778bca92db205c462f35c23e92b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdenlive-18.04.1.tar.xz">kdenlive-18.04.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>1e93e5f6b1ac08ef7a2d34f9c886caeafa83f820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdepim-addons-18.04.1.tar.xz">kdepim-addons-18.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>49fdc76659c49160cb500383587e23a901eb5f25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdepim-apps-libs-18.04.1.tar.xz">kdepim-apps-libs-18.04.1</a></td>
   <td align="right">71kB</td>
   <td><tt>fc70d14c5fb692558d4ada41adc6e648663a69a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdepim-runtime-18.04.1.tar.xz">kdepim-runtime-18.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d0c737b1282741554f343fab8ff8f0b117dcee01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdesdk-kioslaves-18.04.1.tar.xz">kdesdk-kioslaves-18.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>c73e24890dc63824774cc3385a4706248c60005f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdesdk-thumbnailers-18.04.1.tar.xz">kdesdk-thumbnailers-18.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>1196e29dc07f82852810e8f476fb98595bdae8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdf-18.04.1.tar.xz">kdf-18.04.1</a></td>
   <td align="right">519kB</td>
   <td><tt>90d774c012f81341d2d7e8a5e54142de082dee39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdialog-18.04.1.tar.xz">kdialog-18.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>4454779fc1b22a0d203c9a0efe3cc392bff7fd21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kdiamond-18.04.1.tar.xz">kdiamond-18.04.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>40be898915c6e441ddd22156e17ce2c0cf4f78df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/keditbookmarks-18.04.1.tar.xz">keditbookmarks-18.04.1</a></td>
   <td align="right">179kB</td>
   <td><tt>2879877b4cbd2dcd8068e1eaba086b303febb8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kfind-18.04.1.tar.xz">kfind-18.04.1</a></td>
   <td align="right">205kB</td>
   <td><tt>f8c3481a02f5b6924e73860135e1767b38a5a48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kfloppy-18.04.1.tar.xz">kfloppy-18.04.1</a></td>
   <td align="right">195kB</td>
   <td><tt>8ad463683007e021ad43bc3434f194005ca55d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kfourinline-18.04.1.tar.xz">kfourinline-18.04.1</a></td>
   <td align="right">560kB</td>
   <td><tt>69df67dac6c68233409b201aa6aba0e6af4ab3da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kgeography-18.04.1.tar.xz">kgeography-18.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>c94d3fb4ecd8535618f3590719aa4875c9b7763e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kget-18.04.1.tar.xz">kget-18.04.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>b10d7345bb10538b5313d6f1cc1bbc82ff3c4493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kgoldrunner-18.04.1.tar.xz">kgoldrunner-18.04.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6a801910ee4eec47477e728f02edc5c9e9b182e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kgpg-18.04.1.tar.xz">kgpg-18.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6b653c9517cc62072cdacea450e8946438b930fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/khangman-18.04.1.tar.xz">khangman-18.04.1</a></td>
   <td align="right">6.1MB</td>
   <td><tt>8993d5789733539521895d84209471427c4d5dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/khelpcenter-18.04.1.tar.xz">khelpcenter-18.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0de9df6a87aaefa300c7493cfcb91126cd2161ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kidentitymanagement-18.04.1.tar.xz">kidentitymanagement-18.04.1</a></td>
   <td align="right">144kB</td>
   <td><tt>5e8f0385334cc45698dd8c797104e60fedea5f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kig-18.04.1.tar.xz">kig-18.04.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>bf5560b7f8d5d0453eb74c949563a63efc9fff84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kigo-18.04.1.tar.xz">kigo-18.04.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>ec297e513d4a70a9a20b2c707615848ee36c175a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/killbots-18.04.1.tar.xz">killbots-18.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4e33f1170ea738e16d192ca8284016998ec883cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kimagemapeditor-18.04.1.tar.xz">kimagemapeditor-18.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>da2a7af5f89f3e6272f7282cca4c4ffea7e38d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kimap-18.04.1.tar.xz">kimap-18.04.1</a></td>
   <td align="right">116kB</td>
   <td><tt>6fdfe2ab8a1cac2b5aa889c118791b82dd671ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kio-extras-18.04.1.tar.xz">kio-extras-18.04.1</a></td>
   <td align="right">536kB</td>
   <td><tt>d44e71671cdb389eb6bb366744e035dd4fec8e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kiriki-18.04.1.tar.xz">kiriki-18.04.1</a></td>
   <td align="right">319kB</td>
   <td><tt>a528a03869fccfefe7212eec8acccae691fbe031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kiten-18.04.1.tar.xz">kiten-18.04.1</a></td>
   <td align="right">11MB</td>
   <td><tt>8c08e5659cfd36dbb6efc75173b6c963c96f5ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kjumpingcube-18.04.1.tar.xz">kjumpingcube-18.04.1</a></td>
   <td align="right">287kB</td>
   <td><tt>c909b1db86657faae9997f97d219d2c6cb061c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kldap-18.04.1.tar.xz">kldap-18.04.1</a></td>
   <td align="right">150kB</td>
   <td><tt>8dc12d80a65144e7f63c0e5ec3d21be067e0cfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kleopatra-18.04.1.tar.xz">kleopatra-18.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a4083c9a93b9a664fd2d7c308c2eb9ae0f17aaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/klettres-18.04.1.tar.xz">klettres-18.04.1</a></td>
   <td align="right">20MB</td>
   <td><tt>3b6e93da8cfbb7a28335ae15678bfe0cfc9d68ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/klickety-18.04.1.tar.xz">klickety-18.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7fa4e3523d2730661c24043e34741953320a3ffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/klines-18.04.1.tar.xz">klines-18.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7442f61debb61a00c3160c32e242b2607426d4ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmag-18.04.1.tar.xz">kmag-18.04.1</a></td>
   <td align="right">575kB</td>
   <td><tt>24b3269fc481dddf96b7bf792103c752477226b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmahjongg-18.04.1.tar.xz">kmahjongg-18.04.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>989d0da9723cb5e1af78c5b32971bcc3ea0ac689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmail-18.04.1.tar.xz">kmail-18.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>38c7fc531b56e697eb5810464855e79a855e4d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmail-account-wizard-18.04.1.tar.xz">kmail-account-wizard-18.04.1</a></td>
   <td align="right">151kB</td>
   <td><tt>a93791d21658befb5703546ae94c5cca62153e06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmailtransport-18.04.1.tar.xz">kmailtransport-18.04.1</a></td>
   <td align="right">161kB</td>
   <td><tt>bc4b22beac8d747020a2993adda7f7594e291e02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmbox-18.04.1.tar.xz">kmbox-18.04.1</a></td>
   <td align="right">23kB</td>
   <td><tt>d69497590d05f1121a91bc07af324cb3f287298c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmime-18.04.1.tar.xz">kmime-18.04.1</a></td>
   <td align="right">142kB</td>
   <td><tt>00a1ac3bf04630f05439a772d5a0324b8944af94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmines-18.04.1.tar.xz">kmines-18.04.1</a></td>
   <td align="right">861kB</td>
   <td><tt>ad70ad745055cb3d0b95648c18a98eaf6b50819f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmix-18.04.1.tar.xz">kmix-18.04.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>ead915f9f2f760eeb66623c42c4a4af97c752179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmousetool-18.04.1.tar.xz">kmousetool-18.04.1</a></td>
   <td align="right">109kB</td>
   <td><tt>932f3e239373bb9be1940b64ef82958fa61a88a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmouth-18.04.1.tar.xz">kmouth-18.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9dca510f9dad832edd13af8fb690eafaa39de666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kmplot-18.04.1.tar.xz">kmplot-18.04.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>33da4f54e403724d7109f31cc1bd495cf1b02c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/knavalbattle-18.04.1.tar.xz">knavalbattle-18.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2f489ae51964192fbdcb86c68b5a4253bc47a34e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/knetwalk-18.04.1.tar.xz">knetwalk-18.04.1</a></td>
   <td align="right">958kB</td>
   <td><tt>33d21aaae5d50c2a40d9da7e0dd66888e2f134c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/knotes-18.04.1.tar.xz">knotes-18.04.1</a></td>
   <td align="right">328kB</td>
   <td><tt>2de1ac64b4482f21adfaf41921c5d44f47235360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kolf-18.04.1.tar.xz">kolf-18.04.1</a></td>
   <td align="right">902kB</td>
   <td><tt>74572d0258c03c6273aa9c4f9b33e5c958733156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kollision-18.04.1.tar.xz">kollision-18.04.1</a></td>
   <td align="right">266kB</td>
   <td><tt>ebccb17e2e9d9bb5df1fc9fc3598df15f931bf96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kolourpaint-18.04.1.tar.xz">kolourpaint-18.04.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>b26d0045e7d62ebb5b73948e9a55ecd017ff98a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kompare-18.04.1.tar.xz">kompare-18.04.1</a></td>
   <td align="right">695kB</td>
   <td><tt>aedfcf52ce03efdbb5204a9ed19023a57851af72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/konqueror-18.04.1.tar.xz">konqueror-18.04.1</a></td>
   <td align="right">7.3MB</td>
   <td><tt>a83faec687b57a00c8b056b4d24c56da1ba77aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/konquest-18.04.1.tar.xz">konquest-18.04.1</a></td>
   <td align="right">643kB</td>
   <td><tt>d8b4c726a3182e2bb6a21c0c8cd5648bbf6e8183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/konsole-18.04.1.tar.xz">konsole-18.04.1</a></td>
   <td align="right">1018kB</td>
   <td><tt>6818d1b9c2d201948d166200bceb5add09f49ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kontact-18.04.1.tar.xz">kontact-18.04.1</a></td>
   <td align="right">842kB</td>
   <td><tt>3f1ce1cd8d998deb6aeaaa838226cdbb017b995e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kontactinterface-18.04.1.tar.xz">kontactinterface-18.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>50ae5e323ba9973ef2ec56794725982e0548bf0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kopete-18.04.1.tar.xz">kopete-18.04.1</a></td>
   <td align="right">9.2MB</td>
   <td><tt>c51480677e86fd5aa9adc29141ff6bd804e75442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/korganizer-18.04.1.tar.xz">korganizer-18.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9f92e42c096e4ae28b2d54878e8bdad5055bb103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kpat-18.04.1.tar.xz">kpat-18.04.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>54762a8dd16622b0ac2bf888673429f259f7aacd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kpimtextedit-18.04.1.tar.xz">kpimtextedit-18.04.1</a></td>
   <td align="right">139kB</td>
   <td><tt>bd80764b869a10e12943d2a193b27baca19d4fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kqtquickcharts-18.04.1.tar.xz">kqtquickcharts-18.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>7446f94a1ddc5f14c9b61f4044e0a5d75966bd05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/krdc-18.04.1.tar.xz">krdc-18.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0519d675d4057513afe134d3d9efedeb8a557e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kreversi-18.04.1.tar.xz">kreversi-18.04.1</a></td>
   <td align="right">892kB</td>
   <td><tt>51419cb1dd495f261c4120443681e44998ca3c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/krfb-18.04.1.tar.xz">krfb-18.04.1</a></td>
   <td align="right">972kB</td>
   <td><tt>7843f3ba0dc68392499965a8d5b438ff04e6ac6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kross-interpreters-18.04.1.tar.xz">kross-interpreters-18.04.1</a></td>
   <td align="right">141kB</td>
   <td><tt>5851d9cf3f9f8a0bbff5caf59505d0f077423221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kruler-18.04.1.tar.xz">kruler-18.04.1</a></td>
   <td align="right">289kB</td>
   <td><tt>a9d1afc435db95ea2504a615fd5cf1184b2c7d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kshisen-18.04.1.tar.xz">kshisen-18.04.1</a></td>
   <td align="right">694kB</td>
   <td><tt>d134d57a627e6206ce4dc8737cf1e8ef217af301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ksirk-18.04.1.tar.xz">ksirk-18.04.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>a8c13aced5727f8a9dc12f2e8f4ae40a7c0e413e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ksmtp-18.04.1.tar.xz">ksmtp-18.04.1</a></td>
   <td align="right">37kB</td>
   <td><tt>6f04681fb0ac29a291fe07f5c08154a7d93ace3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ksnakeduel-18.04.1.tar.xz">ksnakeduel-18.04.1</a></td>
   <td align="right">591kB</td>
   <td><tt>370f9d5a89295f3963937261d419b863fbb10ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kspaceduel-18.04.1.tar.xz">kspaceduel-18.04.1</a></td>
   <td align="right">596kB</td>
   <td><tt>3614068beab99f7b69cf6587adde934f7060a521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ksquares-18.04.1.tar.xz">ksquares-18.04.1</a></td>
   <td align="right">211kB</td>
   <td><tt>e8185afd78393eabd9376232a10cd491602b025f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ksudoku-18.04.1.tar.xz">ksudoku-18.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3d43239ed3296a5882770a01ea37c6e49a2b5488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ksystemlog-18.04.1.tar.xz">ksystemlog-18.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2d69f90f27cca494d0581d3d2b712b9d7a4c80af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kteatime-18.04.1.tar.xz">kteatime-18.04.1</a></td>
   <td align="right">290kB</td>
   <td><tt>80ac7d45eab7af5b98c214c48f8309578dbb325f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktimer-18.04.1.tar.xz">ktimer-18.04.1</a></td>
   <td align="right">444kB</td>
   <td><tt>732e5bf2a14bd5dddc00ebcf593ebbecc48cb509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktnef-18.04.1.tar.xz">ktnef-18.04.1</a></td>
   <td align="right">293kB</td>
   <td><tt>5543b4eb91d9ebd98a324bfd982390f07226a4ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktouch-18.04.1.tar.xz">ktouch-18.04.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>13b49958c27c6bc872da54602e12980b58e23967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-accounts-kcm-18.04.1.tar.xz">ktp-accounts-kcm-18.04.1</a></td>
   <td align="right">257kB</td>
   <td><tt>648b6b1ea1b464816c5838738c92bebcf59e5f3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-approver-18.04.1.tar.xz">ktp-approver-18.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>b04580e7a719bc7b2fe41571c4bb5dee50f3de9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-auth-handler-18.04.1.tar.xz">ktp-auth-handler-18.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>383b98a567e523cf232871afaaf212b911c729e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-call-ui-18.04.1.tar.xz">ktp-call-ui-18.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>dccdeee308bafa9fb9ad9162e301942053a2eaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-common-internals-18.04.1.tar.xz">ktp-common-internals-18.04.1</a></td>
   <td align="right">431kB</td>
   <td><tt>7fabcaa31c938f3d19f21c45b277690e180c660a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-contact-list-18.04.1.tar.xz">ktp-contact-list-18.04.1</a></td>
   <td align="right">143kB</td>
   <td><tt>1d217a844485d1d021831bca09928768a72ef99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-contact-runner-18.04.1.tar.xz">ktp-contact-runner-18.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>425f1554d9ac4676bdb76f9dfbc6d9bf27a2fda3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-desktop-applets-18.04.1.tar.xz">ktp-desktop-applets-18.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>4ae27ea3ae1a3a8804119cf873f4a6e142348c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-filetransfer-handler-18.04.1.tar.xz">ktp-filetransfer-handler-18.04.1</a></td>
   <td align="right">44kB</td>
   <td><tt>57b4c2fa114f813132ac3d46520a07c26db96988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-kded-module-18.04.1.tar.xz">ktp-kded-module-18.04.1</a></td>
   <td align="right">91kB</td>
   <td><tt>749ff6305943c8df4cfb5036c79e61b1e80c8e33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-send-file-18.04.1.tar.xz">ktp-send-file-18.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>68df3aa4bd43ce6e35b1040cb52e6980c668301c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktp-text-ui-18.04.1.tar.xz">ktp-text-ui-18.04.1</a></td>
   <td align="right">458kB</td>
   <td><tt>aa22772bb469208d3fa62f3939814e0de999c813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/ktuberling-18.04.1.tar.xz">ktuberling-18.04.1</a></td>
   <td align="right">31MB</td>
   <td><tt>5a4f5b2bf7c6f6d51b023629f813e92827019616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kturtle-18.04.1.tar.xz">kturtle-18.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>748b2a8c4bfa1e705e285ba8a3cd4b2cffd9a9f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kubrick-18.04.1.tar.xz">kubrick-18.04.1</a></td>
   <td align="right">301kB</td>
   <td><tt>393ece268379383aeaf03b72f83c5058cda1e2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kwalletmanager-18.04.1.tar.xz">kwalletmanager-18.04.1</a></td>
   <td align="right">760kB</td>
   <td><tt>aadac2a3d249ba609390709d35c96367a0b153f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kwave-18.04.1.tar.xz">kwave-18.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>42d38043ac3f4dffa77ea718db3bca8b380dd166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/kwordquiz-18.04.1.tar.xz">kwordquiz-18.04.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>236b617ced57e49a6362fde0266842246b03d7dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libgravatar-18.04.1.tar.xz">libgravatar-18.04.1</a></td>
   <td align="right">29kB</td>
   <td><tt>399256e41729c65d77f5d4e4e23afeb6b79f76fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkcddb-18.04.1.tar.xz">libkcddb-18.04.1</a></td>
   <td align="right">416kB</td>
   <td><tt>b18cab7d68a24be06fb35c3e577b6c364f5f3ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkcompactdisc-18.04.1.tar.xz">libkcompactdisc-18.04.1</a></td>
   <td align="right">86kB</td>
   <td><tt>de1125adc2f516f6ec7e8c42a327d1e7f230e1db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkdcraw-18.04.1.tar.xz">libkdcraw-18.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>d6c790dbdde1087618c83cadb529aa2c20c52df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkdegames-18.04.1.tar.xz">libkdegames-18.04.1</a></td>
   <td align="right">5.6MB</td>
   <td><tt>42c724d7bc46c253ff43c7b85d2610e313c90229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkdepim-18.04.1.tar.xz">libkdepim-18.04.1</a></td>
   <td align="right">333kB</td>
   <td><tt>9ef3145e48bdc9eef68bfeca96c390cbecce9761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkeduvocdocument-18.04.1.tar.xz">libkeduvocdocument-18.04.1</a></td>
   <td align="right">205kB</td>
   <td><tt>68f93d965e00f8d04fa78bb8da7615e06fc287f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkexiv2-18.04.1.tar.xz">libkexiv2-18.04.1</a></td>
   <td align="right">63kB</td>
   <td><tt>8ba6e05b6b7b185d1e2ee81a25ed21fcf5d92858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkgapi-18.04.1.tar.xz">libkgapi-18.04.1</a></td>
   <td align="right">171kB</td>
   <td><tt>a4af397e8d7a055f3783c32da35d544e23f111b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkgeomap-18.04.1.tar.xz">libkgeomap-18.04.1</a></td>
   <td align="right">146kB</td>
   <td><tt>5c7996520a5d78b29824be15a5eac37bdd6cf68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkipi-18.04.1.tar.xz">libkipi-18.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>56071648f635c885c9b9e9cbee3bc935018d5aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkleo-18.04.1.tar.xz">libkleo-18.04.1</a></td>
   <td align="right">310kB</td>
   <td><tt>eb891d036bcef1c091fcec4b9c96dc8a855ba742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkmahjongg-18.04.1.tar.xz">libkmahjongg-18.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>183f5904ca94a0ab7c5338b5f8a489b0f91e3205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libkomparediff2-18.04.1.tar.xz">libkomparediff2-18.04.1</a></td>
   <td align="right">172kB</td>
   <td><tt>c4697362def09d0331ab73222ae4a4e31c4e27ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libksane-18.04.1.tar.xz">libksane-18.04.1</a></td>
   <td align="right">134kB</td>
   <td><tt>005e5f9586706f5fafaf7a2602f06266fbc1cf90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/libksieve-18.04.1.tar.xz">libksieve-18.04.1</a></td>
   <td align="right">537kB</td>
   <td><tt>d633318fcb8b22384612727f527e7775d3688c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/lokalize-18.04.1.tar.xz">lokalize-18.04.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ab0da3adb82775aed590e1fad24aa07ac28f2332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/lskat-18.04.1.tar.xz">lskat-18.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7b7987fcc5ed3d3a84caf9dd83605a11f7486099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/mailcommon-18.04.1.tar.xz">mailcommon-18.04.1</a></td>
   <td align="right">675kB</td>
   <td><tt>5830e0e816473906016d1e3e84c931a3d1db49b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/mailimporter-18.04.1.tar.xz">mailimporter-18.04.1</a></td>
   <td align="right">528kB</td>
   <td><tt>5e7480a32d6e0aa2d93593b0f93379373bf1bc02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/marble-18.04.1.tar.xz">marble-18.04.1</a></td>
   <td align="right">50MB</td>
   <td><tt>2daab50becb9119be7b21aa10138592646d42a0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/mbox-importer-18.04.1.tar.xz">mbox-importer-18.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>39e9fc4d77c20808cadf5f54a00333bc560b1e9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/messagelib-18.04.1.tar.xz">messagelib-18.04.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>8cc03f9cae304c4739f315e35ee275bd478df909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/minuet-18.04.1.tar.xz">minuet-18.04.1</a></td>
   <td align="right">26MB</td>
   <td><tt>cbdc58c9861fdab06b4a6c26ff5609047b495505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/okular-18.04.1.tar.xz">okular-18.04.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>c1a757cfd18ae59394476343323d0c34c744cf63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/palapeli-18.04.1.tar.xz">palapeli-18.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>73da1bbc8b8179fd9b0e8ed07f1aefa11c075088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/parley-18.04.1.tar.xz">parley-18.04.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>711cc22c51b02351a9bd2bef98ecc13871dac5ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/picmi-18.04.1.tar.xz">picmi-18.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>69d5f500411aeae766d7e8d613a2ec34150d4bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/pimcommon-18.04.1.tar.xz">pimcommon-18.04.1</a></td>
   <td align="right">288kB</td>
   <td><tt>ac7c2b735a81ba8e440fafc906ab08ad89b04d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/pim-data-exporter-18.04.1.tar.xz">pim-data-exporter-18.04.1</a></td>
   <td align="right">263kB</td>
   <td><tt>cdace17859b505c10caa19a857862e41294a592e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/pim-sieve-editor-18.04.1.tar.xz">pim-sieve-editor-18.04.1</a></td>
   <td align="right">436kB</td>
   <td><tt>0cbe2c9eb522420eacf556a7d4ca55c48df8de42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/poxml-18.04.1.tar.xz">poxml-18.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>48ad66095493cb601c4a7a9eb625ef8d02bf7b8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/print-manager-18.04.1.tar.xz">print-manager-18.04.1</a></td>
   <td align="right">233kB</td>
   <td><tt>4980e43c537e0c9c24b6ce3a7fbbbcab1fdcba3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/rocs-18.04.1.tar.xz">rocs-18.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f946a7cf4304514197169a0d6f6eb4f3c7af897e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/signon-kwallet-extension-18.04.1.tar.xz">signon-kwallet-extension-18.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>7378b1d1690a1b3728c2fce272c8be888885238c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/spectacle-18.04.1.tar.xz">spectacle-18.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>339fe0fd9db3ab6ad554408220457c7e6a92bd2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/step-18.04.1.tar.xz">step-18.04.1</a></td>
   <td align="right">842kB</td>
   <td><tt>cca9ae5fceffbb4b8a7dc88860d789e0533a4b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/svgpart-18.04.1.tar.xz">svgpart-18.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>15758c9f07433558f3d5e0fe1f94d41fefb3ed56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/sweeper-18.04.1.tar.xz">sweeper-18.04.1</a></td>
   <td align="right">360kB</td>
   <td><tt>15ae849bceaefdfc1c954d3364cd0823680e20c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/syndication-18.04.1.tar.xz">syndication-18.04.1</a></td>
   <td align="right">156kB</td>
   <td><tt>20ea7bf48a8a27e47cc86786c5d85d7108dde0cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/umbrello-18.04.1.tar.xz">umbrello-18.04.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>3d0cb69b72e03a564b75f86c03d276e12b074cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.1/src/zeroconf-ioslave-18.04.1.tar.xz">zeroconf-ioslave-18.04.1</a></td>
   <td align="right">37kB</td>
   <td><tt>b11b0fc76ef82fae67057c38c909d140ab82dbc5</tt></td>
</tr>

</table>
