@import "plasma-announcement-shared";

.header-plasma {
  background-image: url('/announcements/plasma/5/5.23.0/patak-blur.webp');
  background-size: cover;
}

.header-plasma, .header-plasma * {
  color: #222 !important;
}

.system-settings {
  h2, img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

main li {
  font-size: 1.15rem;
}
