{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "main" }}
<main class="container">
  {{ partial "breadcrumb.html" . }}

  <h1>{{ .Title | safeHTML }}</h1>

  {{ .Content }}

  {{ if .Params.changelog }}
  {{- $link := printf "/announcements/changelogs/applications/%s" .Params.version }}
  {{ partial "fn/i18n_args" (slice "full-changelog" $link) | markdownify }}
  {{ end }}

  {{ if not .Params.custom_spread_install }}
  {{ partialCached "announcements/applications_spread_install.html" . }}
  {{ end }}

  {{ with .Params.version }}
  <h2>{{ i18n "compile-app" }}</h2>
  {{- $srcLink := printf "https://download.kde.org/stable/applications/%s/src" . }}
  {{- $infoLink := printf "/info/applications-%s" . }}
  <p>{{ partial "fn/i18n_args" (slice "compile-app-desc" $srcLink . $infoLink) | markdownify }}</h2>
  {{ end }}

  {{ partialCached "announcements/support_kde.html" . }}

  {{ partialCached "announcements/about_kde.html" . }}

  {{ partialCached "announcements/press_contacts.html" . }}
</main>
{{ end }}
